<style>
	.SumoSelect > .optWrapper.open {
		width: 205px !important;
	}
	.parameters_box_body:hover{
		overflow-y:scroll;
	}
	.output_box:hover{
		overflow-y:scroll;
	}
</style>

{% extends "qualitycorrelator/theme.html" %}
{% load staticfiles %}
	{% block filters-container %}
	
					<div class="row" style="min-height:35px;">
					<div class="col-lg-12">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="display:none;">
							<label class="pull-left span_text" style='padding-top:8px; font-weight:500!important;'>Plant:</label>
								<select  placeholder="--Select--" class='plant'>
									{% if plant_list %}
									{% for key, value in plant_dict.items %}
									 <option value="{{key}}">{{value}}</option> 
									{% endfor %}
									{% else %}
									<option value="all">No Plant To choose</option> 
									{% endif %} 
								</select>
						</div>								
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="display:none;">
							<label class="pull-left span_text" style='padding-top:8px;font-weight:500!important;'>SBU:</label>
								<select placeholder="--Select--" class='sbu'>
									{% if sbu_list %}
									{% for key, value in sbu_dict.items %}
									 <option value="{{key}}">{{value}}</option> 
									{% endfor %}
									{% else %}
									<option value="all">No Sbu To choose</option> 
									{% endif %} 
								</select>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" >
							<label class="pull-left span_text" style='padding-top:8px;font-weight:500!important;'>Technology:</label>
								<select placeholder="--Select--" class='technology'>
									{% if technology_list %}
									{% for key, value in technology_dict.items %}
									 <option value="{{key}}">{{value}}</option> 
									{% endfor %}
									{% else %}
									<option value="all">No Technology To choose</option> 
									{% endif %} 
								</select>
						</div>	
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" >
							<label class="pull-left span_text" style='padding-top:8px;font-weight:500 !important;'>Product:</label>
								<select placeholder="--All--"class='product'>
									{% if product_list %}
									{% for key, value in product_dict.items %}
									 <option title="{{value}}" value="{{key}}">{{value}}</option> 
									{% endfor %}
									{% else %}
									<option value="all">No product To choose</option> 
									{% endif %} 
								</select>
						</div>
						<div class="col-sm-6 col-md-1 col-lg-1 col-xs-6" style="padding:0px 0px 0px 0px; margin:0px 0px 0px -4px">
							<button type="button" class="btn btn-primary" id='apply' style='float :right;position: relative;top: 0.5em;'>Apply</button>
						</div>
					</div>
				</div>	
	
	
		{% endblock %}

{% block main-container1 %}

				<div class="col-1g-12 col-sm-12 col-md-12" style="padding:0px 0px 5px 0px;">
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" data-step="1" data-intro="Field to enter the desired Output parameter for the selected product in the Plant." data-position="right" style='padding:5px;' >
					  <div class="box" >
							<div class="box-header with-border color-batch-numbers">
							  <!-- <div class="box-tools pull-right">

							  </div> /.box-tools -->
								<i class="fa fa-cube" aria-hidden="true" style="padding:5px;"></i>
								<h5 class="widget-user-username"style="padding-left: 0px;font-size: 13px;display: inline;margin-top: 0px;" >Reference PO</h5>
								<i class="fa fa-info-circle info_icon reference_po_info" style="float:right; position: absolute; top: 5px; right: -4px;"></i>
							</div><!-- /.box-header -->
							<div class="box-body parameters_box_body" style="padding:2px;height:490px;overflow-x:hidden;">
								<div class='parameters_body'>
								</div>
								<div class="input-group " style='padding:1em;'>
									<button type="button" class="btn btn-primary btn-xs output_button " id='' style='position: relative;left: 9em;'>correlate</button>
								</div>
							</div>
							<!--<div class="box-footer">
							  <div class="input-group " style='float:right;'>
								<button type="button" class="btn btn-primary btn-xs output_button " id='' style='float:right'>correlate</button>
							  </div>
							</div>-->
							<div class="output_div overlay" style="display:none;">
								<img class=" "  title="Temperature" style="   position: absolute; cursor: pointer; bottom: 50%; left: 50%;cursor:pointer; "  src="{% static 'qualitycorrelator/img/gears.gif' %}" />
								<span style="   position: absolute; cursor: pointer; bottom: 45%; left: 45%;cursor:pointer; " >Loading Please Wait...</span>
							</div>
					  </div><!-- /.box -->
					</div><!-- /.col -->
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" data-step="2" data-intro="Nearest PO details from history which has the quality parameter close to the desired output parameter and the output details for the same." data-position="left" style="padding:5px;">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-po-details" style="border:1px solid #EFEFEf ;padding:0px;background:#fff;">
							<i class="fa fa-cube" aria-hidden="true" style="padding:1em;"></i>
							<h5 class="widget-user-username"style="padding-left: 0px;font-size: 13px;display: inline;" >PO Details</h5>
							<i class="fa fa-info-circle info_icon po_details_info" style="float:right; position: absolute; top: 5px; right: 8px;"></i>
						</div>
					<div class="col-lg-4 col-md-4 col-sm-12  col-xs-12 "style='padding:1px;'>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">				  
							  <div class="box box-widget widget-user-2" style="min-height:356px; margin-bottom:1px;border-top: 2px solid #5b9bd5;border-bottom:1px solid #5b9bd5;">
								<!--<div class="box-header with-border color-po-details" style="border-bottom:1px solid #EFEFEf ;padding:10px;">
									<i class="fa fa-cube" aria-hidden="true"></i>
									<h5 class="widget-user-username"style="padding-left:20px; font-size:13px;float:left;" >PO Details</h5>
									<i class="fa fa-info-circle info_icon po_details_info" style="float:right; position: absolute; top: 5px; right: -4px;"></i>
								</div>-->
								<img class=" " style="position: absolute;left: 3em;z-index: 100;height: 32px;"  src="{% static 'qualitycorrelator/img/cor_badge2.png' %}" /><span style="position: absolute;left: 3.5em;z-index: 100;top: 5px;color: #fff;">1</span>
								<div class="box-body" style="padding:2px;">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "style='padding:1px;border-bottom:1px solid #efefef;'>
									  <ul class="nav nav-stacked  general_charecters">
										
									  </ul>
									</div>
									<!--<div class="col-lg-`12 col-md-12 col-sm-12  col-xs-12 output_param" style='height:10px;background: #efefef;padding: 0;display:none;'>
									</div>
									<div class="col-lg-`12 col-md-12 col-sm-12  col-xs-12 "style='padding:10px;'>
									  <span class="output_parameter" style="font-weight:600;"></span>
									  <ul class="nav nav-stacked  output_charecters">
										
									  </ul>
									</div>-->
								</div>
								<div class="po_details_overlay overlay" style="display:none;">
									  <img class=" "  title="Temperature" style="   position: absolute; cursor: pointer; bottom: 50%; left: 40%;cursor:pointer; "  src="{% static 'qualitycorrelator/img/gears.gif' %}" />
										<span style="   position: absolute; cursor: pointer; bottom: 40%; left: 25%;cursor:pointer; " >Loading Please Wait....</span></div>
								</div>
							  <div class="box box-widget widget-user-2" style="margin-bottom:0px;border-bottom:1px solid #5b9bd5;margin-top:5px;overflow-y:hidden;">
								<div class="box-header with-border color-po-details" style="border-bottom:1px solid #EFEFEf ;padding:10px;">
									<i class="fa fa-cube" aria-hidden="true" style="padding:2px;"></i>
									<h6 class="widget-user-username" style="padding-left: 0px;font-size: 13px;display: inline;" >Quality Parameters</h6>
									<i class="fa fa-info-circle info_icon output_details_info" style="float:right; position: absolute; top: 5px; right: -4px;"></i>
								</div>
								<div class="box-body output_box" style="height:84px;overflow-x:hidden;">
								  <ul class="nav nav-stacked  output_charecters">
									
								  </ul>
								</div>
								<!--<div class="po_details_overlay overlay" style="display:none;">
									  <img class=" "  title="Temperature" style="   position: absolute; cursor: pointer; bottom: 50%; left: 40%;cursor:pointer; "  src="{% static 'qualitycorrelator/img/gears.gif' %}" />
										<span style="   position: absolute; cursor: pointer; bottom: 40%; left: 25%;cursor:pointer; " >Loading Please Wait....</span>
								</div>-->
							 </div>
						</div>
					</div>		
	
					<div class="col-lg-4 col-md-4 col-sm-12  col-xs-12 "style='padding:5px;padding-top:1px;'>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">				  
							  <div class="box box-widget widget-user-2" style="min-height:356px; margin-bottom:1px;border-top: 2px solid #5b9bd5;border-bottom:1px solid #5b9bd5;">
								<!--<div class="box-header with-border color-po-details" style="border-bottom:1px solid #EFEFEf ;padding:10px;">
									<i class="fa fa-cube" aria-hidden="true"></i>
									<h5 class="widget-user-username"style="padding-left:20px; font-size:13px;float:left;" >PO Details</h5>
									<i class="fa fa-info-circle info_icon po_details_info" style="float:right; position: absolute; top: 5px; right: -4px;"></i>
								</div>-->
								<img class=" " style="position: absolute;left: 3em;z-index: 100;height: 32px;"  src="{% static 'qualitycorrelator/img/cor_badge2.png' %}" /><span style="position: absolute;left: 3.5em;z-index: 100;top: 5px;color: #fff;">2</span>
								<div class="box-body" style="padding:2px;">
								  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "style='padding:1px;border-bottom:1px solid #efefef;'>
									  <ul class="nav nav-stacked  general_charecters">
										
									  </ul>
									</div>
									<!--<div class="col-lg-`12 col-md-12 col-sm-12  col-xs-12 output_param" style='height:10px;background: #efefef;padding: 0;display:none;'>
									</div>
									<div class="col-lg-`12 col-md-12 col-sm-12  col-xs-12 " style='padding:10px;overflow-y:scroll;'>
										<span class="output_parameter" style="font-weight:600;"></span>
									  <ul class="nav nav-stacked  output_charecters">
										
									  </ul>
									</div>-->
								</div>
								<div class="po_details_overlay overlay" style="display:none;">
									  <img class=" "  title="Temperature" style="   position: absolute; cursor: pointer; bottom: 50%; left: 40%;cursor:pointer; "  src="{% static 'qualitycorrelator/img/gears.gif' %}" />
										<span style="   position: absolute; cursor: pointer; bottom: 40%; left: 25%;cursor:pointer; " >Loading Please Wait....</span></div>
							 </div>
							  <div class="box box-widget widget-user-2" style="margin-bottom:0px;border-bottom:1px solid #5b9bd5;margin-top:5px;overflow-y:hidden;">
								<div class="box-header with-border color-po-details" style="border-bottom:1px solid #EFEFEf ;padding:10px;">
									<i class="fa fa-cube" aria-hidden="true" style="padding:2px;"></i>
									<h6 class="widget-user-username" style="padding-left: 0px;font-size: 13px;display: inline;" >Quality Parameters</h6>
									<i class="fa fa-info-circle info_icon output_details_info" style="float:right; position: absolute; top: 5px; right: -4px;"></i>
								</div>
								<div class="box-body output_box" style="height:84px;overflow-x:hidden;">
								  <ul class="nav nav-stacked  output_charecters">
									
								  </ul>
								</div>
								<!--<div class="po_details_overlay overlay" style="display:none;">
									  <img class=" "  title="Temperature" style="   position: absolute; cursor: pointer; bottom: 50%; left: 40%;cursor:pointer; "  src="{% static 'qualitycorrelator/img/gears.gif' %}" />
										<span style="   position: absolute; cursor: pointer; bottom: 40%; left: 25%;cursor:pointer; " >Loading Please Wait....</span>
								</div>-->
							 </div>
						</div>
					</div>	
	
					<div class="col-lg-4 col-md-4 col-sm-12  col-xs-12 "style='padding:5px;padding-top:1px;'>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">				  
							  <div class="box box-widget widget-user-2" style="min-height:356px; margin-bottom:1px;border-top: 2px solid #5b9bd5;border-bottom:1px solid #5b9bd5;">
								<!--<div class="box-header with-border color-po-details" style="border-bottom:1px solid #EFEFEf ;padding:10px;">
									<i class="fa fa-cube" aria-hidden="true"></i>
									<h5 class="widget-user-username"style="padding-left:20px; font-size:13px;float:left;" >PO Details</h5>
									<i class="fa fa-info-circle info_icon po_details_info" style="float:right; position: absolute; top: 5px; right: -4px;"></i>
								</div>-->
								<img class=" " style="position: absolute;left: 3em;z-index: 100;height: 32px;"  src="{% static 'qualitycorrelator/img/cor_badge2.png' %}" /><span style="position: absolute;left: 3.5em;z-index: 100;top: 5px;color: #fff;">3</span>
								<div class="box-body" style="padding:2px;">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "style='padding:1px;border-bottom:1px solid #efefef;'>
									  <ul class="nav nav-stacked  general_charecters">
										
									  </ul>
									</div>
									<!--<div class="col-lg-`12 col-md-12 col-sm-12  col-xs-12 output_param" style='height:10px;background: #efefef;padding: 0;display:none;'>
									</div>
									<div class="col-lg-`12 col-md-12 col-sm-12  col-xs-12 "style='padding:10px;'>
										<span class="output_parameter" style="font-weight:600;"></span>
									  <ul class="nav nav-stacked  output_charecters">
										
									  </ul>
									</div>-->
								</div>
								<div class="po_details_overlay overlay" style="display:none;">
									  <img class=" "  title="Temperature" style="   position: absolute; cursor: pointer; bottom: 50%; left: 40%;cursor:pointer; "  src="{% static 'qualitycorrelator/img/gears.gif' %}" />
										<span style="   position: absolute; cursor: pointer; bottom: 40%; left: 25%;cursor:pointer; " >Loading Please Wait....</span>
								</div>
							 </div>
							  <div class="box box-widget widget-user-2" style="margin-bottom:0px;border-bottom:1px solid #5b9bd5;margin-top:5px;overflow-y:hidden;">
								<div class="box-header with-border color-po-details" style="border-bottom:1px solid #EFEFEf ;padding:10px;">
									<i class="fa fa-cube" aria-hidden="true" style="padding:2px;"></i>
									<h6 class="widget-user-username" style="padding-left: 0px;font-size: 13px;display: inline;">Quality Parameters</h6>
									<i class="fa fa-info-circle info_icon output_details_info" style="float:right; position: absolute; top: 5px; right: -4px;"></i>
								</div>
								<div class="box-body output_box" style="height:84px;overflow-x:hidden;">
								  <ul class="nav nav-stacked  output_charecters">
									
								  </ul>
								</div>
								<!--<div class="po_details_overlay overlay" style="display:none;">
									  <img class=" "  title="Temperature" style="   position: absolute; cursor: pointer; bottom: 50%; left: 40%;cursor:pointer; "  src="{% static 'qualitycorrelator/img/gears.gif' %}" />
										<span style="   position: absolute; cursor: pointer; bottom: 40%; left: 25%;cursor:pointer; " >Loading Please Wait....</span>
								</div>-->
							 </div>
						</div>
					</div>	
				</div>

					
					<div class="col-lg-7 col-md-7 col-sm-12  col-xs-12 "style='padding:5px;display:none;'>
					  <div class="box ">
						<div class="box-header with-border">
						  <h3 class="box-title" style="">Expected Output Characteristics</h3>
						  <div class="box-tools pull-right">
						  </div>
						</div>
						<div class="box-body">
							<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 input_div'  style="min-height:150px;">
							
								<div style="text-align:center;"><span style="text-align:center;font-size:15px;color:#ccc;">Enter Output Parameter values </span></div>
								
							</div>							
						</div>
						<div class="box-footer" style="text-align:center">								
							<button type="button" class="btn btn-primary btn-xs   " id='more_information' style='display:none; float:right'>More Information</button>
						</div>
						<div class="input_div_overlay overlay" style="display:none;">
							<img class=" "  title="Temperature" style="   position: absolute; cursor: pointer; bottom: 50%; left: 50%;cursor:pointer; "  src="{% static 'qualitycorrelator/img/gears.gif' %}" />
							<span style="   position: absolute; cursor: pointer; bottom: 45%; left: 45%;cursor:pointer; " >Loading Please Wait...</span>
						</div>						
					  </div>
					</div>
					
					
				</div>

	 <script>
	if($($('.admin_li ').find('i')[0]).hasClass('fa-caret-down')) {
		$($('.menu_ul')[1]).slideToggle('');
		$($('.admin_li ').find('i')[0]).removeClass('fa-caret-down');
		$($('.admin_li ').find('i')[0]).addClass('fa-caret-up'); 
	}
	if($($('.correlator_li').find('i')[0]).hasClass('fa-caret-up')) {
		$($('.menu_ul')[1]).slideToggle('');
		$($('.correlator_li').find('i')[0]).removeClass('fa-caret-up');
		$($('.correlator_li').find('i')[0]).addClass('fa-caret-down');		
		$('.admin_li').find('ul').css('display','none');		
		$('.correlator_li').find('ul').css('display','block');
	}
	//page_index=$(".not_mobile")[2]
	page_index=$(".not_mobile")[2]
	$(page_index).addClass("clicked_li")
	 
	 var total_li_count=0;
	 var content=''
	 var start_index=1
	 var end_index=1
	 var ul_start_index=1
	 var ul_end_index=1

	 var ccp_ul_start_index=1
	 var ccp_ul_end_index=1	 
	 var lastclicked_ul_ccp=1
	 var lastclicked_ul=1
	 var lastclicked=1;
	var html = [];
	$(document).ready(function() {
		$('.plant').SumoSelect({search: true, searchText: 'Enter here.',selectAll:false,selectAlltext : 'All'}); 
		$('.product').SumoSelect({search: true, searchText: 'Enter here.',selectAll:false,selectAlltext : 'All'}); 
		$('.sbu').SumoSelect({search: true, searchText: 'Enter here.',selectAll:false,selectAlltext : 'All'}); 
		$('.technology').SumoSelect({search: true, searchText: 'Enter here.',selectAll:false,selectAlltext : 'All'}); 
		add_search()
		get_parameters()
	});
	 
	$('.plant').change(function(){
		$('.sbu').SumoSelect().sumo.disable();
		$('.technology').SumoSelect().sumo.disable();
		$('.product').SumoSelect().sumo.disable();
		Data=filter_change_data('plant');
		$.ajax({
			method: "GET",
			url: "/qualitycorrelator/get_filter_data/",
			data:Data,
			success: function(result_data) {
				Data=result_data;
				sbu_list=Data['sbu_list'];
				technology_list=Data['technology_list'];
				product_list=Data['product_list'];
				filter_render('.sbu',sbu_list);
				filter_render('.technology',technology_list);				
				filter_render('.product',product_list);	
				//get_parameters();
				$('.general_charecters').html('');
				$('.output_parameter').html('')
				$('.output_charecters').html('');
				//$('.po_details_overlay.overlay').css('display','block');
			}
		});
	});
		
	$('.sbu').change(function(){
			$('.technology').SumoSelect().sumo.disable();
			$('.product').SumoSelect().sumo.disable();
			Data=filter_change_data('sbu');
			$.ajax({
			method: "GET",
			url: "/qualitycorrelator/get_filter_data/",
			data:Data,
			success: function(result_data) {
				Data=result_data;
				technology_list=Data['technology_list'];
				product_list=Data['product_list'];
				filter_render('.technology',technology_list);				
				filter_render('.product',product_list);	
				//get_parameters();
				$('.output_parameter').html('')
				$('.general_charecters').html('');
				$('.output_charecters').html('');
				//$('.po_details_overlay.overlay').css('display','block');
			}
			});
	});		
		
	$('.technology').change(function(){
			$('.product').SumoSelect().sumo.disable();
			$('.output_button').attr("disabled", true);
			$('.output_parameter').html('')
			$('.general_charecters').html('');
			$('.output_charecters').html('');
			Data=filter_change_data('technology');
			$.ajax({
			method: "GET",
			url: "/qualitycorrelator/get_output_filter_data/",
			data:Data,
			success: function(result_data) {
				Data=result_data;
				product_list=Data['product_list'];			
				filter_render('.product',product_list);		
				//get_parameters();
				//$('.parameters_body').html('');
				//$('.output_button').css('display','none');
				//$('.po_details_overlay.overlay').css('display','block');
			}
			});
	});			
		
	$('.product').change(function(){
		//get_parameters();
		$('.output_parameter').html('');
		$('.general_charecters').html('');
		$('.output_charecters').html('');
		$('.output_button').attr("disabled", true);
		//$('.parameters_body').html('');
		//$('.output_button').css('display','none');
		//$('.po_details_overlay.overlay').css('display','block');
	});
	$('#apply').click(function(){
		$('.parameters_body').html('');
		get_parameters();
		$('.output_button').css('display','block');
	});
		

	
	$('.output_button').click(function(){
		$('.output_param').css('display','block');
		$('.input_div').html('');
		$('.output_charecters').html('');
		$('.po_details_overlay.overlay').css('display','block');
		output_parameters={}
		parameters_list=[]
		values_list=[]
		list={}
		data_dict={}
		$('.parameters_input').each(function(){
				parameters_list.push($(this).data('name'))
				values_list.push($(this).val())
		});
		for(i=0;i<parameters_list.length;i++){
			list[parameters_list[i]]=parseFloat(values_list[i]);
		}
		//data_dict = {'SiteID':$('.plant').val(),'MaterialNumber':$('.product').val(),'opparam':list}
		data_dict = {'MaterialNumber':$('.product').val(),'opparam':list}
		$.ajax({
			method: "GET",
			//data:{param_list:parameters_list,val_list:values_list,site_id:$('.plant').val(),product:$('.product').val()},
			data:{chk:JSON.stringify(data_dict)},
			url: "/qualitycorrelator/get_output/", 
			success: function(result) {
				creation_po_details(result);
			}
		});
	});
	
		$('.po_details_info').popover({
			container: 'body',
			content: function() {
				var $el = $('<div id="#my-popover-div"></div>');
				$el.append('<span style="font-size:12px; text-align:justify">The Process Order details for the selected Bulk Batch.</span>');
				return $el;
			},
			placement: 'left',
			html: true,
			trigger: "hover"
		});

		$('.reference_po_info').popover({
			container: 'body',
			content: function() {
				var $el = $('<div id="#my-popover-div"></div>');
				$el.append('<span style="font-size:12px; text-align:justify">Field to enter the desired Output parameter for the selected product in the Plant.</span>');
				return $el;
			},
			placement: 'left',
			html: true,
			trigger: "hover"
		});

		$('.output_details_info').popover({
			container: 'body',
			content: function() {
				var $el = $('<div id="#my-popover-div"></div>');
				$el.append('<span style="font-size:12px; text-align:justify">The Quality Parameter information for the selected batch.</span>');
				return $el;
			},
			placement: 'left',
			html: true,
			trigger: "hover"
		});


	function output_render(data,temp_data)
	{
		var generalinfo_div=''
		var generalinfo_div="<div class='col-lg-4 col-md-4 col-sm-12 col-xs-12' style='min-height:150px;'>"+
											"<h6 style='box-shadow:0 1px 4px rgba(0,0,0,0.1);padding:8px 10px; margin:0px;'>General Information:</h6>"+
											"<div  class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='text-align:center;position:relative;min-height:120px;' >"+
												"<ul style='padding:5px 0px 0px 0px;text-align:left;'>"+
													"<li style='list-style:none;padding:4px;'><span style='font-size:12px;padding-right:4px;'>ProcessOrderNumber:</span><span style='font-size:11px;padding-left:4px;'>"+data['GeneralInfo']['ProcessOrderNumber']+"</span></li>"+
													"<li style='list-style:none;padding:4px;'><span style='font-size:12px;padding-right:4px;'>ProductionDate:</span><span style='font-size:11px;padding-left:4px;'>"+data['GeneralInfo']['ProductionStartDateTime']+"</span></li>"+
													"<li style='list-style:none;padding:4px;'><span style='font-size:12px;padding-right:4px;'>Plant:</span><span style='font-size:11px;padding-left:4px;'>"+data['GeneralInfo']['SiteName']+"</span></li>"+
													"<li style='list-style:none;padding:4px;'><span style='font-size:12px;padding-right:4px;'>Sbu:</span><span style='font-size:11px;padding-left:4px;'>"+data['GeneralInfo']['SBU']+"</span></li>"+
													"<li style='list-style:none;padding:4px;'><span style='font-size:12px;padding-right:4px;'>Technology:</span><span style='font-size:11px;padding-left:4px;'>"+data['GeneralInfo']['Technology']+"</span></li>"+
													"<li style='list-style:none;padding:4px;'><span style='font-size:12px;padding-right:4px;'>QualityScore:</span><span style='font-size:11px;padding-left:4px;'>"+data['GeneralInfo']['QualityScore']+"</span></li>"+
													
												"</ul>"+
											"</div>"+
										"</div>"
		temperature_content="<span style='font-size:12px;'>No Temperature Info</span>"
		
		
		temperature_ul='';
		temperature_ul=temperature_ul+'<ul  class="process_ul" style="padding:10px 0px 0px 0px;list-style:none;">'+createList(temp_data)+'</ul>';
		
		var temperature_div="<div class='col-lg-4 col-md-4 col-sm-12 col-xs-12' style='min-height:150px;'>"+
													"<h6 style='box-shadow:0 1px 4px rgba(0,0,0,0.1);padding:8px 10px; margin:0px;'>Environment:</h6>"+
													"<div  class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='text-align:justify;position:relative;min-height:120px; padding-top:5px;padding-bottom:5px;'>"+
													temperature_ul+	
													"</div>"+
												"</div>"					

		
		
		
			output_charecter_content='';
			output_charecter_content=output_charecter_content+'<ul style="padding:5px 0px 0px 0px;text-align:left;list-style:none;">'+createList(data['Output_parameters'])+'</ul>';
			var output_charecter_div="<div class='col-lg-4 col-md-4 col-sm-12 col-xs-12' style='min-height:150px;'>"+
													"<h6 style='box-shadow:0 1px 4px rgba(0,0,0,0.1);padding:8px 10px; margin:0px;'>OutputCharecterstics:</h6>"+
													"<div  class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='text-align:justify;position:relative;min-height:120px; padding-top:5px;padding-bottom:5px;'>"+
													output_charecter_content+	
													"</div>"+
												"</div>"	
		
		

		var output_top=''
		var output_top=output_top+"<div  class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>"+generalinfo_div+output_charecter_div+temperature_div+'</div>'
		var output_bottom=''
		phase_div='';
		var phase_index=1;
		var  phase_no=1;
		var data_key =[];
		for(key in data){
			data_key.push(key);
		}
		for (var key in data_key)
		{
				key=data_key[key];
				
				
				rawmaterial_div='';
				process_div='';
				if(key!='GeneralInfo' & key!='Output_parameters')
				{
					phase_no=key;
					rawmaterial_info=data[key]['RawMaterialInfo']
					process_info=data[key]['ProcessInfo']
					ccp_info=data[key]['CCPParameterInfo']
					rawmaterial_ul=''
					var i=1;
					
					var rawmaterial_info_key = [];
					for(key in rawmaterial_info_key){
						rawmaterial_info_key.push(key);
					}
					
					
					for (var key in rawmaterial_info_key)
					{
						key = rawmaterial_info_key[key];
						if(i==1){
							rawmaterial_ul=rawmaterial_ul+"<i class='raw_up fa fa-caret-up' style='position:absolute;top:20%;left:95%;cursor:pointer;color:#ccc'></i>"+"<i class='raw_down fa fa-caret-down' style='position:absolute;bottom:20%;left: 95%;cursor:pointer;color:#0986F3'></i><ul  class='rawmaterial_ul'  data-ul_index="+i+"  style='padding:10px 0px 0px 0px;text-align:left;list-style:none;'><span style='font-size:12px;'>RM"+key+"</span>"+createList(rawmaterial_info[key]) +"</ul>";
						}
						else{rawmaterial_ul=rawmaterial_ul+'<ul  class="rawmaterial_ul" data-ul_index='+i+'  style="padding:10px 0px 0px 0px;text-align:left; list-style:none; display:none;"><span style="font-size:12px;">RM'+key+'</span>'+createList(rawmaterial_info[key]) +'</ul>';}
						i=i+1;
					}
					if(rawmaterial_ul==''){rawmaterial_ul='<span>No Raw Materials</span>'}
					rawmaterial_div="<div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 rawmaterial_div' style='min-height:200px;'>"+
											"<div  class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='text-align:center;position:relative;min-height:200px; padding:0px; box-shadow:0 1px 4px rgba(0,0,0,0.1)' >"+
													"<h6 style='margin:0px;text-align:justify;padding: 6px 10px;background-color:#EFEFEF;'>Raw Material Info:</h6>"+
													"<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='position:relative;padding-top:10px;'>"+rawmaterial_ul+"</div>"+
											"</div>"+
									"</div>"
									
									
									
					ccp_ul=''
					var j=1;
					var ccp_info_key=[];
					for(key in ccp_info){
						ccp_info_key.push(key);
					}
					
					for (var key in ccp_info_key)
					{
						key=ccp_info_key[key];
					

						if(j==1){
							ccp_ul=ccp_ul+"<i class='ccp_up fa fa-caret-up' style='position:absolute;top:20%;left:95%;cursor:pointer;color:#ccc'></i>"+"<i class='ccp_down fa fa-caret-down' style='position:absolute;bottom:20%;left: 95%;cursor:pointer;color:#0986F3'></i><ul  class='ccp_ul'  data-ul_index="+j+"  style='padding:10px 0px 0px 0px;text-align:left;list-style:none;'><span style='font-size:12px;'>"+key+"</span>"+createList(ccp_info[key]) +"</ul>";
						}
						else{ccp_ul=ccp_ul+'<ul  class="ccp_ul"  data-ul_index='+j+'  style="padding:10px 0px 0px 0px;text-align:left; list-style:none; display:none;"><span style="font-size:12px;">'+key+'</span>'+createList(ccp_info[key]) +'</ul>';}
						
						j=j+1;
					}
					if(ccp_ul==''){ccp_ul='<span>No CCPParameterInfo </span>'}
					ccp_div="<div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 ccp_div' style='min-height:200px;'>"+
											"<div  class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='text-align:center;position:relative;min-height:200px; padding:0px; box-shadow:0 1px 4px rgba(0,0,0,0.1)' >"+
													"<h6 style='margin:0px;text-align:justify;padding: 6px 10px;background-color:#EFEFEF;'>Critical Control Parameter Info:</h6>"+
													"<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='position:relative;padding-top:10px;'>"+ccp_ul+"</div>"+
											"</div>"+
									"</div>"									
									
									
					process_ul='';
					process_ul=process_ul+'<ul  class="process_ul" style="padding:10px 0px 0px 0px;list-style:none;">'+createList(process_info)+'</ul>';
					process_div="<div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 process_div' style='min-height:200px;'>"+
											"<div  class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='text-align:center;position:relative;min-height:200px; padding:0px; box-shadow: 0 1px 4px rgba(0,0,0,0.1)' >"+
													"<h6 style='margin:0px;text-align:justify;padding: 6px 10px;background-color:#EFEFEF;'>Process Info:</h6>"+
													"<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='padding-top:10px;'>"+process_ul+"</div>"+
											"</div>"+
									"</div>"	
					if(phase_index==1){phase_div=phase_div+"<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 phase_div' data-phase_index="+phase_index+" style='display:block'>"+"<h6 style='margin: 0px 15px 15px 15px;padding: 8px 10px;border: #f2f2f2 thin solid;box-shadow: 0 1px 1px rgba(0,0,0,0.1);'>Phase:"+phase_no+"</h6>"+rawmaterial_div+process_div+ccp_div+"</div>"}				
					else{phase_div=phase_div+"<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 phase_div' data-phase_index="+phase_index+" style='display:none'>"+"<h6 style='margin: 0px 15px 15px 15px;padding: 8px 10px;border: #f2f2f2 thin solid;box-shadow: 0 1px 1px rgba(0,0,0,0.1);'>Phase:"+phase_no+"</h6>"+rawmaterial_div+process_div+ccp_div+"</div>"}						
					end_index=phase_index;
					phase_index=phase_index+1;
								
				}

		}

		
		var output_bottom="<div  class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='padding-top:5px;padding-bottom:5px;'>"+
							"<i class='fa fa-caret-left previous' style='position:absolute;top:50%;left:5px;font-size:30px;cursor:pointer;color:#CCC'></i>"+
							"<i class='fa fa-caret-right next' style='position:absolute;top:50%;right:5px;font-size:30px;cursor:pointer;color:#0986F3'></i>"+
							phase_div+
							'</div>'

	$('.input_div').html(output_top+output_bottom);
	$('.input_div_overlay.overlay').css('display','none');
	$('#more_information').css('display','block');
	ul_end_index=$('.phase_div').eq(0).find('.rawmaterial_ul').length
	ccp_ul_end_index=$('.phase_div').eq(0).find('.ccp_ul').length


	$('.previous').click(function(){
	if(lastclicked!=start_index){lastclicked=lastclicked-1;$('.phase_div').each(function(){ if($(this).data('phase_index')!=lastclicked){ $(this).css('display','none');} else{  $(this).toggle( 'fade', { direction: 'right' }, 1000 );ul_end_index=$('.rawmaterial_ul',this).length-1; ccp_ul_end_index=$('.ccp_ul',this).length-1; lastclicked_ul_ccp=1; lastclicked_ul=1;	} });}
	if(lastclicked>start_index&lastclicked<end_index){$('.previous').css('color','#0986F3');$('.next').css('color','#0986F3');} else if(start_index==lastclicked){$('.previous').css('color','#CCC');$('.next').css('color','#0986F3');}
	else{$('.previous').css('color','#0986F3');$('.next').css('color','#CCC');}
	});
	$('.next').click(function(){
	if(lastclicked!=end_index){lastclicked=lastclicked+1;$('.phase_div').each(function(){ if($(this).data('phase_index')!=lastclicked){ $(this).css('display','none'); } else{ $(this).toggle( 'fade',{ direction: 'left' }   , 1000 );ul_end_index=$('.rawmaterial_ul',this).length-1; ccp_ul_end_index=$('.ccp_ul',this).length-1; lastclicked_ul_ccp=1; lastclicked_ul=1; } });}
	if(lastclicked>start_index&lastclicked<end_index){$('.previous').css('color','#0986F3');$('.next').css('color','#0986F3');}else if(start_index==lastclicked){$('.previous').css('color','#CCC');$('.next').css('color','#0986F3');}else{$('.previous').css('color','#0986F3');$('.next').css('color','#CCC');}
	});
	
	$('.raw_up').click(function(){
	if(lastclicked_ul!=ul_start_index){lastclicked_ul=lastclicked_ul-1;$('.rawmaterial_ul').each(function(){ if($(this).data('ul_index')!=lastclicked_ul){ $(this).css('display','none');} else{  $(this).toggle( 'drop', { direction: 'up' }, 500 );	} });}
	if(lastclicked_ul>ul_start_index&lastclicked_ul<ul_end_index){$('.raw_up').css('color','#0986F3');$('.raw_down').css('color','#0986F3');}else if(ul_start_index==lastclicked_ul){$('.raw_up').css('color','#CCC');$('.raw_down').css('color','#0986F3');}else{$('.raw_up').css('color','#0986F3');$('.raw_down').css('color','#CCC');}
	});
	$('.raw_down').click(function(){
	if(lastclicked_ul!=ul_end_index){lastclicked_ul=lastclicked_ul+1;$('.rawmaterial_ul').each(function(){ if($(this).data('ul_index')!=lastclicked_ul){ $(this).css('display','none'); } else{ $(this).toggle( 'drop',{ direction: 'down' }   , 500 );	  } });}
	if(lastclicked_ul>ul_start_index&lastclicked_ul<ul_end_index){$('.raw_up').css('color','#0986F3');$('.raw_down').css('color','#0986F3');}else if(ul_start_index==lastclicked_ul){$('.raw_up').css('color','#CCC');$('.raw_down').css('color','#0986F3');}else{$('.raw_up').css('color','#0986F3');$('.raw_down').css('color','#CCC');}
	});
	
	$('.ccp_up').click(function(){
	if(lastclicked_ul_ccp!=ccp_ul_start_index){lastclicked_ul_ccp=lastclicked_ul_ccp-1;$('.ccp_ul').each(function(){ if($(this).data('ul_index')!=lastclicked_ul_ccp){ $(this).css('display','none');} else{  $(this).toggle( 'blind', { direction: 'up_ccp' }, 500 );	} });}
	if(lastclicked_ul_ccp>ccp_ul_start_index&lastclicked_ul_ccp<ccp_ul_end_index){$('.ccp_up').css('color','#0986F3');$('.ccp_down').css('color','#0986F3');}else if(ccp_ul_start_index==lastclicked_ul_ccp){$('.ccp_up').css('color','#CCC');$('.ccp_down').css('color','#0986F3');}else{$('.ccp_up').css('color','#0986F3');$('.ccp_down').css('color','#CCC');}
	});
	$('.ccp_down').click(function(){
	if(lastclicked_ul_ccp!=ccp_ul_end_index){lastclicked_ul_ccp=lastclicked_ul_ccp+1;$('.ccp_ul').each(function(){ if($(this).data('ul_index')!=lastclicked_ul_ccp){ $(this).css('display','none'); } else{ $(this).toggle( 'blind',{ direction: 'down_ccp' }   , 500 );	  } });}
	if(lastclicked_ul_ccp>ccp_ul_start_index&lastclicked_ul_ccp<ccp_ul_end_index){$('.ccp_up').css('color','#0986F3');$('.ccp_down').css('color','#0986F3');}else if(ccp_ul_start_index==lastclicked_ul_ccp){$('.ccp_up').css('color','#CCC');$('.ccp_down').css('color','#0986F3');}else{$('.ccp_up').css('color','#0986F3');$('.ccp_down').css('color','#CCC');}
	});
	
	}


	

function createList(data) {
	ul_array=[]
	var data_key=[];
	for(key in data){
		data_key.push(key);
	}
	
	
	if(data_key.length==0){ul_array.push('<li style="padding:10px 15px;"><span style="font-size:12px;padding-right:4px;">No Data Available</span></li>');return ul_array.join('')}
	else{$.each(data, function(key, val) {if(typeof(val)!='object'){if(val!=''){ ul_array.push('<li style="padding:4px;"><span style="text-transform:capitalize;font-size:12px;padding-right:4px;">' + key+'</span>:');ul_array.push('<span style="font-size:11px;padding-left:4px;">'+val+'</span></li>');}}  });}
	return ul_array.join('')
}
	





	function creation_po_details(data)
	{
		for (i=0;i<data.length;i++)
		{
			output_details=data[i]['Output_parameters']
			general_details=data[i]['GeneralInfo']
				var output_li=''
				for(var key in output_details)
				{	
					if(output_details[key]!='')
					{
					output_li=output_li+'<li><a href="#" style="color:#222;padding:6px 5px;">'+key+':<span class="pull-right">'+output_details[key]+'</span></a></li>'			
					}

				}	
				var general_li=''
				if(general_details['QualitySegment']=='A' | general_details['QualitySegment']=='B'){
					general_li=general_li+'<li style="text-align:center;"><a href="#" style="color:#222;padding:10px 5px;"><img class=" "style="height:32px"  src="{% static "qualitycorrelator/img/smile.png" %}" /></a></li>'
				}
				else{
					general_li=general_li+'<li style="text-align:center;"><a href="#" style="color:#222;padding:10px 5px;"><img class=" "style="height:32px"  src="{% static "qualitycorrelator/img/sad.png" %}" /></a></li>'
				}
				for(var key in general_details)
				{	
					if(general_details[key]!='')
					{
						value=general_details[key];
						if(key=='QualitySegment')
						{
							if(value=='A'){value='A(Excellent)';} 
							if(value=='B'){value='B(Good)';} 
							if(value=='C'){value='C(Bad)';} 
							if(value=='D'){value='D(Poor)';}
							general_li=general_li+'<li><a href="#" style="color:#222;padding:6px 5px;">'+key+':<span class="pull-right">'+value+'</span></a></li>'	
						}
						else if(key=='ProcessOrder')
						{
							general_li=general_li+'<li>'+value+'</li>';
													//<a target="blank"  href="http://ap-hipas.henkelgroup.net/ipas/ipas_Preweigh/Manufacture/PhaseData.aspx?id='+general_details['SiteID']+'&processorder='+value+'&archive=true" style="color:#222;padding:6px 5px;">'+key+':<span class="pull-right" style="padding-right:20px;">'+value+'</span><i class="fa fa-external-link"   title="MES Link"  aria-hidden="true" style="position:absolute;top:9px;right:5px;"></i></a></li>'	
														//<a class="linking_mes_correlator" title="MES Link" href="http://ap-hipas.henkelgroup.net/ipas/ipas_Preweigh/Manufacture/ViewManufacturePO.aspx?id='+ data[0]['po_siteid'][i]+'&processorder='+data[0]['processorder_list'][i]+'&archive=true&3app='+data[0]['app']+'&username='+data[0]['username']+'" target="blank" style="text-decoration:none;"><i class="fa fa-external-link" aria-hidden="true" style="position:absolute;left:3em;"></i></a>'
						}
						else if(key=='Material_Display'){
							general_li=general_li+'<li><a href="#" style="color:#222;padding:6px 5px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">'+key+':<span class="pull-right;" title="'+value+'">'+value+'</span></a></li>'	
						}
						else
						{
							general_li=general_li+'<li><a href="#" style="color:#222;padding:6px 5px;">'+key+':<span class="pull-right">'+value+'</span></a></li>'	
						}
							
					}

				}
				var general_details_key=[];
				for(key in general_details){
					general_details_key.push(key);
				}
				

				if(general_details_key.length==0)
				{
						$($('.general_charecters')[i]).html('<li style="font-size:12px; padding-left:15px;font-weight:600">No Data To display<li>');	
						$($('.output_charecters')[i]).html('<li style="font-size:12px; padding-left:15px;font-weight:600">No Data To display<li>');
						$($('.po_details_overlay')[i]).css('display','none');
				}
				else
				{
				$('.output_parameter').html('Quality Parameters:')
				$($('.general_charecters')[i]).html(general_li);	
				$($('.output_charecters')[i]).html(output_li);	
				
				
				}
		
		$($('.po_details_overlay')).css('display','none');
		
		}
	
	
	}	
	
	
	</script>
	
	
{% endblock %}