{% extends "qualitycorrelator/theme.html" %}

	{% block filters-container %}
					<div class=" col-sm-12 col-md-12 col-lg-12 pad_5px margin_left_14px " style="">
						<div class=" col-sm-12 col-md-12 col-lg-12 padzero">
									<div class="col-lg-2 col-md-3 col-sm-4">
										<label class="pull-left span_text" style='padding-top:8px; font-weight:500!important;'>Analysis:</label>
											<select  placeholder="--ALL--"class='analysis'>
												<option value="Finished Goods">Finished Goods</option> 
												<option value="Stagged PO">Stagged PO</option>					
											</select>
									</div>
									<div class="col-sm-4 col-md-2 col-lg-2 filter_css">
										<div class=" col-sm-4 col-md-5 col-lg-5 filter_label ">
												<span class='font_color' >Plant:</span>
										</div>
										<div class="col-sm-8 col-md-7 col-lg-7" style="padding:0px">
											<select multiple="multiple" placeholder="--Select--"class='plant'>
												{% if plant_dict %}
												{% for key, value in plant_dict.items %}
												 <option value="{{key}}">{{value}}</option> 
												{% endfor %}
												{% else %}
												<option value="all">No Plant To choose</option> 
												{% endif %}
											</select>
										</div>
									</div>
									<div class="col-sm-4 col-md-3 col-lg-3 filter_css" style="display:none;">
										<div class="col-sm-4 col-md-5 col-lg-5 filter_label" >
												<span class='font_color' >SBU:</span>
										</div>
										<div class="col-sm-8 col-md-7 col-lg-7"style="padding:0px">
											<select  multiple="multiple" disabled placeholder="--Select--"class='sbu'>
												{% if sbu_dict %}
												{% for key, value in sbu_dict.items %}
												 <option value="{{key}}">{{value}}</option> 
												{% endfor %}
												{% else %}
												<option value="all">No SBU To choose</option> 
												{% endif %} 
											</select>
										</div>
									</div>
									<div class="col-sm-4 col-md-3 col-lg-3 filter_css" style="display:none;">
										<div class="col-sm-4 col-md-5 col-lg-5 filter_label" >
												<span class='font_color' >Technology:</span>
										</div>
										<div class="col-sm-8 col-md-7 col-lg-7"style="padding:0px">
											<select  multiple="multiple" disabled placeholder="--Select--"class='technology'>
												{% if technology_dict %}
												{% for key, value in technology_dict.items %}
												 <option value="{{key}}">{{value}}</option> 
												{% endfor %}
												{% else %}
												<option value="all">No Technology To choose</option> 
												{% endif %} 
											</select>
										</div>
									</div>	
									
									
								<div class="col-sm-4 col-md-2 col-lg-2 filter_css">
									<div class="col-sm-4 col-md-5 col-lg-5 filter_label" >
											<span class='font_color'>Product:</span>
									</div>
									<div class="col-sm-8 col-md-7 col-lg-7"style="padding:0px">
										<select  multiple="multiple" placeholder="--Select--"class='product'>
											{% if product_dict %}
											{% for key, value in product_dict.items %}
											 <option value="{{key}}">{{value}}</option> 
											{% endfor %}
											{% else %}
											<option value="all">No Product To choose</option> 
											{% endif %}
										</select>
									</div>
								</div>	
									
								<div class="col-sm-4 col-md-3 col-lg-3 filter_css" style="display:none;">
									<div class="col-sm-4 col-md-5 col-lg-5 filter_label" >
											<span class='font_color' >Line:</span>
									</div>
									<div class="col-sm-8 col-md-7 col-lg-7"style="padding:0px">
										<select  multiple="multiple" disabled placeholder="--Select--"class='line'>
											{% if line_dict %}
											{% for key, value in line_dict.items %}
											 <option value="{{key}}">{{value}}</option> 
											{% endfor %}
											{% else %}
											<option value="all">No Line To choose</option> 
											{% endif %}  
										</select>
									</div>
								</div>

								<div class="col-sm-4 col-md-3 col-lg-3 filter_css" style="display:none;">
									<div class="col-sm-4 col-md-5 col-lg-5 filter_label" >
											<span class='font_color' >Resource:</span>
									</div>
									<div class="col-sm-8 col-md-7 col-lg-7"style="padding:0px">
										<select  multiple="multiple" disabled placeholder="--Select--"class='resource'>
											{% if resource_dict %}
											{% for key, value in resource_dict.items %}
											 <option value="{{key}}">{{value}}</option> 
											{% endfor %}
											{% else %}
											<option value="all">No Resource To choose</option> 
											{% endif %}
										  resource_list
										  
										</select>
									</div>
								</div>
								<div class="col-sm-4 col-md-3 col-lg-3 filter_css">
									<div class="col-sm-4 col-md-5 col-lg-5 filter_label" >
											<span class='font_color' >BatchNumber:</span>
									</div>
									<div class="col-sm-8 col-md-7 col-lg-7"style="padding: 10px 0px 0px 5px">
													<input type="text" style="width:95px;" onkeypress="return check_integer(event)" class="batchnumber_text">
									</div>
								</div>
								<div class="  col-sm-11 col-sm-push-1  col-md-11 col-md-push-1  col-lg-2" style="padding:5px 0px 0px 0px" id="date-rca-spo">
									<div class=" col-sm-10 col-md-10 col-lg-10" style="padding:0px" >
										<div id="reportrange" class="pull-left col-sm-12 col-md-11 col-lg-11" style="background: #fff; cursor: pointer; padding: 3px 10px; border: 1px solid #ccc; ">
											<i class="glyphicon glyphicon-calendar fa fa-calendar" style='top:0px !important;'></i>&nbsp;
											<span style='font-size:12px;'></span>
										</div>						
									</div>
									
									<div class="  col-sm-1 col-md-2 col-lg-2 " style="padding:0px 0px 0px 0px; margin:0px 0px 0px -4px">
											<button type="button" class="btn btn-primary" id='apply' style='float :right'>Apply</button>
									</div>								
								</div>
								<div class=" col-xs-2 col-sm-2 col-md-2 col-lg-1 " style="padding:0px 0px 0px 0px; margin:5px 0px 0px -30px;">
									<span class='data_sync' style="display:none;">{{sync_date_3}}</span><span class='min_date' style="display:none;">{{min_date | date:'y-m-d'}}</span> <span class='end_date' style="display:none;">{{start_date | date:'y-m-d'}}</span><span class='max_date' style="display:none;">{{syncdate2}}</span><span class='max1_date' style="display:none;">{{sync_date_3}}</span><span class='min1_date' style="display:none;">{{min_date | date:'Y-m-d'}}</span><span class='end1_date' style="display:none;">{{start_date | date:'Y-m-d'}}</span>
									<!-- <button type="button" class="btn btn-primary" id="apply" style="float :right">Apply</button> -->
								</div>
						
						</div>
						<!--<div class="  col-sm-1 col-md-1 col-lg-9" style="padding:5px 0px 0px 0px ">
							<div class="col-sm-10 col-md-10 col-lg-11 filter_label" >
								<span class='font_color' >ProductionStartTime is null?</span>
							</div>
							<div class="col-sm-2 col-md-2 col-lg-1"style="padding: 7px 0px 0px 18px">
								<input type="checkbox" value="" id="updatedtimr" name="updatedtimr">
							</div>
						</div>-->
							
					</div>	
						
						
{% endblock %}				
		{% block main-container1 %}		
		{% load staticfiles %}
						<div class="col-lg-12 col-md-12 col-sm-12 " id='table_div' data-step="1" data-intro="Grid view provides a handy option to view and download the batch level information for detailed analysis . " data-position="top"        style="padding:0px 0px 0px 0px">
							<table id="Rejected_Table" class="table table-striped" cellspacing="0" style="width:100%;">
								<thead style="width:100% !important;">
									<tr>
										<th>Plant</th>
										<th>SBU</th>
										<th>Technology</th>
										<th>Product</th>
										<th>Line</th>
										<th>Resource</th>
										<th>Batch Number</th>
										<th>Process Order</th>
										<th>Reason</th>
										<th>Rejected Date</th>
									</tr>
								</thead>
								<tbody id="modal_container">
								</tbody>
							</table>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="btn_div">
								
							</div>
							<div class="col-md-6 col-sm-6 col-lg-6">
								<span style="float:right;">
								<span style="color:red">*</span>
								<span style="font-size:12px">Note:</span>
								<span style="font-size:10px; padding-left:5px;">Download button will show only after the data is loaded  .</span> </span>
							</div>
						</div>
						<div class="rejected_data_overlay overlay">
							<img class=" "  title="Temperature" style="   position: absolute; cursor: pointer; bottom: 50%; left: 40%;cursor:pointer; "  src="{% static 'qualitycorrelator/img/gears.gif' %}" />
							<span style="   position: absolute; cursor: pointer; bottom: 40%; left: 25%;cursor:pointer; " >Loading Please Wait....</span>
						</div>
					<div class="modal fade" id="common-modal" role="dialog">
					   <div class="modal-dialog">

						   <!--   Modal content  -->
						   <div class="modal-content">
							   <div class="modal-header">
								   <button type="button" class="close" data-dismiss="modal">&times;</button>
								   <h4 class="modal-title"></h4>
							   </div>
							   <div class="modal-body" >
								   <p>Are you sure you want to delete User?</p>
							   </div>
							   <div class="modal-footer">
								   <button type="button" style="position:relative;float:right;" class="col-lg-1 btn btn-primary modal-yes" data-dismiss="modal"></button>
								   <button type="button" style="position:relative;float:right;" class="col-lg-1 btn btn-default modal-no" data-dismiss="modal"></button>
							   </div>
						   </div>
					   </div>
				   </div>	
						

<style>
	.dataTables_wrapper .dataTables_length, 
	.dataTables_wrapper .dataTables_filter, 
	.dataTables_wrapper .dataTables_info, 
	.dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate{
		color:#6d6d6d;
	}
	.dataTables_wrapper .dataTables_paginate .paginate_button{
		color:#6d6d6d !important;
		padding: 5px;
		cursor:pointer;
	}
	.dataTables_wrapper .dataTables_paginate .current{
		background:#EEEEEE !important;
		border:1px solid #CDCDCD !important;
	}
	.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
		background:#EEEEEE !important;
		color:#111 !important;
		border:1px solid #CDCDCD !important;
	}
	.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
		background:#EEEEEE !important;
		color:#111 !important;
		border:1px solid #CDCDCD !important;
	}
</style>
<script>

		
	function check_integer(evt)
    {
			
		  var charCode = (evt.which) ? evt.which : evt.keyCode;
		  if (charCode != 46 && charCode > 31  && (charCode < 48 || charCode > 57) )
		  {
			  return false;
		  }
		  return true;
    }



		if($($('.rawmaterial_li ').find('i')[0]).hasClass('fa-caret-down')) {
			$($('.menu_ul')[1]).slideToggle('');
			$($('.rawmaterial_li ').find('i')[0]).removeClass('fa-caret-down');
			$($('.rawmaterial_li ').find('i')[0]).addClass('fa-caret-up'); 
		}
		if($($('.admin_li ').find('i')[0]).hasClass('fa-caret-down')) {
			$($('.menu_ul')[1]).slideToggle('');
			$($('.admin_li ').find('i')[0]).removeClass('fa-caret-down');
			$($('.admin_li ').find('i')[0]).addClass('fa-caret-up'); 
		}
		if($($('.correlator_li').find('i')[0]).hasClass('fa-caret-up')) {
			$($('.menu_ul')[1]).slideToggle('');
			$($('.correlator_li').find('i')[0]).removeClass('fa-caret-up');
			$($('.correlator_li').find('i')[0]).addClass('fa-caret-down');		
			$('.admin_li').find('ul').css('display','none');		
			$('.correlator_li').find('ul').css('display','block');
		}
	
	var encodedUri1;
	var encodedUri2;
	var encodedUri3;
	var encodedUri4;
	
	page_index=$(".not_mobile")[5]
	$(page_index).addClass("clicked_li")
	$('.analysis').SumoSelect({search: true, searchText: 'Enter here.',selectAll:false,selectAlltext : 'All'}); 
	$('.plant').SumoSelect({search: true, searchText: 'Enter here.',selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true}).sumo.selectAll();
	$('.line').SumoSelect({search: true, searchText: 'Enter here.',selectAll:true ,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true}).sumo.selectAll();
	$('.resource').SumoSelect({search: true, searchText: 'Enter here.',selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true }).sumo.selectAll();
	$('.product').SumoSelect({search: true, searchText: 'Enter here.',selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true }).sumo.selectAll();
	$('.sbu').SumoSelect({search: true, searchText: 'Enter here.',selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true }).sumo.selectAll();
	$('.technology').SumoSelect({search: true, searchText: 'Enter here.',selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true }).sumo.selectAll();
	//$('.grid_segment').SumoSelect({search: true, searchText: 'Enter here.',selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true }).sumo.selectItem(0);
	start_date = $('.end_date').text();
	max_date = $('.max_date').text();
	min_date = $('.min_date').text();
	max1_date = $('.max1_date').text();
	min1_date = $('.min1_date').text();
	start1_date = $('.end1_date').text();
	intialise_datepicker(max_date, min_date, start_date, max1_date, min1_date, start1_date);
	rejected_view_data();
	download_rejected_data();
	
	function rejected_view_data()
	{
		$('.rejected_data_overlay').css('display','block');
		$("#table_div").height(10+$(".main-container").height()-$(".filters-container").height());
		Data=filter_data()
		Data['type_list']=['total']
		if($('.batchnumber_text').val()==''){Data['batchnumber']='all'}
		else{Data['batchnumber']=$('.batchnumber_text').val()}
		Data['page_view']=[window.location.pathname.split('/')[2]]
		Data['analysis']=[$('.analysis').val()]
		$('#Rejected_Table').dataTable({
			"bRetrive" : true,
			"aaSorting": [],
			"iDisplayLength":7,
			"processing": false,
			"serverSide": true,
			"bAutoWidth": false,
			"columnDefs": [
				{ "orderable": false, "targets": [0,1,2,3,4,5,6,7,8,9] }
				/*{ "width": "100px", "targets": 0 },
				{ "width": "20px", "targets": 1 },
				{ "width": "30px", "targets": 2 },
				{ "width": "50px", "targets": 3 },
				{ "width": "50px", "targets": 4 },
				{ "width": "50px", "targets": 5 },
				{ "width": "70px", "targets": 6 },
				{ "width": "70px", "targets": 7 },
				{ "width": "200px", "targets": 8 }*/
				//{ "width": "400px", "targets": 8 }
			  ],
			"ajax": {
				"url":"/qualitycorrelator/rejected_datatable/",
				"type": "POST",
				"data": Data
				},
		});
		$("#Rejected_Table_length label").html('')
		$("#Rejected_Table_filter").html('')
		$('#Rejected_Table_length').css("height",'0px');
		$('.DataTables_sort_icon').remove();
		$("#Rejected_Table").trigger('update');
		$('.rejected_data_overlay').css('display','none');
	}
	
	function download_rejected_data(){
		Data=filter_data()
		Data['type_list']=['total']
		if($('.batchnumber_text').val()==''){Data['batchnumber']='all'}
		else{Data['batchnumber']=$('.batchnumber_text').val()}
		Data['page_view']=[window.location.pathname.split('/')[2]];
		Data['analysis']=[$('.analysis').val()]
		var details_list=[];
		$.ajax({
			method: "POST",
			url: "/qualitycorrelator/get_rejected_data/",
			data:Data,
			success: function(result) {
				details_list=result[0]['download_list']
				var header2='';
				var header1 = "SiteName,SBU,Technology,MaterialNumber,LineName,Resources,BatchNumber,ProcessOrder,Reason,Rejected Date";
				var header2 = ['SiteName','SBU','Technology','MaterialNumber','LineName','Resources','BatchNumber','ProcessOrder','Reason','Rejected Date'];
				for(var i=0;i<details_list.length;i++){
					header1+='\n';
					for(var k=0;k<details_list[i].length;k++){
						header1+='"'+details_list[i][k]+'",';
					}
				}
				encodedUri3 = header1;
				var header3='';
				dataString = ''
				dataString = header2.join(",");
				header3 +=  dataString+ "\n";
				details_list.forEach(function(infoArray, index){
				   dataString = infoArray.join(",");
				   header3 += index < details_list.length ? dataString+ "\n" : dataString;
				});
				encodedUri4 = header3;
				$('#btn_div').html('<a href="#" class="btn btn-primary" id="download_btn" style="">Download</a>');
			}
		});
	}
	$(document).on('click', '#download_btn', function(){
		var browserInformation = get_browser_info().name;	
		if(browserInformation == 'Chrome'){
			var filename = 'Correlator_Rejected_data.csv';
			var outputCSV = encodedUri3;
			var blobby = new Blob([outputCSV], {type: 'text/csv'});

			$('#download_btn').attr({
				'download' : filename,
				'href': window.URL.createObjectURL(blobby),
				'target': '_blank'
			});			
		}
		if(browserInformation == 'safari'){
			var csvContent=encodedUri4;
			var blob = new Blob([csvContent],{
				type: "text/csv;charset=utf-8;"
			});
			navigator.msSaveBlob(blob, "Correlator_Rejected_data.csv");			
		}
		if(browserInformation == 'IE '){						/* IE takes space, don't remove space */
			var csvContent=encodedUri3;
			var blob = new Blob([csvContent],{
				type: "text/csv;charset=utf-8;"
			});
			navigator.msSaveBlob(blob, "Correlator_Rejected_data.csv");			
		}
	});
	function get_browser_info(){
		var ua=navigator.userAgent,tem,M=ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
		if(/trident/i.test(M[1])){
			tem=/\brv[ :]+(\d+)/g.exec(ua) || [];
			return {name:'IE ',version:(tem[1]||'')};
			}  
		if(M[1]==='Chrome'){
			tem=ua.match(/\bOPR\/(\d+)/)
			if(tem!=null)   {return {name:'Opera', version:tem[1]};}
			}  
		M=M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
		if((tem=ua.match(/version\/(\d+)/i))!=null) {M.splice(1,1,tem[1]);}
		return {
		  name: M[0],
		  version: M[1]
		};
	}
	var browserInformation = get_browser_info().name;
	/*$('.analysis').change(function(){
		url='/qualitycorrelator/getRejectedFilterData/';
		method='POST';
		Data=filter_change_data('analysis');
		$.ajax({
			method: method,
			url: url,
			data:Data,
			success: function(result_data) {
			}
		});
	});*/
	$('.plant').change(function(){
		url='/qualitycorrelator/getRejectedFilterData/';
		method='GET';
		$('.sbu').SumoSelect().sumo.disable();
		$('.technology').SumoSelect().sumo.disable(); 
		$('.line').SumoSelect().sumo.disable(); 
		$('.resource').SumoSelect().sumo.disable();
		$('.product').SumoSelect().sumo.disable();
		Data=filter_change_data('plant');
		$.ajax({
			method: method,
			url: url,
			data:Data,
			success: function(result_data) {
				product_list=result_data['product_list'];
				filter_render('.product',product_list);
			}
		});
	});
	$('#apply').click(function(){
		var table = $('#Rejected_Table').dataTable();
		//table.fnClearTable();
		table.fnDestroy();
		if($('.plant').val()==null){
			$("#common-modal").modal("show");
			$("#common-modal .modal-title").html("Alert");
			$("#common-modal .modal-body").html("Please Select Plant !"); 
			$("#common-modal .modal-no").css("display","none");
			$("#common-modal .modal-yes").html("Okay");
		}
		else if($('.product').val()==null){
			$("#common-modal").modal("show");
			$("#common-modal .modal-title").html("Alert");
			$("#common-modal .modal-body").html("Please Select Product!"); 
			$("#common-modal .modal-no").css("display","none");
			$("#common-modal .modal-yes").html("Okay");
		}
		else{
			rejected_view_data();
			download_rejected_data();
		}
	});
	function GetIEVersion() {
		var sAgent = window.navigator.userAgent;
		var Idx = sAgent.indexOf("MSIE");

		// If IE, return version number.
		if (Idx > 0) 
		return parseInt(sAgent.substring(Idx+ 5, sAgent.indexOf(".", Idx)));

		// If IE 11 then look for Updated user agent string.
		else if (!!navigator.userAgent.match(/Trident\/7\./)) 
		return 11;

		else
		return 0; //It is not IE
	}
	function GetSafariVersion(){
		var is_safari = navigator.userAgent.toLowerCase().indexOf('safari/') > -1;
		return is_safari; 
	}
	function datepicker_change(global_val)
	{
		if(global_val ==1)
		{
			Data=filter_change_data('product');
			$.ajax({
			method: "GET",
			url: "/qualitycorrelator/getInputFilterData/",
			data:Data,
			success: function(result_data) {
			}
			});	
		
		}
	}
</script>

{% endblock %}