
{% extends "qualitycorrelator/theme.html" %}
{% load staticfiles %}
	{% block filters-container %}
	
					<div class="row" style="min-height:35px;">
					<div class="col-lg-12">
						<div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
							<label class="pull-left span_text" style='padding-top:8px; font-weight:500!important;'>Plant:</label>
								<select  multiple='multiple' placeholder="--ALL--"class='plant'>
									{% if plant_list %}
									{% for key, value in plant_dict.items %}
									 <option value="{{value}}">{{key}}</option> 
									{% endfor %}
									{% else %}
									<option value="all">No Lines To choose</option> 
									{% endif %} 
								</select>
						</div>								
						<div class="col-lg-2 col-md-3 col-sm-6 col-xs-6" >
							<label class="pull-left span_text" style='padding-top:8px;font-weight:500!important;'>Sbu:</label>
								<select multiple='multiple' placeholder="--All--"class='sbu'>
									{% if sbu_list %}
									{% for sbu in sbu_list %}
									 <option value="{{sbu}}">{{sbu}}</option> 
									{% endfor %}
									{% else %}
									<option value="all">No Sbu To choose</option> 
									{% endif %} 
								</select>
						</div>

						<div class="col-lg-2 col-md-3 col-sm-6 col-xs-6" >
							<label class="pull-left span_text" style='padding-top:8px;font-weight:500!important;'>Technology:</label>
								<select multiple='multiple' placeholder="--All--"class='technology'>
									{% if technology_list %}
									{% for technology in technology_list %}
									 <option value="{{technology}}">{{technology}}</option> 
									{% endfor %}
									{% else %}
									<option value="all">No Technology To choose</option> 
									{% endif %} 
								</select>
						</div>	
						<div class="col-lg-2 col-md-3 col-sm-6 col-xs-6" >
							<label class="pull-left span_text" style='padding-top:8px;font-weight:500 !important;'>Product:</label>
								<select multiple='multiple' placeholder="--All--"class='product'>
									{% if product_list %}
									{% for product in product_list %}
									 <option value="{{product}}">{{product}}</option> 
									{% endfor %}
									{% else %}
									<option value="all">No product To choose</option> 
									{% endif %} 
								</select>
						</div>						
					</div>
				</div>	
	
	
		{% endblock %}

{% block main-container1 %}

	<ul class="nav nav-tabs" style='display:none'>
		<li class="active"><a data-toggle="tab" href="#StaggedPO">Stagged PO</a></li>
		<li ><a data-toggle="tab" href="#ActualvsPredicted">Actual vs Prdicted</a></li>
	</ul>
	<div class="tab-content  staggedpo_tab-content" style="height:550px;">
		<!--**********************************************************TOP TILES***************************************************************-->		
			<div id="StaggedPO" class="tab-pane fade in active">
				  <div class="col-sm-12  col-md-12  col-lg-12 col-xs-12" style="padding:0px;">
					<div class="col-lg-4  col-md-4 col-sm-8  col-xs-12  kpis_div " data-step="1" data-intro="Total Number of process orders staged today." data-position="right" data-segment='all' style='cursor:pointer; padding:5px;'>
						<div class="mini-stat clearfix rounded bg-blue">
							<span class="mini-stat-icon"><i class="fa fa-tags"  style="font-size:50px;"aria-hidden="true"></i></span>
							<div class="mini-stat-info">
								<span class="counter Total_count" style="font-size:15px;">0</span></br>
								 <span class="" style="font-size:13px;"> Stagged PO’s</span> 
							</div>
						</div>			  
					</div>
					<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 kpis_div" data-step="2" data-intro="Number of staged Process Orders in Segment A" data-position="right" data-segment='E' style='cursor:pointer;padding:5px;'>
						<div class="mini-stat clearfix rounded bg-green">
							<span class="mini-stat-icon"><img class=" "  style="float: left;"  src="{% static 'qualitycorrelator/img/smile_wht.png'%}" /></span>
							<div class="mini-stat-info">
								<span class="counter A_count" style="font-size:15px;">0</span></br>
								 <span class="" style="font-size:13px;"> A Category PO’s</span> 
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 kpis_div" data-step="3" data-intro="Number of staged Process Orders in Segment B" data-position="right" data-segment='G' style='cursor:pointer;padding:5px;'>
						<div class="mini-stat clearfix rounded bg-orange">
							<span class="mini-stat-icon"><img class=" "  style="float: left;"  src="{% static 'qualitycorrelator/img/smile_wht.png'%}" /></span>
							<div class="mini-stat-info">
								<span class="counter B_count" style="font-size:15px;">0</span></br>
								 <span class="" style="font-size:13px;"> B Category PO’s</span> 
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 kpis_div" data-step="4" data-intro="Number of staged Process Orders in Segment C" data-position="left" data-segment='B' style='cursor:pointer;padding:5px;'>
						<div class="mini-stat clearfix rounded bg-yellow">
							<span class="mini-stat-icon"><i class="fa fa-meh-o" style="font-size:50px;" aria-hidden="true"></i></span>
							<div class="mini-stat-info">
								<span class="counter C_count" style="font-size:15px;">0</span></br>
								 <span class="" style="font-size:13px;"> C Category PO’s</span> 
							</div>
						</div>
					</div>		
					
					<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 kpis_div" data-step="5" data-intro="Number of staged Process Orders in Segment D" data-position="left" data-segment='P' style='cursor:pointer;padding:5px;'>
						<div class="mini-stat clearfix rounded bg-red">
							<span class="mini-stat-icon"><img class=" "  style="float: left;"  src="{% static 'qualitycorrelator/img/sad_wht.png'%}" /></span>
							<div class="mini-stat-info">
								<span class="counter D_count" style="font-size:15px;">0</span></br>
								 <span class="" style="font-size:13px;"> D Category PO’s</span> 
							</div>
						</div>
					</div>	
				  </div>

		<!--**********************************************************Below TILES***************************************************************-->
				  
			<div class="col-sm-12  col-md-12  col-lg-12 col-xs-12" style="padding:0px;">
				<div class="col-lg-2  col-md-12 col-sm-12 col-xs-12 ponumber"style='padding:5px;'>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
						<div class="box box-widget widget-user-2" data-step="6" data-intro="The list of Batch Numbers for the Selected Plant and Product." data-position="right" style="margin-bottom:5px;" >
							<div class="box-header with-border color-batch-numbers" style="border-bottom:1px solid #EFEFEf ;padding:10px;">
								<i class="fa fa-cube" aria-hidden="true"></i>
								<h5 class="widget-user-username"style="padding-left:20px; font-size:13px;float:left;" >BatchNumber's  </h5>
								<i class="fa fa-info-circle info_icon batchnumbers_info" style="float:right; position: absolute; top: 5px; right: -4px;"></i>
							</div>
							<div class="box-body" style="padding:0px;">
								 <div class="col-1g-12 col-md-12 col-sm-12 colxs-12" id='po_numbers' style="height:475px; overflow:hidden; padding:0px;">
									<div class=" inner-addon right-addon" style="padding:5px;">
									  <input type="text" class="form-control search" placeholder="Search"  style="border-radius:25px;"><i class="fa fa-search" aria-hidden="true" style="position:absolute;top:15px;right:15px;" ></i></input>
									</div>							 
									<ul class="batchnumber_ul list" style="padding:10px 0px 0px 0px;list-style:none; ">
										{% if batchnumber_list %}
											{% for batchnumber in batchnumber_list %}
												<li class="po_li" style="padding:10px 15px;border-bottom: 1px solid #efefef; cursor:pointer;" data-clicked_po="{{batchnumber}}">
													<span class="po_number" style="font-size:12px;padding-right:4px;text-transform:capitalize; padding-left:5px;">{{batchnumber}}</span>
													<i class="fa fa-caret-right po_i" style="font-size:15px;cursor:pointer;color:#0986F3;float:left;display:none;"></i>
												</li>
											{% endfor %}
										{% else %}
												<li style="padding:10px 15px;border-bottom: 1px solid #efefef;">
													<span class="po_number" style="font-size:12px;padding-right:4px;text-transform:capitalize; font-weight:600; padding-left:5px;">No Batches</span>
												</li>
										{% endif %} 
									</ul>
								 </div>						 						
							</div>
							<div class="batchnumber_overlay overlay" style="display:none;">
								<img class=" "  title="Temperature" style="   position: absolute; cursor: pointer; bottom: 50%; left: 40%;cursor:pointer; "  src="{% static 'qualitycorrelator/img/gears.gif' %}" />
								<span style="   position: absolute; cursor: pointer; bottom: 45%; left: 25%;cursor:pointer; " >Loading Please Wait....</span>
							</div>
						</div>
					</div>
				</div>					
						
						
				<div class="col-lg-2 col-md-12 col-sm-12  col-xs-12 "style='padding:5px;'>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">				  
						  <div class="box box-widget widget-user-2" data-step="7" data-intro="The predicted output quality parameters for the Staged Process Order." data-position="right" style="min-height:255px; margin-bottom:5px;">
								<div class="box-header with-border color-po-details" style="border-bottom:1px solid #EFEFEf ;padding:10px;">
									<i class="fa fa-cube" aria-hidden="true"></i>
									<h5 class="widget-user-username"style="padding-left:20px; font-size:13px;float:left;" >Stagged PO Details</h5>
									<i class="fa fa-info-circle info_icon stagged_po_info" style="float:right; position: absolute; top: 5px; right: -4px;"></i>
								</div>
								<div class="box-body">
								  <ul class="nav nav-stacked  general_charecters"> </ul>
								</div>
								<div class="po_details_overlay overlay" style="display:none;">
									<img class=" "  title="Temperature" style="   position: absolute; cursor: pointer; bottom: 50%; left: 40%;cursor:pointer; "  src="{% static 'qualitycorrelator/img/gears.gif' %}" />
									<span style="   position: absolute; cursor: pointer; bottom: 40%; left: 25%;cursor:pointer; " >Loading Please Wait....</span>
								</div>
						 </div>
						 <div class="box box-widget widget-user-2" data-step="8" data-intro="The Quality Parameter information for the selected stagged process order." data-position="top" style="min-height:250px;margin-bottom:5px;">
							<div class="box-header with-border color-po-details" style="border-bottom:1px solid #EFEFEf ;padding:10px;">
								<i class="fa fa-cube" aria-hidden="true"></i>
								<h5 class="widget-user-username"style="padding-left:20px;float:left; font-size:13px;" >Output Details</h5>
								<i class="fa fa-info-circle info_icon output_details_info" style="float:right; position: absolute; top: 5px; right: -4px;"></i>
							</div>
							<div class="box-body">
							  <ul class="nav nav-stacked  output_charecters"></ul>
							</div>
							<div class="po_details_overlay overlay" style="display:none;">
								<img class=" "  title="Temperature" style="   position: absolute; cursor: pointer; bottom: 50%; left: 40%;cursor:pointer; "  src="{% static 'qualitycorrelator/img/gears.gif' %}" />
								<span style="   position: absolute; cursor: pointer; bottom: 40%; left: 25%;cursor:pointer; " >Loading Please Wait....</span>
							</div>
						</div>
					</div>
				</div>
						
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-bottom:5px;padding-top:5px;">
				  <div class="box box-widget widget-user-2" data-step="9" data-intro="Raw Material details for every phase of the Staged Process Order." data-position="top" style="margin-bottom:5px;" >
					<div class="box-header with-border color-raw-material-details" style="border-bottom:1px solid #EFEFEf ;padding:10px;">
						<i class="fa fa-cube" aria-hidden="true"></i>
						<h5 class="widget-user-username"style="padding-left:20px; font-size:13px;float:left;" >RawMaterialDetails </h5>
						<i class="fa fa-info-circle info_icon rm_details_info" style="float:right; position: absolute; top: 5px; right: -4px;"></i>
					</div>
						<div class="box-body" style='overflow:hidden;height:475px;'>					
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom:5px;padding-top:5px; min-height:350px;overflow:hidden;">
								<ul class="nav nav-tabs" role="tablist" id='rawmaterial_info_div'>
								</ul>
								<div class="tab-content  rawmaterial_tab-content" style="height:350px;overflow-y:hidden;overflow-x:hidden;">
								</div>								
							</div>
						</div>
						<div class="rawmaterial_details_overlay overlay" style="display:none;">
						  <img class=" "  title="Temperature" style="   position: absolute; cursor: pointer; bottom: 50%; left: 50%;cursor:pointer; "  src="{% static 'qualitycorrelator/img/gears.gif' %}" />
							<span style="   position: absolute; cursor: pointer; bottom: 45%; left: 45%;cursor:pointer; " >Loading Please Wait....</span>
						</div>
					</div>
				</div>
			</div>				  
		</div>
			
		<div id="ActualvsPredicted" class="tab-pane fade in ">	
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
				<div class=" col-sm-12  col-md-12  col-lg-12" style="padding:4px 0px 4px 0px" >
					<div id="reportrange" class="pull-left col-sm-6 col-md-3 col-lg-2" style="background: #fff; cursor: pointer; padding: 3px 3px; border: 1px solid #ccc; float:right!important">
						<i class="glyphicon glyphicon-calendar fa fa-calendar" style='top:0px !important;'></i>&nbsp;
						<span style='font-size:12px;'></span>
					</div>						
				</div>							
			</div>	
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
				<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12" id="actualvspredicted_div" style="padding:4px 0px 4px 0px;height: 400px;margin: 1em auto;" >
					
				</div>							
			</div>	





			
		</div>
			



	</div>	


		
	 <script>
		var total_li_count=0;
		 var content=''
		 var start_index=1
		 var end_index=3
		 var ul_start_index=1
		 var ul_end_index=3
		 var lastclicked_ul=1
		 var lastclicked=1;
		var html = [];
		if($($('.admin_li ').find('i')[0]).hasClass('fa-caret-down')) {
			$($('.menu_ul')[1]).slideToggle('');
			$($('.admin_li ').find('i')[0]).removeClass('fa-caret-down');
			$($('.admin_li ').find('i')[0]).addClass('fa-caret-up'); 
		}
		if($($('.correlator_li').find('i')[0]).hasClass('fa-caret-up')) {
			$($('.menu_ul')[1]).slideToggle('');
			$($('.correlator_li').find('i')[0]).removeClass('fa-caret-up');
			$($('.correlator_li').find('i')[0]).addClass('fa-caret-down');		
			$('.admin_li').find('ul').css('display','none');		
			$('.correlator_li').find('ul').css('display','block');
		}
		page_index=$(".not_mobile")[1]
		$(page_index).addClass("clicked_li")

		$(document).ready(function() {
			$('.main-container1').css('overflow-y','hidden')
			$('.plant').SumoSelect({selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true}).sumo.selectAll(); 
			$('.product').SumoSelect({selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true}).sumo.selectAll(); 
			$('.sbu').SumoSelect({selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true}).sumo.selectAll(); 
			$('.technology').SumoSelect({selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true}).sumo.selectAll(); 
			
			

			
			add_search()
			get_staggedpos_count()
			intialise_datepicker()
			var options = { valueNames: [ 'po_number' ]};
			var userList = new List('po_numbers', options);
			$($($('.po_li')[0]).find('i')).css('display','block')
			$('.po_li').click(function(){
				var _this_li=this;
				$('.po_i').each(function(){$(this).css('display','none')});
				var _this_i=$(_this_li).find('i');
				$(_this_i).css('display','block');
				var batchnumber_val=$(_this_li).data("clicked_po")
				console.log(batchnumber_val)
				get_bulk_quality_parameters(batchnumber_val)
				get_structured_data(batchnumber_val)
			});
			if(typeof($($('.po_li')[0]).data("clicked_po"))!="undefined")
			{
			get_bulk_quality_parameters($($('.po_li')[0]).data("clicked_po"))
			get_structured_data($($('.po_li')[0]).data("clicked_po"))
			}

			else
			{
						$('.general_charecters').html('<li style="font-size:12px; padding-left:15px;font-weight:600">No Data To display<li>');	
						$('.output_charecters').html('<li style="font-size:12px; padding-left:15px;font-weight:600">No Data To display<li>');
						$('#rawmaterial_info_div').html('')
						$('#rawmaterial_info_div').css('border-bottom','0px')
						$('.rawmaterial_tab-content').html('<li style="font-size:12px; padding-left:15px;font-weight:600;list-style:none;">No Data To display<li>')
			}

		});
	 
		$('.plant').change(function(){
				$('.sbu').SumoSelect().sumo.disable();
				$('.technology').SumoSelect().sumo.disable();
				$('.product').SumoSelect().sumo.disable();
				$('.batchnumber_overlay').css('display','block');

				Data=filter_change_data('plant');
				$.ajax({
				method: "GET",
				url: "/qualitycorrelator/get_filter_data/",
				data:Data,
				success: function(result_data) {
					Data=result_data;
					sbu_list=Data['sbu_list'];
					technology_list=Data['technology_list'];
					product_list=Data['product_list'];
					batchnumber_list=Data['batchnumber_list']
					filter_render('.sbu',sbu_list);
					filter_render('.technology',technology_list);				
					filter_render('.product',product_list);	
					if(batchnumber_list.length>0){
						creation_batchnumber_list(batchnumber_list);	
						$('.batchnumber_overlay').css('display','none');
						get_staggedpos_count()
						get_bulk_quality_parameters(batchnumber_list[0]);
						get_structured_data(batchnumber_list[0])	
						compare_actual_predicted()
					}
					else{
						$('.batchnumber_ul').html('<li style="font-size:12px ;padding-left:15px;font-weight:600">No Data To display<li>');
						$('.batchnumber_overlay').css('display','none');
						$('.general_charecters').html('<li style="font-size:12px; padding-left:15px;font-weight:600">No Data To display<li>');	
						$('.output_charecters').html('<li style="font-size:12px; padding-left:15px;font-weight:600">No Data To display<li>');
						$('.Total_count').text(0);$('.A_count').text(0);$('.B_count').text(0);$('.C_count').text(0);$('.D_count').text(0);
						$('#rawmaterial_info_div').html('')
						$('#rawmaterial_info_div').css('border-bottom','0px')
						$('.rawmaterial_tab-content').html('<li style="font-size:12px; padding-left:15px;font-weight:600;list-style:none;">No Data To display<li>')
					}
				}
				});
		});
			
		$('.sbu').change(function(){
				$('.technology').SumoSelect().sumo.disable();
				$('.product').SumoSelect().sumo.disable();
				$('.batchnumber_overlay').css('display','block');
				Data=filter_change_data('sbu');
				$.ajax({
				method: "GET",
				url: "/qualitycorrelator/get_filter_data/",
				data:Data,
				success: function(result_data) {
					Data=result_data;
					technology_list=Data['technology_list'];
					product_list=Data['product_list'];
					batchnumber_list=Data['batchnumber_list'];
					filter_render('.technology',technology_list);				
					filter_render('.product',product_list);	
					if(batchnumber_list.length>0){
						creation_batchnumber_list(batchnumber_list);	
						$('.batchnumber_overlay').css('display','none');
						get_staggedpos_count()
						get_bulk_quality_parameters(batchnumber_list[0]);
						get_structured_data(batchnumber_list[0])	
						compare_actual_predicted()
					}
					else{
						$('.batchnumber_ul').html('<li style="font-size:12px ;padding-left:15px;font-weight:600">No Data To display<li>');
						$('.batchnumber_overlay').css('display','none');
						$('#rawmaterial_info_div').css('border-bottom','0px')
						$('.general_charecters').html('<li style="font-size:12px; padding-left:15px;font-weight:600">No Data To display<li>');	
						$('.output_charecters').html('<li style="font-size:12px; padding-left:15px;font-weight:600">No Data To display<li>');
						$('.Total_count').text(0);$('.A_count').text(0);$('.B_count').text(0);$('.C_count').text(0);$('.D_count').text(0);
					}
					
					
				}
				});
		});		
			
		$('.technology').change(function(){
				$('.product').SumoSelect().sumo.disable();
				$('.batchnumber_overlay').css('display','block');
				Data=filter_change_data('technology');
				$.ajax({
				method: "GET",
				url: "/qualitycorrelator/get_filter_data/",
				data:Data,
				success: function(result_data) {
					Data=result_data;
					product_list=Data['product_list'];		
					batchnumber_list=Data['batchnumber_list'];
					filter_render('.product',product_list);	

					
					
					
					if(batchnumber_list.length>0){
						creation_batchnumber_list(batchnumber_list);
						$('.batchnumber_overlay').css('display','none');
						get_staggedpos_count()
						get_bulk_quality_parameters(batchnumber_list[0]);
						get_structured_data(batchnumber_list[0])
						compare_actual_predicted()
					}
					else{
						$('.batchnumber_ul').html('<li style="font-size:12px ;padding-left:15px;font-weight:600">No Data To display<li>');
						$('.batchnumber_overlay').css('display','none');
						$('#rawmaterial_info_div').css('border-bottom','0px')
						$('.general_charecters').html('<li style="font-size:12px; padding-left:15px;font-weight:600">No Data To display<li>');	
						$('.output_charecters').html('<li style="font-size:12px; padding-left:15px;font-weight:600">No Data To display<li>');
						$('.Total_count').text(0);$('.A_count').text(0);$('.B_count').text(0);$('.C_count').text(0);$('.D_count').text(0);
					}
					
					
					
				}
				});
		});			
			
		$('.product').change(function(){
				$('.batchnumber_overlay').css('display','block');
				Data=filter_change_data('product');
				$.ajax({
				method: "GET",
				url: "/qualitycorrelator/get_filter_data/",
				data:Data,
				success: function(result_data) {
					Data=result_data;
					batchnumber_list=Data['batchnumber_list'];			

						if(batchnumber_list.length>0){
							creation_batchnumber_list(batchnumber_list);	
							$('.batchnumber_overlay').css('display','none');
							get_staggedpos_count()
							get_bulk_quality_parameters(batchnumber_list[0]);
							get_structured_data(batchnumber_list[0])
							compare_actual_predicted()					
						}
						else{
							$('.batchnumber_ul').html('<li style="font-size:12px ;padding-left:15px;font-weight:600">No Data To display<li>');
							$('.batchnumber_overlay').css('display','none');
							$('#rawmaterial_info_div').css('border-bottom','0px')
							$('.general_charecters').html('<li style="font-size:12px; padding-left:15px;font-weight:600">No Data To display<li>');	
							$('.output_charecters').html('<li style="font-size:12px; padding-left:15px;font-weight:600">No Data To display<li>');
							$('.Total_count').text(0);$('.A_count').text(0);$('.B_count').text(0);$('.C_count').text(0);$('.D_count').text(0);
						}
				}
				});
		});
	

	
	
	function output_render(data)
	{

		phase_div='';
		var phase_index=1;
		var  phase_no=1;
		var tab_rawmaterial_li='';
		var tab_rawmaterial_div='';
		for (var key in Object.keys(data))
		{
				key=Object.keys(data)[key]
				
				
				rawmaterial_div='';
				
				process_div='';
				if(key!='GeneralInfo')
				{
					phase_no=key
					rawmaterial_info=data[key]['RawMaterialInfo']
					rawmaterial_ul=''
					var i=1;
					if(phase_index==1){tab_rawmaterial_li=tab_rawmaterial_li+'<li role="presentation" class="active"><a href="#'+phase_no+'" aria-controls="'+phase_no+'" role="tab" data-toggle="tab">'+phase_no+'</a></li>'}
					else{tab_rawmaterial_li=tab_rawmaterial_li+'<li role="presentation" class=""><a href="#'+phase_no+'" aria-controls="'+phase_no+'" role="tab" data-toggle="tab">'+phase_no+'</a></li>'}
					for (var key in Object.keys(rawmaterial_info))
					{
						key=Object.keys(rawmaterial_info)[key]
						rawmaterial_ul=rawmaterial_ul+'<ul  class="rawmaterial_ul" data-ul_index='+i+' data-raw_name='+key+'  style="padding:10px 0px 0px 0px;text-align:left; list-style:none;"><span style="font-size:12px;">RM'+key+':</span>'+createList(rawmaterial_info[key]) +'</ul>'
					}
					if(rawmaterial_ul==''){rawmaterial_ul='<span>No Raw Materials</span>'}		
					rawmaterial_div="<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 rawmaterial_div' style='min-height:200px;'>"+
											"<div  class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='text-align:center;position:relative;min-height:200px; padding:0px; box-shadow:0 1px 4px rgba(0,0,0,0.1)' >"+
													"<h6 style='margin:0px;text-align:justify;padding: 6px 10px;background-color:#EFEFEF;'>Raw Material Info:</h6>"+
													"<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='position:relative;padding-top:10px;'>"+rawmaterial_ul+"</div>"+
											"</div>"+
									"</div>"				
									
					if(phase_index==1){tab_rawmaterial_div=tab_rawmaterial_div+'<div role="tabpanel" class="tab-pane active" id="'+phase_no+'" style="padding:4px 0px 0px 0px">'+rawmaterial_ul+'</div>';phase_div=phase_div+"<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 phase_div' data-phase_index="+phase_index+" style='display:block'>"+"<h6 style='margin: 0px 15px 5px 15px;padding: 8px 10px;border: #f2f2f2 thin solid;box-shadow: 0 1px 1px rgba(0,0,0,0.1);'>Phase:"+phase_no+"</h6>"+rawmaterial_div+"</div>"}				
					else{tab_rawmaterial_div=tab_rawmaterial_div+'<div role="tabpanel" class="tab-pane" id="'+phase_no+'" style="padding:4px 0px 0px 0px">'+rawmaterial_ul+'</div>';phase_div=phase_div+"<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 phase_div' data-phase_index="+phase_index+" style='display:none'>"+"<h6 style='margin: 0px 15px 5px 15px;padding: 8px 10px;border: #f2f2f2 thin solid;box-shadow: 0 1px 1px rgba(0,0,0,0.1);'>Phase:"+phase_no+"</h6>"+rawmaterial_div+"</div>"}						
					end_index=phase_index;
					phase_index=phase_index+1;
								
				}

		}

		
		var output_bottom="<div  class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='padding-top:5px;padding-bottom:5px;'>"+
							"<i class='fa fa-caret-left previous' style='position:absolute;top:50%;left:5px;font-size:30px;cursor:pointer;color:#CCC'></i>"+
							"<i class='fa fa-caret-right next' style='position:absolute;top:50%;right:5px;font-size:30px;cursor:pointer;color:#0986F3'></i>"+
							phase_div+
							'</div>'
		$('.rawmaterial_div').html(output_bottom);
		$('#rawmaterial_info_div').css('border-bottom','1px solid #EFEFEF')
		$('.rawmaterial_tab-content').html(tab_rawmaterial_div);
		$('#rawmaterial_info_div').html(tab_rawmaterial_li);
		$('#rawmaterial_info_div a').click(function (e) { e.preventDefault(); $(this).tab('show');});
		ul_end_index=$('.phase_div').eq(0).find('.rawmaterial_ul').length
		$('.previous').click(function(){
		if(lastclicked!=start_index){lastclicked=lastclicked-1;$('.phase_div').each(function(){ if($(this).data('phase_index')!=lastclicked){ $(this).css('display','none');} else{  $(this).toggle( 'fade', { direction: 'right' }, 1000 );ul_end_index=$('.rawmaterial_ul',this).length; ccp_ul_end_index=$('.ccp_ul',this).length-1; lastclicked_ul_ccp=1; lastclicked_ul=1;	} });}
		if(lastclicked>start_index&lastclicked<end_index){$('.previous').css('color','#0986F3');$('.next').css('color','#0986F3');} else if(start_index==lastclicked){$('.previous').css('color','#CCC');$('.next').css('color','#0986F3');}
		else{$('.previous').css('color','#0986F3');$('.next').css('color','#CCC');}
		});
		$('.next').click(function(){
		if(lastclicked!=end_index){lastclicked=lastclicked+1;$('.phase_div').each(function(){ if($(this).data('phase_index')!=lastclicked){ $(this).css('display','none'); } else{ $(this).toggle( 'fade',{ direction: 'left' }   , 1000 );ul_end_index=$('.rawmaterial_ul',this).length-1; ccp_ul_end_index=$('.ccp_ul',this).length-1; lastclicked_ul_ccp=1; lastclicked_ul=1; } });}
		if(lastclicked>start_index&lastclicked<end_index){$('.previous').css('color','#0986F3');$('.next').css('color','#0986F3');}else if(start_index==lastclicked){$('.previous').css('color','#CCC');$('.next').css('color','#0986F3');}else{$('.previous').css('color','#0986F3');$('.next').css('color','#CCC');}
		});
		
		$('.raw_up').click(function(){
		if(lastclicked_ul!=ul_start_index){lastclicked_ul=lastclicked_ul-1;$('.rawmaterial_ul').each(function(){ if($(this).data('ul_index')!=lastclicked_ul){ $(this).css('display','none');} else{  $(this).toggle( 'drop', { direction: 'up' }, 500 );	} });}
		if(lastclicked_ul>ul_start_index&lastclicked_ul<ul_end_index){$('.raw_up').css('color','#0986F3');$('.raw_down').css('color','#0986F3');}else if(ul_start_index==lastclicked_ul){$('.raw_up').css('color','#CCC');$('.raw_down').css('color','#0986F3');}else{$('.raw_up').css('color','#0986F3');$('.raw_down').css('color','#CCC');}
		});
		$('.raw_down').click(function(){
		if(lastclicked_ul!=ul_end_index){lastclicked_ul=lastclicked_ul+1;$('.rawmaterial_ul').each(function(){ if($(this).data('ul_index')!=lastclicked_ul){ $(this).css('display','none'); } else{ $(this).toggle( 'drop',{ direction: 'down' }   , 500 );	  } });}
		if(lastclicked_ul>ul_start_index&lastclicked_ul<ul_end_index){$('.raw_up').css('color','#0986F3');$('.raw_down').css('color','#0986F3');}else if(ul_start_index==lastclicked_ul){$('.raw_up').css('color','#CCC');$('.raw_down').css('color','#0986F3');}else{$('.raw_up').css('color','#0986F3');$('.raw_down').css('color','#CCC');}
		});
	
	}	
	


function createList(data) {
	ul_array=[]
	
	if(Object.keys(data).length==0){ul_array.push('<li style="padding:10px 15px;"><span style="font-size:12px;padding-right:4px;">No Data Available</span></li>');return ul_array.join('')}
	else{$.each(data, function(key, val) {if(typeof(val)!='object'){ul_array.push('<li style="padding:10px 15px; list-style:none;"><span style="font-size:12px;padding-right:4px; text-transform:capitalize">' + key+'</span>:');if(val==''){ul_array.push('-NA-'+'</li>');} else{ul_array.push('<span style="font-size:12px;padding-left:4px; word-wrap: break-word;">'+val+'</span></li>');}}  });}
	return ul_array.join('')
}

function get_count_staggedpos()
{
	$.ajax({
	method: "GET",
	url: "/qualitycorrelator/get_filter_data/",
	data:{'SiteID':$('.plant').val(),'Technology':$('.technology').val(),'SBU':$('.sbu').val(),'MaterialNumber':$('.product').val()},
	success: function(result_data) {

	}
	});
}


function get_bulk_quality_parameters(batchnumber_val)
{

$('.po_details_overlay').css('display','block');

	$.ajax({
	method: "GET",
	url: "/qualitycorrelator/get_output_parameters_staggedpos/",
	data:{'SiteID':$('.plant').val(),'Technology':$('.technology').val(),'SBU':$('.sbu').val(),'MaterialNumber':$('.product').val(),'BatchNumber':batchnumber_val},
	success: function(result_data) {
	var output_charecters=result_data['output_parameters']
	var element=''
	var general_charecters_li='';


		for (key in Object.keys(output_charecters))
		{
		element=element+"<li><a href='#' style='color:#222'>"+Object.keys(output_charecters)[key]+":<span class='pull-right'>"+output_charecters[Object.keys(output_charecters)[key]].toFixed(2)+" </span></a></li>"
		}
		$('.output_charecters').html(element);
		var general_li='';
		if(result_data['QualitySegment']=='E' | result_data['QualitySegment']=='G'){general_li=general_li+'<li style="text-align:center;"><a href="#" style="color:#222;padding:10px 5px;"><img class=" "style=""  src="{% static "qualitycorrelator/img/smile.png" %}" /></a></li>'}
		else{general_li=general_li+'<li  style="text-align:center;><a href="#" style="color:#222;padding:10px 5px;"><img class=" "style=""  src="{% static "qualitycorrelator/img/sad.png" %}" /></a></li>';}	
		if(result_data['QualitySegment']=='E'){value='A(Excellent)'; general_li=general_li+'<li><a href="#" style="color:#222;padding:10px 5px;">QualitySegment:<span class="pull-right">'+value+'</span></a></li>'	;} 
		if(result_data['QualitySegment']=='G'){value='B(Good)';general_li=general_li+'<li><a href="#" style="color:#222;padding:10px 5px;">QualitySegment:<span class="pull-right">'+value+'</span></a></li>';	} 
		if(result_data['QualitySegment']=='B'){value='C(Bad)';general_li=general_li+'<li><a href="#" style="color:#222;padding:10px 5px;">QualitySegment:<span class="pull-right">'+value+'</span></a></li>';	} 
		if(result_data['QualitySegment']=='P'){value='D(Poor)';general_li=general_li+'<li><a href="#" style="color:#222;padding:10px 5px;">QualitySegment:<span class="pull-right">'+value+'</span></a></li>';}
		general_li=general_li+'<li><a href="#" style="color:#222;padding:10px 5px;">QualityScore:<span class="pull-right">'+result_data['AvgQualityScore'].toFixed(2)+'</span></a></li>';
		$('.general_charecters').html(general_li);	
		$('.general_charecters').html(general_li)
		output_render(result_data['op_dict']);
		if(result_data['QualitySegment']=='E'){$('.A_class').css('fill','#00B050');$('.B_class').css('fill','#EFEFEF');$('.C_class').css('fill','#EFEFEF');$('.D_class').css('fill','#EFEFEF')}
		else if(result_data['QualitySegment']=='G'){$('.A_class').css('fill','#EFEFEF');$('.B_class').css('fill','#f39c12');$('.C_class').css('fill','#EFEFEF');$('.D_class').css('fill','#EFEFEF')}
		else if(result_data['QualitySegment']=='B'){$('.A_class').css('fill','#EFEFEF');$('.B_class').css('fill','#EFEFEF');$('.C_class').css('fill','#f8963f');$('.D_class').css('fill','#EFEFEF')}
		else{$('.A_class').css('fill','#EFEFEF');$('.B_class').css('fill','#EFEFEF');$('.C_class').css('fill','#EFEFEF');$('.D_class').css('fill','#C43232')}
		$('.po_details_overlay').css('display','none');
		$('.rawmaterial_details_overlay').css('display','none');


	}
	});
}

function get_batchnumbers_click(segment)
{
	Data=filter_change_data('product');
	Data['QualitySegment']=segment
	$.ajax({
	method: "GET",
	url: "/qualitycorrelator/get_batchnumbers_staggedpos_segment/",
	data:Data,  //{'SiteID':$('.plant').val(),'Technology':$('.technology').val(),'SBU':$('.sbu').val(),'MaterialNumber':$('.product').val(),'QualitySegment':segment},
	success: function(result_data) {
		batchnumber_list=result_data	
		creation_batchnumber_list(batchnumber_list)
		get_bulk_quality_parameters(batchnumber_list[0])
		get_structured_data(batchnumber_list[0])
	}
	});
}



function compare_actual_predicted()
{
	Data=filter_change_data('product');

	$.ajax({
	method: "GET",
	url: "/qualitycorrelator/compare_actual_predicted/",
	data:Data, 
	success: function(result_data) {
			actualvspredicted(result_data)
	}
	});
}





function get_staggedpos_count()
{
	$.ajax({
	method: "GET",
	url: "/qualitycorrelator/get_count_staggedpos/",
	data:{'plant_list':$('.plant').val(),'technology_list':$('.technology').val(),'sbu_list':$('.sbu').val(),'product_list':$('.product').val(),'BatchNumber':$('.batchnumber').val()},
	success: function(result_data) {
		console.log(result_data)
		//for (key in Object.keys(result_data))
		//{
			if(	$.inArray('Total',Object.keys(result_data))!=-1 ){$('.Total_count').text(result_data['Total'])}else{$('.Total_count').text(0)}
			if( $.inArray('E',Object.keys(result_data))!=-1 ){$('.A_count').text(result_data['E'])}else{$('.A_count').text(0)}
			if( $.inArray('G',Object.keys(result_data))!=-1 ){$('.B_count').text(result_data['G'])}else{$('.B_count').text(0)}
			if( $.inArray('B',Object.keys(result_data))!=-1 ){$('.C_count').text(result_data['B'])}else{$('.C_count').text(0)}
			if( $.inArray('P',Object.keys(result_data))!=-1 ){$('.D_count').text(result_data['P'])}else{$('.D_count').text(0)}
		
		//}

	}
	});


}




	function creation_batchnumber_list(data)
	{
		batchnumber_li='';
		
		if(data.length>0)
		{
		for(i=0;i<data.length;i++)
		{
		var display_val='none';
		if(i==0){display_val='block';}
		batchnumber_li=batchnumber_li+'<li class="po_li" style="padding:10px 15px;border-bottom: 1px solid #efefef; cursor:pointer;" data-clicked_po="'+batchnumber_list[i]+'">'+
											'<span class="po_number" style="font-size:12px;padding-right:4px;text-transform:capitalize; padding-left:5px;">'+batchnumber_list[i]+'</span>'+
											'<i class="fa fa-caret-right po_i" style="font-size:15px;cursor:pointer;color:#0986F3;float:left;display:'+display_val+'"></i>'+
										'</li>';			
		}
		}
		else
		
		{
		
		batchnumber_li='<li class="po_li" style="padding:10px 15px;border-bottom: 1px solid #efefef; cursor:pointer;" data-clicked_po="">'+
											'<span class="po_number" style="font-size:12px;padding-right:4px;text-transform:capitalize; padding-left:5px;">No Batch Number</span>'+
											'<i class="fa fa-caret-right po_i" style="font-size:15px;cursor:pointer;color:#0986F3;float:left;display:none;"></i>'+
										'</li>';
		}
		$('.batchnumber_ul').html(batchnumber_li);
		$('.batchnumber_overlay').css('display','none');
			$('.po_li').click(function(){
				var _this_li=this;
				$('.po_i').each(function(){$(this).css('display','none')});
				var _this_i=$(_this_li).find('i');
				$(_this_i).css('display','block');
				var batchnumber_val=$(_this_li).data("clicked_po")
				get_bulk_quality_parameters(batchnumber_val)
				get_structured_data(batchnumber_val)
			});
		var options = { valueNames: [ 'po_number' ]};
		var userList = new List('po_numbers', options);
	}




	function get_structured_data(batchnumber_val)
	{
	$('.rawmaterial_details_overlay').css('display','block');
		$.ajax({
		method: "GET",
		url: "/qualitycorrelator/get_staggedpos_structured_data/",
		data:{'po_number':batchnumber_val},
		success: function(result_data) {
		output_render(result_data['op_dict'])				
		}
		});	
	
	}

$('.kpis_div').click(function(){
	segment=$(this).data('segment');
	get_batchnumbers_click(segment);
});

	$('.batchnumbers_info').popover({
		container: 'body',
		content: function() {
			var $el = $('<div id="#my-popover-div"></div>');
			$el.append('<span style="font-size:12px; text-align:justify">The list of Batch Numbers for the Selected Plant and Product.</span>');
			return $el;
		},
		placement: 'left',
		html: true,
		trigger: "hover"
	});
	
	$('.rm_details_info').popover({
		container: 'body',
		content: function() {
			var $el = $('<div id="#my-popover-div"></div>');
			$el.append('<span style="font-size:12px; text-align:justify">Detailed information on the Raw Material, Process, operators and environment of the selected phase.</span>');
			return $el;
		},
		placement: 'left',
		html: true,
		trigger: "hover"
	});

	$('.stagged_po_info').popover({
		container: 'body',
		content: function() {
			var $el = $('<div id="#my-popover-div"></div>');
			$el.append('<span style="font-size:12px; text-align:justify">The Process Order details for the selected Bulk Batch.</span>');
			return $el;
		},
		placement: 'left',
		html: true,
		trigger: "hover"
	});

	$('.output_details_info').popover({
		container: 'body',
		content: function() {
			var $el = $('<div id="#my-popover-div"></div>');
			$el.append('<span style="font-size:12px; text-align:justify">This Quality Parameter information for the selected batch.</span>');
			return $el;
		},
		placement: 'left',
		html: true,
		trigger: "hover"
	});








function actualvspredicted(Data)
{
	
$('#actualvspredicted_div').highcharts
({
chart: {type: 'heatmap',marginTop: 20, marginBottom: 50,backgroundColor:'rgb(239, 239, 239)' },
title: { text: null },
exporting: { enabled: false },
credits: { enabled: false},
xAxis: { categories: ['A','B','C','D'],title: {text: 'Predicted'}  },
yAxis: {categories: ['A','B','C','D'] ,title: {text: 'Actual'} },
colorAxis: {  min: 0, minColor: '#FFFFFF', maxColor: Highcharts.getOptions().colors[0]  }, legend: {enabled:false },
series: [{   name: 'ActualvsPredicted ',borderWidth: 1, data:Data ,dataLabels: { enabled: true, color: 'black', style: { textShadow: 'none'} }  }]

});	


	
	
}



	</script>
	
	
{% endblock %}