<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>Henkel- Quality Correlator</title>
	{% load staticfiles %}
	<link rel="shortcut icon" href="{% static 'qualitycorrelator/img/favicon.ico' %}"/>
	<link rel="stylesheet" href='{% static "qualitycorrelator/css/bootstrap.min.css" %}' /> 
	<link rel="stylesheet" href='{% static "qualitypulse/css/bootstrap.min.css" %}' />
	<link rel="stylesheet" href='{% static "qualitypulse/datatables/media/css/dataTables.bootstrap.min.css"%}'type="text/css" />
	<link rel="stylesheet" href='{% static "qualitycorrelator/css/style.css" %}' />
	<script src='{% static "qualitycorrelator/js/jquery2.js" %}'></script>
	<script src='{% static "qualitycorrelator/js/jquery-ui.js" %}'></script>
	<script src='{% static "qualitycorrelator/js/bootstrap.min.js" %}'></script>
	<link rel="stylesheet" href='{% static "qualitycorrelator/multiselect/sumoselect.css" %}' />
	<script src='{% static "qualitycorrelator/multiselect/jquery-sumoselect-min.js" %}'></script>
	<!-- <script src='{% static "qualitypulse/js/highcharts.js" %}'></script> -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/heatmap.js"></script>
	<script src="https://highcharts.github.io/pattern-fill/pattern-fill-v2.js"></script>

	<script src='{% static "qualitycorrelator/js/moment.js" %}'></script>	
	<script src='{% static "qualitycorrelator/js/daterangepicker.js" %}'></script>
	<link rel="stylesheet" href='{% static "qualitycorrelator/css/daterangepicker.css" %}' />
	

	<script type="text/javascript" src= '{% static "qualitypulse/datatables/media/js/jquery.dataTables.min.js"%}'></script>	
	<script type="text/javascript" src= '{% static "qualitypulse/datatables/extensions/Responsive/js/dataTables.responsive.min.js"%}'></script>
	<script type="text/javascript" src= '{% static "qualitypulse/datatables/extensions/Responsive/js/responsive.bootstrap.min.js"%}'></script>
	<script type="text/javascript" src= '{% static "qualitypulse/datatables/rowGroup.js"%}'></script>
	<!--<script src="//cdn.rawgit.com/ashl1/datatables-rowsgroup/v1.0.0/dataTables.rowsGroup.js"></script>-->
	{% block css-required %}{% endblock %}
	{% block js-required %}{% endblock %}
	<link rel="stylesheet" href='{% static "qualitycorrelator/slider/css/animated.css" %}' />
	<script src='{% static "qualitycorrelator/slider/js/jquery.jSlider.min.js" %}'></script>
	<script src='{% static "qualitycorrelator/intro.js/intro.js" %}'></script>
	<link rel="stylesheet" href='{% static "qualitycorrelator/css/font-awesome-4.5.0/css/font-awesome-min.css" %}' />	
	<link rel="stylesheet" href='{% static "qualitycorrelator/css/daterangepicker.css" %}' />
	<script src='{% static "qualitycorrelator/js/list_min.js" %}'></script>
	<script src='{% static "qualitycorrelator/js/henkel_js.js" %}'></script>	  
	<script type="text/javascript" src= '{% static "qualitycorrelator/js/d3.v3.min.js"%}'></script>
	<script type="text/javascript" src= '{% static "qualitycorrelator/js/rca_new.js"%}'></script>
   <link rel="stylesheet" href='{% static "qualitypulse/intro.js/introjs.css" %}' />

</head>
<body style="overflow-y:hidden;font-family:sans-serif; font-size:12px ! important;">

		<div class="row" style=" margin:0px !important; border-bottom:1px solid #EFEFEF">	
			
			<div class="  col-lg-1 col-md-1 col-sm-2 col-xs-2 top_bar " style="padding:0px;"><img class="company_logo" src="{% static 'qualitycorrelator/img/HenkelLogo.jpg' %}" alt="LOGO"/> </div>
			<div class="  col-lg-2 col-md-2 col-sm-2 col-xs-2 left top_bar  " style=" padding:0px; text-align:left; "><a href="/qualitycorrelator/rootcauseanalysis/" class="brand-logo ">Quality Correlator <sub style='font-size:8px; display:none;'>Powered by Flutura</sub></a></div>
			<div class=" col-lg-4 col-md-4 col-sm-4 top_bar hidden-xs "  ><a class="" href="javascript:void(0);" onclick="$('#info_modal').modal('show')" style='text-decoration:none;color: #2D323E;float:right;display:block;'><i class="fa fa-info-circle i_demo" style=" padding-right: 4px;"></i>Tour</a></div>
			<div class=" col-lg-5 col-md-5 col-sm-5 top_bar  padzero" style="padding:0px;">
				<div class="col-lg12 col-md-12 col-sm-12 top_bar">
					<div class="  col-lg-6 col-md-6 col-sm-5 top_bar padzero hidden-xs" style="">  <div class="  col-lg-11 col-md-11 col-sm-11 top_bar padzero" style="text-align:left;">  <span class='data_sync'>Data Sync: </span ><span class='data_sync'>{{syncdate}}</span> </div> </div>
					<!--<div class=" col-lg-3 col-md-3 col-sm-3 top_bar padzero" ><span class="user_name" style="float:right">{{appuser}}</span></div>
					<div class=" col-lg-3 col-md-3 col-sm-3 top_bar " ><a class='dropdown-button ' href='#' data-activates='dropdown1'> <img class="user_logo dropdown-toggle" src="{% static 'qualitycorrelator/img/UserLogo.png' %}" data-toggle="dropdown" alt="LOGO"/></a></div>-->
			<div class="col-lg-4 col-md-4 col-sm-4 top_bar chip">		
					  <img src="{% static 'qualitycorrelator/img/UserLogo.png' %}" alt="Person" class="user_logo dropdown-toggle">
					  <!-- <img src="{% static 'qualitycorrelator/img/Michael.jpg' %}" alt="Person" class="user_logo dropdown-toggle"> -->
					  <span id="UserName" class="user_name">{{appuser}}</span>		
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 top_bar btn" ><a class='logout-click1' href='#'></a>		
						<input type="button" class="logout-click" id="LogOut" value="Log out" style="padding: 3px 10px 16px 11px;margin-top: 8% !important; height:33px;color: #555;background-color: #f3f0f0;" />		
					</div>
			   </div>
			</div>

		</div>
		<div class="row main-container " style="overflow-y:hidden ;margin:0px !important" >
			<div class="row main-container " style="margin:0px !important; background-color:rgb(243,240,240);overflow:hidden; ">
				<div class=" col-sm-2 col-md-1 col-lg-1 col-xs-1 hidden-xs-down main-container-sidebar  " style="padding:0px;  background-color:rgb(251, 249, 249);">
					<!--<ul class="" style="margin:0px !important; padding: 0px !important;list-style-type: none;">
						<a href='/qualitycorrelator/rootcauseanalysis/?username={{appuser}}' style='text-decoration:none'><li class="menu_li not_mobile truncate" title="OverView"><i class="fa fa-cubes sidemenu_i " ></i><br><span class='spanmargin hidden-xs'>Root Cause Analysis</span></li></a>
						<a href='/qualitycorrelator/stagged_pos/?username={{appuser}}' style='text-decoration:none'><li class="menu_li not_mobile truncate" title="PlantView"><i class="fa fa-dashboard sidemenu_i "></i><br><span class='spanmargin hidden-xs'>Stagged PO's</span></li></a>
						<a href='/qualitycorrelator/output_to_input/?username={{appuser}}' style='text-decoration:none'><li class="menu_li not_mobile truncate" title="ResourceView"><i class="fa fa fa-laptop sidemenu_i"></i><br><span class='spanmargin hidden-xs'>Output_Input</span></li></a>
						<a href='/qualitycorrelator/input_to_output/?username={{appuser}}' style='text-decoration:none'><li class="menu_li not_mobile truncate" title="LineView"><i class=" fa fa-edit sidemenu_i" ></i><br><span class='spanmargin hidden-xs'>Input_Output</span></li></a>

					</ul>-->
					{% if pages_dict %}
						<ul class="" style="margin:0px !important; padding: 0px !important;list-style-type: none;">
						{% for module,pages_list in pages_dict.items %}

							<li class=
							{% if module == 'Correlator' %}
							   {{"correlator_li"}}
							{% endif %}
							{% if module == 'Administrator' %}
							   {{"admin_li"}}
							{% endif %}

							 title="{{module}}" style="rgba(245, 244, 244, 0.91);border-bottom:1px solid #EFEFEF" ><span class='spanmargin' style="color:#337ab7; margin-right:5px; margin-left: 5px;">{{module}}</span><i class="fa fa-caret-up menu_i sidemenu_i {% if module == 'Correlator' %}correlator_li_btn{% endif %}{% if module == 'Administrator' %}admin_li_btn{% endif %} " 

							style="color:#337ab7;padding:15px 0px;cursor:pointer; font-size: 10px !important;" ></i>
							<ul class="menu_ul" style="margin:0px !important; padding: 0px !important;list-style-type: none; display:none;">
							 {% for page_list in pages_list %}
								{% if module == 'Administrator' %}
								<a href="{{page_list.3}}&module=qualitycorrelator1" style='text-decoration:none'><li class="menu_li not_mobile truncate" title="{{page_list.1}}" style="border-top:1px solid #EFEFEF"><i class="fa {{page_list.2}} menu_i sidemenu_i " ></i><br><span class='spanmargin'>{{page_list.1}}</span></li></a>
								{% else %}
								<a href="{{page_list.3}}" style='text-decoration:none'><li class="menu_li not_mobile truncate" title="{{page_list.1}}" style="border-top:1px solid #EFEFEF"><i class="fa {{page_list.2}} menu_i sidemenu_i " ></i><br><span class='spanmargin'>{{page_list.1}}</span></li></a>
								{% endif %}
							{% endfor %} 
							</ul>
							</li>

						{% endfor %}
						</ul>
					{% endif %}
				</div>
				<div class=" col-sm-10 col-md-11 col-lg-11 col-xs-11 padzero filters-container filter_bar" >
							{% block filters-container %}{% endblock %}
				</div>

				<div class=" col-sm-10 col-md-11 col-lg-11 col-xs-11 main-container1" style="padding:5px; overflow-y:scroll;overflow-x:hidden;background-color:#EFEFEF">
						{% block main-container1 %}{% endblock %}

				</div>
			</div>
		</div>
		
<!-- 	<!-- Start Copyright -->
 		<div class="copyright">
			<!-- <span class="left">Powered By Cerebra Signal Studio.</span> -->
			<span  style='float:right; color:#FFF !important'>&copy; 2016 Flutura Business Solutions Pvt Ltd. All Rights Reserved.</span>
		</div> 
	<!-- End Copyright -->

	<!------------------------modal window for app explanation------------------------------------------------>	
	
	<div id="info_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				  <div class="modal-header">
				<img style="width:24px;"src="{% static 'qualitypulse/img/favicon1.png' %}" alt="LOGO"/>	<span style="padding:0px 4px 0px 4px;font-size:14px">Henkel Quality Correlator:</span><span style="padding:0px 4px 0px 4px;font-size:14px">OverView Of Application</h5>
				<button type="button" class="close tour_modal_close"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  </div>
				  <div class="modal-body" id='modal_container' style='background:#FFF;min-height:270px;max-height:500px; overflow: scroll;'>
					<div class="col-md-12 col-lg-12" id='info_modal_content'>
						<p style='text-align:justify;font-size:12px;line-height:28px;'>Quality Correlator is a nano application which provides the following four features.</p>
						<p style='text-align:justify;font-size:12px;line-height:28px;'>1.	Root Cause Analysis for the bulk process order to enhance the detail analysis on the Bulk process order.<br> 
						2.	It also predicts the quality of the bulk PO when it is staged using the staging information of the raw materials to help improve the staging and kitting of the raw materials for the process.<br> 
						3.	It predicts the output quality of the bulk using the raw materials information, process parameters and so on to simulate and understand if any of the parameters effect the quality score?<br>
						4.	It has a feature to provide information of the best bulk PO in history which matches the given quality parameter.</p>
					</div> 
				  </div>
				  <div class="modal-footer">
					<button type="button" class="start_tour"><span aria-hidden="true">Start Tour</span></button>
				  </div>
			</div>
	  </div>
	</div>
	
	<!------------------------modal window for PO Summary------------------------------------------------>	
	
	<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close modal_close"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="gridSystemModalLabel">Quality Drill Down</h4>
				  </div>
				  <div class="modal-body" id='modal_container' style='background:#EFEFEF;min-height:400px;max-height:500px; overflow: scroll;'>
						<div class="row">
							<div class="col-md-6">
								<div class="col-sm-12 col-md-12 col-lg-12 tile_title_bar border_bottom" style="background:#FFF" >
									<div class="col-sm-11 col-md-11 col-lg-11 padzero" >
										<span class="charts_heading modal_span">Poor Quality By Line</span>
									</div>
									<div class="col-sm-1 col-md-1 col-lg-1 padzero ">
										<i class="fa fa-info-circle info_icon modal_chart1_info" style='float:left'></i>
									</div>
									
								</div>
								<div class='col-sm12 col-md-12' id='modal_div_container1' style="min-height:220px;padding: 0px 0px 10px 0px;">
								</div>
							</div>
							<div class="col-md-6">
								<div class="col-sm-12 col-md-12 col-lg-12 tile_title_bar border_bottom" style="background:#FFF" >
									<div class="col-sm-11 col-md-11 col-lg-11 padzero" >
										<span class="charts_heading modal_span">Poor Quality By Line</span>
									</div>
									<div class="col-sm-1 col-md-1 col-lg-1 padzero ">
										<i class="fa fa-info-circle info_icon modal_chart2_info" style='float:left'></i>
									</div>
									
								</div>
								<div class='col-sm12 col-md-12' id='modal_div_container2' style="min-height:220px;padding: 0px 0px 10px 0px;">
								</div>
							</div>
							<div class="col-md-12">
								<div class="col-sm-12 col-md-12 col-lg-12 tile_title_bar border_bottom" style="background:#FFF" >
									<div class="col-sm-11 col-md-11 col-lg-11 padzero" >
										<span class="charts_heading modal_span">Poor Quality By Line</span>
									</div>
									<div class="col-sm-1 col-md-1 col-lg-1 padzero">
										<i class="fa fa-info-circle info_icon modal_chart3_info" style='float:right;padding-right:20px;'></i>
									</div>
									
								</div>
								<div class='col-sm12 col-md-12' id='modal_div_container3' style="min-height:220px; padding: 0px 0px 0px 0px;">
								</div>
							</div> 
						</div>
				  </div>
				  <div class="modal-footer">
					
				  </div>
			</div>
	  </div>
	</div>

	<!------------------------modal window for RCA------------------------------------------------>	
	
	<div id="rejected_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				  <div class="modal-header">
				  <span class=" " style="font-size:14px">Off Spec Batch Details</span>
					<button type="button" class="close rejected_modal_close"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  </div>
				  <div class="modal-body" id='modal_container' style='background:#FFF;min-height:270px;max-height:500px; overflow: scroll;'>
					<div class="col-md-12 col-lg-12">
						<div class='col-sm-12 col-md-12'id='rejected_modal_div_container1' style="min-height:250px; padding: 0px 0px 0px 0px;">
						</div>						
					</div> 
				  </div>
			</div>
	  </div>
	</div>

	<!------------------------modal window for Stagged PO's------------------------------------------------>	
	
	<div id="rejected_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				  <div class="modal-header">
				  <span class=" " style="font-size:14px">Off Spec Batch Details</span>
					<button type="button" class="close rejected_modal_close"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  </div>
				  <div class="modal-body" id='modal_container' style='background:#FFF;min-height:270px;max-height:500px; overflow: scroll;'>
					<div class="col-md-12 col-lg-12">
						<div class='col-sm-12 col-md-12'id='rejected_modal_div_container1' style="min-height:250px; padding: 0px 0px 0px 0px;">
						</div>						
					</div> 
				  </div>
			</div>
	  </div>
	</div>

	<!------------------------modal window for Output_Input Analysis------------------------------------------------>	
	
	<div id="rejected_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				  <div class="modal-header">
				  <span class=" " style="font-size:14px">Off Spec Batch Details</span>
					<button type="button" class="close rejected_modal_close"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  </div>
				  <div class="modal-body" id='modal_container' style='background:#FFF;min-height:270px;max-height:500px; overflow: scroll;'>
					<div class="col-md-12 col-lg-12">
						<div class='col-sm-12 col-md-12'id='rejected_modal_div_container1' style="min-height:250px; padding: 0px 0px 0px 0px;">
						</div>						
					</div> 
				  </div>
			</div>
	  </div>
	</div>

	<!------------------------modal window for Input_Output Analysis------------------------------------------------>	
	
	<div id="rejected_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				  <div class="modal-header">
				  <span class=" " style="font-size:14px">Off Spec Batch Details</span>
					<button type="button" class="close rejected_modal_close"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  </div>
				  <div class="modal-body" id='modal_container' style='background:#FFF;min-height:270px;max-height:500px; overflow: scroll;'>
					<div class="col-md-12 col-lg-12">
						<div class='col-sm-12 col-md-12'id='rejected_modal_div_container1' style="min-height:250px; padding: 0px 0px 0px 0px;">
						</div>						
					</div> 
				  </div>
			</div>
	  </div>
	</div>


<style>
	.chip {		
	    display: inline-block;		
	    padding: 0 25px;		
	    height: 35px;		
	    font-size: 12px;		
	    margin: 6px 10px 0 -25px;		
	    line-height: 35px;		
	    border-radius: 25px;		
	    color: black;		
	}		
	.chip {		
	    color: #767676 !important;		
	}		
	.chip img {		
	    float: left;		
	    margin: 0px 0px 0 -25px;		
	    height: 35px;		
	    width: 50px;		
	    <!-- border-radius: 34%; -->
	}		
	.chip span {		
	    float: left;		
	    margin: 0px 10px 0 -25px;		
	    height: 35px;		
	    width: 50px;		
	    border-radius: 50%;		
	}
	.user_name{
		position:relative;
		left:2em;
	}
	
	#tree_stats svg {
		width: 100%;
		position: relative;
		right: 10%;
		padding-left: 45px;
	}
	#tree_stats svg:hover {
		overflow: scroll;
	}
	.link {
		fill: none;
		stroke: lightgray;
		stroke-width: 1.5px;
	}
	
	.inner-addon input::-ms-clear {
		display: none;
	}
	
	.gain-table-heading {
		border: 1px solid #ddd;
		padding: 10px;
		box-shadow: 0px 0px 7px rgba(0,0,0,0.1) inset;
		border-radius: 2px;
		margin-bottom: 5px;
		text-align: center;
	}
	
	.stats-cat-name {
		color: white;
	}
	
	#product-details {
		position: relative;
		top: 15px;
		padding-left: 20px;
	}
	
	#common-modal .modal-footer {
		background: #fff;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
</style>



	
<script src='{% static "qualitycorrelator/js/henkel_js.js" %}'></script>	
	<script>
	var rej_cnt=0
	var com_cnt=0

	$(document).ready(function() {
		set_layout();	
	});
	function set_layout(){

		$(".main-container").height($(window).height()-70);
		$(".main-container1").height(10+$(".main-container").height()-$(".filters-container").height());
	
		$(".main-container-sidebar").height( $(".main-container1").height()+$(".filters-container").height()+2);
	}
	
	$(window).resize(function(){
		set_layout();
	});
	set_layout();		

	$('.start_tour').click(function(){
		console.log('inside start tour');
		$('#info_modal').modal('hide');
		introJs().start();
	});

	$(".tour_modal_close").click(function(){
		$('#info_modal').modal('hide');
	});		
	$('.correlator_li_btn').click(function(){
		$($('.menu_ul')[0]).slideToggle('');
		
		if($($('.correlator_li ').find('i')[0]).hasClass('fa-caret-up') ) {
			$($('.correlator_li ').find('i')[0]).removeClass('fa-caret-up');
			$($('.correlator_li ').find('i')[0]).addClass('fa-caret-down');		
			$('.admin_li').find('ul').css('display','none');
			$('.correlator_li').find('ul').css('display','block');
		}
		
		else{ 
			$($('.correlator_li ').find('i')[0]).removeClass('fa-caret-down') ;
			$($('.correlator_li ').find('i')[0]).addClass('fa-caret-up');  
		}

	});
	$('.admin_li_btn').click(function() {
		$($('.menu_ul')[1]).slideToggle(''); 
		if($($('.admin_li ').find('i')[0]).hasClass('fa-caret-up') ) {
			$($('.admin_li ').find('i')[0]).removeClass('fa-caret-up');
			$($('.admin_li ').find('i')[0]).addClass('fa-caret-down'); 
			$('.rawmaterial_li').find('ul').css('display','none');		
			$('.correlator_li').find('ul').css('display','none');
			$($('.correlator_li').find('i')[0]).removeClass('fa-caret-down').addClass('fa-caret-up'); 
			$('.admin_li').find('ul').css('display','block');	
		}
		else { 
			$($('.admin_li ').find('i')[0]).removeClass('fa-caret-down');
			$($('.admin_li ').find('i')[0]).addClass('fa-caret-up'); 
			$('.admin_li').find('ul').css('display','none');		
		}
	});
	$('.logout-click').click(function() {
		  console.log("logout clicked");
		  window.location.href = "/user_mod/logout/";
	})
</script>
  </body>
</html>
