body, html {
    height: 100%;
    background-repeat: no-repeat;
    /*background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
}

h4 {
	font-style: italic;
}

input[type="radio"] {
	margin-left:10px;
	margin-right:5px;
}

.underline-style-text {
	text-decoration: underline;
}
/*
#user-role-group-list li.selected {
	background-color: gray;
}
*/
#content {
	/*height: 400px; */
	max-height: 800px;
	margin-bottom: 65px;
}

.user-role-select {
	text-align: center; 
	position:relative;
	border: 0.5px solid black;
}

hr.footer-separator{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}

#footer {
	color:#fff;
}

h5.admin-headings {
	background-color: #b2dfdb;
	height: 25px;
	text-align: center;
	padding-top: 5px;
	width:100%;
	font-size:14px;
	padding-bottom:10px;
	color:white;
}

.icon-object-group a{
	position: fixed;
	float: right !important;
}

#add-new-user li {
	list-style: none;
}

table thead th {
	text-align: center;
}

.required:after { 
	content:" *";
	color:red; 
}
/*
.form-control {
	display: inline-block;
}*/

#user-role-group-list li  {
	border: 1px solid black;
	padding:10px;
	font-family:sans-serif;
	font-size: 14px;
	box-shadow: inset 0 1px 0 #fff;
}

.main-heading {
	text-align: center;
}

.btn-flat {
	background-color: -webkit-linear-gradient(top,#4387fd,#4683ea)
}

.fa {
	color: black;
}

#all-users-list-select {
	width: 40px;
}

div .add-new-user-button:hover {
	cursor: pointer;
}