/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.margin_bt_5
{
margin-bottom:5px;

}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.mobile_menu_li
{
    border-bottom: 1px #EFEFEF;
}
.mobile_menu_li:hover
{
background-color:white
}

.po_each_details_no_data {
	'position': 'relative';
	'left': '40%';
	'top': '40%';
}

.mobile_menu_ul
{
background-color:#63B3DA;
}
li.mobile_menu_li:hover {
 background-color: #2796CC;
}
.mobile_menu_icons
{
 /* padding-top:20px; */
}
.collapsible-body
{
min-height:150px; 


}
.collapsible-body p {
    margin: 0.2em;
    padding: 0rem!important; 
}
.list_content
{

display:none;
}


.btn
{
    height: 23px !important;
    line-height: 23px !important;
    padding: 0 0.5rem !important;
    font-size: 11px ! important;
}
.side-nav a
{
color:white;
display: block;
font-size: 1rem;
height: 50px;
line-height: 50px;
padding: 0px 15px;
}
nav .nav-wrapper .side-nav i {
    display: block;
    font-size: 1rem;
    height: 50px;
    line-height: 50px;
}

 nav .nav-wrapper i {
    height: 50px;
    line-height: 50px;
	font-size: 1.5rem;
}

.nav-wrapper
{

background-color:#FFFFFF
}
	.brand-logo {
    position: absolute;
    color: #DD4B39 !important;
    display: inline-block;
    font-size: 2rem !important;
    padding: 0;
    white-space: nowrap;
    text-decoration: none!important;
}
nav{
height: 50px;
line-height: 50px;
}
#map {
height: 100%;
}
.controls {
background-color: #fff !important;
border-radius: 2px !important;
border: 1px solid transparent !important;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3) !important;
box-sizing: border-box !important;
font-family: Roboto !important;
font-size: 15px !important;
font-weight: 300 !important;
height: 29px !important;
margin-left: 17px !important;
margin-top: 10px !important;
outline: none !important;
padding: 0 11px 0 13px !important;
text-overflow: ellipsis !important;
width: 150px !important;
    z-index: 1;
    position: absolute;
    left: 105px;
    top: 54px;
}
.controls:focus {
border-color: #4d90fe;
}
.copyright
{
width:100%;
border-top:2px solid #EFEFEF;
font-size:10px;
padding-top: 2px;
background: #808080;
height: 20px;
position:absolute;
bottom:0;
}
.select-wrapper{margin-left:40px;}
::-webkit-scrollbar {
    width: 4px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #EFEFEF;
    border-radius: 0px;
}
 
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #757879;
}
.last_meeeting
{
font-size:13px;
font-weight:500;

}
.pad_left_3
{

padding-left:3px;

}
.pad_left_2
{

padding-left:3px;

}
.address_val
{
font-size:10px;
}
.address
{

padding-left:5px;
font-size: 13px;
font-weight: 500;
}




.notificationBar
{

list-style:none;
padding:0px;
margin:0px;
#position: absolute;
height: 100%;
position:relative;
}
.notificationBar li i
{

width:38px;
height:38px;
display:block;
text-align:center;
border: 1px solid #ddd;
line-height:38px;
border-radius:50%;
background-color:white;

}
.notificationBar li
{
border-top: 0px solid #EFEFEF !important; 
color:#797979;
padding-top:60px;

}

.notificationBar li div
{

position:absolute;

}
.notificationBar li i:after
{
content:'';
z-index:-1;
height:3px;
width:20px;
margin-top:15px;
background-color:#ddd;
position:absolute;

}

.notificationBar li:after
{
    content: '';
    z-index: -1;
    width: 3px;
    background-color: #ddd;
    position: absolute;
    left: 15px;
    height: 25%;


}

.rating 
{
width:12px !important;
height:12px !important;
border:0px !important;
border-radius:0% !important;
background-color:#EFEFEF!important;
}
.menu_li
{
padding: 8px 0px 8px 5px;
  
    border-bottom: 1px solid #FFF;
    font-size: 11px;
    background-color: rgb(251, 249, 249);
    font-weight: bold;
	cursor:pointer;
	border-bottom: 1px solid #EFEFEF;
	text-align: center;
}
.menu_li:hover
{
border-top: 1px solid #EFEFEF;

border-left: 2px solid #DD4B39 !important;
}
.clicked_li
{
border-top: 1px solid #EFEFEF !important;
border-bottom:1px solid #EFEFEF ! important;
background-color:#FFF !important; 
color:#E17265 !important;
/*border-left: 2px solid #DD4B39 !important;*/
}

.user_logo
{
padding-right:15px;
color:#7f7f7f
font-size: 20px !important;
}
.user_name
{
    color: #2d323e;
    float: left;
    padding-left: 3px;
    font-size: 12px;
}
.company_logo {
    height: 96%;
    padding: 0% 10% 0% 10%;
    width: 100%;
}
.padzero
{
padding:0px;
}
.kpis_heading
{
color:#FFF; font-size:12px;font-family: sans-serif;
}
.charts_heading
{
    line-height: 25px;
    padding-left: 7px;
    font-size: 12px;
    color: #2D323E;
}
.font_color
{
/*color:rgba(127, 119, 119, 0.87);*/
color:#2D323E;
float:right;
font-size:12px;
}
.radio_heading
{
font-size: 12px;
color: #2D323E;
}
.menu_i
{

padding-right:3px !important;font-size:14px!important;

}
.pad_10px
{
padding: 3px 0px 0px 0px;
}

.pad_20px
{
padding:3px 16px 0px 20px;
}
.kpi_span_val
{
	color: #FFF;
    font-size: 18px;
   /* float: right;*/
    font-family: cursive;
    font-weight: 500;
}
.kpis_i
{
    font-size: 33px !important;
    padding: 8px 0px 0px 12px !important;
    color: #FFF! important;
}
.kpi1
{
min-height:50px;
background-color:#67A3AF;
}
.kpi2
{
min-height:50px; 
background-color:#327AC0;

}
.kpi3
{
min-height:50px; 
background-color:#AD3232;
}
.kpi4
{
min-height:50px; 
background-color:#61546D;
}
.kpis_min_height
{
min-height:50px;
}
.kpi1_background
{
background-color:#305E95;
text-align:center;
}
.kpi2_background
{
background-color:#3184D4;
text-align:center;
}
.kpi3_background
{
background-color:#C43232;
text-align:center;
}
.kpi4_background
{
background-color:#735F87;
text-align:center;
}

.kpi5_background
{
background-color:#F8963F;
text-align:center;
}
.kpi6_background
{
background-color: #E40303;
text-align:center;
}

.div_shadow
{
/*box-shadow:2px 3px 3px rgba(0, 0, 0, 0.11)*/
}
.toggle_div
{

top: 34px;
position: absolute;
height: 100px;
background: #FFF;
visibility: visible;
opacity: 1;
z-index: 1000;
left: 100px;
box-shadow: 2px 3px 3px #CAC2C2;
background-color: white;
}

.top_bar
{
height:50px;
line-height:50px;

}
.user_logo
{

}
.notification_img
{
color: #7F7F7F;
float: right;
padding: 18px 0px 0px 0px;
}
.data_sync
{
font-size: 12px;
color: #2D323E;
}
.info_icon
{
float:right;
padding:5px 5px 0px 0px;
color:rgba(127, 119, 119, 0.87)
}

input[type=radio] {
    margin: 1px 0 0;
    line-height: normal;
}

.tile_css
{
min-height:230px;
padding:0px;
background-color:#FFF;
border-radius:4px;
}

.filter_css
{
height:35px;
padding: 0px 0px 0px 5px;
}
.filter_bar
{
    min-height: 35px;
    padding: 2px 2px 0px 2px;
    margin-bottom: 2px;
    background-color: #EFEFEF;
	border-bottom:2px solid #FFF;
}
#reportrange
{

    background: #fff;
    cursor: pointer;
    padding: 1px 10px;
    border: 1px solid #ccc;
    height: 25px;
}

.pad_5px
{
padding:5px 0px 5px 0px;

}

.filter_label
{
padding:10px 0px 0px 0px;
}

.tile_title_bar
{

height:35px;padding:5px 0px 0px 0px;
}
.border_bottom
{

 border-bottom:1px solid #EBEAEA
}

.margin_left_14px
{
margin-left:-14px;

}
.moredetails
{
    font-size: 12px;
    color: #2D323E;
	float:right;
}
.sidemenu_i
{
font-size: 20px !important;

}
.spanmargin
{

}
.charts_heading1 {
   line-height: 32px;
   padding-left: 7px;
   font-size: 12px;
   color: #2D323E;
}

.modal-backdrop.in {
	opacity: 0.5;
}
.watermark
{
/*opacity:0.1;
background-image:url("/static/qualitypulse/img/comingsoon.jpg")*/
}

.tablecss
{
color:#2D323E;
padding:5px 1px 5px 1px;

}

input{border:1px solid #EFEFEF;text-align:center;border-radius:5px;}
table{width:106%;}
th{color:#2D323E; text-align:center}
td{color:#2D323E; text-align:center;}
hr{color:#8266AA;}
.off_spec
{

cursor:pointer
}

.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 10px;
 box-shadow: 0 1px 1px rgba(51, 51, 51, 0.38);
}
.small-box > .inner {
  padding: 5px;
}
.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
  font-size: 25px;
  font-weight: 300;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}
.small-box p {
  font-size: 15px;
}
.small-box p > small {
  display: block;
  color: #f9f9f9;
  font-size: 13px;
  margin-top: 5px;
}
.small-box h3,
.small-box p {
  z-index: 5px;
}
.small-box .icon {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 0;
  font-size: 45px;
  /* color: rgba(0, 0, 0, 0.15); */
 color: rgba(245, 245, 245, 0.3);
}
.small-box:hover {
  text-decoration: none;
  color: #f9f9f9;
  box-shadow:0 0px 3px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
}
/*.small-box:hover .icon {
  font-size: 60px;
}*/
@media (max-width: 767px) {
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 12px;
  }
}
/*
 * Component: Box
 * --------------
 */
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
/*   border-top: 3px solid #d2d6de; */
  margin-bottom: 10px;
  width: 100%;
    box-shadow: 0 0px 1px rgba(0,0,0,.10),0 1px 1px rgba(0,0,0,.23);
}
.box.box-primary {
  border-top-color: #3c8dbc;
}
.box.box-info {
  border-top-color: #00c0ef;
}
.box.box-danger {
  border-top-color: #dd4b39;
}
.box.box-warning {
  border-top-color: #f39c12;
}
.box.box-success {
  border-top-color: #00a65a;
}
.box.box-default {
  border-top-color: #d2d6de;
}
.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
  display: none;
}
.box .nav-stacked > li {
  border-bottom: 1px solid #f4f4f4;
  margin: 0;
}
.box .nav-stacked > li:last-of-type {
  border-bottom: none;
}
.box.height-control .box-body {
  max-height: 300px;
  overflow: auto;
}
.box .border-right {
  border-right: 1px solid #f4f4f4;
}
.box .border-left {
  border-left: 1px solid #f4f4f4;
}
.box.box-solid {
  border-top: 0;
}
.box.box-solid > .box-header .btn.btn-default {
  background: transparent;
}
.box.box-solid > .box-header .btn:hover,
.box.box-solid > .box-header a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.box.box-solid.box-default {
  border: 1px solid #d2d6de;
}
.box.box-solid.box-default > .box-header {
  color: #444444;
  background: #d2d6de;
  background-color: #d2d6de;
}
.box.box-solid.box-default > .box-header a,
.box.box-solid.box-default > .box-header .btn {
  color: #444444;
}
.box.box-solid.box-primary {
  border: 1px solid #3c8dbc;
}
.box.box-solid.box-primary > .box-header {
  color: #ffffff;
  background: #3c8dbc;
  background-color: #3c8dbc;
}
.box.box-solid.box-primary > .box-header a,
.box.box-solid.box-primary > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-info {
  border: 1px solid #00c0ef;
}
.box.box-solid.box-info > .box-header {
  color: #ffffff;
  background: #00c0ef;
  background-color: #00c0ef;
}
.box.box-solid.box-info > .box-header a,
.box.box-solid.box-info > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-danger {
  border: 1px solid #dd4b39;
}
.box.box-solid.box-danger > .box-header {
  color: #ffffff;
  background: #dd4b39;
  background-color: #dd4b39;
}
.box.box-solid.box-danger > .box-header a,
.box.box-solid.box-danger > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-warning {
  border: 1px solid #f39c12;
}
.box.box-solid.box-warning > .box-header {
  color: #ffffff;
  background: #f39c12;
  background-color: #f39c12;
}
.box.box-solid.box-warning > .box-header a,
.box.box-solid.box-warning > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-success {
  border: 1px solid #00a65a;
}
.box.box-solid.box-success > .box-header {
  color: #ffffff;
  background: #00a65a;
  background-color: #00a65a;
}
.box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn {
  color: #ffffff;
}
.box.box-solid > .box-header > .box-tools .btn {
  border: 0;
  box-shadow: none;
}
.box.box-solid[class*='bg'] > .box-header {
  color: #fff;
}
.box .box-group > .box {
  margin-bottom: 5px;
}
.box .knob-label {
  text-align: center;
  color: #333;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0.3em;
}
.box > .overlay,
.overlay-wrapper > .overlay,
.box > .loading-img,
.overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.box .overlay,
.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}
.box .overlay > .fa,
.overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}
.box .overlay.dark,
.overlay-wrapper .overlay.dark {
  background: rgba(0, 0, 0, 0.5);
}
.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
  content: " ";
  display: table;
}
.box-header:after,
.box-body:after,
.box-footer:after {
  clear: both;
}
.box-header {
  color: #444;
  display: block;
  padding: 5px;
  position: relative;
}
.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}
.collapsed-box .box-header.with-border {
  border-bottom: none;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  line-height: 1;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion {
  margin-right: 5px;
}
.box-header > .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}
.box-header > .box-tools [data-toggle="tooltip"] {
  position: relative;
}
.box-header > .box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}
.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}
.open .btn-box-tool,
.btn-box-tool:hover {
  color: #606c84;
}
.btn-box-tool.btn:active {
  box-shadow: none;
}
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.no-header .box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.box-body > .table {
  margin-bottom: 0;
}
.box-body .fc {
  margin-top: 5px;
}
.box-body .full-width-chart {
  margin: -19px;
}
.box-body.no-padding .full-width-chart {
  margin: -9px;
}
.box-body .box-pane {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
.box-body .box-pane-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}
.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 5px;
  background-color: #ffffff;
}




.arrow-up {
	cursor:pointer;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid black;
}

.arrow-down {
	cursor:pointer;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #f00;
}


.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #0986F3;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid #ccc; 
}



.arrow-up_ccp {
	cursor:pointer;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
	border-bottom: 5px solid black;
}

.arrow-down_ccp {
	cursor:pointer;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
	border-top: 5px solid #f00;
}





.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active,
.callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success,
.alert-success,
.alert-danger,
.alert-error,
.alert-warning,
.alert-info,
.label-danger,
.label-info,
.label-warning,
.label-primary,
.label-success,
.modal-primary .modal-body,
.modal-primary .modal-header,
.modal-primary .modal-footer,
.modal-warning .modal-body,
.modal-warning .modal-header,
.modal-warning .modal-footer,
.modal-info .modal-body,
.modal-info .modal-header,
.modal-info .modal-footer,
.modal-success .modal-body,
.modal-success .modal-header,
.modal-success .modal-footer,
.modal-danger .modal-body,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  color: #fff !important;
}
.bg-gray {
  color: #000;
  background-color: #d2d6de !important;
}
.bg-gray-light {
  background-color: #f7f7f7;
}
.bg-black {
  background-color: #111111 !important;
}
.bg-red,
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
  background-color: #ea6153 !important;
}
.bg-violet
{
background-color:#7761a7;
}

.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
  background-color: #F7CA18 !important;
}
.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: #00c0ef !important;
}
.bg-blue {
  background-color: #3d566d !important;
}

.bg-teal-stats  {
	background-color: #4db6ac !important;
}

.bg-light-blue,
.label-primary,
.modal-primary .modal-body {
  background-color: #3c8dbc !important;
}
.bg-green,
.callout.callout-success,
.alert-success,
.label-success,
.modal-success .modal-body {
  background-color: #19b698;
}
.bg-navy {
  background-color: #001f3f !important;
}
.bg-teal {
  background-color: #39cccc !important;
}
.bg-olive {
  background-color: #3d9970 !important;
}
.bg-lime {
  background-color: #01ff70 !important;
}
.bg-orange {
  background-color: #F4B350 !important;
}
.bg-fuchsia {
  background-color: #f012be !important;
}
.bg-purple {
  background-color: #605ca8 !important;
}
.bg-maroon {
  background-color: #d81b60 !important;
}
.bg-gray-active {
  color: #000;
  background-color: #b5bbc8 !important;
}
.bg-black-active {
  background-color: #000000 !important;
}
.bg-red-active,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  background-color: #d33724 !important;
}
.bg-yellow-active,
.modal-warning .modal-header,
.modal-warning .modal-footer {
  background-color: #db8b0b !important;
}
.bg-aqua-active,
.modal-info .modal-header,
.modal-info .modal-footer {
  background-color: #00a7d0 !important;
}
.bg-blue-active {
  background-color: #005384 !important;
}
.bg-light-blue-active,
.modal-primary .modal-header,
.modal-primary .modal-footer {
  background-color: #357ca5 !important;
}
.bg-green-active,
.modal-success .modal-header,
.modal-success .modal-footer {
  background-color: #008d4c !important;
}
.bg-navy-active {
  background-color: #001a35 !important;
}
.bg-teal-active {
  background-color: #30bbbb !important;
}
.bg-olive-active {
  background-color: #368763 !important;
}
.bg-lime-active {
  background-color: #00e765 !important;
}
.bg-orange-active {
  background-color: #ff7701 !important;
}
.bg-fuchsia-active {
  background-color: #db0ead !important;
}
.bg-purple-active {
  background-color: #555299 !important;
}
.bg-maroon-active {
  background-color: #ca195a !important;
}


.box-widget {
  border: none;
  position: relative;
}
.widget-user .widget-user-header {
  padding: 20px;
  height: 120px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.widget-user .widget-user-username {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 300;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.widget-user .widget-user-desc {
  margin-top: 0;
}
.widget-user .widget-user-image {
  position: absolute;
  top: 65px;
  left: 50%;
  margin-left: -45px;
}
.widget-user .widget-user-image > img {
  width: 90px;
  height: auto;
  border: 3px solid #fff;
}
.widget-user .box-footer {
  padding-top: 30px;
}
.widget-user-2 .widget-user-header {
  padding: 10px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.widget-user-2 .widget-user-username {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 700;
}
.widget-user-2 .widget-user-desc {
  margin-top: 0;
}
.widget-user-2 .widget-user-username,
.widget-user-2 .widget-user-desc {
  /* margin-left: 75px; */
}
.widget-user-2 .widget-user-image > img {
  width: 65px;
  height: auto;
  float: left;
}
/*
 * Page: Mailbox
 * -------------
 */
.mailbox-messages > .table {
  margin: 0;
}
.mailbox-controls {
  padding: 5px;
}
.mailbox-controls.with-border {
  border-bottom: 1px solid #f4f4f4;
}
.mailbox-read-info {
  border-bottom: 1px solid #f4f4f4;
  padding: 10px;
}
.mailbox-read-info h3 {
  font-size: 20px;
  margin: 0;
}
.mailbox-read-info h5 {
  margin: 0;
  padding: 5px 0 0 0;
}
.mailbox-read-time {
  color: #999;
  font-size: 13px;
}
.mailbox-read-message {
  padding: 10px;
}
.mailbox-attachments li {
  float: left;
  width: 200px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  margin-right: 10px;
}
.mailbox-attachment-name {
  font-weight: bold;
  color: #666;
}
.mailbox-attachment-icon,
.mailbox-attachment-info,
.mailbox-attachment-size {
  display: block;
}
.mailbox-attachment-info {
  padding: 10px;
  background: #f4f4f4;
}
.mailbox-attachment-size {
  color: #999;
  font-size: 12px;
}
.mailbox-attachment-icon {
  text-align: center;
  font-size: 65px;
  color: #666;
  padding: 20px 10px;
}
.mailbox-attachment-icon.has-img {
  padding: 0;
}
.mailbox-attachment-icon.has-img > img {
  max-width: 100%;
  height: auto;
}


.span_text
{
	font-size:13px;	
}


.div_text-align
{
	
text-align:center
	
}



.z-depth-1 {
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.bg-facebook {
    background-color: #3b5998 !important;
    border: 1px solid #3b5998;
    color: white;
}

.mini-stat {
    padding: 10px;
    margin-bottom: 5px;
	    border-radius: 3px;
}


.mini-stat-icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 100%;
    float: left;
    margin-right: 10px;
    color: #FFF;
}

.clearfix:after, .clearfix:before,  {display: table;content: " ";}


.mini-stat-info {
    font-size: 12px;
    padding-top: 2px;
}

.mini-stat:hover {
  text-decoration: none;
  color: #f9f9f9;
  box-shadow:0 0px 3px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
}

/* .nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:0px 10px;overflow:hidden;}
.tab-content:hover{overflow-y:scroll;}
.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; } */


#po_numbers:hover
{	
overflow-y:scroll !important;	
}


/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.staggedpo_tab-content:hover
{
	
overflow-y:scroll;	
	
}

.rawmaterial_tab-content:hover
{
	
	overflow-y:scroll;	
	
}

.SumoSelect.open > .optWrapper{
    width: 250px !important;
}

.filter_css .SumoUnder {
    width: 150px;
}

.filter_css .open .optWrapper.okCancelInMulti.multiple {
    width: 300px;
}

.SumoUnder {
	width : 200px;
}

.col-lg-8 .open.SumoSelect .optWrapper {
    width: 300px;
}

.SelectBox { 
    width: 200px; 
    padding: 5px 8px;
}

/* 2nd level */
.tree > li > label {
  padding:10px 15px;
}

/* 3rd level */
.tree > li > ul > li > a {
  color:#cc0000;
  font-size:10pt;
  margin-left:15px;
}

.po_details_div:hover
{
	
	overflow-y:scroll !important;
}

.select_search_class {
	display: none;
}

.active-tab{
	background-color: #337ab7 !important;
    color: #fff !important;
	box-shadow: none !important;
    border: none !important;
}

.table{
	background: #fff;
    font-size: 12px;
}
.info-box {
    display: block;
    min-height: 65px !important;
    background: #fff;
    width: 100%;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
	border: 1px solid #ddd;
}
.bg-aqua{
	background-color: #00c0ef !important;
	color: #fff !important;
}
.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 65px !important;
    width: 75px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}
.info-box-icon i {	
	position: absolute !important;
	top:32% !important;
	left:20% ;
	font-size:20px !important;
}
.ion{
	display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.info-box-content {
    padding: 5px 10px;
    margin-left: 75px;
}
.info-box-text {
	display: block;
	text-align: center;
    text-transform: uppercase;
}
AdminLTE.min.css:7
.progress-description, .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
	text-align: center;
}

#stats-accuracy-nav {
	margin-bottom: 7px;
	border-bottom: 1px solid #ddd;
}

.modal-body{
	background-color: #fff !important;
	padding-top: 4px;
}

#statistical-table table tbody tr td:nth-child(1){
	text-align:left;
}
.highcharts-axis-labels text{
	y:21;
}

#statistical-table table thead tr th {
	background-color: #fff;
}

.dataTables_length {
	display: none !important;
}
#gain-display #DataTables_Table_0_wrapper #DataTables_Table_0_filter{
	display: none !important;
}
.dataTables_wrapper .dataTables_paginate .current {
    background: #EEEEEE !important;
    border: 1px solid #CDCDCD !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #6d6d6d !important;
    padding: 5px;
    text-decoration: none;
}
.paginate_button {
    cursor: pointer !important;
    text-decoration: none;
}

.dataTables_filter {
	display: none;
}