body, html {
    height: 100%;
    background-repeat: no-repeat;
/*    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));  */
}
/*
h4 {
	font-style: italic;
}
*/
input[type="radio"] {
	margin-left:10px;
	margin-right:5px;
}

/*.selected-user- */

input[type="search"] {
	border: 1px solid gray;
}

#plant-list-selection.SelectBox, #technology-list-selection.SelectBox {
	width: 170px !important;
}

.underline-style-text {
	text-decoration: underline;
}

#edituserstatus:readonly, #editmesstatus:readonly {
	background-color: red !important;
}
/*
.disable_checkbox {
	background-color: red !important;
}
*/
#user-list-datatable_info {
	position: relative;
	float: left;
}

#content {
	/*height: 400px; */
	max-height: 600px;
	margin-bottom: 65px;
}

.user-role-select {
	text-align: center; 
	position:relative;
	border: 0.2px solid black;
	height: 40px;
}

.kpi-container {
    padding: 0px;
    display: block;
    background-color: white;
    height: 445px;
}

.kpi-container div, .kpi-container-1 div {
	padding: 5px;
	height: 54px;
	margin-top: 8px;
	margin-bottom: 8px;
	cursor: pointer;
}

.kpis_heading {
	color: black;
}

.user-role-select [input="radio"] {
	padding-left: 5px;
	padding-right: 5px;
}

hr.footer-separator{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}

.main-container1 {
	height: 700px !important;
	overflow: hidden;
	background-color: white;
}

#footer {
	color:#000;
}

h5.admin-headings {
	/*background-color: rgba(176, 190, 197, 0.2);*/
	height: 25px;
	text-align: left;
	padding-top: 13px;
	width:100%;
	font-size:14px;
	padding-bottom:10px;
	color:black;
}
/*
.icon-object-group {
	float: right !important;
	color: black;
	font-size: 22px;
}
*/
.required:after { 
	content:" *";
	color:red; 
}

.icon-object-group {
	margin-top: 10px;
}

.form-control {
	height: 28px;
}

.form-group {
    margin-bottom: 9px;
}

/*.form-control {
	display: inline-block;
	width: 60%;
	position: relative;
	right: 8%;
}*/

/*.form-group label {
	position: relative;
	right: 10%;
}*/

form {
	border: 1px solid rgba(128, 128, 128, 0.39);
}

#user-list-datatable_wrapper table thead th, #license-list-datatable_wrapper table thead th {
	text-align: center;
}

#groupsearch, #datagroupsearch {
	right: 0%;
	height: 34px;
}

.input-group-addon {
	position: relative;
	left: 50px;
}
/*
#editdatepicker {
	right: 23%;
}
*/
#editdatepicker {	
	width: 185% !important;
	margin-left: -47% !important;
}

#approved-date {
	/*margin-right: 30% !important;*/
	width: 140% !important;
	margin-left: -45px;
}

.Zebra_DatePicker_Icon_Wrapper.Zebra_DatePicker_Icon{
	right: -38px !important;
}

/*#approved-date */

.fa-calender {

}

/*.form-control.input-sm {
	position: relative;
	right: 0%;
}*/

.input-group.date {
	position: relative;
	left: 7%;
}

select {
	text-align: center;
}

#selected-pages {
	margin-top: 180px;
    border: 1px solid gray;
    width: 50%;
    border-radius: 3px;
    height: 30px;
    background-color: white;
}

/*
.form-group input, #selected-pages, .input-group.date{
	position: relative;
	display: inline-block;
	width: 50%;
	float: right;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 27px;
	position: relative;
	/*float: right !important;
}*/
/*
.form-group label {
	position: relative;
	text-align: left;
	display: inline-block;
	float: left;
	margin-bottom: 5px;
	margin-top: 12px;
}*/
/*
#editUseremail {
	position: relative;
	float: left !important;
	/*width: 35%;
}
*/
/*.param-values-sumo label {
	float: initial;
}
*/
.box-footer {
	position: relative;
	float: left;
	margin-bottom: 15px;
}

#user-role-group-list li, #user-list li, #data-user-group-list li {
	list-style: none;
	padding:10px;
	font-family:sans-serif;
	font-size: 14px;
	box-shadow: inset 0 1px 0 #fff;
}

#user-role-group-list li:hover, #user-list li:hover, #data-user-group-list li:hover{
	background-color: gray;
	cursor: pointer;
}

#user-role-group-list li:selected, #data-user-group-list li:selected {
	background-color: gray;
}

.main-heading {
	text-align: center;
}

/*.btn {
	width: 100px;
}
*/
/*
.CaptionCont.SlectBox, .optWrapper.okCancelInMulti.multiple.open {
	position: relative;
	float: right;
}
*/
#user-list-datatable th, #license-list-datatable th {
	text-align: center;
}

.btn-flat {
	background-color: -webkit-linear-gradient(top,#4387fd,#4683ea);
	background-color:#039be5;
	background-color: gray;
}

#user-role-group-main .fa, #user-main .fa, #data-group-main .fa, #license-main .fa {
	color: black;
	font-size: 20px;
	/*position: fixed;*/
}

.license-main-division #license-list-datatable_filter {
	position: relative;
	float: right;
}

#user-role-group-list .icon-object-group {
	position: fixed;
	/*height: 450px;*/
}

.btn {
	height: 34px !important;
}

/*.btn-primary. .btn-success, .btn-default {
	width: 60px;
}
*/
#add-new-user {
	-moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}

.user-mod {
	background-color: #b0bec5;
}

#add-new-user li {
	list-style: none;
	position: relative;
	left: 10px;
}

#add-new-user input {
	margin-right:5px; 
	position:relative; 
	top:3px;
}

.fa-search {
	padding-top: 3px;
	font-size: 27px;
}

.disable_href {
	pointer-events: none !important;
	cursor: default;
	color: gray !important;
}

#user-role-group-list li:selected, #data-user-group-list li:selected {
	background-color: gray;
}

#user-list-texatable_info, #user-list-datatable_length {
	position: relative;
	float: left;
}

.deletegroup:hover,.editgroup:hover,.edituser1:hover,.group1:hover,.user1:hover,.deleteuser:hover,.edituser:hover{
	color:blue;
}



.border-class {
	border-right: 1.5px solid gray;
	height: 700px;
	padding-top:7px;  
}

#user-main,  #addnewuserform, #addnewlicenseform {
	height: 500px; 
	overflow-y: auto;
	/*margin-top: 11px;*/
}

#user-role-group-list, #data-user-group-list {
	height: 400px;
	overflow-y: scroll;
}

#user-role-group-modification {
	height: 500px;
}

#user-role-group-list {
	height: 400px;
}
/*
#user-main, #addnewuserform {
	
}
*/
.clicked_li_dg_ag
{
/*border-top: 1px solid black !important;
border-bottom:1px solid black ! important;*/
background-color: #337ab7 !important; 
color:#E17265 !important;
/*border-left: 2px solid #DD4B39 !important;*/
}

#pages-list-select {
	position: absolute;
	z-index: 20;
	margin-top: -10%;
    margin-left: 23% !important;
    width: 70%;
}

.modal-body {
	max-height: 300px;
	overflow-y: scroll;
}

#formnewusergroup {
	max-height: 500px;
	overflow-y : scroll;
}

#formnewdatausergroup {
	max-height: 500px;
	overflow-y : scroll;
}

.Zebra_DatePicker_Icon.Zebra_DatePicker_Icon_Inside_Right {
	/*position: relative;*/
	right: -50% !important;
}

.table-bordered th, .table-bordered td {
	text-align: center;
}

.table-striped.table-bordered.dataTable {
	width: 100% !important;
	margin: 0px;
}

/*
.hasBorder {
	"border":"1px solid red" !important;
	"background":"yellow" !important;
}*/

#sumo-select-table tr, #sumo-select-table th {
    border: 1px solid black;
}
/*.sumo-select-column {
    width: 180px;
}*/

#dg-values-list th, #dg-values-list tbody tr {
	height: 25px;
}

.data-group-drop-down {
	position: relative;
    top: 8px !important;
}

#henkel-com {
	position: relative;
    right: 22%;
}

/*.SumoSelect .optWrapper .options li label {
	float : initial !important;
}*/

/*.SumoSelect {
	width: 230px;
}*/

.dataTables_length {
	display: none;
}

#SiteName_list {
	width: 200px;
}

.SumoSelect .select-all {
	height: 29px;
}
.required_fields{
	text-align:center;
	padding-left:8em;
}