/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
/*body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
    /*background-color: gray;
}*/

body, html {
    height: 100%;
    background-repeat: no-repeat;		  
	background-image:url("Henkel_plant.png");
	background-repeat: no-repeat;		
	background-attachment: fixed;		
	background-position: center;		
	position:absolute;		
	width:100%;		
	size:50%;		
	background-size: contain;		
	vertical-align: top;		
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
    /*background-color: #b0bec5;*/
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 100%;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-group #inputEmail,
.form-group #inputPassword,
.form-group #id_username,
.form-group #id_password {
    direction: ltr;
    height: 44px;
    font-size: 16px;
    width: 100%;
    padding-left: 7px;
    margin-left: 10%;
}

.form-horizontal {
    padding-left: 20px;
    width: 100%;
}
/*
.form-group input[type=email],
.form-group input[type=password],
.form-group input[type=text],
.form-group button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*/
.form-group .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    margin-left: 10%;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
    margin-left: 15%;
}
/*
.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}
*/
hr.footer-separator{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}
#main-content{margin-bottom: 65px;}
#footer{color:#fff;}

.alert-danger, .alert-error {
    background-color: #f4f4f4;
    border-color: #FF0000;
}

.font_20 {
    font-size:20px !important;
}

.agency-text {
    color: #8d6e63;
    font-size: 1.2em;
    margin: 27px;
}

#id_new_password1, #id_new_password2, #id_email {
    height: 40px;
    width: 100%;
}

.errorlist{
    color: #FF0000;
}

.recaptcha-wrap {
    position: relative;
    height: 76px;
    padding:1px 0 0 1px;
    background: #e9fafa
}


.recaptcha-wrap:after {
    content:'';
    display: block;
    background-color: #e9fafa;
    height: 2px;
    width: 100%;
    top: -1px;
    left: 0px;
    position: absolute;
}

.recaptcha-wrap:before {
    content:'';
    display: block;
    background-color: #e9fafa;
    height: 100%;
    width: 2px;
    top: 0;
    left: -1px;
    position: absolute;
    z-index: 1;
}

#g-recaptcha {
    overflow: hidden;
    height: 76px;
    border-right: 60px solid #e9fafa;
    border-top: 1px solid #e9fafa;
    border-bottom: 1px solid #e9fafa;
    position: relative;
    box-sizing: border-box;
    max-width: 294px;
}