{% extends "qualitypulse/theme.html" %}
{% load static %}


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}
            <title>Henkel :: Admin Module</title>
        {% endblock %}
</head>
{% block css-required %}
<link href="{% static 'qualitypulse/css/font-awesome-4.5.0/css/font-awesome-min.css' %}" rel="stylesheet" type="text/css">
<link rel="icon" href="{% get_static_prefix %}qualitypulse/img/favicon.png" type="image/ico"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" href='{% static "user_mod/multiselect/sumoselect.css" %}' />
<link rel="stylesheet" type="text/css" href="{% static 'css/treeselect.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/chosentree.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/daterangepicker.css'%}">
<link rel="stylesheet" href='{% static "qualitypulse/multiselect/sumoselect.css" %}' />
<link rel="stylesheet" type="text/css" href="{% static 'Zebra_Datepicker-master/public/css/bootstrap.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'dist/css/select2.min.css' %}">
<style type="text/css">
/*    #choice_4 {
        top: 32px;
    }
*/
    li .treeselect-expand:first-child {
        top: 38px;
    }
</style>
{% endblock %}
{% block filters-container %}
    <h4 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 responsive main-heading"></h4>
{% endblock %} 
{% block main-container1 %}
<body>

    <div id="content" class="container-fluid">
        <div id="main-content" align="center">                    
            <div class="content-border row-fluid">
                <div class="henkel_image">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container-fluid">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" id="user-role-group-main" style="display:none;">
                        <div class="col-lg-12">
                            <h5 class="admin-headings">User Role Groups</h5>
                            <div class="input-group">
                                <input type="text" class="form-control" id="groupsearch" placeholder="User Role Group" />
                                <span class="input-group-btn">
                                    <button type="submit" name="search" class="btn btn-flat"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="icon-object-group" style="float:right; margin-top:10px;">
                                <a href="#"><i class="fa fa-plus-circle group1"></i></a>
                                <a href="#" ><i class="fa fa-pencil editgroup"></i></a>
                                <a href="#myModalusergroup" class="disable_href" data-backdrop="static" data-toggle="modal"><i class="fa fa-trash deletegroup"></i></a>
                            </div>
                            <div class="" id="user-role-group-list" style="margin-top:35px;">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" id="data-group-main" style="display:none;">
                        <div class="col-lg-12">
                            <h5 class="admin-headings">Data User Groups</h5>
                            <div class="input-group">
                                <input type="text" class="form-control" id="datagroupsearch" style="right:0%;" placeholder="Data User Group" />
                                <span class="input-group-btn">
                                    <button type="submit" name="search" class="btn btn-flat"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="icon-object-group" style="float:right; margin-top:10px;">
                                <a href="#"><i class="fa fa-plus-circle datagroup1"></i></a>
                                <a href="#" ><i class="fa fa-pencil editdatagroup"></i></a>
                                <a href="#myModaldatausergroup" class="disable_href" data-backdrop="static" data-toggle="modal"><i class="fa fa-trash deletedatagroup"></i></a>
                            </div>
                            <div class="" id="data-user-group-list" style="margin-top:35px;">
                            </div>
                        </div>
                    </div>

                    <!------------------------------------------kpi-container ------------------------> 
                    <div class=" col-sm-12 col-md-6 col-lg-2 kpi-container" style="padding:0px 0px 0px 0px;background-color:#ECF0F5;display:none;background-color: rgb(236, 240, 245);">
                        
                        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 padzero add-new-user-button'>     
                            <div class='col-sm-12 col-md-12 col-lg-12 kpis_min_height user-mod menu_li'>
                                <div class=" col-sm-12 col-md-12 col-lg-12" ><span class="kpis_heading" >Add</span></div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-12 kpis_min_height edit-existing-user-button">   
                            <div class="col-sm-12 col-md-12 col-lg-12 kpis_min_height user-mod menu_li">
                                <div class=" col-sm-12 col-md-12 col-lg-12" ><span class="kpis_heading" >Edit</span></div>
                            </div>
                        </div>

                        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 padzero block-unblock-user-button'>
                            <div class=" col-sm-12 col-md-12 col-lg-12  kpis_min_height user-mod menu_li">
                                <div class=" col-sm-12 col-md-12 col-lg-12" ><span class="kpis_heading" >Block or Unblock</span></div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 kpis_min_height reset-password-button">    
                            <div class=" col-sm-12 col-md-12 col-lg-12  kpis_min_height user-mod menu_li" >
                                <div class=" col-sm-12 col-md-12 col-lg-12" ><span class="kpis_heading" >Reset Password</span></div>   
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 kpis_min_height delete-multiple-users" >
                            <div class=" col-sm-12 col-md-12 col-lg-12  kpis_min_height user-mod menu_li" >
                                <div class=" col-sm-12 col-md-12 col-lg-12" ><span class="kpis_heading" >Delete Multiple users</span></div> 
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 kpis_min_height view-users-table" >
                            <div class=" col-sm-12 col-md-12 col-lg-12  kpis_min_height user-mod menu_li" >
                                <div class=" col-sm-12 col-md-12 col-lg-12" ><span class="kpis_heading" >View all users</span></div> 
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12" id="user-main-module" style="display:none;">
                        <div class="col-lg-12" style="margin-top:20px;">
                            <label>Select a User for <span id="flag-user"></span> : </label>
                            <select id="all-users-list-select" style="width:120px;">
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12" id="user-main" style="display:none;">
                        <h5 class="admin-headings" id="user-heading">List of Users <span id="user-data-group-name"></span></h5>
                        <div class="col-lg-12 user-main-division">
                            <div class="col-lg-12 icon-object-group">
                                <a href="#" style="float:right; margin-bottom:6px;" data-toggle="modal"><i class="fa fa-plus-circle user1"></i></a>
                                <a href="#myModaluser" data-backdrop="static" style="float:right; margin-bottom:6px;" data-toggle="modal"><i class="fa fa-trash deleteuser"></i></a>
                                <button style="display:none;margin:6px;float:right;" class="col-lg-1 btn btn-success absent-list-save">Save</button>
                                <button style="display:none;margin:6px;float:right;" class="col-lg-1 btn btn-primary absent-list-back">Back</button>
                            </div>
                            <div class="" id="user-list">
                                <table id="user-list-datatable" class="table table-striped table-bordered" cellspacing="0" width="80%">
                                </table>
                                <span id="updatedmsg"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="user-modification" style="display:none;">
                        <div class="sub-users-1">
                            <h5 class="admin-headings">User details</h5>
                            <table class="table table-striped"style="width:100%;">
                                <tbody id="user-description">
                                </tbody>
                            </table>
                            <a href="#" style="float:right;" ><i class="fa fa-pencil edituser"></i></a>
                        </div>  
                        <div class="sub-users-2">
                            <div class="col-lg-12">
                                <h5 class="admin-headings">Addition/Modification of new user</h5>

                            <form action="javascript:void(0);" role="form" id="addnewuserform" class="form-horizontal" enctype="multipart/form-data">
                                <div class="col-lg-12 box-footer" >
                                    <button type="button" class="col-lg-2 btn btn-primary savenewuser" style="margin:6px;float:right;">Submit</button>&nbsp;
                                    <button class="col-lg-2 btn btn-default canceluser" style="margin:6px;float:right;">Cancel</button>
                              </div>
                              <div class="box-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6"><label for="username" class="control-label required">User Name</label></div>
                                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6"><input type="text" class="required form-control" value="" id="editusername" name="editusername" placeholder="Enter User Name"></div><br>
                                    <span id="addun"></span>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6"><label for="Useremail" class="control-label required">Email Address</label></div>
                                    <div class="col-lg-6 col-md-4 col-sm-6 col-xs-6"><input type="text" data-toggle="tooltip" class="form-control" id="editUseremail" placeholder="Enter email" name="editUseremail"></div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6"><label for="Useremail" id="henkel-com"  class="form-control-static">@henkel.com</label></div><br>
                                    <span id="addemail"></span>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6"><label for="userpassword" class="control-label required">Password</label></div>
                                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6"><input type="password" class="form-control" id="edituserpassword" placeholder="Enter Password" name="edituserpassword"></div><br>
                                    <span id="addpasswrd"></span>
                                </div>  
                                <div class="form-group">
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6"><label for="firstname" class="control-label required">First Name</label></div>
                                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6"><input type="text" class="form-control" id="editfirstname" name="editfirstname" placeholder="Enter First Name"></div><br>
                                    <span id="addfn"></span>
                                </div>
                                <div class="form-group ">
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6"><label for="lastname" class="control-label">Last Name</label></div>
                                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6"><input type="text" class="form-control" id="editlastname" name="editlastname" placeholder="Enter Last Name"></div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6"><label for="useralias" class="control-label">User alias</label></div>
                                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6"><input type="text" class="form-control" id="edituseralias" name="edituseralias" placeholder="Enter User Alias"></div>
                                </div>

                                <div id="selected-user-groups" style="display:none;">
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6"><label class="control-label">Joining Date</label></div>
                                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6"><input type="text" class="form-control" id="editdatepicker" name="editdatepicker"></div>
                                    <!-- /.input group -->
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10"><label for="userstatus" class="control-label">User Status(ACTIVE by default)</label></div>
                                    <div class="col-lg-6 col-md-4 col-sm-2 col-xs-2"><input type="checkbox" id="edituserstatus" name="edituserstatus" onclick="return false;"/></div>
                                </div>
                                
                              <!--</div>
                              <!-- /.box-body -->
                            </form>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="data-user-group-modification" style="display:none;">
                        <div class="col-lg-12 sub-group-1">
                            <h5 class="admin-headings">Addition/Modification of new data user group</h5>
                            <form role="form" id="formnewdatausergroup">
                                <div class="col-lg-12 box-footer">
                                    <button type="button" class="col-lg-2 btn btn-primary addnewdatagroup" style="margin:6px;float:right;">Save</button>&nbsp;
                                    <button type="button" class="col-lg-2 btn btn-default canceldatagroup" style="margin:6px;float:right;">Cancel</button>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-body">
                                    <div class="form-group">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><label for="dataName1" class="required">Data Group Name</label></div>
                                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6"><input type="text" class="form-control" id="dataName1" placeholder="Enter data group name" name="name"></div>
                                        <span id="datagroupnamealert"></span>
                                    </div><br>
                                    <div class="form-group param-values-sumo">
                                        <span id="savenewdatausergroup"></span><br>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" style="margin-top:15px;"><label for="Data User rights" class="required">Data Group Values</label></div><br>
                                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6" id="dg-values-list" name="values-list">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Param Name</th>
                                                        <th>Param Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr><td>Sitename/Plant</td><td id="sitename_list" class="sumo-select-column"></td></tr>
                                                    <tr><td>SBU</td><td id="sbu_list" class="sumo-select-column"></td></tr>
                                                    <tr><td>Technology</td><td id="technology_list" class="sumo-select-column"></td></tr>
                                                    <tr><td>Product</td><td id="fgproducts_list" class="sumo-select-column"></td></tr>
                                                    <tr><td>Line</td><td id="linename_list" class="sumo-select-column"></td></tr>
                                                    <tr><td>Resource</td><td id="resources_list" class="sumo-select-column"></td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- <div id="selected-pages"></div> -->
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><label for="description">Description</label></div>
                                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6"><textarea type="textarea" rows="4" cols="10" class="form-control" id="data-description" placeholder="Enter description" name="name"></textarea></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><label for="comments">Comments</label></div>
                                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6"><textarea type="textarea" rows="4" cols="10" class="form-control" id="data-comments" placeholder="Enter comments" name="name"></textarea></div>
                                    </div>
                                </div>
                              <!-- /.box-body -->
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12" id="user-role-group-modification" style="display:none;">
                        <div class="col-lg-12 sub-group-1">
                            <h5 class="admin-headings">Addition/Modification of new user group</h5>
                            <form role="form" id="formnewusergroup">
                                <div class="col-lg-12 box-footer">
                                <button type="button" class="col-lg-2 btn btn-primary addnewgroup" style="margin:6px;float:right;">Save</button>&nbsp;
                                <button type="button" class="col-lg-2 btn btn-default cancelgroup" style="margin:6px;float:right;">Cancel</button>
                            </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-body">
                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6"><label for="Name1" class="required">Group Name</label></div>
                                        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6"><input type="text" class="form-control" id="Name1" placeholder="Enter group name" name="name"></div><br>
                                        <span id="groupnamealert"></span>
                                    </div>
                                    <div class="form-group">
                                        <span id="savenewusergroup"></span><br>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6"><label for="User rights" class="required">Application Pages</label></div><br>
                                        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6" id="pages-list-select" name="pages-list">
                                        </div>
                                        <!-- <div id="selected-pages" style="margin-top:100px;">Search</div> -->
                                    </div>
                                    <div class="form-group" style="margin-top:120px;">
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6"><label for="description">Description</label></div>
                                        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6"><textarea type="textarea" rows="4" cols="10" class="form-control" id="description" placeholder="Enter description" name="name"></textarea></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6"><label for="comments">Comments</label></div>
                                        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6"><textarea type="textarea" rows="4" cols="10" class="form-control" id="comments" placeholder="Enter comments" name="name"></textarea></div>
                                    </div>
                                </div>
                              <!-- /.box-body -->
                            </form>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 responsive sub-group-2">
                            <h5 class="admin-headings">Edition of existing user group</h5>
                            <form role="form" id="editgroupuserdetails">
                                <div class="box-body">
                                    <div class="form-group">
                                      <div><label for="Name1" class="required">Group Name</label></div>
                                      <div><input type="text" class="form-control" name="groupname" id="usergroupname" readonly>
                                      <span id="editusergroupname"></span></div>
                                    </div>
                                    <div class="form-group">
                                      <div><label for="description">Description</label></div>
                                      <div><input type="textarea" class="form-control" name="description" id="groupdescription">
                                      <span id="editgroupdescription"></span></div>
                                    </div>
                                    <div class="form-group">
                                      <div><label for="comments">Comments</label></div>
                                      <div><input type="textarea" class="form-control" name="comments" id="groupcomments">
                                      <span id="editgroupcomments"></span></div>
                                    </div>
                                </div>
                              <!-- /.box-body -->

                                <div class="box-footer">
                                    <button  type="button" class="col-lg-2 btn btn-primary saveeditedusergroup">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12" id="admin-licensing" style="display:none;">
                        <div class=" col-sm-12 col-md-6 col-lg-12 kpi-container-1" style="padding:0px 0px 0px 0px;background-color:#ECF0F5;display:none;">

                            <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 padzero add-new-license'>     
                                <div class='col-sm-12 col-md-12 col-lg-12 kpis_min_height user-mod menu_li'>
                                    <div class=" col-sm-12 col-md-12 col-lg-12" ><span class="kpis_heading" >Add License</span></div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-12 kpis_min_height remove-license">   
                                <div class="col-sm-12 col-md-12 col-lg-12 kpis_min_height user-mod menu_li">
                                    <div class=" col-sm-12 col-md-12 col-lg-12" ><span class="kpis_heading" >Remove License</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="license-modification" style="display:none;">
                        <div class="sub-license-2">
                            <div class="col-lg-12">
                                <h5 class="admin-headings">Addition of new License</h5>

                                <form action="new_license_addition" role="form" id="addnewlicenseform" class="form-horizontal" enctype="multipart/form-data" method="POST">
                                    {% csrf_token %}
                                    <div class="col-lg-12 box-footer" >
                                        <button type="submit" class="col-lg-2 btn btn-primary savenewlicense" style="margin:6px;float:right;">Submit</button>&nbsp;
                                        <button class="col-lg-2 btn btn-default cancellicense" style="margin:6px;float:right;">Cancel</button>
                                  </div>
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-body">
                                    <div class="form-group">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label for="plant-list" class="control-label required">Plant list : </label></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><span id="sitename-list-select" name="sitename-list-selection"></span></div><br>
                                        <span id="addtl"></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label for="tech-list" class="control-label required">Technology list : </label></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><span id="technology-list-select" name="technology-list-selection"></span></div><br>
                                        <span id="addpl"></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label for="approved-by" class="control-label required">Approved by</label></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><input type="text" class="form-control" id="approved-by" placeholder="Enter Approver's name" name="approved-by" /></div><br>
                                        <span id="addapprovedby"></span>
                                    </div>  
                                    <div class="form-group">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label for="approved-date" class="control-label required">Approved date</label></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ><input type="text" class="form-control" id="approved-date" name="approved-date" placeholder="Enter Approval date" /></div><br>
                                        <span id="addapproveddate"></span>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label for="file-upload" class="control-label">Upload file(Only images & PDFs)</label></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><input type="file" accept="image/*,application/pdf" data-max-size="2048" id="file-upload" name="file-upload" placeholder="Upload file" /></div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label for="description-license" class="control-label required">Description</label></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><textarea type="textarea" rows="4" cols="10" class="form-control" id="description-license" name="description-license" placeholder="Enter description"></textarea></div>
                                        <span id="adddescription"></span>
                                    </div>

                                    <div id="selected-user-groups" style="display:none;">
                                    </div>
                                    
                                  <!--</div>
                                  <!-- /.box-body -->
                                </form>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12" id="license-main" style="display:none;">
                        <h5 class="admin-headings" id="license-heading">List of Licenses</h5>
                        <a href="#comman-modal" data-backdrop="static" style="float:right; margin-bottom:6px;margin-right:2%;" data-toggle="modal"><i class="fa fa-trash deletelicense"></i></a>
                        <div class="col-lg-12 license-main-division">
                            <div class="" id="license-list">
                                <table id="license-list-datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                </table>
                                <span id="update-license-dmsg"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--  modal content for user   -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!--   Modal content  -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete User</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete User?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="col-lg-1 btn btn-primary user_yes" data-dismiss="modal">Delete</button>
                    <button type="button" class="col-lg-1 btn btn-default user_no" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!--  modal content for user   -->
    <div class="modal fade" id="common-modal" role="dialog">
        <div class="modal-dialog">

            <!--   Modal content  -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body" >
                    <p>Are you sure you want to delete User?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" style="position:relative;float:right;" class="col-lg-1 btn btn-primary modal-yes" data-dismiss="modal"></button>
                    <button type="button" style="position:relative;float:right;" class="col-lg-1 btn btn-default modal-no" data-dismiss="modal"></button>
                </div>
            </div>
        </div>
    </div>

    <!--  Modal Content for user role group -->
    <div class="modal fade" id="myModalusergroup" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete User role group - "<span id="populated-groupname"></span>"</h4>
                </div>
                <div class="modal-body">
                    <p><br>This User role group contains <span id="groupuser1"></span> user(s). Are you sure you want to delete User role group?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="col-lg-1 btn btn-primary usergroup_yes" onclick="$(this).modal('hide');" data-dismiss="modal">Delete</button>
                    <button type="button" class="col-lg-1 btn btn-default usergroup_no" onclick="$(this).modal('hide');" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!--  Modal Content for user role group -->
    <div class="modal fade" id="myModaldatausergroup" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete data User group - "<span id="populated-groupdataname"></span>"</h4>
                </div>
                <div class="modal-body">
                    <p><br>This User role group contains <span id="groupdatauser1"></span> user(s). Are you sure you want to delete data User group?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="col-lg-1 btn btn-primary datausergroup_yes" onclick="$(this).modal('hide');" data-dismiss="modal">Delete</button>
                    <button type="button" class="col-lg-1 btn btn-default datausergroup_no" onclick="$(this).modal('hide');" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!--  Modal Content for user role group -->
    <div class="modal fade" id="myModaluser" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete selected User(s)</h4>
                </div>
                <div class="modal-body">
                    <p><br>Are you sure you want to delete the selected users?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="col-lg-1 btn btn-primary deleteuser_yes" onclick="$(this).modal('hide');" data-dismiss="modal">Delete</button>
                    <button type="button" class="col-lg-1 btn btn-default deleteuser_no" onclick="$(this).modal('hide');" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!--  Modal Content for data user group -->
    <div class="modal fade" id="myModaldatauser" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete selected User(s)</h4>
                </div>
                <div class="modal-body">
                    <p><br>Are you sure you want to delete the selected users?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="col-lg-1 btn btn-primary deletedatauser_yes" onclick="$(this).modal('hide');" data-dismiss="modal">Delete</button>
                    <button type="button" class="col-lg-1 btn btn-default deletedatauser_no" onclick="$(this).modal('hide');" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!--  Modal Content for deletion of multiple users -->
    <div class="modal fade" id="myModaluserdeletion" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete selected User(s)</h4>
                </div>
                <div class="modal-body">
                    <p><br>Are you sure you want to delete the selected users?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="col-lg-1 btn btn-primary deletefromuser_yes" onclick="$(this).modal('hide');" data-dismiss="modal">Delete</button>
                    <button type="button" class="col-lg-1 btn btn-default deletefromuser_no" onclick="$(this).modal('hide');" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!--  Modal Content for adding new user to an existing user role group -->
    <div class="modal fade" id="myModalnewuser" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add new users to the selected User role group</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="usersearch" placeholder="Search User">
                    <div id="add-new-user"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="col-lg-1 btn btn-primary newuser_yes" data-dismiss="modal">Add</button>
                    <button type="button" class="col-lg-1 btn btn-default newuser_no" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

        <!--  Modal Content for adding new data user to an existing user role group -->
    <div class="modal fade" id="myModalnewdatauser" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add new users to the selected User role group</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="usersearch" placeholder="Search User">
                    <div id="add-new-user"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="col-lg-1 btn btn-primary newdatauser_yes" data-dismiss="modal">Add</button>
                    <button type="button" class="col-lg-1 btn btn-default newdatauser_no" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    {% block js-required %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script> 
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
        <script src='{% static "user_mod/multiselect/jquery-sumoselect-min.js" %}'></script>
        <script type="text/javascript" src="{% static 'Zebra_Datepicker-master/public/javascript/zebra_datepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/admin.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.treeselect.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.chosentree.js' %}"></script>
        <script type="text/javascript" src="{% static 'dist/js/select2.min.js' %}"></script>
       
    {% endblock %}

    
</body>
{% endblock %}
<footer>
    <div class="row-fluid">
        <div class="span12">
            <hr class="footer-separator">
            <!-- Footer -->
            <div id="footer">
                <center>
                <i class="fa fa-copyright" aria-hidden="true"></i> Copyrights {% now "Y" %} All Rights Reserved, Henkel 
                </center>
            </div>
        </div>
    </div>
</footer>
