

{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom Fonts -->
    <link href="{% get_static_prefix %}qualitypulse/css/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="icon" href="{% get_static_prefix %}images/favicon.png" type="image/ico"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/login.css">

    <title> 
        {% block title %}
            Login :: Henkel
        {% endblock %}
    </title>
</head>
<div id="content" class="container-fluid">
    <div style="height:50px;"></div>
                <div id="main-content" align="center">                    
                    <div class="content-border row-fluid">
                        <div class="henkel_image">
                            
                        </div>
                        <div id="login-form" class="span12">

                            <fieldset>
                                <div class="container">
                                    <div class="card card-container">
                                        <img style="max-width:50%;" src="{% static 'qualitypulse/img/logo.png' %}" alt="LOGO"/>
                                        <p id="profile-name" class="profile-name-card"></p>
                                        <form class="form-horizontal" action="{{ app_path }}" autocomplete="off" method="post" id="login-form">{% csrf_token %}
                                        <input type="hidden" name="next" value="{{ request.GET.next }}" />
                                         <div class="form-group">
                                            <div class="col-md-10">
                                              <input placeholder="Enter Username" type="text" name="username" maxlength="254" id="id_username" class="bn-input">
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <div class="col-md-10">
                                              <input placeholder="Enter Password" type="password" name="password" id="id_password" class="bn-input">
                                            </div>
                                          </div>

                                           <input id="next-next" type="hidden" name="next" value="{{ next }}" />

                                         <div class="form-group">
                                            <div class="col-md-10">
                                              <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button><br />
                                                <a href="#" id="forgot-password-anchor" class="forgot-password">
                                                    Forgot the password?
                                                </a>
                                                {% if invalid %}
                                                    <span class="col-lg-12 col-md-12 col-sm-12 ccol-xs-12" id="login-error" style="color:red;margin-left:10%;">Wrong credentials entered</span>
                                                {% endif %}
                                            </div>
                                          </div>
                                       </form>

                                    </div><!-- /card-container -->
                                </div><!-- /container -->

                            </fieldset>
                            
                        </div> <!-- end login-form -->
                    </div>    <!--end of content border.-->       
                    
                </div>                  
                <div class="row-fluid">
                    <div class="span12">
                        <hr class="footer-separator">
                        <!-- Footer -->
                        <div id="footer">
                            <center>
                            <i class="fa fa-copyright" aria-hidden="true"></i> Copyrights {% now "Y" %} All Rights Reserved, Henkel 
                            </center>
                        </div>
                    </div>
                </div>
        </div>

<!-- <script src="{% get_static_prefix %}js/jquery.min.js"></script>   -->
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script TYPE="text/javascript" >
    $(function(){
       $('.close').click(function() {
           $('.alert').hide();
        })
    });

    // $(document).on('click', '.btn-signin', function(event) {
    //     console.log($("#id_username").val());
    //     console.log($("next-next"));
    //     event.preventDefault();
    // })
    // if(document.myForm.USER) {
    //     document.myForm.USER.focus();
    // }
</script>