/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.margin_bt_5
{
margin-bottom:5px;

}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.mobile_menu_li
{
    border-bottom: 1px #EFEFEF;
}
.mobile_menu_li:hover
{
background-color:white
}
.mobile_menu_ul
{
background-color:#63B3DA;
}
li.mobile_menu_li:hover {
 background-color: #2796CC;
}
.mobile_menu_icons
{
 /* padding-top:20px; */
}
.collapsible-body
{
min-height:150px; 


}
.collapsible-body p {
    margin: 0.2em;
    padding: 0rem!important; 
}
.list_content
{

display:none;
}


.btn
{
    height: 23px !important;
    line-height: 23px !important;
    padding: 0 0.5rem !important;
    font-size: 11px ! important;
}
.side-nav a
{
color:white;
display: block;
font-size: 1rem;
height: 50px;
line-height: 50px;
padding: 0px 15px;
}
nav .nav-wrapper .side-nav i {
    display: block;
    font-size: 1rem;
    height: 50px;
    line-height: 50px;
}

 nav .nav-wrapper i {
    height: 50px;
    line-height: 50px;
	font-size: 1.5rem;
}

.nav-wrapper
{

background-color:#FFFFFF
}
	.brand-logo {
    position: absolute;
    color: #DD4B39 !important;
    display: inline-block;
    font-size: 2rem !important;
    padding: 0;
    white-space: nowrap;
    text-decoration: none!important;
}
nav{
height: 50px;
line-height: 50px;
}
#map {
height: 100%;
}
.controls {
background-color: #fff !important;
border-radius: 2px !important;
border: 1px solid transparent !important;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3) !important;
box-sizing: border-box !important;
font-family: Roboto !important;
font-size: 15px !important;
font-weight: 300 !important;
height: 29px !important;
margin-left: 17px !important;
margin-top: 10px !important;
outline: none !important;
padding: 0 11px 0 13px !important;
text-overflow: ellipsis !important;
width: 150px !important;
    z-index: 1;
    position: absolute;
    left: 105px;
    top: 54px;
}
.controls:focus {
border-color: #4d90fe;
}
.copyright
{
width:100%;
border-top:2px solid #EFEFEF;
font-size:10px;
padding-top: 2px;

background: #808080;
height: 20px;


}
.select-wrapper{margin-left:40px;}
::-webkit-scrollbar {
    width: 4px;
}
 
::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px #EFEFEF;
    border-radius: 0px;
}
 
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #757879;
}
.last_meeeting
{
font-size:13px;
font-weight:500;

}
.pad_left_3
{

padding-left:3px;

}
.pad_left_2
{

padding-left:3px;

}
.address_val
{
font-size:10px;
}
.address
{

padding-left:5px;
font-size: 13px;
font-weight: 500;
}




.notificationBar
{

list-style:none;
padding:0px;
margin:0px;
#position: absolute;
height: 100%;
position:relative;
}
.notificationBar li i
{

width:38px;
height:38px;
display:block;
text-align:center;
border: 1px solid #ddd;
line-height:38px;
border-radius:50%;
background-color:white;

}
.notificationBar li
{
border-top: 0px solid #EFEFEF !important; 
color:#797979;
padding-top:60px;

}

.notificationBar li div
{

position:absolute;

}
.notificationBar li i:after
{
content:'';
z-index:-1;
height:3px;
width:20px;
margin-top:15px;
background-color:#ddd;
position:absolute;

}

.notificationBar li:after
{
    content: '';
    z-index: -1;
    width: 3px;
    background-color: #ddd;
    position: absolute;
    left: 15px;
    height: 25%;


}

.rating 
{
width:12px !important;
height:12px !important;
border:0px !important;
border-radius:0% !important;
background-color:#EFEFEF!important;
}
.menu_li
{
padding: 8px 0px 8px 5px;
  
    border-bottom: 1px solid #FFF;
    font-size: 11px;
    background-color: rgb(251, 249, 249);
    font-weight: bold;
	cursor:pointer;
	border-bottom: 1px solid #EFEFEF;
	text-align: center;
}
.menu_li:hover
{
border-top: 1px solid #EFEFEF;

border-left: 2px solid #DD4B39 !important;
}
.clicked_li
{
border-top: 1px solid #EFEFEF !important;
border-bottom:1px solid #EFEFEF ! important;
background-color:#FFF !important; 
color:#E17265 !important;
/*border-left: 2px solid #DD4B39 !important;*/
}

.user_logo
{
padding-right:15px;
color:#7f7f7f
font-size: 20px !important;
}
.user_name
{
    color: #2d323e;
    float: left;
    padding-left: 3px;
    font-size: 12px;
}
.company_logo {
    height: 96%;
    padding: 0% 10% 0% 10%;
    width: 100%;
}
.padzero
{
padding:0px;
}
.kpis_heading
{
color:#FFF; font-size:12px;font-family: sans-serif;
}
.charts_heading
{
    line-height: 25px;
    padding-left: 7px;
    font-size: 12px;
    color: #2D323E;
}
.font_color
{
/*color:rgba(127, 119, 119, 0.87);*/
color:#2D323E;
float:right;
font-size:12px;
}
.radio_heading
{
font-size: 12px;
color: #2D323E;
}
.menu_i
{

padding-right:3px !important;font-size:14px!important;

}
.pad_10px
{
padding: 3px 0px 0px 0px;
}

.pad_20px
{
padding:3px 16px 0px 20px;
}
.kpi_span_val
{
	color: #FFF;
    font-size: 18px;
   /* float: right;*/
    font-family: cursive;
    font-weight: 500;
}
.kpis_i
{
    font-size: 33px !important;
    padding: 8px 0px 0px 12px !important;
    color: #FFF! important;
}
.kpi1
{
min-height:50px;
background-color:#67A3AF;
}
.kpi2
{
min-height:50px; 
background-color:#327AC0;

}
.kpi3
{
min-height:50px; 
background-color:#AD3232;
}
.kpi4
{
min-height:50px; 
background-color:#61546D;
}
.kpis_min_height
{
min-height:50px;
}
.kpi1_background
{
background-color:#305E95;
text-align:center;
}
.kpi2_background
{
background-color:#3184D4;
text-align:center;
}
.kpi3_background
{
background-color:#C43232;
text-align:center;
}
.kpi4_background
{
background-color:#735F87;
text-align:center;
}

.kpi5_background
{
background-color:#F8963F;
text-align:center;
}
.kpi6_background
{
background-color: #E40303;
text-align:center;
}

.div_shadow
{
/*box-shadow:2px 3px 3px rgba(0, 0, 0, 0.11)*/
}
.toggle_div
{

top: 34px;
position: absolute;
height: 100px;
background: #FFF;
visibility: visible;
opacity: 1;
z-index: 1000;
left: 100px;
box-shadow: 2px 3px 3px #CAC2C2;
background-color: white;
}

.top_bar
{
height:50px;
line-height:50px;

}
.user_logo
{

}
.notification_img
{
color: #7F7F7F;
float: right;
padding: 18px 0px 0px 0px;
}
.data_sync
{
font-size: 12px;
color: #2D323E;
}
.info_icon
{
float:right;
padding:5px 5px 0px 0px;
color:rgba(127, 119, 119, 0.87)
}

input[type=radio] {
    margin: 1px 0 0;
    line-height: normal;
}

.tile_css
{
min-height:230px;
padding:0px;
background-color:#FFF;
border-radius:4px;
}

.filter_css
{
height:35px;
padding: 0px 0px 0px 5px;
}
.filter_bar
{
    min-height: 35px;
    padding: 2px 2px 0px 2px;
    margin-bottom: 2px;
    background-color: #EFEFEF;
	border-bottom:2px solid #FFF;
}
#reportrange
{

    background: #fff;
    cursor: pointer;
    padding: 1px 10px;
    border: 1px solid #ccc;
    height: 25px;
}

.pad_5px
{
padding:5px 0px 5px 0px;

}

.filter_label
{
padding:10px 0px 0px 0px;
}

.tile_title_bar
{

height:35px;padding:5px 0px 0px 0px;
}
.border_bottom
{

 border-bottom:1px solid #EBEAEA
}

.margin_left_14px
{
margin-left:-14px;

}
.moredetails
{
    font-size: 12px;
    color: #2D323E;
	float:right;
}
.sidemenu_i
{
font-size: 20px !important;

}
.spanmargin
{

}
.charts_heading1 {
   line-height: 32px;
   padding-left: 7px;
   font-size: 12px;
   color: #2D323E;
}

.modal-backdrop.in {
	opacity: 0.5;
}
.watermark
{
/*opacity:0.1;
background-image:url("/static/qualitypulse/img/comingsoon.jpg")*/
}

.tablecss
{
color:#2D323E;
padding:5px 1px 5px 1px;

}

input{border:1px solid #EFEFEF;text-align:center;border-radius:5px;}
table{width:106%;}
th{color:#2D323E; text-align:center}
td{color:#2D323E; text-align:center;}
hr{color:#8266AA;}
.off_spec
{

cursor:pointer
}

