<!-- Pulse login page -->
{% extends "qualitypulse/theme.html" %}

		<style type="text/css">
			.text-header { 
				color: white; 
				text-align: center; 
				top: 30px; 
				width: 110px; 
				left: 35%; 
				position: absolute; 
				background: green;
			}

			input {
				width: 200px;
			}

			.login-box {
				background-color: white;
				max-width: 340px;
				margin: 0 auto;
				position: relative;
				top: 80px;
				padding-bottom: 30px;
				border-radius: 5px;
				box-shadow: 0 5px 50px rgba(0,0,0,0.4);
				text-align: center;
				height: 250px;
			}

			.login-box .box-header {
				background-color: #665851;
				margin-top: 0;
				border-radius: 5px 5px 0 0;
			}
		</style>

style="width:300px; display:block; height:250px; position: absolute; margin: 100px; border: 1px solid black; padding-top: 50px; padding-left: 15px; border-radius:5px;"

	<body>
		<h3>To access Quality Pulse, please LOG IN with your credentials.</h3>
		<div class="container">
			<div class="login-box animated fadeInUp" >
				<div class="box-header">
					<h2>Log In</h2>
				</div>
				<form>
					<div>
						<label value="username"><span style="text-decoration:underline">U</span>sername:</label>
						<input type="text" placeholder="Enter your username" />
					</div>
					<div>
						<label style="padding-top:20px;" value="username"><span style="text-decoration:underline">P</span>assword:</label>
						<input type="password" placeholder="Enter your password" />	
					</div>
					<div style="position: relative; float: right; padding-right: 15px;">
						<a href="#">Forgot your password?</a>
					</div>
					<div style="float:right; padding-top: 30px; padding-right: 20px;">
						<button class="btn btn-success">Submit</button>
						<button class="btn btn-danger">Cancel</button>
					</div>
				</form>
			</div>
		</div>
<!--
			<div class="qp-description" style="display:inline-block; position: absolute; float: right; width: 40%; margin-left: 50%;">
				<p style='text-align:justify;font-size:12px;line-height:28px;'>Quality Pulse is a Nano Application which provides Birds Eye view of the "Quality" of the Bulk Material produced and the Raw Materials used in the process. This is achieved by aggregating the Quality of Output Bulk of all process orders and quality of Raw Materials at Plant Level to derive a "Quality Score" for the Plant. It includes all the Products being produced in the plant. Currently this is restricted to few selected items from the PSA line for Dragon Plant.</p>
						<p style='text-align:justify;font-size:12px;line-height:28px;'>Each Process Order or a Raw Material Batch is assigned to one of the four quadrants i.e.<br>A - Excellent<br>B - Good<br>C - Bad<br>D - Poor<br>based on the quality of the output parameters and Raw Material Quality Parameters. Quality Score provides the % of Process Orders or raw material batches in the Excellent and the Good bucket. The application also provides the user an ability to slice and dice the data by Date Range, SBU, Technology, Line, Resource, Operator etc. It also has a Process Capability component, which essentially captures the Process Stability in terms of Cpk of each of Output Quality parameters by Bulk Product or raw materials. It includes a control chart with LCL and UCL along with Standard deviation. Currently the application is in Pilot and all of the above components are being validated by laying over Domain Knowledge.</p>
			</div>
		-->
	</body>

	<footer>
	</footer>