body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}

h4 {
	font-style: italic;
}

input[type="radio"] {
	margin-left:10px;
	margin-right:5px;
}

.underline-style-text {
	text-decoration: underline;
}

#content {
	/*height: 400px; */
	max-height: 800px;
	margin-bottom: 65px;
}

.user-role-select {
	text-align: center; 
	position:relative;
	border: 0.5px solid black;
}

hr.footer-separator{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}

#footer {
	color:#fff;
}

h5.admin-headings {
	background-color: #b2dfdb;
	height: 25px;
	text-align: center;
	padding-top: 5px;
}