{% extends "qualitypulse/theme.html" %}

	{% block filters-container %}
					
	{% endblock %}

{% block main-container1 %}
{% load staticfiles %}
<!------------------------------------------kpi-container ------------------------>	
<div class=" col-sm-12 col-md-12 col-lg-12 " style="padding:0px 0px 0px 0px;background-color:#ECF0F5">

	<h3 style="text-align:center;" class="col-lg-9 col-md-9 col-sm-9 col-xs-9">Quality Correlator - Coming Soon!</h3>

	<button class="btn btn-primary"><a href="http://localhost/user_mod/login"></a>Pulse</button>

</div>
<script>$('.filters-container, .main-container-sidebar').css('dispaly','none')</script>

{% endblock %}