{% extends "qualitypulse/theme.html" %}
	{% block filters-container %}
					<div class=" col-sm-12 col-md-12 col-lg-12 pad_5px margin_left_14px " style="">
						<div class=" col-sm-12 col-md-12 col-lg-10 padzero">
								<div class=" col-sm-12 col-md-12 col-lg-12 padzero">
									<div class="col-sm-3 col-md-3 col-lg-3 filter_css" >
										<div class=" col-sm-4 col-md-4 col-lg-4 filter_label ">
												<span class='font_color' >Plant:</span>
										</div>
										<div class="col-sm-8 col-md-8 col-lg-8" style="padding:0px; margin-top:7px;">
											<input type="text" style="width:100%;" data-k = "" class="selected-value" id="plant-dropdown">
											<i class="fa fa-caret-down o-dropdown" aria-hidden="true" style="position: absolute;right: 0.6em;font-size: 16px;top: 1px;"></i>
											<div class="col-sm-12 col-md-12 col-lg-12 uniselect filter-data" style="padding:0px;margin-top: 14px;" id="plantbar">
												{% if plant_dict %}
													<p style="margin-bottom: 0px;"><input id="plantbar-search" placeholder="Enter here." class="SearchTextBox" style="position:fixed;width: 14.3em;border-radius: 0;top:5.5em;" type="text"></p>
													{% for key, value in plant_dict.items %}
														<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px;" class="uni-val-label" data-key="{{key}}" title="{{value}}">{{value}}</label>
													{% endfor %}
												
												{% endif %}
											</div>
											<!-- <select  placeholder="--Select--"class='plant_config'>
												{% if plant_dict %}
												{% for key, value in plant_dict.items %}

												 <option value="{{key}}">{{value}}</option> 
												{% endfor %}
												{% else %}
												<option value="all">No Plant To choose</option> 
												{% endif %} 
											</select> -->
										</div>
									</div>		
									<div class="col-sm-3 col-md-3 col-lg-3 filter_css" >
										<div class=" col-sm-4 col-md-4 col-lg-4 filter_label ">
												<span class='font_color' >Product:</span>
										</div>
										<div class="col-sm-8 col-md-8 col-lg-8" style="padding:0px;margin-top:7px;">
											<input type="text" readonly style="width:100%;" data-k = "" class="selected-value" id="product-dropdown">
											<i class="fa fa-caret-down o-dropdown" aria-hidden="true" style="position: absolute;right: 0.6em;font-size: 16px;top: 1px;"></i>
											<div class="col-sm-12 col-md-12 col-lg-12 uniselect filter-data" style="padding:0px;margin-top: 14px;" id="productbar">
												{% if product_dict %}
													<p style="margin-bottom: 0px;"><input id="productbar-search" placeholder="Enter here." class="SearchTextBox" style="position:fixed;width: 14.2em;border-radius: 0;top:5.5em;" type="text"></p>
													{% for key, value in product_dict.items %}
														<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px;" class="uni-val-label" data-key="{{key}}" title="{{value}}">{{value}}</label>
													{% endfor %}
												
												{% endif %}
											</div>
											<!-- <select placeholder="--Select--"class='product_config'>
												{% if product_dict %}
												{% for key, value in product_dict.items %}

												 <option value="{{key}}">{{value}}</option> 
												{% endfor %}
												{% else %}
												<option value="all">No Product To choose</option> 
												{% endif %}  
											</select> -->
										</div>
									</div>
									<!--<div class="col-sm-3 col-md-3 col-lg-3 filter_css" >
										<button type="button" class=" threshold_btn btn btn-primary btn-xs" id="bench_mark" style=" float:right; padding:0 1rem !important">CHOOSE BENCHMARK</button>
									</div>-->
								</div>						
						</div>
					</div>	
						
	{% endblock %}
{% block main-container1 %}
{% load staticfiles %}
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<ul class="nav nav-tabs" role="tablist" id='test'>
			<li role="presentation" class="active"><a href="#threshold" aria-controls="threshold" role="tab" data-toggle="tab">Benchmark</a></li>
			<li role="presentation"><a href="#weight" aria-controls="weight" role="tab" data-toggle="tab">Weight</a></li>
			<li role="presentation"><a href="#segment" aria-controls="segment" role="tab" data-toggle="tab">Segment</a></li>
			<li role="presentation"><a href="#revision-count" aria-controls="revision-count" role="tab" data-toggle="tab">Revision count</a></li>
		</ul>
		<div class="tab-content" >
			<div role="tabpanel" class="tab-pane active" id="threshold" style="padding:4px 0px 0px 0px">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<!--<div id="cpp_head"><span style="color:#7AA3DB;font-size:18px;">Bulk</span> <span style="float:right "><span style="color:red">*</span><span style="font-size:12px">Note:</span><span style="font-size:10px; padding-left:5px;">LowerThreshold Should Be Greater than Previous Value,Upper Threshold Should Be Less Than Previous Value .</span> </span></div>-->
					<div id="bulk_table" style="font-size:12px;font-family:sans-serif;">
						<table id="bulk_tble" class="table table-striped table-bordered " style="font-size:12px;font-family:sans-serif;">
							<thead>
								<th>Product</th><th>Quality Parameter</th><th>Lower Threshhold</th><th>Upper Threshhold</th><th>Benchmark Value</th><th>Last Updated Date</th><th>Last Updated By</th>
							</thead>
							<tbody id='threshold_tbody'>
							</tbody>
						</table>
						<button type="button" class=" threshold_btn btn btn-primary btn-xs" id="threshold_bulk_but" style=" float:right; padding:0 1rem !important">SAVE</button>
						<button type="button" class="btn btn-info btn-xs" id="threshold_bulk_but1" style="margin-left:3%;margin-right:1%;float:right;">CANCEL</button>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="weight" style="padding:4px 0px 0px 0px">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="cpp_head"><span style="color:#7AA3DB;font-size:18px "></span> <span style="float:right "><span style="color:red">*</span><span style="font-size:12px">Note:</span><span style="font-size:10px; padding-left:5px;">Weight Should Be Ranging from 0 to 100 .</span> </span></div>
					<div id="bulk_table"  style="font-size:12px;font-family:sans-serif;">
						<table id="bulk_tble" class="table table-striped table-bordered"  style="font-size:12px;font-family:sans-serif;">
							<thead><th>Product</th><th>Quality Parameter</th><th>Weight Percentage</th><th>Last Updated Date</th><th>Last Updated By</th></thead>
							<tbody id="weight_tbody">
							</tbody>
							</table>
						<button type="button" class="weight_btn btn btn-primary btn-xs" id="weight_bulk_btn" style="float:right; padding:0 1rem !important">SAVE</button>
						<button type="button" class="btn btn-info btn-xs" id="weight_bulk_but1" style="margin-left:3%;margin-right:1%;float:right;">CANCEL</button>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="segment" style="padding:4px 0px 0px 0px">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="cpp_head"><span style="color:#7AA3DB;font-size:18px "></span> <span style="float:right "><span style="color:red">*</span><span style="font-size:12px">Note:</span><span style="font-size:10px; padding-left:5px;">Segment of the selected product(values of the segment is inclusive)</span> </span></div>
					<div id="bulk_table"  style="font-size:12px;font-family:sans-serif;">
						<table id="bulk_tble" class="table table-striped table-bordered"  style="font-size:12px;font-family:sans-serif;">
							<thead><th>Product</th><th>Segment</th><th>Lower limit</th><th>Upper limit</th><th>Last Updated Date</th><th>Last Updated By</th></thead>
							<tbody id="segment_tbody">
							</tbody>
						</table>
						<button type="button" class="segment_btn btn btn-primary btn-xs" id="segment_bulk_btn" style="float:right; padding:0 1rem !important">SAVE</button>
						<button type="button" class="btn btn-info btn-xs" id="segment_btn1" style="margin-left:3%;margin-right:1%;float:right;">CANCEL</button>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="revision-count" style="padding:4px 0px 0px 0px">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="cpp_head"><span style="float:right "><span style="color:red">*</span><span style="font-size:12px">Note:</span><span style="font-size:10px; padding-left:5px;">Select the revision count for this combination of Site & Product.</span> </span></div>
					<div id="bulk_table" style="font-size:12px;font-family:sans-serif;">
						<table id="bulk_tble" class="table table-striped table-bordered " style="font-size:12px;font-family:sans-serif;">
							<thead>
								<th>Product</th><th>Quality Parameter</th><th>Minimum PO count</th><th>Last Updated Date</th><th>Last Updated By</th>
							</thead>
							<tbody id='revision_count_tbody'>
							</tbody>
						</table>
						<button type="button" class=" revision_count_btn btn btn-primary btn-xs" id="revision_count_btn" style=" float:right; padding:0 1rem !important">SAVE</button>
						<button type="button" class="btn btn-info btn-xs" id="revision_count_btn1" style="margin-left:3%;margin-right:1%;float:right;">CANCEL</button>
					</div>
				</div>
			</div>
		</div>
	</div>	

	<div class="modal fade" id="common-modal" role="dialog">
        <div class="modal-dialog">

            <!--   Modal content  -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body" >
                    <p>Are you sure you want to delete User?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" style="position:relative;float:right;" class="col-lg-1 btn btn-primary modal-yes" data-dismiss="modal"></button>
                    <button type="button" style="position:relative;float:right;" class="col-lg-1 btn btn-default modal-no" data-dismiss="modal"></button>
                </div>
            </div>
        </div>
    </div>
	
	<div id="benchmark_modal" class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="gridSystemModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				  <div class="modal-header">
					<span class="modal-title">Set Bench Mark</span>
					<button type="button" class="close expand_modal_close2"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
					
					<i class="fa fa-info-circle info_icon chart13_info" data-original-title="" title="" style="padding-right:4em;"></i>
				  </div>
				  <div class="modal-body" id='modal_container' style='background:#FFF;min-height:270px; overflow: scroll;'>
					<div class="col-lg-12 col-md-12 ">
						<div class='col-lg-7 col-md-7 col-sm-7 col-xs-7' style="padding: px 0px 0px 0px;">
							<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12' id='3d_bar_container1' style="padding: px 0px 0px 0px;">
							</div>						
						</div>
						<div class='col-lg-4 col-md-4 col-sm-4 col-xs-4' style="padding: 74px 20px;" id="legend_button">
							
						</div>
						<div class='col-lg-1 col-md-1 col-sm-1 col-xs-1' style="padding: 74px 20px;" id="">
							<span class="UpperLimit benchmark_val" style="position:relative;top:11px;display:none;">BenchMark</span>
							<span class="Mean benchmark_val" style="position:relative;top:3.7em;display:none;">BenchMark</span>
							<span class="MidPoint benchmark_val" style="position:relative;top:6.8em;display:none;">BenchMark</span>
							<span class="LowerLimit benchmark_val" style="position:relative;top:9.8em;display:none;">BenchMark</span>
							<span class="Median benchmark_val" style="position:relative;top:12.7em;display:none;">BenchMark</span>
							
						</div>
					</div> 
					
				  </div>
			</div>
	  </div>
	</div>
	
	
	<script>
	
	if($($('.rawmaterial_li ').find('i')[0]).hasClass('fa-caret-down')) {
		$($('.menu_ul')[1]).slideToggle('');
		$($('.rawmaterial_li ').find('i')[0]).removeClass('fa-caret-down');
		$($('.rawmaterial_li ').find('i')[0]).addClass('fa-caret-up'); 
	}
	if($($('.admin_li ').find('i')[0]).hasClass('fa-caret-down')) {
		$($('.menu_ul')[1]).slideToggle('');
		$($('.admin_li ').find('i')[0]).removeClass('fa-caret-down');
		$($('.admin_li ').find('i')[0]).addClass('fa-caret-up'); 
	}
	if($($('.finishedgood_li').find('i')[0]).hasClass('fa-caret-up')) {
		$($('.menu_ul')[1]).slideToggle('');
		$($('.finishedgood_li').find('i')[0]).removeClass('fa-caret-up');
		$($('.finishedgood_li').find('i')[0]).addClass('fa-caret-down'); 
		$('.rawmaterial_li').find('ul').css('display','none');		
		$('.admin_li').find('ul').css('display','none');
		$('.rawmaterial_li').find('ul').css('display','none');		
		$('.finishedgood_li').find('ul').css('display','block');
	}
	page_index=$(".not_mobile")[7]
	$(page_index).addClass("clicked_li")
	
	$('#test a').click(function (e) {
	  e.preventDefault();
	  $(this).tab('show');
	})

	$('.plant_config').SumoSelect({search: true, searchText: 'Enter here.',selectAll:false}); 
	$('.product_config').SumoSelect({search: true, searchText: 'Enter here.',selectAll:false})
	
	$('.plant_config').change(function(){
		$('.product_config').SumoSelect().sumo.disable()
		$.ajax({
		method: "GET",
		url: "/qualitypulse/get_filter_data_config/",
		data:{plant:$('.plant_config').val()},
		success: function(result_data) {	
			filter_render_config('.product_config',result_data)			
			$('.select_search_class').css('display','none');
		}
		});				
	});

	function filter_render_config(classname,data)
	{
		$('.product_config').empty()
		/*for (i=0;i<data.length;i++)
		{
		$('.product_config').append('<option  value="'+data[i]+'">'+data[i]+'</option>')	
		}*/
		 $.each(data['product_dict'], function(key, value) {
			$('.product_config').append('<option  value="'+key+'">'+value+'</option>')
		 });
		if(data['product_dict'].length<1)
		{
		$('.product_config').append('<option  value="all">No options</option>')
		}

		$('.product_config').SumoSelect().sumo.reload()
		$('.product_config').SumoSelect().sumo.enable()	
		$('.product_config').SumoSelect().sumo.selectItem(0);
		$('.product_config .select_search_class').css('display','none');
		add_search();
		table_render_threshold();
		table_render_weight();
		table_render_segment();
		table_revision_count();
	}
	
	function table_revision_count() {
		$.ajax({
		method: "GET",
		url: "/qualitypulse/get_revision_count_data/",
		data:{plant:$('#plant-dropdown').attr('data-k'),product_list:$('#product-dropdown').attr('data-k')},
		success: function(result_data) {	
			tbdy='';
			$('#revision_count_tbody').html('');
			element_index=0;
			var str = '';
			
			for (k=0;k<result_data.length;k++)
			{
			
				var product_id = $('#product-dropdown').attr('data-k')
				plant_id = $('#plant-dropdown').attr('data-k')


			    str += '<tr id="rev_count_'+k+'" data-plant_name="'+plant_id+'" data-updatedcount="As Previous" data-plant_id="'+result_data[k]['SiteID']+'" data-product_no="'+product_id+'"><td>'+product_id+'</td><td>'+result_data[k]['ParameterName']+'</td><td><input onchange="check_integer(this)" class="revision_count_class" placeholder="Enter minimum PO count" value="'+result_data[k]['RevisionCount']+'" type="number" /></td><td>'+result_data[k]['CreatedTimeStamp']+'</td><td>'+result_data[k]['Owner']+'</td></tr>';
		
			}
			/*else {
				for (i=0;i<result_data.length;i++)
				{
					var product_id = $('.product_config').val();
					plant_id = $('.plant_config').val();
			        var str = '';
			        for(var i=0; i< product_id.length; i++) {
			            str = '<tr data-plant_id="'+plant_id+'" data-product_no="'+product_id[i]+'"><td>'+product_id[i]+'</td><td value="Revision count">Revision count</td><td><input class="revision_count_class" onchange="check_integer(this)" placeholder="Enter minimum PO count" value="50" type="number" /></td></tr>';
			        }		
				}
			}*/
			$('#revision_count_tbody').html(str);
			}
		});
	}
	$('#revision_count_btn1').click(function(){
		table_revision_count();
	});
	
	/*$('.revision_count_class').change(function() {
		console.log("inside check integer");
		var intRegex = /\d+$/;
		var num=el.value;
		if(!intRegex.test(num)) {
		  alert('must be an integer.');
		}
	});*/

	function check_integer(el) {
		
		var intRegex = /^\d+$/;
		var num=$(el).val();

		if(!intRegex.test(num)) {
		  alert('must be an integer.');
		  $(el).val($(el).attr('value'));
		}
		else {
			console.log('xxx');
		}
		var pattern = /^\d+$/;
        return pattern.test($(el).val());  // returns a boolean
	}
	
	
	var tr_id;
	var radio_button_id;
	var radio_button_id1;
	var input_bm_val;
	function table_render_threshold()
	{
		$('#weight_bulk_btn').prop("disabled", false);
		$.ajax({
		method: "GET",
		url: "/qualitypulse/get_threshold_data/",
		data:{plant:$('#plant-dropdown').attr('data-k'),product_list:$('#product-dropdown').attr('data-k')},
		success: function(result_data) {
			/*for (i=0;i<result_data[1]['datelist'].length;i++){
				$('.date_list').append('<option value="'+result_data[1]['datelist'][i]+'">'+result_data[1]['datelist'][i]+'</option>')
			}*/
			tbdy=''
			element_index=0
			for (i=0;i<result_data.length;i++)
			{
				plant_id=result_data[i]["SiteID"];
				plant_name=result_data[i]["SiteName"];
				product_no=result_data[i]["MaterialNumber"];
				if(result_data[i]["UpperLimit"]){UpperLimit=result_data[i]["UpperLimit"];}else{UpperLimit=0;}
				if(result_data[i]["LowerLimit"]){LowerLimit=result_data[i]["LowerLimit"];}else{LowerLimit=0;}
				if(result_data[i]["Benchmark"]){Benchmark=result_data[i]["Benchmark"].toString().match(/^-?\d+(?:\.\d{0,4})?/)[0];}else{Benchmark=0;}
				ParameterName=result_data[i]["ParameterName"];
				BenchmarkIndicator=result_data[i]["BenchmarkIndicator"];
				Owner=result_data[i]["Owner"];
				UpdatedTimeStamp=result_data[i]["CreatedTimeStamp"];
				//for(key in Object.keys(otput_dict)){
					if((element_index%2)==0){bgclr="#F9F9F9"}
					else{bgclr="#FFF"}
					if(Benchmark==0){disply='none';}else{disply='block';}
					if(UpperLimit==0 && LowerLimit==0 && Benchmark==0 )
					{
			
						tbdy=tbdy+'<tr data-plant_name="'+plant_name+'" data-benchmark_indicator='+BenchmarkIndicator+' data-plant_id='+plant_id+' data-product_name="'+product_no+'" data-ouput_name="'+ParameterName+'" data-updatedparam="As Previous"  id="'+i+'">'+ '<td>'+product_no+'</td>'+ '<td>'+ParameterName+'</td>'+ '<td><input disabled style="background-color:'+bgclr+'" type="text" class="LT" data-lt_value='+LowerLimit+'  data-index_value='+element_index+' value='+LowerLimit+'></td>'+
						'<td><input disabled style="background-color:'+bgclr+'" type="text"  disabled class="UT" data-ut_value='+UpperLimit+'  data-index_value='+element_index+' value='+UpperLimit+'></td>'+'<td><input  disabled style="background-color:'+bgclr+'" type="text" class="bench_val" id="val_'+i+'" data-index_value='+element_index+' value='+Benchmark+'>'+'<i class="fa fa-line-chart bench_mark" id="bm_'+ParameterName+'" style="float:right;color: #2357a6;cursor: pointer;display:'+disply+';"></i></td>'+'<td>'+UpdatedTimeStamp+'</td><td>'+Owner+'</td></tr>'			
					}
					
					else
					{
						tbdy=tbdy+'<tr data-plant_name="'+plant_name+'" data-benchmark_indicator='+BenchmarkIndicator+' data-plant_id='+plant_id+' data-product_name="'+product_no+'" data-ouput_name="'+ParameterName+'" data-updatedparam="As Previous"  id="'+i+'">'+ '<td>'+product_no+'</td>'+ '<td>'+ParameterName+'</td>'+ '<td><input disabled style="background-color:'+bgclr+'" type="text" class="LT" data-lt_value='+LowerLimit+'  data-index_value='+element_index+' value='+LowerLimit+'></td>'+
						'<td><input disabled style="background-color:'+bgclr+'" type="text" class="UT" data-ut_value='+UpperLimit+'  data-index_value='+element_index+' value='+UpperLimit +'></td>'+'<td><input  style="background-color:'+bgclr+'"  type="text" class="bench_val" id="val_'+i+'" data-index_value='+element_index+' value='+Benchmark+'>'+'<i class="fa fa-line-chart bench_mark" id="bm_'+ParameterName+'" style="float:right;color: #2357a6;cursor: pointer;display:'+disply+';"></i></td>'+'<td>'+UpdatedTimeStamp+'</td><td>'+Owner+'</td></tr>'
					}
					
					element_index=element_index+1;
				//}
				
				$('#threshold_tbody').html(tbdy);
				$('.LT').focusout(function(){
				if($(this).val()<$(this).data('lt_value')){alert("value should be greater than"+$(this).data('lt_value'));$(this).val($(this).data('lt_value'));ind=$(this).data('index_value'); $('.bench_val:eq('+ind+')').val((Number($('.LT:eq('+ind+')').val())+ Number($('.UT:eq('+ind+')').val()))/2 ) }
				else{ ind=$(this).data('index_value'); $('.bench_val:eq('+ind+')').val((Number($('.LT:eq('+ind+')').val())+ Number($('.UT:eq('+ind+')').val()))/2 )}				
				});
				$('.UT').focusout(function(){
				if($(this).val()>$(this).data('ut_value')){alert("value should be less than"+$(this).data('ut_value'));$(this).val($(this).data('ut_value'));ind=$(this).data('index_value'); $('.bench_val:eq('+ind+')').val((Number($('.LT:eq('+ind+')').val())+ Number($('.UT:eq('+ind+')').val()))/2 )}
				else{ ind=$(this).data('index_value'); $('.bench_val:eq('+ind+')').val((Number($('.LT:eq('+ind+')').val())+ Number($('.UT:eq('+ind+')').val()))/2 )}	
				});
				$('.bench_val').focusout(function(){
				ind=$(this).data('index_value');
				if($(this).val()<Number($('.LT:eq('+ind+')').val())|$(this).val()>Number($('.UT:eq('+ind+')').val()) ){alert('Benchmark Should be Between LowerThreshold and UpperThreshold');$('.bench_val:eq('+ind+')').val((Number($('.LT:eq('+ind+')').val())+ Number($('.UT:eq('+ind+')').val()))/2 )}
				});
			}
		}
		});	
	}
	$('#threshold_bulk_but1').click(function(){
		table_render_threshold();
	});
	function table_render_weight()
	{
		$('#weight_bulk_btn').prop("disabled", false);
		count=0;
		$.ajax({
		method: "GET",
		url: "/qualitypulse/get_weight_data/",
		data:{plant:$('#plant-dropdown').attr('data-k'),product_list:$('#product-dropdown').attr('data-k')},
		success: function(result_data) {
			tbdy=''
			row_index=0;
			loop_index=0;
			for (i=0;i<result_data.length;i++)
			{
				plant_id=result_data[i]["SiteID"];
				plant_name=result_data[i]["SiteName"];
				product_no=result_data[i]["MaterialNumber"];
				OPWeights=result_data[i]["OPWeights"];
				UpdatedDate=result_data[i]["CreatedTimeStamp"];
				Owner=result_data[i]["Owner"];
				weights_count=Object.keys(OPWeights).length;
				weight_index=0
				
				for(key in Object.keys(OPWeights)){
					if((row_index%2)==0){bgclr="#F9F9F9"}
					else{bgclr="#FFF"}
					if((OPWeights[Object.keys(OPWeights)[key]]*100)==0){
						tbdy=tbdy+'<tr data-row_index='+row_index+' data-weight_index='+weight_index+' data-plant_id='+plant_id+'  data-plant_name='+plant_name+' data-product_no='+product_no+' data-parameter_name="'+Object.keys(OPWeights)[key]+'">'+'<td>' +product_no+'</td>' + '<td>'+Object.keys(OPWeights)[key]+'</td>' +'<td><input  disabled   style="background-color:'+bgclr+'" type="number"  class="weight" data-wt_value='+(OPWeights[Object.keys(OPWeights)[key]]['Weight']*100).toFixed(0)+'  value='+(OPWeights[Object.keys(OPWeights)[key]]['Weight']*100).toFixed(0)+'  data-weights_count='+weights_count+'  data-loop_index='+loop_index+'  data-weight_index='+weight_index+'  data-row_index='+row_index+'   /></td>'+'</td>'+'<td>'+UpdatedDate+'</td>'+'<td>'+Owner+'</td>'+'</tr>'
					}
					else{
						tbdy=tbdy+'<tr data-row_index='+row_index+' data-weight_index='+weight_index+' data-plant_id='+plant_id+'  data-plant_name='+plant_name+' data-product_no='+product_no+' data-parameter_name="'+Object.keys(OPWeights)[key]+'">'+'<td>' +product_no+'</td>' + '<td>'+Object.keys(OPWeights)[key]+'</td>' +'<td><input    style="background-color:'+bgclr+'" type="number"  class="weight" data-wt_value='+(OPWeights[Object.keys(OPWeights)[key]]['Weight']*100).toFixed(0)+'  value='+(OPWeights[Object.keys(OPWeights)[key]]['Weight']*100).toFixed(0)+'  data-weights_count='+weights_count+'  data-loop_index='+loop_index+'  data-weight_index='+weight_index+'  data-row_index='+row_index+'   /></td>'+'</td>'+'<td>'+UpdatedDate+'</td>'+'<td>'+Owner+'</td>'+'</tr>';
					}
					//tbdy=tbdy+'<tr data-row_index='+row_index+' data-weight_index='+weight_index+' data-plant_id='+plant_id+'  data-plant_name='+plant_name+' data-product_no='+product_no+' data-parameter_name="'+Object.keys(OPWeights)[key]+'">'+'<td>'+UpdatedDate+'</td>'+'<td>'+'System'+'</td>'+'<td>' +product_no+'</td>' + '<td>'+Object.keys(OPWeights)[key]+'</td>' +'<td><input  disabled='+disable_val+'   style="background-color:'+bgclr+'" type="text"  class="weight" data-wt_value='+(OPWeights[Object.keys(OPWeights)[key]]*100)+'  value='+(OPWeights[Object.keys(OPWeights)[key]]*100)+'  data-weights_count='+weights_count+'  data-loop_index='+loop_index+'  data-weight_index='+weight_index+'  data-row_index='+row_index+'   /></td>'+'</td>'+'</tr>'
					row_index=row_index+1
					weight_index=weight_index+1
				}
				tbdy=tbdy+'<tr data-row_index='+row_index+' data-weight_index='+weight_index+' data-plant_id='+plant_id+'  data-plant_name='+plant_name+' data-product_no='+product_no+' data-parameter_name=" " style="background:#FFF"><td colspan="5"><span  class="span_status"  style="color:green">100% completed</span></td></tr>'
				row_index=row_index+1
				loop_index=loop_index+1
			}
			$('#weight_tbody').html(tbdy);
			
			$('.weight').focusout(function(){
				var row_index= Number($(this).data("row_index"));var weight_index=Number($(this).data("weight_index"));var loop_index=$(this).data("loop_index")  ;var weights_count=Number($(this).data("weights_count")) ; 				
				var start_index=row_index-weight_index-loop_index; var end_index=start_index+weights_count-1;var span_index=row_index-weight_index+weights_count;
				var total=0;
				console.log(row_index);console.log(weight_index);console.log($(this).data("weights_count"));console.log(start_index);console.log(end_index);
				for(i=start_index;i<=end_index;i++){wt_val=$('.weight:eq('+i+')').val();$('.weight:eq('+i+')').val(  Math.round(Number(wt_val)) );total=total+  Math.round(Number(wt_val))  }
				if(total>100){span_text=" "+(total-100)+"% More than 100  "; $("#weight_tbody tr:eq("+(span_index)+")").each(function(){$("span",this).text(span_text);  $("span",this).css("color",'red'); });}
				else if(total<100){span_text="Remaning Percentage:"+(100-total)+"%";$("#weight_tbody tr:eq("+span_index+")").each(function(){$("span",this).text(span_text);     $("span",this).css("color",'yellow');   }); }
				else{ span_text="100% completed";$("#weight_tbody tr:eq("+span_index+")").each(function(){$("span",this).text(span_text);    $("span",this).css("color",'green');   });   }
				
				$('.span_status ').each(function(){if($(this).css('color')!="rgb(0, 128, 0)") {  $('#weight_bulk_btn').prop("disabled", true); return false; }else{  $('#weight_bulk_btn').prop("disabled", false);}    });
				
				
			});
		}
		});	
	}
	$('#weight_bulk_but1').click(function(){
		table_render_weight();
	});

	function table_render_segment()
	{
		$('#segment_bulk_btn').prop("disabled", false);
			count=0;
			$.ajax({
			method: "GET",
			url: "/qualitypulse/get_segment_data/",
			data:{plant:$('#plant-dropdown').attr('data-k'),product_list:$('#product-dropdown').attr('data-k')},
			success: function(result_data) {
				tbdy='';
				row_index=0;
				loop_index=0;
				for (i=0;i<result_data.length;i++)
				{
					plant_id=result_data[i]["SiteID"];
					plant_name=result_data[i]["SiteName"];
					product_no=result_data[i]["MaterialNumber"];
					Segment=result_data[i]["Segment"];
					UpdatedDate=result_data[i]["CreatedTimeStamp"];
					Owner=result_data[i]["Owner"];
					segment_count=Object.keys(Segment).length;
					segment_index=0
					
					for(key in Object.keys(Segment)){
					
						if((row_index%2)==0)
						{
							bgclr="#F9F9F9"
						}
						else
						{
							bgclr="#FFF"
						}
						if(segment_index != 0) {
							tbdy=tbdy+'<tr data-row_index='+row_index+' data-segment_index='+segment_index+' data-plant_id='+plant_id+'  data-plant_name='+plant_name+' data-product_no='+product_no+' data-parameter_name="'+Object.keys(Segment)[key]+'">'+'<td>' +product_no+'</td>' + '<td>'+Object.keys(Segment)[key]+'</td>' +'<td><input disabled style="background-color:'+bgclr+'" type="number"  class="segment" data-sg_value='+(Segment[Object.keys(Segment)[key]])+'  value='+Segment[Object.keys(Segment)[key]]["LowerLimit"]+'  data-segment_count='+segment_count+'  data-loop_index='+loop_index+'  data-segment_index='+segment_index+'  data-row_index='+row_index+'   /></td>'+'</td>'+'<td><input  style="background-color:'+bgclr+'" type="number" min="0" max="1" step="0.01" class="segment" data-sg_value='+(Segment[Object.keys(Segment)[key]]*100)+'  value='+Segment[Object.keys(Segment)[key]]["UpperLimit"]+'  data-segment_count='+segment_count+'  data-loop_index='+loop_index+'  data-segment_index='+segment_index+'  data-row_index='+row_index+'   /></td><td>'+UpdatedDate+'</td><td>'+Owner+'</td>'+'</tr>'
						}
						else {
							tbdy=tbdy+'<tr data-row_index='+row_index+' data-segment_index='+segment_index+' data-plant_id='+plant_id+'  data-plant_name='+plant_name+' data-product_no='+product_no+' data-parameter_name="'+Object.keys(Segment)[key]+'">'+'<td>' +product_no+'</td>' + '<td>'+Object.keys(Segment)[key]+'</td>' +'<td><input disabled style="background-color:'+bgclr+'" type="number"  class="segment" data-sg_value='+(Segment[Object.keys(Segment)[key]])+'  value='+Segment[Object.keys(Segment)[key]]["LowerLimit"]+'  data-segment_count='+segment_count+'  data-loop_index='+loop_index+'  data-segment_index='+segment_index+'  data-row_index='+row_index+'   />'+'</td>'+'<td><input style="background-color:'+bgclr+'" type="number" min="0" max="1" step="0.01" class="segment" data-sg_value='+(Segment[Object.keys(Segment)[key]]*100)+'  value='+Segment[Object.keys(Segment)[key]]["UpperLimit"]+'  data-segment_count='+segment_count+'  data-loop_index='+loop_index+'  data-segment_index='+segment_index+'  data-row_index='+row_index+'   /><td>'+UpdatedDate+'</td><td>'+Owner+'</td>'+'</tr>'
						}
					row_index=row_index+1
					segment_index=segment_index+1
					}
					tbdy=tbdy+'<tr data-row_index='+row_index+' data-segment_index='+segment_index+' data-plant_id='+plant_id+'  data-plant_name='+plant_name+' data-product_no='+product_no+' data-parameter_name=" " style="background:#FFF"><td colspan="6"><span  class="span_status"  style="color:green">Fill the segments between 0 & 1</span></td></tr>'
					row_index=row_index+1
					loop_index=loop_index+1
				}
				$('#segment_tbody').html(tbdy);
				$($('[data-segment_index=3]')[2]).attr('disabled',true);

				$($('[data-segment_index=0]')[2]).focusout(function() {
					if($(this).val() > 1 || $(this).val() < 0) {
						$(this).val($($('[data-segment_index=0]')[1]).val());
						$($('[data-segment_index=1]')[1]).val($($('[data-segment_index=0]')[1]).val());
					} 
					else if($(this).val() < $($('[data-segment_index=0]')[1]).val()) {
						$(this).val($($('[data-segment_index=0]')[1]).val());
					}
					else {
						$($('[data-segment_index=1]')[1]).val($($('[data-segment_index=0]')[2]).val());
						$($('[data-segment_index=1]')[2]).val($($('[data-segment_index=0]')[2]).val());
						$($('[data-segment_index=2]')[1]).val($($('[data-segment_index=0]')[2]).val());
						$($('[data-segment_index=2]')[2]).val($($('[data-segment_index=0]')[2]).val());
						$($('[data-segment_index=3]')[1]).val($($('[data-segment_index=0]')[2]).val());
					}
				});

				$($('[data-segment_index=1]')[2]).focusout(function() {
					if($(this).val() > 1 || $(this).val() < 0) {
						$(this).val($($('[data-segment_index=1]')[2]).val());
						$($(this).val($($('[data-segment_index=1]')[1]).val()));
						$($('[data-segment_index=2]')[1]).val($($('[data-segment_index=1]')[2]).val());
					}
					else if($(this).val() < $($('[data-segment_index=1]')[1]).val()) {
						$($('[data-segment_index=1]')[1]).val($($('[data-segment_index=1]')[2]).val());
						$($('[data-segment_index=2]')[1]).val($($('[data-segment_index=1]')[2]).val());
						if($($('[data-segment_index=1]')[1]).val() < $($('[data-segment_index=0]')[2]).val()) {
							$($('[data-segment_index=0]')[2]).val($($('[data-segment_index=1]')[1]).val());
							// $($('[data-segment_index=2]')[1]).val($($('[data-segment_index=1]')[2]).val());
							// $($('[data-segment_index=2]')[2]).val($($('[data-segment_index=1]')[2]).val());
							// $($('[data-segment_index=3]')[1]).val($($('[data-segment_index=1]')[2]).val());
						}
					}
					else {
						$($('[data-segment_index=2]')[1]).val($($('[data-segment_index=1]')[2]).val());
						$($('[data-segment_index=2]')[2]).val($($('[data-segment_index=1]')[2]).val());
						$($('[data-segment_index=3]')[1]).val($($('[data-segment_index=1]')[2]).val());
					}
				});

				$($('[data-segment_index=2]')[2]).focusout(function() {
					if($(this).val() > 1 || $(this).val() < 0) {
						$($(this).val($($('[data-segment_index=2]')[1]).val()));
						$($('[data-segment_index=3]')[1]).val($($('[data-segment_index=2]')[2]).val());
					}
					else if($(this).val() < $($('[data-segment_index=2]')[1]).val()) {
						// $($('[data-segment_index=3]')[1]).val($($('[data-segment_index=2]')[2]).val());
						$($('[data-segment_index=2]')[2]).val($($('[data-segment_index=2]')[1]).val());
						$($('[data-segment_index=3]')[1]).val($($('[data-segment_index=2]')[1]).val());
						if($($('[data-segment_index=2]')[1]).val() < $($('[data-segment_index=1]')[2]).val()) {
							$($('[data-segment_index=2]')[1]).val($($('[data-segment_index=1]')[2]).val());
						}
						if($($('[data-segment_index=1]')[1]).val() < $($('[data-segment_index=0]')[2]).val()) {
							$($('[data-segment_index=0]')[2]).val($($('[data-segment_index=1]')[1]).val());
						}
						if($($('[data-segment_index=3]')[1]).val() < $($('[data-segment_index=2]')[2]).val()) {
							$($('[data-segment_index=3]')[1]).val($($('[data-segment_index=2]')[2]).val());
						}
					} 
					else {	
						$($('[data-segment_index=3]')[1]).val($($('[data-segment_index=2]')[2]).val());
					}
				});

				$('.segment').focusout(function() {
					var row_index= Number($(this).data("row_index"));
					var segment_index=Number($(this).data("segment_index"));
					var loop_index=$(this).data("loop_index");
					var segment_count=Number($(this).data("segment_count")) ; 				
					var start_index=row_index-segment_index-loop_index; 
					var end_index=start_index+(2*segment_count)-1;
					var span_index=row_index-segment_index+segment_count;
					var total=0;
					for(i=start_index;i<=end_index;i++) {
						sg_val=$('.segment:eq('+i+')').val();
						var x = $('.segment:eq('+(i+1)+')').val() - $('.segment:eq('+i+')').val();
						sg_val = parseInt(sg_val);
						// $('.segment:eq('+i+')').val(parseInt(sg_val));
						total += sg_val;
					}
				});

				$('.segmentzz').focusout(function(){
					var row_index= Number($(this).data("row_index"));
					var segment_index=Number($(this).data("segment_index"));
					var loop_index=$(this).data("loop_index");
					var segment_count=Number($(this).data("segment_count")) ; 				
					var start_index=row_index-segment_index-loop_index; 
					var end_index=start_index+(2*segment_count)-1;
					var span_index=row_index-segment_index+segment_count;
					var total=0;
					for(i=start_index;i<=end_index;i++) {
						sg_val=$('.segment:eq('+i+')').val();
						var x = $('.segment:eq('+(i+1)+')').val() - $('.segment:eq('+i+')').val();
						sg_val = parseInt(sg_val);
						$('.segment:eq('+i+')').val(parseInt(sg_val));
						total += sg_val;
					}
					if(total>1) {
						span_text=" "+(total-1)+" Value more than 1";
						$("#segment_tbody tr:eq("+(span_index)+")").each(function() {
							$("span",this).text(span_text);  
							$("span",this).css("color",'red'); 
						});
					}
					else if(total<1) {
						span_text="Remaning limit:"+(1-total);
						$("#segment_tbody tr:eq("+span_index+")").each(function() {
							$("span",this).text(span_text);     
							$("span",this).css("color",'yellow');   
						}); 
					}
					else {
						span_text="Limit filled 100% completed";
						$("#segment_tbody tr:eq("+span_index+")").each(function() {
							$("span",this).text(span_text);    
							$("span",this).css("color",'green');   
						});   
					}
					
					$('.span_status ').each(function(){if($(this).css('color')!="rgb(0, 128, 0)") {  $('#segment_bulk_btn').prop("disabled", true); return false; }else{  $('#segment_bulk_btn').prop("disabled", false);}    });
					
					
				});
			}
		});	
	}
	$('#segment_btn1').click(function(){
		table_render_segment();
	});

	$('.product_config').change(function(){
		$('.select_search_class').css('display','none');
		table_render_threshold();	
		table_render_weight();		
		table_render_segment();
		table_revision_count();
	});	
	$('.threshold_btn').click(function(){
		data_dict={}
		var updated_parameter='';
		$('#threshold_tbody tr').each(function(){
				SiteID=$(this).data('plant_id');
				SiteName=$(this).data('plant_name');
				MaterialNumber=$(this).data('product_name');
				ouput_name=$(this).data('ouput_name');
				dict_key=SiteID+'_'+MaterialNumber;
				threshold_dict={};
				loop_index=0;
				if($('.mychart').is(':checked')){
					if(radio_button_id){
						updated_parameter=radio_button_id;
						radio_button_id='';
					}
					else{
						updated_parameter ='As Previous';
					}
				}
				else{
					if(radio_button_id1==input_bm_val){
						updated_parameter='Userdefined';
						input_bm_val=0;
					}
					else{
						updated_parameter ='As Previous';
					}
				}
				$('input',this).each(function(){
					if(loop_index==0){
						threshold_dict['LowerLimit']=$(this).val()
					};
					if(loop_index==1){
						threshold_dict['UpperLimit']=$(this).val()
					};
					if(loop_index==2){
						threshold_dict['Benchmark']=$(this).val()
					};
					threshold_dict['BenchmarkIndicator']=$(this).parent().parent().attr('data-updatedparam')
					loop_index=loop_index+1;
				});
				if(dict_key in data_dict){ 
					data_dict[dict_key]['Output'][ouput_name]=threshold_dict
				}
				else{
					ouput_dict={};
					ouput_dict[ouput_name]=threshold_dict;
					data_dict[dict_key]={'SiteID':SiteID,'SiteName':SiteName,'MaterialNumber':MaterialNumber,'Output':ouput_dict } }		
		});
		$.ajax({ 
			method: "GET",
			url: "/qualitypulse/threshold_update/", 
			data:{chk:JSON.stringify(data_dict)}, 
			complete: function(result_data) {
				treshhold_reload(SiteID,MaterialNumber);
			}
		});
	});
	
	$('#benchmark_modal').on('shown.bs.modal', function() {
		//$('#3d_bar_container1').css('visibility', 'initial');
		$('#3d_bar_container1').highcharts().reflow();
	});
	function treshhold_reload(SiteID,MaterialNumber){
		//location.reload();
		//  we want the unique combination of plant-product to stay as selected after the click of save then if reload will be needed in  future, then we will find a workaround
		//$('.plant_config option[value="'+SiteID+'"]').attr("selected","selected");
		//$('.product_config option[value="'+MaterialNumber+'"]').attr("selected","selected");
		$('#weight_bulk_btn').prop("disabled", false);
		$.ajax({
			method: "GET",
			url: "/qualitypulse/get_threshold_data/",
			data:{plant:SiteID,product_list:MaterialNumber},
			success: function(result_data) {
				tbdy=''
				element_index=0
				for (i=0;i<result_data.length;i++)
				{
					plant_id=result_data[i]["SiteID"];
					plant_name=result_data[i]["SiteName"];
					product_no=result_data[i]["MaterialNumber"];
					if(result_data[i]["UpperLimit"]){UpperLimit=result_data[i]["UpperLimit"];}else{UpperLimit=0;}
					if(result_data[i]["LowerLimit"]){LowerLimit=result_data[i]["LowerLimit"];}else{LowerLimit=0;}
					if(result_data[i]["Benchmark"]){Benchmark=result_data[i]["Benchmark"];}else{Benchmark=0;}
					ParameterName=result_data[i]["ParameterName"];
					BenchmarkIndicator=result_data[i]["BenchmarkIndicator"];
					Owner=result_data[i]["Owner"];
					UpdatedTimeStamp=result_data[i]["CreatedTimeStamp"];
					//for(key in Object.keys(otput_dict)){
						if((element_index%2)==0){bgclr="#F9F9F9"}
						else{bgclr="#FFF"}
						if(Benchmark==0){disply='none';}else{disply='block';}
						if(UpperLimit==0 && LowerLimit==0 && Benchmark==0 )
						{
				
							tbdy=tbdy+'<tr data-plant_name="'+plant_name+'" data-benchmark_indicator='+BenchmarkIndicator+' data-plant_id='+plant_id+' data-product_name="'+product_no+'" data-ouput_name="'+ParameterName+'" data-updatedparam="As Previous"  id="'+i+'">'+ '<td>'+product_no+'</td>'+ '<td>'+ParameterName+'</td>'+ '<td><input disabled style="background-color:'+bgclr+'" type="text" class="LT" data-lt_value='+LowerLimit+'  data-index_value='+element_index+' value='+LowerLimit+'></td>'+
							'<td><input disabled style="background-color:'+bgclr+'" type="text"  disabled class="UT" data-ut_value='+UpperLimit+'  data-index_value='+element_index+' value='+UpperLimit+'></td>'+'<td><input  disabled style="background-color:'+bgclr+'" type="text" class="bench_val" id="val_'+i+'" data-index_value='+element_index+' value='+Benchmark+'>'+'<i class="fa fa-line-chart bench_mark" id="bm_'+ParameterName+'" style="float:right;color: #2357a6;cursor: pointer;display:'+disply+';"></i></td>'+'<td>'+UpdatedTimeStamp+'</td><td>'+Owner+'</td></tr>'			
						}
						
						else
						{
							tbdy=tbdy+'<tr data-plant_name="'+plant_name+'" data-benchmark_indicator='+BenchmarkIndicator+' data-plant_id='+plant_id+' data-product_name="'+product_no+'" data-ouput_name="'+ParameterName+'" data-updatedparam="As Previous"  id="'+i+'">'+ '<td>'+product_no+'</td>'+ '<td>'+ParameterName+'</td>'+ '<td><input disabled style="background-color:'+bgclr+'" type="text" class="LT" data-lt_value='+LowerLimit+'  data-index_value='+element_index+' value='+LowerLimit+'></td>'+
							'<td><input disabled style="background-color:'+bgclr+'" type="text" class="UT" data-ut_value='+UpperLimit+'  data-index_value='+element_index+' value='+UpperLimit +'></td>'+'<td><input  style="background-color:'+bgclr+'"  type="text" class="bench_val" id="val_'+i+'" data-index_value='+element_index+' value='+Benchmark+'>'+'<i class="fa fa-line-chart bench_mark" id="bm_'+ParameterName+'" style="float:right;color: #2357a6;cursor: pointer;display:'+disply+';"></i></td>'+'<td>'+UpdatedTimeStamp+'</td><td>'+Owner+'</td></tr>'
						}
						
						element_index=element_index+1;
					//}
					
					$('#threshold_tbody').html(tbdy);
					$('.LT').focusout(function(){
					if($(this).val()<$(this).data('lt_value')){alert("value should be greater than"+$(this).data('lt_value'));$(this).val($(this).data('lt_value'));ind=$(this).data('index_value'); $('.bench_val:eq('+ind+')').val((Number($('.LT:eq('+ind+')').val())+ Number($('.UT:eq('+ind+')').val()))/2 ) }
					else{ ind=$(this).data('index_value'); $('.bench_val:eq('+ind+')').val((Number($('.LT:eq('+ind+')').val())+ Number($('.UT:eq('+ind+')').val()))/2 )}				
					});
					$('.UT').focusout(function(){
					if($(this).val()>$(this).data('ut_value')){alert("value should be less than"+$(this).data('ut_value'));$(this).val($(this).data('ut_value'));ind=$(this).data('index_value'); $('.bench_val:eq('+ind+')').val((Number($('.LT:eq('+ind+')').val())+ Number($('.UT:eq('+ind+')').val()))/2 )}
					else{ ind=$(this).data('index_value'); $('.bench_val:eq('+ind+')').val((Number($('.LT:eq('+ind+')').val())+ Number($('.UT:eq('+ind+')').val()))/2 )}	
					});
					$('.bench_val').focusout(function(){
					ind=$(this).data('index_value');
					if($(this).val()<Number($('.LT:eq('+ind+')').val())|$(this).val()>Number($('.UT:eq('+ind+')').val()) ){alert('Benchmark Should be Between LowerThreshold and UpperThreshold');$('.bench_val:eq('+ind+')').val((Number($('.LT:eq('+ind+')').val())+ Number($('.UT:eq('+ind+')').val()))/2 )}
					});
				}
			}
		});	
		$("#common-modal").modal("show");
		$("#common-modal .modal-title").html("Success message");
		$("#common-modal .modal-body").html("Threshold updated successfully."); 
		$("#common-modal .modal-no").css("display","none");
		$("#common-modal .modal-yes").html("Okay");
	}
	$('.weight_btn').click(function(){
		data_dict={}
		$('#weight_tbody tr').each(function(){
			var ouput_val=0;
			SiteID=$(this).data('plant_id');
			SiteName=$(this).data('plant_name'); 
			MaterialNumber=$(this).data("product_no");
			ouput_name=$(this).data("parameter_name");
			dict_key=SiteID+'_'+MaterialNumber;
			$('input',this ).each(function(){
				ouput_val=($(this).val()/100 ) 
			}); 
			if(ouput_name!=' '){
				if(dict_key in data_dict){ data_dict[dict_key]['OPWeights'][ouput_name]=ouput_val}
				else{OPWeights={};OPWeights[ouput_name]=(ouput_val);
				data_dict[dict_key]={'SiteID':SiteID,'SiteName':SiteName,'MaterialNumber':MaterialNumber,'OPWeights':OPWeights } }		
			}
			
		});
		$.ajax({ 
			method: "GET", 
			url: "/qualitypulse/weight_update/", 
			data:{chk:JSON.stringify(data_dict)}, 
			complete: function(result_data) {
				weight_reload(SiteID,MaterialNumber)
			}
		});
	});
	function weight_reload(SiteID,MaterialNumber){
		$('#weight_bulk_btn').prop("disabled", false);
		count=0;
		$.ajax({
			method: "GET",
			url: "/qualitypulse/get_weight_data/",
			data:{plant:SiteID,product_list:MaterialNumber},
			success: function(result_data) {
				tbdy=''
				row_index=0;
				loop_index=0;
				for (i=0;i<result_data.length;i++)
				{
					plant_id=result_data[i]["SiteID"];
					plant_name=result_data[i]["SiteName"];
					product_no=result_data[i]["MaterialNumber"];
					OPWeights=result_data[i]["OPWeights"];
					UpdatedDate=result_data[i]["CreatedTimeStamp"];
					Owner=result_data[i]["Owner"];
					weights_count=Object.keys(OPWeights).length;
					weight_index=0
					
					for(key in Object.keys(OPWeights)){
						if((row_index%2)==0){bgclr="#F9F9F9"}
						else{bgclr="#FFF"}
						if((OPWeights[Object.keys(OPWeights)[key]]*100)==0){
							tbdy=tbdy+'<tr data-row_index='+row_index+' data-weight_index='+weight_index+' data-plant_id='+plant_id+'  data-plant_name='+plant_name+' data-product_no='+product_no+' data-parameter_name="'+Object.keys(OPWeights)[key]+'">'+'<td>' +product_no+'</td>' + '<td>'+Object.keys(OPWeights)[key]+'</td>' +'<td><input  disabled   style="background-color:'+bgclr+'" type="number"  class="weight" data-wt_value='+(OPWeights[Object.keys(OPWeights)[key]]['Weight']*100).toFixed(0)+'  value='+(OPWeights[Object.keys(OPWeights)[key]]['Weight']*100).toFixed(0)+'  data-weights_count='+weights_count+'  data-loop_index='+loop_index+'  data-weight_index='+weight_index+'  data-row_index='+row_index+'   /></td>'+'</td>'+'<td>'+UpdatedDate+'</td>'+'<td>'+Owner+'</td>'+'</tr>'
						}
						else{
							tbdy=tbdy+'<tr data-row_index='+row_index+' data-weight_index='+weight_index+' data-plant_id='+plant_id+'  data-plant_name='+plant_name+' data-product_no='+product_no+' data-parameter_name="'+Object.keys(OPWeights)[key]+'">'+'<td>' +product_no+'</td>' + '<td>'+Object.keys(OPWeights)[key]+'</td>' +'<td><input    style="background-color:'+bgclr+'" type="number"  class="weight" data-wt_value='+(OPWeights[Object.keys(OPWeights)[key]]['Weight']*100).toFixed(0)+'  value='+(OPWeights[Object.keys(OPWeights)[key]]['Weight']*100).toFixed(0)+'  data-weights_count='+weights_count+'  data-loop_index='+loop_index+'  data-weight_index='+weight_index+'  data-row_index='+row_index+'   /></td>'+'</td>'+'<td>'+UpdatedDate+'</td>'+'<td>'+Owner+'</td>'+'</tr>';
						}
						//tbdy=tbdy+'<tr data-row_index='+row_index+' data-weight_index='+weight_index+' data-plant_id='+plant_id+'  data-plant_name='+plant_name+' data-product_no='+product_no+' data-parameter_name="'+Object.keys(OPWeights)[key]+'">'+'<td>'+UpdatedDate+'</td>'+'<td>'+'System'+'</td>'+'<td>' +product_no+'</td>' + '<td>'+Object.keys(OPWeights)[key]+'</td>' +'<td><input  disabled='+disable_val+'   style="background-color:'+bgclr+'" type="text"  class="weight" data-wt_value='+(OPWeights[Object.keys(OPWeights)[key]]*100)+'  value='+(OPWeights[Object.keys(OPWeights)[key]]*100)+'  data-weights_count='+weights_count+'  data-loop_index='+loop_index+'  data-weight_index='+weight_index+'  data-row_index='+row_index+'   /></td>'+'</td>'+'</tr>'
						row_index=row_index+1
						weight_index=weight_index+1
					}
					tbdy=tbdy+'<tr data-row_index='+row_index+' data-weight_index='+weight_index+' data-plant_id='+plant_id+'  data-plant_name='+plant_name+' data-product_no='+product_no+' data-parameter_name=" " style="background:#FFF"><td colspan="5"><span  class="span_status"  style="color:green">100% completed</span></td></tr>'
					row_index=row_index+1
					loop_index=loop_index+1
				}
				$('#weight_tbody').html(tbdy);
				
				$('.weight').focusout(function(){
					var row_index= Number($(this).data("row_index"));var weight_index=Number($(this).data("weight_index"));var loop_index=$(this).data("loop_index")  ;var weights_count=Number($(this).data("weights_count")) ; 				
					var start_index=row_index-weight_index-loop_index; var end_index=start_index+weights_count-1;var span_index=row_index-weight_index+weights_count;
					var total=0;
					console.log(row_index);console.log(weight_index);console.log($(this).data("weights_count"));console.log(start_index);console.log(end_index);
					for(i=start_index;i<=end_index;i++){wt_val=$('.weight:eq('+i+')').val();$('.weight:eq('+i+')').val(  Math.round(Number(wt_val)) );total=total+  Math.round(Number(wt_val))  }
					if(total>100){span_text=" "+(total-100)+"% More than 100  "; $("#weight_tbody tr:eq("+(span_index)+")").each(function(){$("span",this).text(span_text);  $("span",this).css("color",'red'); });}
					else if(total<100){span_text="Remaning Percentage:"+(100-total)+"%";$("#weight_tbody tr:eq("+span_index+")").each(function(){$("span",this).text(span_text);     $("span",this).css("color",'yellow');   }); }
					else{ span_text="100% completed";$("#weight_tbody tr:eq("+span_index+")").each(function(){$("span",this).text(span_text);    $("span",this).css("color",'green');   });   }
					
					$('.span_status ').each(function(){if($(this).css('color')!="rgb(0, 128, 0)") {  $('#weight_bulk_btn').prop("disabled", true); return false; }else{  $('#weight_bulk_btn').prop("disabled", false);}    });
					
					
				});
			}
		});	
		$("#common-modal").modal("show");
		$("#common-modal .modal-title").html("Success message");
		$("#common-modal .modal-body").html("Weights updated successfully."); 
		$("#common-modal .modal-no").css("display","none");
		$("#common-modal .modal-yes").html("Okay");
	}
	$("body").delegate(".bench_mark", "click", function(){
		//$('#modal_container').html('');
		$('.benchmark_val').css('display','none');
		$('#benchmark_modal').modal('show');
		var parameter = $(this).attr('id');
		//console.log('closest ' , $(this).closest('tr').find('td:nth-child(2)').text());
		//console.log('parameter ' ,parameter);
		//var res = parameter.split("_")
		//var res = parameter.split("_")
		//console.log('res ' , res);
		//var res1 = [res[1]];
		var res2 = [$(this).closest('tr').find('td:nth-child(2)').text()]
		//var res1 = [res[1]];
		//console.log('res1 ' , res1);
		console.log('res2 ' , res2);
		Trend_Of_Quality_Line_data1(res2);
		//$('#3d_bar_container1').highcharts().reflow()
		tr_id = $(this).parent().parent().attr('id')
		input_bm_val=$(this).siblings("input").val()
		radio_button_benchmark= $(this).parent().parent().attr('data-benchmark_indicator');
	});
	$('body').delegate("#legend_button input[type=radio]", "click", function(){
		$('.expand_modal_close3').removeClass('disabled','false');
		$('.benchmark_val').css('display','none');
		radio_button_id	= $(this).attr('id');
		radio_button_id1= $(this).attr('data-'+radio_button_id);
		if(radio_button_id!=$('#'+tr_id).attr('data-benchmark_indicator')){
			$('#'+tr_id).attr('data-updatedparam', radio_button_id)
		}
		else{
			$('.expand_modal_close3').addClass('disabled','true');
			$('#'+tr_id).attr('data-updatedparam', 'As Previous');
		}
		$('.'+radio_button_id).css('display','block');
	});
	$('body').delegate(".bench_val", "keyup", function(){
		var dInput = $(this).val();
		var tr_id1 = $(this).parent().parent().attr('id')
		$('#'+tr_id1).attr('data-updatedparam', 'UserDefined')
	});
	$('body').delegate(".revision_count_class", "keyup", function(){
		var dInput = $(this).val();
		var row_id = $(this).parent().parent().attr('id');
		$('#'+row_id).attr('data-updatedcount', 'UserDefined')
	});
	$('.expand_modal_close2').click(function(){
		$('#benchmark_modal').modal('hide')
		$('#3d_bar_container1').html('');
	});
	$('body').delegate(".expand_modal_close3", "click", function(){
		$('#bulk_tble').find('#'+tr_id+' #val_'+tr_id).val(radio_button_id1);
		$('#benchmark_modal').modal('hide')
		$('#3d_bar_container1').html('');
	});
	function Trend_Of_Quality_Line_data1(parameter)
	{
		product_list=$('#product-dropdown').attr('data-k')
		plant_list=$('#plant-dropdown').attr('data-k')
		$.ajax({
		method: "GET",
		url: "/qualitypulse/Trend_Of_Quality_Line_benchmark/",
		data:{'product_list':product_list,'parameter_list':parameter,'plant_list':plant_list},
			success: function(result1) {
				var Data = result1;
				Trend_Of_Parameter_benchmark(Data,'#3d_bar_container1',parameter);
				
				$('#legend_button').html('<table class="table table-striped">'+
							'<tbody>'+
							'<tr><td>USL</td><td>'+Data['result_val1'][0].toString().match(/^-?\d+(?:\.\d{0,4})?/)[0]+'</td><td><input type="radio" name='+radio_button_benchmark+' data-UpperLimit="'+Data['result_val1'][0]+'" class="mychart" id= "UpperLimit"  style="display:block;"></td></tr>'+
							'<tr><td>Mean</td><td>'+Data['result_val3'][0].toString().match(/^-?\d+(?:\.\d{0,4})?/)[0]+'</td><td><input type="radio" name='+radio_button_benchmark+' class="mychart" data-Mean="'+Data['result_val3'][0]+'" id= "Mean" style="display:block;"></td></tr>'+
							'<tr><td>Mid Point</td><td>'+Data['result_val4'][0].toString().match(/^-?\d+(?:\.\d{0,4})?/)[0]+'</td><td><input type="radio" name='+radio_button_benchmark+' class="mychart" data-MidPoint="'+Data['result_val4'][0]+'" id= "MidPoint" style="display:block;"></td></tr>'+
							'<tr><td>LSL</td><td>'+Data['result_val5'][0].toString().match(/^-?\d+(?:\.\d{0,4})?/)[0]+'</td><td><input type="radio" name='+radio_button_benchmark+' class="mychart" data-LowerLimit="'+Data['result_val5'][0]+'" id= "LowerLimit" style="display:block;"></td></tr>'+
							'<tr><td>Median</td><td>'+Data['Median'][0].toString().match(/^-?\d+(?:\.\d{0,4})?/)[0]+'</td><td><input type="radio" name='+radio_button_benchmark+' class="mychart" data-Median="'+Data['Median'][0]+'" id= "Median" style="display:block;"></td></tr>'+
							'</tbody></table><button type="button" class="btn btn-primary btn-xs expand_modal_close3 disabled" style=" float:right; padding:0 1rem !important;margin-top:1em;">OK</button>'+
							'<span style="float:right;padding-top:8px; ">'+
								'<span style="color:red">*</span>'+
								'<span style="font-size:12px">Note:</span>'+
								'<span style="font-size:10px; padding-left:5px;">OK button will enable only after you choose different Benchmark</span>'+
							'</span>');
				
				var tr_len = $('#legend_button table tbody tr').length;
				$('#legend_button table tbody tr td:nth-child(3) input').prop('checked',false);
				$('#legend_button table tbody tr td:nth-child(3) input').each(function(){
					if(($(this).attr('id'))==($(this).attr('name'))){
						$('#'+$(this).attr('id')).prop("checked", true);
						var id=$(this).attr('id');
						$('.'+id).css('display','block');
					}
				});
				
			}
		});
		
	}
	$('.segment_btn').click(function(){
		data_dict={};
		dict_key = $($('#segment_tbody tr')[0]).data('plant_id') + '_' + $($('#segment_tbody tr')[0]).data('product_no');
		
		Segment = {};
		SiteID=$($('#segment_tbody tr')[0]).data('plant_id');
		data_dict[dict_key] = {};
		data_dict[dict_key]['Segment']={};
		$('#segment_tbody tr').each(function(){
			var ouput_val=0;
			SiteID=$(this).data('plant_id');
			SiteName=$(this).data('plant_name'); 
			MaterialNumber=$(this).data("product_no");
			ouput_name=$(this).data("parameter_name");
			data_dict[dict_key]['Segment'][ouput_name] = {};
			// dict_key=SiteID+'_'+MaterialNumber;
			// Segment={};
			// data_dict[dict_key]['Segment']={};
			var x = $('input',this);
			for(var i=0; i < x.length; x++) {
			}
			var count=0;
			$('input',this).each(function() {
				if(count % 2 != 0) {
					ouput_val=($(this).val());
					data_dict[dict_key]['Segment'][ouput_name]['UpperLimit']=ouput_val;
				}
				else {
					ouput_val=($(this).val());
					data_dict[dict_key]['Segment'][ouput_name]['LowerLimit']=ouput_val;
				}
				ouput_val=($(this).val());
				count++;
			}); 
				data_dict[dict_key]={'SiteID':SiteID,'SiteName':SiteName,'MaterialNumber':MaterialNumber,'Segment':data_dict[dict_key]['Segment']} 
			
		}); 
		$.ajax({ 
			method: "GET", 
			url: "/qualitypulse/segment_update/", 
			data:{chk:JSON.stringify(data_dict)}, 
			complete: function(result_data) {
				segment_reload(SiteID,MaterialNumber);
                // $('#addnewlicenseform input').val('');
                // $("#addpl, #addtl, #adddescription, #addapproveddate, #addapprovedby").html("");
                // $("#all-users-list-select").val("");
			}
		});
	});
	function segment_reload(SiteID,MaterialNumber){
		$('#segment_bulk_btn').prop("disabled", false);
			count=0;
			$.ajax({
			method: "GET",
			url: "/qualitypulse/get_segment_data/",
			data:{plant:SiteID,product_list:MaterialNumber},
			success: function(result_data) {
				tbdy='';
				row_index=0;
				loop_index=0;
				for (i=0;i<result_data.length;i++)
				{
					plant_id=result_data[i]["SiteID"];
					plant_name=result_data[i]["SiteName"];
					product_no=result_data[i]["MaterialNumber"];
					Segment=result_data[i]["Segment"];
					UpdatedDate=result_data[i]["CreatedTimeStamp"];
					Owner=result_data[i]["Owner"];
					segment_count=Object.keys(Segment).length;
					segment_index=0
					
					for(key in Object.keys(Segment)){
					
						if((row_index%2)==0)
						{
							bgclr="#F9F9F9"
						}
						else
						{
							bgclr="#FFF"
						}
						if(segment_index != 0) {
							tbdy=tbdy+'<tr data-row_index='+row_index+' data-segment_index='+segment_index+' data-plant_id='+plant_id+'  data-plant_name='+plant_name+' data-product_no='+product_no+' data-parameter_name="'+Object.keys(Segment)[key]+'">'+'<td>' +product_no+'</td>' + '<td>'+Object.keys(Segment)[key]+'</td>' +'<td><input disabled style="background-color:'+bgclr+'" type="number"  class="segment" data-sg_value='+(Segment[Object.keys(Segment)[key]])+'  value='+Segment[Object.keys(Segment)[key]]["LowerLimit"]+'  data-segment_count='+segment_count+'  data-loop_index='+loop_index+'  data-segment_index='+segment_index+'  data-row_index='+row_index+'   /></td>'+'</td>'+'<td><input  style="background-color:'+bgclr+'" type="number" min="0" max="1" step="0.01" class="segment" data-sg_value='+(Segment[Object.keys(Segment)[key]]*100)+'  value='+Segment[Object.keys(Segment)[key]]["UpperLimit"]+'  data-segment_count='+segment_count+'  data-loop_index='+loop_index+'  data-segment_index='+segment_index+'  data-row_index='+row_index+'   /></td><td>'+UpdatedDate+'</td><td>'+Owner+'</td>'+'</tr>'
						}
						else {
							tbdy=tbdy+'<tr data-row_index='+row_index+' data-segment_index='+segment_index+' data-plant_id='+plant_id+'  data-plant_name='+plant_name+' data-product_no='+product_no+' data-parameter_name="'+Object.keys(Segment)[key]+'">'+'<td>' +product_no+'</td>' + '<td>'+Object.keys(Segment)[key]+'</td>' +'<td><input disabled style="background-color:'+bgclr+'" type="number"  class="segment" data-sg_value='+(Segment[Object.keys(Segment)[key]])+'  value='+Segment[Object.keys(Segment)[key]]["LowerLimit"]+'  data-segment_count='+segment_count+'  data-loop_index='+loop_index+'  data-segment_index='+segment_index+'  data-row_index='+row_index+'   />'+'</td>'+'<td><input style="background-color:'+bgclr+'" type="number" min="0" max="1" step="0.01" class="segment" data-sg_value='+(Segment[Object.keys(Segment)[key]]*100)+'  value='+Segment[Object.keys(Segment)[key]]["UpperLimit"]+'  data-segment_count='+segment_count+'  data-loop_index='+loop_index+'  data-segment_index='+segment_index+'  data-row_index='+row_index+'   /><td>'+UpdatedDate+'</td><td>'+Owner+'</td>'+'</tr>'
						}
					row_index=row_index+1
					segment_index=segment_index+1
					}
					tbdy=tbdy+'<tr data-row_index='+row_index+' data-segment_index='+segment_index+' data-plant_id='+plant_id+'  data-plant_name='+plant_name+' data-product_no='+product_no+' data-parameter_name=" " style="background:#FFF"><td colspan="6"><span  class="span_status"  style="color:green">Fill the segments between 0 & 1</span></td></tr>'
					row_index=row_index+1
					loop_index=loop_index+1
				}
				$('#segment_tbody').html(tbdy);
				$($('[data-segment_index=3]')[2]).attr('disabled',true);

				$($('[data-segment_index=0]')[2]).focusout(function() {
					if($(this).val() > 1 || $(this).val() < 0) {
						$(this).val($($('[data-segment_index=0]')[1]).val());
						$($('[data-segment_index=1]')[1]).val($($('[data-segment_index=0]')[1]).val());
					} 
					else if($(this).val() < $($('[data-segment_index=0]')[1]).val()) {
						$(this).val($($('[data-segment_index=0]')[1]).val());
					}
					else {
						$($('[data-segment_index=1]')[1]).val($($('[data-segment_index=0]')[2]).val());
						$($('[data-segment_index=1]')[2]).val($($('[data-segment_index=0]')[2]).val());
						$($('[data-segment_index=2]')[1]).val($($('[data-segment_index=0]')[2]).val());
						$($('[data-segment_index=2]')[2]).val($($('[data-segment_index=0]')[2]).val());
						$($('[data-segment_index=3]')[1]).val($($('[data-segment_index=0]')[2]).val());
					}
				});

				$($('[data-segment_index=1]')[2]).focusout(function() {
					if($(this).val() > 1 || $(this).val() < 0) {
						$(this).val($($('[data-segment_index=1]')[2]).val());
						$($(this).val($($('[data-segment_index=1]')[1]).val()));
						$($('[data-segment_index=2]')[1]).val($($('[data-segment_index=1]')[2]).val());
					}
					else if($(this).val() < $($('[data-segment_index=1]')[1]).val()) {
						$($('[data-segment_index=1]')[1]).val($($('[data-segment_index=1]')[2]).val());
						$($('[data-segment_index=2]')[1]).val($($('[data-segment_index=1]')[2]).val());
						if($($('[data-segment_index=1]')[1]).val() < $($('[data-segment_index=0]')[2]).val()) {
							$($('[data-segment_index=0]')[2]).val($($('[data-segment_index=1]')[1]).val());
							// $($('[data-segment_index=2]')[1]).val($($('[data-segment_index=1]')[2]).val());
							// $($('[data-segment_index=2]')[2]).val($($('[data-segment_index=1]')[2]).val());
							// $($('[data-segment_index=3]')[1]).val($($('[data-segment_index=1]')[2]).val());
						}
					}
					else {
						$($('[data-segment_index=2]')[1]).val($($('[data-segment_index=1]')[2]).val());
						$($('[data-segment_index=2]')[2]).val($($('[data-segment_index=1]')[2]).val());
						$($('[data-segment_index=3]')[1]).val($($('[data-segment_index=1]')[2]).val());
					}
				});

				$($('[data-segment_index=2]')[2]).focusout(function() {
					if($(this).val() > 1 || $(this).val() < 0) {
						$($(this).val($($('[data-segment_index=2]')[1]).val()));
						$($('[data-segment_index=3]')[1]).val($($('[data-segment_index=2]')[2]).val());
					}
					else if($(this).val() < $($('[data-segment_index=2]')[1]).val()) {
						// $($('[data-segment_index=3]')[1]).val($($('[data-segment_index=2]')[2]).val());
						$($('[data-segment_index=2]')[2]).val($($('[data-segment_index=2]')[1]).val());
						$($('[data-segment_index=3]')[1]).val($($('[data-segment_index=2]')[1]).val());
						if($($('[data-segment_index=2]')[1]).val() < $($('[data-segment_index=1]')[2]).val()) {
							$($('[data-segment_index=2]')[1]).val($($('[data-segment_index=1]')[2]).val());
						}
						if($($('[data-segment_index=1]')[1]).val() < $($('[data-segment_index=0]')[2]).val()) {
							$($('[data-segment_index=0]')[2]).val($($('[data-segment_index=1]')[1]).val());
						}
						if($($('[data-segment_index=3]')[1]).val() < $($('[data-segment_index=2]')[2]).val()) {
							$($('[data-segment_index=3]')[1]).val($($('[data-segment_index=2]')[2]).val());
						}
					} 
					else {	
						$($('[data-segment_index=3]')[1]).val($($('[data-segment_index=2]')[2]).val());
					}
				});

				$('.segment').focusout(function() {
					var row_index= Number($(this).data("row_index"));
					var segment_index=Number($(this).data("segment_index"));
					var loop_index=$(this).data("loop_index");
					var segment_count=Number($(this).data("segment_count")) ; 				
					var start_index=row_index-segment_index-loop_index; 
					var end_index=start_index+(2*segment_count)-1;
					var span_index=row_index-segment_index+segment_count;
					var total=0;
					for(i=start_index;i<=end_index;i++) {
						sg_val=$('.segment:eq('+i+')').val();
						var x = $('.segment:eq('+(i+1)+')').val() - $('.segment:eq('+i+')').val();
						sg_val = parseInt(sg_val);
						// $('.segment:eq('+i+')').val(parseInt(sg_val));
						total += sg_val;
					}
				});

				$('.segmentzz').focusout(function(){
					var row_index= Number($(this).data("row_index"));
					var segment_index=Number($(this).data("segment_index"));
					var loop_index=$(this).data("loop_index");
					var segment_count=Number($(this).data("segment_count")) ; 				
					var start_index=row_index-segment_index-loop_index; 
					var end_index=start_index+(2*segment_count)-1;
					var span_index=row_index-segment_index+segment_count;
					var total=0;
					for(i=start_index;i<=end_index;i++) {
						sg_val=$('.segment:eq('+i+')').val();
						var x = $('.segment:eq('+(i+1)+')').val() - $('.segment:eq('+i+')').val();
						sg_val = parseInt(sg_val);
						$('.segment:eq('+i+')').val(parseInt(sg_val));
						total += sg_val;
					}
					if(total>1) {
						span_text=" "+(total-1)+" Value more than 1";
						$("#segment_tbody tr:eq("+(span_index)+")").each(function() {
							$("span",this).text(span_text);  
							$("span",this).css("color",'red'); 
						});
					}
					else if(total<1) {
						span_text="Remaning limit:"+(1-total);
						$("#segment_tbody tr:eq("+span_index+")").each(function() {
							$("span",this).text(span_text);     
							$("span",this).css("color",'yellow');   
						}); 
					}
					else {
						span_text="Limit filled 100% completed";
						$("#segment_tbody tr:eq("+span_index+")").each(function() {
							$("span",this).text(span_text);    
							$("span",this).css("color",'green');   
						});   
					}
					
					$('.span_status ').each(function(){if($(this).css('color')!="rgb(0, 128, 0)") {  $('#segment_bulk_btn').prop("disabled", true); return false; }else{  $('#segment_bulk_btn').prop("disabled", false);}    });
					
					
				});
			}
		});	
		$("#common-modal").modal("show");
		$("#common-modal .modal-title").html("Success message");
		$("#common-modal .modal-body").html("Segment updated successfully."); 
		$("#common-modal .modal-no").css("display","none");
		$("#common-modal .modal-yes").html("Okay");
	}
	$('.revision_count_btn').click(function() {
		data_dict={};
		// dict_key = $($('#segment_tbody tr')[0]).data('plant_id') + '_' + $($('#segment_tbody tr')[0]).data('product_no');
		$('#revision_count_tbody tr').each(function() {
			SiteID=$(this).data('plant_id');
			revision_dict = {};
			MaterialNumber=$(this).data('product_no');
			
			output_name = $($(this).find('td')[1]).text();
			dict_key = SiteID+ '_' +MaterialNumber;		
			plant_name = $(this).data('plant_name');
			var revision_value = $(this).find('input').val();
			var revision_indicator=$(this).attr('data-updatedcount');
			
			revision_dict={'SiteID':SiteID,'SiteName': plant_name,'MaterialNumber':MaterialNumber,'ParameterName':output_name, 'RevisionCount': revision_value,'Indicator':revision_indicator}
			data_dict[output_name]=revision_dict;
		});
		$.ajax({ 
			method: "GET", 
			url: "/qualitypulse/revision_count_update/", 
			data:{chk:JSON.stringify(data_dict)}, 
			complete: function(result_data) {
				revision_reload(SiteID,MaterialNumber)
			}
		});
	});
	function revision_reload(SiteID,MaterialNumber){
		$.ajax({
		method: "GET",
		url: "/qualitypulse/get_revision_count_data/",
		data:{plant:SiteID,product_list:MaterialNumber},
		success: function(result_data) {	
			tbdy='';
			$('#revision_count_tbody').html('');
			element_index=0;
			var str = '';
			
			for (k=0;k<result_data.length;k++)
			{
			
				var product_id = $('.product_config').val();
				plant_id = $('.plant_config ').val();


			    str += '<tr id="rev_count_'+k+'" data-plant_name="'+plant_id+'" data-updatedcount="As Previous" data-plant_id="'+result_data[k]['SiteID']+'" data-product_no="'+product_id+'"><td>'+product_id+'</td><td>'+result_data[k]['ParameterName']+'</td><td><input onchange="check_integer(this)" class="revision_count_class" placeholder="Enter minimum PO count" value="'+result_data[k]['RevisionCount']+'" type="number" /></td><td>'+result_data[k]['CreatedTimeStamp']+'</td><td>'+result_data[k]['Owner']+'</td></tr>';
		
			}
			$('#revision_count_tbody').html(str);
			}
		});
		$("#common-modal").modal("show");
		$("#common-modal .modal-title").html("Success message");
		$("#common-modal .modal-body").html("Revision count updated successfully."); 
		$("#common-modal .modal-no").css("display","none");
		$("#common-modal .modal-yes").html("Okay");
	}
	</script>
{% endblock %}