{% extends "qualitypulse/theme.html" %}

	{% block filters-container %}
					<div class=" col-sm-12 col-md-12 col-lg-12 pad_5px margin_left_14px " style="">
						<div class=" col-sm-12 col-md-12 col-lg-12 padzero">
								
									<div class="col-sm-4 col-md-3 col-lg-3 filter_css">
										<div class=" col-sm-4 col-md-5 col-lg-5 filter_label ">
												<span class='font_color' >Plant:</span>
										</div>
										<div class="col-sm-8 col-md-7 col-lg-7" style="padding:0px;margin-top:7px;">
											<input type="text" readonly style="width:100%;" class="selected-count" id="plant-dropdown">
											<i class="fa fa-caret-down o-dropdown" aria-hidden="true" style="position: absolute;right: 0.6em;font-size: 16px;top: 1px;"></i>
											<div class="col-sm-12 col-md-12 col-lg-12 multiselect filter-data" style="padding:0px;margin-top: 14px;" id="plantbar">
												{% if plant_dict %}
													<p style="margin-bottom: 0px;"><input id="plantbar-search" placeholder="Enter here." class="SearchTextBox" style="position:fixed;width: 14.8em;border-radius: 0;top:5.5em;" type="text"></p>
													
													<label for="zeros" style="padding-top: 0.5em;" class="Select-All-Label"> <input class="Select-All" id="plant_li" data-all="All" checked type="checkbox" >SelectAll</label>
													
													{% for key, value in plant_dict.items %}
														<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" class="i-checkbox-label" title="{{value}}"><input class="plant_li i-checkbox" checked type="checkbox" value="{{key}}">{{value}}</label>
													{% endfor %}
													<input class="plant" style="position:fixed;width: 9.2em;border-radius: 0;top: 27.2em;width: 16.09%;border: 1px solid #afacac;margin-left: -1px;background: #fbfbfb;" value="OK" type="button">
												
												{% endif %}
											</div>
											<!-- <select multiple="multiple" placeholder="--Select--"class='plant'>
												{% if plant_dict %}
												{% for key, value in plant_dict.items %}
												 <option value="{{key}}">{{value}}</option> 
												{% endfor %}
												{% else %}
												<option value="all">No Plant To choose</option> 
												{% endif %}
											</select> -->
										</div>
									</div>
									<div class="col-sm-4 col-md-3 col-lg-3 filter_css" style="display:none;">
										<div class="col-sm-4 col-md-5 col-lg-5 filter_label" >
												<span class='font_color' >SBU:</span>
										</div>
										<div class="col-sm-8 col-md-7 col-lg-7"style="padding:0px">
											<select  multiple="multiple" disabled placeholder="--Select--"class='sbu'>
												{% if sbu_dict %}
												{% for key, value in sbu_dict.items %}
												 <option value="{{key}}">{{value}}</option> 
												{% endfor %}
												{% else %}
												<option value="all">No SBU To choose</option> 
												{% endif %} 
											</select>
										</div>
									</div>
									<div class="col-sm-4 col-md-3 col-lg-3 filter_css" style="display:none;">
										<div class="col-sm-4 col-md-5 col-lg-5 filter_label" >
												<span class='font_color' >Technology:</span>
										</div>
										<div class="col-sm-8 col-md-7 col-lg-7"style="padding:0px">
											<select  multiple="multiple" disabled placeholder="--Select--"class='technology'>
												{% if technology_dict %}
												{% for key, value in technology_dict.items %}
												 <option value="{{key}}">{{value}}</option> 
												{% endfor %}
												{% else %}
												<option value="all">No Technology To choose</option> 
												{% endif %} 
											</select>
										</div>
									</div>	
									
									
								<div class="col-sm-4 col-md-3 col-lg-3 filter_css">
									<div class="col-sm-4 col-md-5 col-lg-5 filter_label" >
											<span class='font_color'>Product:</span>
									</div>
									<div class="col-sm-8 col-md-7 col-lg-7"style="padding:0px;margin-top:7px;">
										<input type="text" readonly style="width:100%;" class="selected-count" id="product-dropdown">
										<i class="fa fa-caret-down o-dropdown" aria-hidden="true" style="position: absolute;right: 0.6em;font-size: 16px;top: 1px;"></i>
									
										<div class="col-sm-12 col-md-12 col-lg-12 multiselect filter-data" style="padding:0px;margin-top: 14px;" id="productbar">
											{% if product_dict %}
												<p style="margin-bottom: 0px;"><input id="productbar-search" placeholder="Enter here." class="SearchTextBox" style="position:fixed;width: 14.8em;border-radius: 0;top:5.5em;" type="text"></p>
												<label for="zeros" style="padding-top: 0.5em;" class="Select-All-Label"> <input class="Select-All" id="product_li" data-all="All" checked type="checkbox" >SelectAll</label>
												
												{% for key, value in product_dict.items %}
													<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" class="i-checkbox-label" title="{{value}}"><input class="product_li i-checkbox" checked type="checkbox" value="{{key}}">{{value}}</label>
												{% endfor %}
												<input class="product" style="position:fixed;width: 9.2em;border-radius: 0;top: 27.2em;width: 16.09%;border: 1px solid #afacac;margin-left: -1px;background: #fbfbfb;" value="OK" type="button">
											{% endif %}
											
										</div>
										<!-- <select  multiple="multiple" placeholder="--Select--"class='product'>
											{% if product_dict %}
											{% for key, value in product_dict.items %}
											 <option value="{{key}}">{{value}}</option> 
											{% endfor %}
											{% else %}
											<option value="all">No Product To choose</option> 
											{% endif %}
										</select> -->
									</div>
								</div>	
									
								<div class="col-sm-4 col-md-3 col-lg-3 filter_css" style="display:none;">
									<div class="col-sm-4 col-md-5 col-lg-5 filter_label" >
											<span class='font_color' >Line:</span>
									</div>
									<div class="col-sm-8 col-md-7 col-lg-7"style="padding:0px">
										<select  multiple="multiple" disabled placeholder="--Select--"class='line'>
											{% if line_dict %}
											{% for key, value in line_dict.items %}
											 <option value="{{key}}">{{value}}</option> 
											{% endfor %}
											{% else %}
											<option value="all">No Line To choose</option> 
											{% endif %}  
										</select>
									</div>
								</div>

								<div class="col-sm-4 col-md-3 col-lg-3 filter_css" style="display:none;">
									<div class="col-sm-4 col-md-5 col-lg-5 filter_label" >
											<span class='font_color' >Resource:</span>
									</div>
									<div class="col-sm-8 col-md-7 col-lg-7"style="padding:0px">
										<select  multiple="multiple" disabled placeholder="--Select--"class='resource'>
											{% if resource_dict %}
											{% for key, value in resource_dict.items %}
											 <option value="{{key}}">{{value}}</option> 
											{% endfor %}
											{% else %}
											<option value="all">No Resource To choose</option> 
											{% endif %}
										  resource_list
										  
										</select>
									</div>
								</div>	
								<!--<div class="col-sm-4 col-md-3 col-lg-3 filter_css">
									<div class="col-sm-4 col-md-5 col-lg-5 filter_label" >
											<span class='font_color' >Segment:</span>
									</div>
									<div class="col-sm-8 col-md-7 col-lg-7"style="padding:0px">
										<select  multiple="multiple" class='grid_segment'>
											<option value='A'>A</option>
											<option value='B'>B</option>
											<option value='C'>C</option>
											<option value='D'>D</option>
										</select>
									</div>
								</div>-->
								<div class="col-sm-4 col-md-3 col-lg-3 filter_css" style="display:none">
									<div class="col-sm-4 col-md-5 col-lg-5 filter_label" >
											<span class='font_color' >BatchNumber:</span>
									</div>
									<div class="col-sm-8 col-md-7 col-lg-7"style="padding: 10px 0px 0px 5px">
										<input type="text" style="width:95px;" class="batchnumber_text">
									</div>
								</div>
								<div class="col-sm-4 col-md-3 col-lg-1 filter_css">
									<div class="col-sm-8 col-md-7 col-lg-7"style="padding:0px">
										<select placeholder="--Select--" class='weight'>
											<option value='Benchmark'>Benchmark</option>
											<option value='Weight'>Weight</option>
										</select>
									</div>
								</div>
								<div class="col-sm-4 col-md-4 col-lg-3" style="padding:5px 0px 0px 0px;">
									<div class="col-sm-10 col-md-10 col-lg-10 filter_label" >
										<span class='font_color' >Historical Benchmark?</span>
									</div>
									<div class="col-sm-2 col-md-2 col-lg-2"style="padding: 7px 0px 0px 18px">
										<input type="checkbox" value="" id="historical_benchmark" name="historical_benchmark">
									</div>
								</div>
								<div class="  col-sm-1 col-md-2 col-lg-1 " style="padding:10px 0px 0px 0px; margin:0px 0px 0px -4px">
									<button type="button" class="btn btn-primary" id='apply' style='float :right'>Apply</button>
								</div>
						
						</div>
						
						<div class="  col-sm-11 col-sm-push-1  col-md-11 col-md-push-1  col-lg-2" style="padding:5px 0px 0px 0px ">
							<div class=" col-sm-10 col-md-10 col-lg-10" style="padding:0px;display:none;" >
								<div id="reportrange" class="pull-left col-sm-12 col-md-11 col-lg-11" style="background: #fff; cursor: pointer; padding: 3px 10px; border: 1px solid #ccc; ">
									<i class="glyphicon glyphicon-calendar fa fa-calendar" style='top:0px !important;'></i>&nbsp;
									<span style='font-size:12px;'></span>
								</div>						
							</div>								
						</div>	
					</div>	
						
						
{% endblock %}				
		{% block main-container1 %}		
		{% load staticfiles %}
						<div class="col-lg-12 col-md-12 col-sm-12 " id='table_div' data-step="1" data-intro="Grid view provides a handy option to view and download the batch level information for detailed analysis . " data-position="top"        style="padding:0px 0px 0px 0px">
							<table id="Benchmark_Table" class="table table-striped" cellspacing="0" style="width:100%;">
								<thead style="width:100% !important;" id="benchmark_header">
									<tr>
										<th>Product</th>
										<th>Plant</th>
										<th>Parameter</th>
										<th>BenchMark</th>
										<th>StartDateTime</th>
										<th>EndDateTime</th>
										<th>ActiveFlag</th>
										<th>Last Updated By</th>
										<th>Last Updated Date</th>
									</tr>
								</thead>
								<tbody id="modal_container">
								</tbody>
							</table>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="btn_div">
								
							</div>
							<div class="col-md-6 col-sm-6 col-lg-6">
								<span style="float:right;">
								<span style="color:red">*</span>
								<span style="font-size:12px">Note:</span>
								<span style="font-size:10px; padding-left:5px;">Download button will show only after the data is loaded  .</span> </span>
							</div>
						</div>
						
						
<style>
	.paginate_button{
		cursor:pointer;
	}
</style>
<script>

		if($($('.rawmaterial_li ').find('i')[0]).hasClass('fa-caret-down')) {
			$($('.menu_ul')[1]).slideToggle('');
			$($('.rawmaterial_li ').find('i')[0]).removeClass('fa-caret-down');
			$($('.rawmaterial_li ').find('i')[0]).addClass('fa-caret-up'); 
		}
		if($($('.admin_li ').find('i')[0]).hasClass('fa-caret-down')) {
			$($('.menu_ul')[1]).slideToggle('');
			$($('.admin_li ').find('i')[0]).removeClass('fa-caret-down');
			$($('.admin_li ').find('i')[0]).addClass('fa-caret-up'); 
		}
		if($($('.finishedgood_li').find('i')[0]).hasClass('fa-caret-up')) {
			$($('.menu_ul')[1]).slideToggle('');
			$($('.finishedgood_li').find('i')[0]).removeClass('fa-caret-up');
			$($('.finishedgood_li').find('i')[0]).addClass('fa-caret-down'); 
			$('.rawmaterial_li').find('ul').css('display','none');		
			$('.admin_li').find('ul').css('display','none');
			$('.rawmaterial_li').find('ul').css('display','none');		
			$('.finishedgood_li').find('ul').css('display','block');
		}
	
	var encodedUri1;
	var encodedUri2;
	var encodedUri3;
	var encodedUri4;
	
	page_index=$(".not_mobile")[9]
	$(page_index).addClass("clicked_li")
	//$('.plant').SumoSelect({search: true, searchText: 'Enter here.',selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true}).sumo.selectAll();
	$('.line').SumoSelect({search: true, searchText: 'Enter here.',selectAll:true ,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true}).sumo.selectAll();
	$('.resource').SumoSelect({search: true, searchText: 'Enter here.',selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true }).sumo.selectAll();
	//$('.product').SumoSelect({search: true, searchText: 'Enter here.',selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true }).sumo.selectAll();
	$('.sbu').SumoSelect({search: true, searchText: 'Enter here.',selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true }).sumo.selectAll();
	$('.technology').SumoSelect({search: true, searchText: 'Enter here.',selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true }).sumo.selectAll();
	//$('.grid_segment').SumoSelect({search: true, searchText: 'Enter here.',selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true }).sumo.selectItem(0);
	$('.weight').SumoSelect({search: true, searchText: 'Enter here.',selectAll:false}); 
	function configuration_benchmark_data()
	{
		run_waitMe('#modal_container','bounce')
		$("#table_div").height(10+$(".main-container").height()-$(".filters-container").height());
		Data=filter_data()
		//Data['segment_list']=$('.grid_segment').val()
		Data['type_list']=['total']
		Data['page_view']=[window.location.pathname.split('/')[2]]
		if($('#historical_benchmark'). prop("checked") == false){
			Data['historical_benchmark']='N';
		}
		else{
			Data['historical_benchmark']='Y';
		}
		if($('.weight').val()=='Weight'){
			$('#benchmark_header').html('<tr><th>Product</th><th>Plant</th><th>Parameter</th><th>Weight</th><th>StartDateTime</th><th>EndDateTime</th><th>ActiveFlag</th><th>Last Updated By</th><th>Last Updated Date</th></tr>')
		}
		else{
			$('#benchmark_header').html('<tr><th>Product</th><th>Plant</th><th>Parameter</th><th>Benchmark</th><th>StartDateTime</th><th>EndDateTime</th><th>ActiveFlag</th><th>Last Updated By</th><th>Last Updated Date</th></tr>')
		}
		Data['display']=$('.weight').val();
		/*Data['plant_list']=$('.plant').val()
		Data['product_list']=$('.product').val()*/
		$('#Benchmark_Table').dataTable({
			"bRetrive" : true,
			"aaSorting": [],
			//"iDisplayLength":10,
			"processing": false,
			"serverSide": true,
			"bAutoWidth": false,
			"columnDefs": [
				{ "orderable": false, "targets": [0,1,2,3,4,5,6,7,8] }
			  ],
			"ajax": {
				"url":"/qualitypulse/Config_datatable/",
				"type": "POST",
				"data": Data
				},
		});
		$("#Benchmark_Table_length label").html('')
		$("#Benchmark_Table_filter").html('')
		$('#Benchmark_Table_length').css("height",'0px');
		$('.DataTables_sort_icon').remove();
		$("#Benchmark_Table").trigger('update');
		
	}
	
	function download_benchmark_data(){
		Data=filter_data()
		Data['type_list']=['total']
		Data['page_view']=[window.location.pathname.split('/')[2]];
		if($('#historical_benchmark'). prop("checked") == false){
			Data['historical_benchmark']='N';
		}
		else{
			Data['historical_benchmark']='Y';
		}
		Data['display']=$('.weight').val();
		var details_list=[];
		$.ajax({
			method: "POST",
			url: "/qualitypulse/get_benchmark_data/",
			data:Data,
			success: function(result) {
				details_list=result[0]['download_list']
				var header2='';
				if($('.weight').val()=='Weight'){
					var header1 = "Product,Plant,Parameter,Weight,StartDateTime,EndDateTime,ActiveFlag,Last Updated By,Last Updated Date";
					var header2 = ['Product','Plant','Parameter','Weight','StartDateTime','EndDateTime','ActiveFlag','Last Updated By','Last Updated Date'];
				}
				else{
					var header1 = "Product,Plant,Parameter,BenchMark,StartDateTime,EndDateTime,ActiveFlag,Last Updated By,Last Updated Date";
					var header2 = ['Product','Plant','Parameter','BenchMark','StartDateTime','EndDateTime','ActiveFlag','Last Updated By','Last Updated Date'];
				}
				for(var i=0;i<details_list.length;i++){
					header1+='\n';
					for(var k=0;k<details_list[i].length;k++){
						header1+='"'+details_list[i][k]+'",';
					}
				}
				encodedUri3 = header1;
				var header3='';
				dataString = ''
				dataString = header2.join(",");
				header3 +=  dataString+ "\n";
				details_list.forEach(function(infoArray, index){
				   dataString = infoArray.join(",");
				   header3 += index < details_list.length ? dataString+ "\n" : dataString;
				});
				encodedUri4 = header3;
				$('#btn_div').html('<a href="#" class="btn btn-primary" id="download_btn" style="">Download</a>');
			}
		});
	}
	$(document).on('click', '#download_btn', function(){
		/*if(GetSafariVersion() == true) {
			var csvContent=encodedUri4;
			 $('#download_btn').attr({
					'href':'data:attachment/csv,' +  encodeURIComponent(csvContent),
					'target': '_blank',
					'download': "Benchmark_data.csv"
			});
		}
		else if(GetIEVersion() > 0) 
		{
			var csvContent=encodedUri3;
			var blob = new Blob([csvContent],{
				type: "text/csv;charset=utf-8;"
			});
			navigator.msSaveBlob(blob, "Benchmark_data.csv");
		}
		else
		{
			var filename = 'Benchmark_data.csv';
			var outputCSV = encodedUri3;
			var blobby = new Blob([outputCSV], {type: 'text/plain'});

			$('#download_btn').attr({
				'download' : filename,
				'href': window.URL.createObjectURL(blobby),
				'target': '_blank'
			});
		}*/
		var browserInformation = get_browser_info().name;	
		if(browserInformation == 'Chrome'){
			var filename = 'Benchmark_data.csv';
			var outputCSV = encodedUri3;
			var blobby = new Blob([outputCSV], {type: 'text/csv'});

			$('#download_btn').attr({
				'download' : filename,
				'href': window.URL.createObjectURL(blobby),
				'target': '_blank'
			});			
		}
		if(browserInformation == 'safari'){
			var csvContent=encodedUri4;
			var blob = new Blob([csvContent],{
				type: "text/csv;charset=utf-8;"
			});
			navigator.msSaveBlob(blob, "Benchmark_data.csv");			
		}
		if(browserInformation == 'IE '){						/* IE takes space, don't remove space */
			var csvContent=encodedUri4;
			var blob = new Blob([csvContent],{
				type: "text/csv;charset=utf-8;"
			});
			navigator.msSaveBlob(blob, "Benchmark_data.csv");			
		}
	});
	function get_browser_info(){
		var ua=navigator.userAgent,tem,M=ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
		if(/trident/i.test(M[1])){
			tem=/\brv[ :]+(\d+)/g.exec(ua) || [];
			return {name:'IE ',version:(tem[1]||'')};
			}  
		if(M[1]==='Chrome'){
			tem=ua.match(/\bOPR\/(\d+)/)
			if(tem!=null)   {return {name:'Opera', version:tem[1]};}
			}  
		M=M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
		if((tem=ua.match(/version\/(\d+)/i))!=null) {M.splice(1,1,tem[1]);}
		return {
		  name: M[0],
		  version: M[1]
		};
	}

	var browserInformation = get_browser_info().name;
	function GetIEVersion() {
		var sAgent = window.navigator.userAgent;
		var Idx = sAgent.indexOf("MSIE");

		// If IE, return version number.
		if (Idx > 0) 
		return parseInt(sAgent.substring(Idx+ 5, sAgent.indexOf(".", Idx)));

		// If IE 11 then look for Updated user agent string.
		else if (!!navigator.userAgent.match(/Trident\/7\./)) 
		return 11;

		else
		return 0; //It is not IE
	}
	function GetSafariVersion(){
		var is_safari = navigator.userAgent.toLowerCase().indexOf('safari/') > -1;
		return is_safari; 
	}
</script>

{% endblock %}