{% extends "qualitypulse/theme.html" %}

{% block filters-container %}
					<div class=" col-sm-12 col-md-12 col-lg-12 padzero" style="padding:0px;">
						<div class=" col-sm-5 col-md-5 col-lg-5 padzero">
								<div class=" col-sm-12 col-md-12 col-lg-6 padzero">
									<div class="col-sm-12 col-md-12 col-lg-12 filter_css" style="min-height:40px; padding: 0px 0px 0px 4em;">
										<div class=" col-sm-4 col-md-4 col-lg-4 " style="padding:8px 0px 0px 0px;">
												<span class='font_color' >Plant:</span>
										</div>
										<div class="col-sm-8 col-md-8 col-lg-8" style="padding:0px;margin-top:7px">
											<input type="text" readonly style="width:100%;" data-k = "" class="selected-value" id="plant-dropdown">
											<i class="fa fa-caret-down o-dropdown" aria-hidden="true" style="position: absolute;right: 0.6em;font-size: 16px;top: 1px;"></i>
											<div class="col-sm-12 col-md-12 col-lg-12 uniselect filter-data" style="padding:0px;margin-top: 14px;" id="plantbar">
												{% if plant_dict %}
													<p style="margin-bottom: 0px;"><input id="plantbar-search" placeholder="Enter here." class="SearchTextBox" style="position:fixed;width: 11.6em;border-radius: 0;top:5.1em;" type="text"></p>
													{% for key, value in plant_dict.items %}
														<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px;" class="uni-val-label" data-key="{{key}}" title="{{value}}">{{value}}</label>
													{% endfor %}
												
												{% endif %}
											</div>
											<!-- <select  placeholder="--Select--"class='plant'>
												{% if plant_dict %}
												{% for key, value in plant_dict.items %}

												 <option value="{{key}}">{{value}}</option> 
												{% endfor %}
												{% else %}
												<option value="all">No Plant To choose</option> 
												{% endif %}
											</select> -->
										</div>
									</div>
									<!-- <div class="col-sm-4 col-md-4 col-lg-4" style="min-height:40px; padding: 0px 0px 0px 5px;display:none;">
										<div class="col-sm-4 col-md-4 col-lg-4" style="padding:8px 0px 0px 0px;">
												<span class='font_color' >SBU:</span>
										</div>
										<div class="col-sm-8 col-md-8 col-lg-8"style="padding:0px">
											<select disabled  placeholder="--All--"class='sbu'>
												{% if sbu_list %}
												{% for sbu in sbu_list %}
												 <option value="{{sbu}}">{{sbu}}</option> 
												{% endfor %}
												{% else %}
												<option value="all">No SBU To choose</option> 
												{% endif %} 
											</select>
										</div>
									</div> -->
								
									<!-- <div class="col-sm-4 col-md-4 col-lg-4" style="min-height:40px; padding: 0px 0px 0px 5px;display:none;">
										<div class="col-sm-4 col-md-4 col-lg-5" style="padding:8px 0px 0px 0px;">
												<span class='font_color' >Technology:</span>
										</div>
										<div class="col-sm-8 col-md-8 col-lg-7"style="padding:0px">
											<select disabled  placeholder="--All--"class='technology'>
												{% if technology_list %}
												{% for technology in technology_list %}
												 <option value="{{technology}}">{{technology}}</option> 
												{% endfor %}
												{% else %}
												<option value="all">No Lines To choose</option> 
												{% endif %} 
											</select>
										</div>
									</div> -->			
									
								</div>
							
							<div class=" col-sm-6 col-md-6 col-lg-6 padzero">
								<!-- <div class="  col-sm-4 col-md-4 col-lg-4 " style="min-height:40px; padding: 0px 0px 0px 5px;display:none;">
									<div class="col-sm-4 col-md-4 col-lg-4" style="padding:8px 0px 0px 0px;">
											<span class='font_color' >Line:</span>
									</div>
									<div class=" col-sm-8 col-md-8 col-lg-8 "style="padding:0px">
										<select disabled  placeholder="--ALL--"class='line'>
											{% if line_list %}
											{% for line in line_list %}
											 <option value="{{line}}">{{line}}</option> 
											{% endfor %}
											{% else %}
											<option value="all">No Lines To choose</option> 
											{% endif %} 
										</select>
									</div>
								</div> -->

								<!-- <div class="col-sm-4 col-md-4 col-lg-4" style="min-height:40px; padding: 0px 0px 0px 5px;display:none;">
									<div class="col-sm-4 col-md-4 col-lg-4" style="padding:8px 0px 0px 0px;">
											<span class='font_color' >Resource:</span>
									</div>
									<div class="col-sm-8 col-md-8 col-lg-8"style="padding:0px">
										<select disabled  placeholder="--All--"class='resource'>
											{% if resource_list %}
											{% for resource in resource_list %}
											 <option value="{{resource}}">{{resource}}</option> 
											{% endfor %}
											{% else %}
											<option value="all">No Lines To choose</option> 
											{% endif %} 
										  resource_list
										  
										</select>
									</div>
								</div> -->

								<div class="col-sm-12 col-md-12 col-lg-12 filter_css" style="min-height:40px; padding: 0px 0px 0px 5em;">
									<div class="col-sm-4 col-md-4 col-lg-4" style="padding:8px 0px 0px 0px;">
											<span class='font_color'>Product:</span>
									</div>
									<div class="col-sm-8 col-md-8 col-lg-8"style="padding:0px;margin-top:7px">
										<input type="text" readonly style="width:100%;" data-k = "" class="selected-value" id="product-dropdown">
										<i class="fa fa-caret-down o-dropdown" aria-hidden="true" style="position: absolute;right: 0.6em;font-size: 16px;top: 1px;"></i>
										<div class="col-sm-12 col-md-12 col-lg-12 uniselect filter-data" style="padding:0px;margin-top: 14px;" id="productbar">
											{% if product_dict %}
												<p style="margin-bottom: 0px;"><input id="productbar-search" placeholder="Enter here." class="SearchTextBox" style="position:fixed;width: 11.1em;border-radius: 0;top:5.1em;" type="text"></p>
												{% for key, value in product_dict.items %}
													<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px;"  class="uni-val-label" data-key="{{key}}" title="{{value}}">{{value}}</label>
												{% endfor %}
											
											{% endif %}
										</div>
										<!-- <select  placeholder="--All--"class='product'>
											{% if product_dict %}
											{% for key, value in product_dict.items %}

											 <option value="{{key}}">{{value}}</option> 
											{% endfor %}
											{% else %}
											<option value="all">No Product To choose</option> 
											{% endif %}  
										</select> -->
									</div>
								</div>						
							</div>
						</div>
						<div class="  col-sm-12  col-md-2 col-lg-2 " style="padding:5px 0px 0px 0px ">
							<div class="  col-sm-1 col-md-5 col-lg-5 " style="padding:0px 0px 0px 0px; margin:0px 0px 0px -4px">
									<button type="button" class="btn btn-primary" id='apply1' style='float :right'>Apply</button>
							</div>	
							<div class=" col-sm-11 col-md-7 col-lg-7" style="padding:0px 0px 4px 4px" >
								<!-- <div disabled id="reportrange" class="pull-left col-sm-12 col-md-11 col-lg-11" style="background: #fff; cursor: pointer; padding: 1px 10px; border: 1px solid #ccc; ">
									<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
									<span></span>
								</div>	 -->					
							</div>
							
														
						</div>	
					</div>	
						
	{% endblock %}
{% block main-container1 %}
{% load staticfiles %}
<!------------------------------------------kpi-container ------------------------>	
	<div class=" col-sm-12 col-md-12 col-lg-12  kpi-container" style="padding:0px 0px 0px 0px;background-color:#ECF0F5">
	
		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-6 padzero'>
			<div class="col-sm-6 col-md-6 col-lg-6 " data-step="1" data-intro="Quality Maturity score for the selected filter. This provides a overall view of how the Quality of the Bulk Produced Is After Penalizing for Customer Complaints And OffSpec Batch's. " data-position="bottom" style="padding: 5px 5px 5px 0px;">		
					<div class='col-sm-12 col-md-12 col-lg-12 kpis_min_height kpi1_background'>
						<div class=" col-sm-12 col-md-12 col-lg-12 pad_20px" ><span class='mature_percent kpi_span_val'> </span></div>
						<div class=" col-sm-12 col-md-12 col-lg-12 pad_10px" ><span class="kpis_heading" >Quality Maturity Score(%)</span></div>
					</div>
			</div>	
			<div class="col-sm-6 col-md-6 col-lg-6 kpis_min_height" data-step="2" data-intro="Overall quality score for the selected filter. This provides a overall view of how the Quality of the Bulk Produced." data-position="bottom"  style="padding: 5px 5px 5px 0px;">				
				<div class="col-sm-12 col-md-12 col-lg-12 kpis_min_height kpi2_background">
					<div class=" col-sm-12 col-md-12 col-lg-12 pad_20px" ><span class='quality_value kpi_span_val'></span></div>
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_10px" ><span class="kpis_heading" >Quality Score (%)</span></div>
				</div>
			</div>
		</div>
		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-6 padzero'>
			<div class="col-sm-6 col-md-3 col-lg-3 kpis_min_height" data-step="3" data-intro="Number of process orders which has been identified As Bad(QualitySegment:C) based on the quality segments. " data-position="bottom" style="padding: 5px 5px 5px 0px;">					
				<div class=" col-sm-12 col-md-12 col-lg-12  kpis_min_height kpi5_background">
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_20px" ><span class='po_count_bad kpi_span_val'> </span></div>
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_10px" ><span class="kpis_heading" >#'C' Batches</span></div>
					
				</div>
			</div>
	
			<div class="col-sm-6 col-md-3 col-lg-3 kpis_min_height " data-step="4" data-intro="Number of process orders which has been identified as Poor(QualitySegment:D) based on the quality segments. " data-position="bottom" style="padding: 5px 5px 5px 0px;">				
				<div class=" col-sm-12 col-md-12 col-lg-12  kpis_min_height kpi3_background" >
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_20px" ><span class='po_count_poor kpi_span_val'></span></div>
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_10px" ><span class="kpis_heading" ># 'D' Batches</span></div>	
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-lg-3 kpis_min_height  off_spec" data-step="5" data-intro="Number of process orders which has been Identified as Off Spec By Quality Test Results. " data-position="bottom" style="padding: 5px 2px 5px 0px;">	
				<div class=" col-sm-12 col-md-12 col-lg-12  kpis_min_height kpi4_background" >
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_20px" ><span class='off_spec_val kpi_span_val'></span><i class="fa fa-expand info_icon" title="Click Here To Expand" id="chart_off_spec_expand" style="float:left;cursor:pointer; color: yellow; float: right; position: relative; right: -20px;"></i></div>
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_10px" ><span class="kpis_heading" ># Off Specs</span></div>	
				</div>
			</div>
				<div class="col-sm-6 col-md-3 col-lg-3 kpis_min_height" data-step="6" data-intro="Total count of Bulk Batch's for the selected filter and the time range Which Received Customer Complaints. " data-position="bottom" style="padding: 5px 5px 5px 0px;">				
				<div class=" col-sm-12 col-md-12 col-lg-12  kpis_min_height kpi6_background">
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_20px" ><span class='complaints_count kpi_span_val'> </span></div>
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_10px" ><span class="kpis_heading" ># Complaints</span></div>
					
				</div>
			</div>	
		</div>
	</div>
					
			<!------------------------------------------main-container-left ------------------------>				
		<div class="col-sm-12 col-md-3 col-lg-3 main-container-top" style="background-color:#ECF0F5; padding:0px 0px 0px 0px;min-height:500px">
		<div class=" col-sm-12 col-md-12 col-lg-12" style="padding:0px 2px 0px 0px;">
			<div class="col-sm-12 col-md-12 col-lg-12" style="min-height:450px;padding:0px;background-color:#FFF; ">
					<div class="col-sm-12 col-md-12 col-lg-12 tile_title_bar border_bottom" style="min-height:44px;" >
						<div class="col-sm-9 col-md-9 col-lg-9 padzero" >
							<span class="charts_heading1">  Quality Segment (%)</span>
						</div>
						<div class="col-sm-2 col-md-2 col-lg-2 padzero" id="more_pos1" style="padding-top: 4px;">
							<span  title="click here for more details" style="cursor:pointer;"onclick=""> 
								<i class="fa fa-arrow-circle-o-right" style="color:rgba(127, 119, 119, 0.87);font-size:20px;"></i> 
							</span>
						</div> 
						<div class="col-sm-1 col-md-1 col-lg-1 padzero" style="padding-top:5px;">
							<i class="fa fa-info-circle info_icon cpk_chart1_info" style="float:left;"></i>
						</div>
					</div>
				<div class="col-sm-12 col-md-12 col-lg-12" id="3d_donut_container1" data-step="7" data-intro="It shows the trend of the quality based on quality segment ." data-position="bottom"  style="min-height:240px;padding:0px;"></div>
				<div class="col-sm-12 col-md-12 col-lg-12" style="min-height:200px;padding:0px;background-color:#FFF; margin-top:10px;border-top:1px solid #e0dcdc;">
					<!--<div class="col-sm-12 col-md-12 col-lg-12" style="min-height:30px;padding:0px;background-color: rgb(243, 240, 240)">
						<div class="col-sm-10 col-md-10 col-lg-10" style="padding-top: 4px;"><span class="charts_heading"> Cpk Parameters for  </span>
						<span class="parameter_heading"></span>	</div>
						
					</div>-->
					<div class="col-sm-12 col-md-12 col-lg-12" id="para_val_container" style="min-height:172px;padding:0px;margin-top:5px;">
						<div class="col-sm-12 col-md-12 col-lg-12 padzero" >
							<div class="col-sm-12 col-md-12 col-lg-12" style="padding: 8px 0px 0px 19px;">
								<span class=''>Parameter:</span>
								<span id="param_name"></span>
							</div>
							<div class="col-sm-8 col-md-8 col-lg-8" style="padding:0px;height:35px;display:none;">
									<select  placeholder="--All--" class='parameter1' >
												{% if parameter_list %}
												{% for parameter in parameter_list %}
												 <option value="{{parameter}}" >{{parameter}}</option> 
												{% endfor %}
												{% else %}
												<!--<option value="all">No parameter To choose</option> -->
												{% endif %} 
									</select>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12" style="height:30px;line-height:30px;border-bottom: 1px solid #EFEFEF;float:right;">
								<div class="col-lg-5 col-md-5 col-sm-5" style="height:25px;line-height:25px;padding: 3px;float:right;"><span style="color: rgba(127, 119, 119, 0.87);font-size:12px; text-transform:capitalize;" ><b>Exc. Offspec</b></span></div>
								<div class="col-lg-5 col-md-5 col-sm-5" style="height:25px;line-height:25px;padding: 3px;float:right;"><span style="color: rgba(127, 119, 119, 0.87) ;font-size:12px;padding-left:10px; text-transform:capitalize;" ><b>Inc. Offspec</b></span></div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12" style="height:30px;line-height:30px;border-bottom: 1px solid #EFEFEF;float:right;">
								<div class="col-lg-4 col-md-4 col-sm-4" style="height:25px;line-height:25px;padding: 3px; "><span style="color: rgba(127, 119, 119, 0.87) ;font-size:12px;padding-left:10px; text-transform:capitalize;" >Cpk</span></div>
								<div class="col-lg-4 col-md-4 col-sm-4" style="height:25px;line-height:25px;padding: 3px;"><span style="color: rgba(127, 119, 119, 0.87);font-size:12px; text-transform:capitalize;" id="cpk_inspec">0</span></div>
								<div class="col-lg-4 col-md-4 col-sm-4" style="height:25px;line-height:25px;padding: 3px;"><span style="color: rgba(127, 119, 119, 0.87);font-size:12px; text-transform:capitalize;" id="cpk_offspec">0</span></div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12" style="height:30px;line-height:30px;border-bottom: 1px solid #EFEFEF;float:right;background:#F7F6F6;">
								<div class="col-lg-4 col-md-4 col-sm-4" style="height:25px;line-height:25px;padding: 3px; "><span style="color: rgba(127, 119, 119, 0.87) ;font-size:12px;padding-left:10px; text-transform:capitalize;" >Cp</span></div>
								<div class="col-lg-4 col-md-4 col-sm-4" style="height:25px;line-height:25px;padding: 3px;"><span style="color: rgba(127, 119, 119, 0.87);font-size:12px; text-transform:capitalize;" id="cp_inspec">0</span></div>
								<div class="col-lg-4 col-md-4 col-sm-4" style="height:25px;line-height:25px;padding: 3px;"><span style="color: rgba(127, 119, 119, 0.87);font-size:12px; text-transform:capitalize;" id="cp_offspec">0</span></div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12" style="height:30px;line-height:30px;border-bottom: 1px solid #EFEFEF;float:right;">
								<div class="col-lg-4 col-md-4 col-sm-4" style="height:25px;line-height:25px;padding: 3px; "><span style="color: rgba(127, 119, 119, 0.87) ;font-size:12px;padding-left:10px; text-transform:capitalize;" >SD</span></div>
								<div class="col-lg-4 col-md-4 col-sm-4" style="height:25px;line-height:25px;padding: 3px;"><span style="color: rgba(127, 119, 119, 0.87);font-size:12px; text-transform:capitalize;" id="sd_inspec">0</span></div>
								<div class="col-lg-4 col-md-4 col-sm-4" style="height:25px;line-height:25px;padding: 3px;"><span style="color: rgba(127, 119, 119, 0.87);font-size:12px; text-transform:capitalize;" id="sd_offspec">0</span></div>
							</div>
						</div>	
					</div>
					
				
				</div>
			</div>
		</div>
		<!--<div class="col-sm-12 col-md-8 col-lg-8" style="padding:2px 2px 4px 2px; ">
			
		</div>-->
	</div>
			<!------------------------------------------main-container-right ------------------------>
	<div class="col-sm-12 col-md-9 col-lg-9 main-container-bottom" style="padding:0px; min-height:500px;background-color:#FFF; ">
		<div class="col-sm-12 col-md-12 col-lg-12" style="min-height:30px;padding:0px; border-bottom:1px solid #EBEAEA">
				<div class="col-sm-5 col-md-5 col-lg-5 padzero pad_top_5px" style='margin-top: 0px;height:32px; padding:5px 0px 0px 0px !important'>
						<div class="col-sm-3 col-md-3 col-lg-3" style="padding: 8px 0px 0px 0px;">
							<span class='font_color'>Date:</span>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3" style="padding:0px;height:35px;;margin-top:7px;">
							<input type="text" style="width:100%;" class="selected-count" id="date-dropdown">
							<i class="fa fa-caret-down" aria-hidden="true" style="position: absolute;right: 0.6em;font-size: 16px;top: 1px;"></i>
						
							<div class="col-sm-12 col-md-12 col-lg-12 multiselect filter-data" style="padding:0px;margin-top: 14px;" id="datebar">
								{% if date_list %}
									<p style="margin-bottom: 0px;"><input id="datebar-search" placeholder="Enter here." class="SearchTextBox" style="position:fixed;width: 14.8em;border-radius: 0;top:5.5em;" type="text"></p>
									<label for="zeros" style="padding-top: 0.5em;" class="Select-All-Label"> <input class="Select-All" id="date_li" data-all="All" checked type="checkbox" >SelectAll</label>
									
									{% for date in date_list %}
										<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" class="i-checkbox-label" title="{{date}}"><input class="date_li i-checkbox" checked type="checkbox" value="{{date}}">{{date}}</label>
									{% endfor %}
									<input class="date_list" style="position:fixed;width: 9.2em;border-radius: 0;top: 35.2em;width: 16.09%;border: 1px solid #afacac;margin-left: -1px;background: #fbfbfb;" value="OK" type="button">
								{% endif %}
								
							</div>
							<!-- <select multiple='multiple' placeholder="--All--" class='date_list' >
								{% if date_list %}
								{% for date in date_list %}
								 <option value={{date }} >{{date }}</option> 
								{% endfor %}
								{% else %}
								{% endif %} 
							</select> -->
						</div>
						
						<div class="col-sm-3 col-md-3 col-lg-3" style="padding:0px 0px;height:35px;margin-top: 7px;margin-left: 25px;">
								
								<input type="text" style="width:100%;" data-k = "" class="selected-value" id="year-dropdown">
								<i class="fa fa-caret-down o-dropdown" aria-hidden="true" style="position: absolute;right: 0.6em;font-size: 16px;top: 1px;"></i>
								<div class="col-sm-12 col-md-12 col-lg-12 uniselect filter-data" style="padding:0px;margin-top: 14px;" id="yearbar">
									
										<p style="margin-bottom: 0px;"><input id="yearbar-search" placeholder="Enter here." class="SearchTextBox" style="position:fixed;width: 7.8em;border-radius: 0;top:14.1em;" type="text"></p>
										
										<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px;" class="uni-val-label" data-key="Year" title="Yearly">Yearly</label>
										<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px;" class="uni-val-label" data-key="Half" title="Half">Half Yearly</label>
										<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px;" class="uni-val-label" data-key="Quarter" title="Quarter">Quarter</label>
										<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px;" class="uni-val-label" data-key="Month" title="Month">Month</label>
																		
								</div>
								
						
								<!-- <select  placeholder="--All--" class='date_segment_list' > -->
									<!-- <option value='Year'>Yearly</option>	 -->
									<!-- <option value='Half'>Half Yearly</option>		 -->
									<!-- <option value='Quarter'>Quarter</option>	 -->
									<!-- <option value='Month'>Month</option>										 -->
								<!-- </select> -->
						</div>
						
				</div>
		
		
		
		
				<div class="col-sm-5 col-md-5 col-lg-5 padzero pad_top_5px" style='margin-top: 0px;height:32px;line-height:17px; padding:5px 0px 0px 20px;margin-left: -70px;'>
				
					<div class="col-sm-6 col-md-6 col-lg-6 padzero" >
							<div class="col-sm-4 col-md-4 col-lg-4" style="padding: 8px 0px 0px 0px;">
												<span class='font_color'>Parameter:</span>
							</div>
							<div class="col-sm-8 col-md-8 col-lg-8" style="padding:0px;height:35px;margin-top: 7px">
								
									<input type="text" style="width:100%;" data-k = "" class="selected-value" id="parameter-dropdown">
									<i class="fa fa-caret-down o-dropdown" aria-hidden="true" style="position: absolute;right: 0.6em;font-size: 16px;top: 1px;"></i>
									<div class="col-sm-12 col-md-12 col-lg-12 uniselect filter-data" style="padding:0px;margin-top: 14px;" id="parameterbar">
										{% if parameter_list %}
											<p style="margin-bottom: 0px;"><input id="parameterbar-search" placeholder="Enter here." class="SearchTextBox" style="position:fixed;width: 11.6em;border-radius: 0;top:5.1em;" type="text"></p>
											{% for parameter in parameter_list %}
											
												<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px;" data-key="{{parameter}}" title="{{parameter}}">{{parameter}}</label>
											{% endfor %}
										{% endif %}
									</div>
							
							
									<!-- <select  placeholder="--All--" class='parameter' > -->
												<!-- {% if parameter_list %} -->
												<!-- {% for parameter in parameter_list %} -->
												 <!-- <option value="{{parameter}}" >{{parameter}}</option>  -->
												<!-- {% endfor %} -->
												<!-- {% else %} -->
												<!-- <option value="all">No parameter To choose</option> -->
												<!-- {% endif %}  -->
									<!-- </select> -->
							</div>
							
					</div>		
						
						
					<div class="col-sm-5 col-md-5 col-lg-5 padzero" style="padding:0px 0px 0px 0px" >
							<div class="col-sm-4 col-md-4 col-lg-4" style="padding: 8px 0px 0px 0px;">
												<span class='font_color'>OffSpec:</span>
							</div>
							<div class="col-sm-8 col-md-8 col-lg-8" style="padding:0px;height:35px;margin-top: 7px">
									
								<input type="text" style="width:100%;" data-k = "" class="selected-value" id="offspec-dropdown">
								<i class="fa fa-caret-down o-dropdown" aria-hidden="true" style="position: absolute;right: 0.6em;font-size: 16px;top: 1px;"></i>
								<div class="col-sm-12 col-md-12 col-lg-12 uniselect filter-data" style="padding:0px;margin-top: 14px;" id="offspecbar">
									
										<p style="margin-bottom: 0px;"><input id="offspecbar-search" placeholder="Enter here." class="SearchTextBox" style="position:fixed;width: 8.3em;border-radius: 0;top:14.1em;" type="text"></p>
										
										<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px;" class="offspecbar_label" data-key="Including OffSpec" title="Including OffSpec">Including OffSpec</label>
										<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px;" class="offspecbar_label" data-key="Excluding OffSpec" title="Excluding OffSpec">Excluding OffSpec</label>
										
									
									
								</div>
									
									
									<!-- <select  placeholder="--All--" class='OffSpec_select' > -->
										<!-- <option value='Including OffSpec'>Including OffSpec</option>	 -->
										<!-- <option value='Excluding OffSpec'>Excluding OffSpec</option>									 -->
									<!-- </select> -->
							</div>
					</div>
				</div>

								
				<!--<div class="col-sm-4 col-md-4 col-lg-3 padzero pad_top_5px" style='margin-top: 4px;min-height:25px;line-height:20px;margin-left:0px;border-radius:4px; padding: 5px 0px 0px 30px;'>
					<div class="col-sm-4 col-md-4 col-lg-3 padzero" style="border-right:1px solid #EFEFEF" >
							<div class="col-sm-6 col-md-6  col-lg-6" style="padding: 4px 0px 0px 0px;"><span class='font_color' style="padding-right:3px;"> Cpk:</span></div>
							<div class="col-sm-6 col-md-6  col-lg-6" style="padding: 4px 0px 0px 0px;"><span class='font_color cpk_value' style="float:left;"></span></div>
					</div>
					<div class="col-sm-4 col-md-4 col-lg-3 padzero" style="border-right:1px solid #EFEFEF" >
							<div class="col-sm-6 col-md-6  col-lg-6" style="padding: 4px 0px 0px 0px;"><span class='font_color'  style="padding-right:3px;"> Cp:</span></div>
							<div class="col-sm-6 col-md-6  col-lg-6" style="padding: 4px 0px 0px 0px;"><span class='font_color cp_value'  style="float:left;"></span> </div>
					</div>
					<div class="col-sm-4 col-md-4 col-lg-6 padzero" >
							<div class="col-sm-6 col-md-6  col-lg-6" style="padding: 4px 0px 0px 0px;"><span class='font_color'  style="padding-right:3px;"> SD:</span></div>
							<div class="col-sm-6 col-md-6  col-lg-6" style="padding: 4px 0px 0px 0px;"><span class='font_color sd_value'  style="float:left;"></span></div>
					</div>
				</div>-->
				
				<div class="col-sm-1 col-md-1 col-lg-1" style='margin-top: 0px;min-height:43px;line-height:43px;padding:12px 0px 0px 0px;float:right; '>
						
					<i class="fa fa-expand info_icon " title="click here to expand the graphs"id="more_pos2"style="float:left;cursor:pointer;" ></i>
					<i class="fa fa-info-circle info_icon cpk_chart2_info" style=''></i>
				</div>				
				
				
				
		</div>
			<div class="col-sm-12 col-md-12 col-lg-12" id="line_chart_container" data-step="8" data-intro="It shows trend of Cpk and Standard Deviation of the selected Quality Parameter " data-position="bottom"  style="min-height:220px;padding:0px 0px 0px 0px;;"></div>
			<div class="col-sm-12 col-md-12 col-lg-12" style="text-align:center;"><span>Control chart will change only by Parameters and will static in all Date and Off Spec</span></div>
			<div class="col-sm-11 col-md-11 col-lg-11" id="3d_bar_container1" data-step="9" data-intro="It shows Control chart of the selected Quality Parameter " data-position="bottom"  style="min-height:222px;padding:0px 0px 0px 0px;"></div>
			<div class="col-sm-1 col-md-1 col-lg-1" style="min-height:222px;padding:0px 0px 0px 0px;">
				<i class="fa fa-info-circle info_icon cpk_chart3_info" style=''></i>
			</div>
			

		
	</div>
<!------------------------modal window for donut chart------------------------------------------------>	
	<div id="more_pos_modal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				  <div class="modal-header">
				  		<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="col-lg-11 col-md-11 col-sm-11" >Cpk Trends</div>
							<div class="col-md-1 col-sm-1 col-lg-1" style='padding-top:15px;'><button type="button" class="close modal_close3"  aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
						</div>
				  </div>
				  <div class="modal-body"  style='background:#FFF; min-height:460px;padding:0px;'>
						<div class="col-sm-12 col-md-12 col-lg-12" id="line_chart_container1" style="min-height:222px;padding:0px 0px 0px 0px;"></div>
						<div class="col-sm-12 col-md-12 col-lg-12" id="3d_bar_container2" style="min-height:222px;padding:0px 0px 0px 0px;"></div>
							
				  </div>
				  <!-- <div class="modal-footer">
					
				  </div> -->
			</div>
	  </div>
	</div>
	
	<!------------------------modal window for cpk charts------------------------------------------------>	
		<div id="more_pos_modal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
		  <div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					  <div class="modal-header">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="col-md-11 col-sm-10 col-lg-11"><h4 class="modal-title" id="gridSystemModalLabel">Cpk parameters values</h4></div>
								<div class="col-md-1 col-sm-2 col-lg-1" style='padding-top:15px;'>
								<a href='' title="download" id='download_link2'><i class="fa fa-download"></i></a>
								<button type="button"  title="close" class="close modal_close2"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
								</div>
								<!-- <div class="col-md-1 col-sm-1 col-lg-1" style='padding-top:15px;'></div> -->
							</div>
					  </div>
					  <div class="modal-body"  style='background:#FFF; min-height:400px;max-height:400px; padding:0px;'>
							<div class="col-lg-12 col-md-12 col-sm-12" style="height:30px;line-height:30px;border-top: 1px solid #EFEFEF;padding:0px; background:#FFF ;border-bottom:1px solid #EFEFEF">
							<div class="col-lg-3 col-md-3 col-sm-3" style="height:30px;line-height:30px;padding:0px;text-align:center;"><span style="color: rgba(127, 119, 119, 0.87);" >Product</span></div>
							<div class="col-lg-2 col-md-3 col-sm-3" style="height:30px;line-height:30px;padding:0px;text-align:center;"><span style="color: rgba(127, 119, 119, 0.87);" >Segment</span></div>
							<div class="col-lg-2 col-md-3 col-sm-3" style="height:30px;line-height:30px;padding:0px;text-align:center;"><span style="color: rgba(127, 119, 119, 0.87);" >Count</span></div>
							<div class="col-lg-3 col-md-3 col-sm-3" style="height:30px;line-height:30px;padding:0px;text-align:center;"><span style="color: rgba(127, 119, 119, 0.87);" >Parameter</span></div>
							<div class="col-lg-2 col-md-3 col-sm-3" style="height:30px;line-height:30px;padding:0px;text-align:center;"><span style="color: rgba(127, 119, 119, 0.87);" >Cpk value</span></div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12"id='pos_modal_container1' style="padding:0px;min-height:360px;max-height:375px; overflow: scroll;">
							</div>
					  </div>
					  <div class="modal-footer">
						
					  </div>
				</div>
		  </div>
		</div>
		<div id="quality_segment_modal" class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="gridSystemModalLabel">
		  <div class="modal-dialog modal-md" role="document">
				<div class="modal-content">
					  <div class="modal-header">
						<span class="modal-title">Cpk Parameters for <span id="cpk_modal_title"></span></span>
						<button type="button" class="close expand_modal_close2"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  </div>
					  <div class="modal-body" id='quality_modal_container' style='background:#FFF;min-height:270px; overflow-y: scroll;'>
						
						
					  </div>
				</div>
		  </div>
		</div>
	
<script>
//if($($('.rawmaterial_li ').find('i')[0]).hasClass('fa-caret-down') ){$($('.menu_ul')[1]).slideToggle(''); $($('.rawmaterial_li ').find('i')[0]).removeClass('fa-caret-down') ;$($('.rawmaterial_li ').find('i')[0]).addClass('fa-caret-up'); }

	if($($('.rawmaterial_li ').find('i')[0]).hasClass('fa-caret-down')) {
		$($('.menu_ul')[1]).slideToggle('');
		$($('.rawmaterial_li ').find('i')[0]).removeClass('fa-caret-down');
		$($('.rawmaterial_li ').find('i')[0]).addClass('fa-caret-up'); 
	}
	if($($('.admin_li ').find('i')[0]).hasClass('fa-caret-down')) {
		$($('.menu_ul')[1]).slideToggle('');
		$($('.admin_li ').find('i')[0]).removeClass('fa-caret-down');
		$($('.admin_li ').find('i')[0]).addClass('fa-caret-up'); 
	}
	if($($('.finishedgood_li').find('i')[0]).hasClass('fa-caret-up')) {
		$($('.menu_ul')[1]).slideToggle('');
		$($('.finishedgood_li').find('i')[0]).removeClass('fa-caret-up');
		$($('.finishedgood_li').find('i')[0]).addClass('fa-caret-down'); 
		$('.rawmaterial_li').find('ul').css('display','none');		
		$('.admin_li').find('ul').css('display','none');
		$('.rawmaterial_li').find('ul').css('display','none');		
		$('.finishedgood_li').find('ul').css('display','block');
	}

	page_index=$(".not_mobile")[5]
	$(page_index).addClass("clicked_li")
	/*$('.plant').SumoSelect({search: true, searchText: 'Enter here.',selectAll:false,selectAlltext : 'All'});
	$('.line').SumoSelect({search: true, searchText: 'Enter here.',selectAll:false ,selectAlltext : 'All'}).sumo.disable();;
	$('.resource').SumoSelect({search: true, searchText: 'Enter here.',selectAll:false,selectAlltext : 'All' }).sumo.disable();;
	$('.product').SumoSelect({search: true, searchText: 'Enter here.',selectAll:false,selectAlltext : 'All' });
	$('.sbu').SumoSelect({search: true, searchText: 'Enter here.',selectAll:false,selectAlltext : 'All'});
	$('.technology').SumoSelect({search: true, searchText: 'Enter here.',selectAll:false,selectAlltext : 'All'});
	$('.date_list').SumoSelect({search: true, searchText: 'Enter here.',selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true }).sumo.selectAll();*/
	
    /*$('.date_segment_list').SumoSelect()
	$('.OffSpec_select').SumoSelect()*/
	
	
$('.date_list').click(function(){
	run_waitMe('#line_chart_container','bounce');
	//run_waitMe('#3d_bar_container1','bounce');
	var parameter =[$('#parameter-dropdown').attr('data-k')];
	var time_scale=[$('#year-dropdown').attr('data-k')]
	var radio_option=$('#offspec-dropdown').attr('data-k');
	if(radio_option=='Including OffSpec'){radio_option1='on'}
	else{radio_option1='off'}
	cpk_graph1(parameter,time_scale,radio_option1);
	//cpk_graph(parameter);
});	

$('#yearbar label').click(function(){
	run_waitMe('#line_chart_container','bounce');
	//run_waitMe('#3d_bar_container1','bounce');
	var parameter =[$('#parameter-dropdown').attr('data-k')];
	time_scale=[$(this).attr('data-key')];
	var radio_option=$('#offspec-dropdown').attr('data-k');
	if(radio_option=='Including OffSpec'){radio_option1='on'}
	else{radio_option1='off'}
	cpk_graph1(parameter,time_scale,radio_option1);
	//cpk_graph(parameter);
});

$('body').delegate('#parameterbar label', 'click', function () {
	run_waitMe('#line_chart_container','bounce');
	run_waitMe('#3d_bar_container1','bounce');
	var parameter =[$(this).attr('data-key')];
	var time_scale=[$('#year-dropdown').attr('data-k')]
	var radio_option=$('#offspec-dropdown').attr('data-k');
	if(radio_option=='Including OffSpec'){radio_option1='on'}
	else{radio_option1='off'}
	cpk_graph1(parameter,time_scale,radio_option1);
	cpk_graph(parameter);
	$('#param_name').html(parameter)
	cpk_values(parameter)
});
$('body').delegate('.offspecbar_label', 'click', function () {
	run_waitMe('#line_chart_container','bounce');
	//run_waitMe('#3d_bar_container1','bounce');
	var parameter =[$('#parameter-dropdown').attr('data-k')];
	var time_scale=[$('#year-dropdown').attr('data-k')]
	var radio_option=$(this).attr('data-key');
	if(radio_option=='Including OffSpec'){radio_option1='on'}
	else{radio_option1='off'}
	cpk_graph1(parameter,time_scale,radio_option1);
	//cpk_graph(parameter);
});
/*$('.date_segment_list').change(function(){
	run_waitMe('#line_chart_container','bounce');
	//run_waitMe('#3d_bar_container1','bounce');
	var parameter =[$('#parameter-dropdown').attr('data-key')];
	cpk_graph1(parameter);
	//cpk_graph(parameter);
});*/

/*$('.parameter1').change(function(){	
var parameter = [$(this).val()];
cpk_values(parameter)
});*/
	
	
$('#apply1').click(function(){
customer_complaints_cpk()
//overall_quality_cpk()
cpk_parameter()
//parameter_window_data('B')
//rejected_count()
});

$('#more_pos2').on('click',function(){
	$('#3d_bar_container2').html('')
	$('#line_chart_container1').html('')
	$('#more_pos_modal2').modal('show')	
	<!-- get_top_pos_data("total") -->
	run_waitMe('#line_chart_container1','bounce')
	run_waitMe('#3d_bar_container2','bounce')
	cpk_parameter1()
});
$('.modal_close3').click(function(){
$('#more_pos_modal2').modal('hide')
$('#pos_modal_container1').html('')
});

$('.cpk_chart1_info').popover({
  container: 'body',
  content: function() {
    var $el = $('<div id="#my-popover-div"></div>');
    $el.append('<div style="min-height:20px;padding:4px; border-bottom:1px solid #EFEFEF"><span style="padding:5px ;font-size:12px;"><svg width="15" height="15" style="padding-top:4px;"><rect width="15" height="15" style="fill:#00B050;stroke-width:0;stroke:rgb(0,0,0) ;"></svg> :A(Excellent)</span><span style="padding:5px ;font-size:12px;"><svg width="15" height="15" style="padding-top:4px;"><rect width="15" height="15" style="fill:#FFFF00;stroke-width:0;stroke:rgb(0,0,0)"></svg> :B(Good)</span><span style="padding:5px ;font-size:12px; "><svg width="15" height="15" style="padding-top:4px;"><rect width="15" height="15" style="fill:#F8963F;stroke-width:0;stroke:rgb(0,0,0)"></svg> :C(Bad)</span> <span style="padding:5px ;font-size:12px;"><svg width="15" height="15" style="padding-top:4px;"><rect width="15" height="15" style="fill:#FF0000;stroke-width:0;stroke:rgb(0,0,0)"></svg> :D(Poor)</span></div>'	);
    $el.append('<span style="font-size:12px; text-align:justify">This component gives the trend of the quality based on quality segment.</span>');
	return $el;
  },
  placement: 'left',
  html: true,
trigger: "hover"
});

$('.cpk_chart2_info').popover({
  container: 'body',
  content: function() {
    var $el = $('<div id="#my-popover-div"></div>');
    $el.append('<span style="font-size:12px; text-align:justify">Control chart of the Quality Parameter and Trend of Cpk and Standard Deviation of the selected Quality Parameter </span>');
	return $el;
  },
  placement: 'left',
  html: true,
trigger: "hover"
});

$('.cpk_chart3_info').popover({
  container: 'body',
  content: function() {
    var $el = $('<div id="#my-popover-div"></div>');
    $el.append('<span style="font-size:12px; text-align:justify">Control chart will change only by Parameters and will static in all Date and Off Spec</span>');
	return $el;
  },
  placement: 'left',
  html: true,
trigger: "hover"
});



function cpk_parameter()
{
	
	plant_list =[$('#plant-dropdown').attr('data-k')];
	product_list =$('#product-dropdown').attr('data-k');
	$.ajax({
	method: "GET",
	url: "/qualitypulse/cpk_parameter_data/",
	data:{'product_list':product_list,'plant_list':plant_list},
	success: function(result1) {
		var Data = result1;
		parameter_list=Data['parameter_list'];
		filter_singleselect_render('#parameterbar',parameter_list,'parameter_li')	
		filter_singleselect_render('.parameter1',parameter_list)

		checkedItem3 = $('#parameterbar').find('label:nth-child(2)').prop('title');
		var key3 = $('#parameterbar').find('label:nth-child(2)').data('key');
		$('#parameter-dropdown').attr('data-k',key3);
		$('#parameter-dropdown').val(checkedItem3);
		
		var parameter = [$('#parameter-dropdown').attr('data-k')];
		//alert(parameter)
		var time_scale=[$('#year-dropdown').attr('data-k')]
		var radio_option=$('#offspec-dropdown').attr('data-k');
		if(radio_option=='Including OffSpec'){radio_option1='on'}
		else{radio_option1='off'}
		setTimeout(cpk_graph1(parameter,time_scale,radio_option1), 1000);
		setTimeout(cpk_graph(parameter), 1000);
		$('#param_name').html(parameter)
		var parameter1 = [$('.parameter1').val()];
		cpk_values(parameter);		
	}
	});		
}
function cpk_parameter1()
{
	plant_list =[$('#plant-dropdown').attr('data-k')];
	product_list =$('#product-dropdown').attr('data-k');
	$.ajax({
	method: "GET",
	url: "/qualitypulse/cpk_parameter_data/",
	data:{'product_list':product_list,'plant_list':plant_list},
	success: function(result1) {
		var Data = result1;
		//parameter_list=Data['parameter_list'];
		//filter_render('.parameter',parameter_list)	
		//filter_render('.parameter1',parameter_list)	
		//var parameter = [$('.parameter').val()];
		var parameter = [$('#parameter-dropdown').attr('data-k')];
		//alert(parameter)
		cpk_graph(parameter)
		var time_scale=[$('#year-dropdown').attr('data-k')]
		var radio_option=$('#offspec-dropdown').attr('data-k');
		if(radio_option=='Including OffSpec'){radio_option1='on'}
		else{radio_option1='off'}
		cpk_graph1(parameter,time_scale,radio_option1)
		$('#param_name').html(parameter)
		var parameter1 = [$('.parameter1').val()];
		cpk_values(parameter);		
	}
	});		
}

function cpk_graph(parameter)
{
	var year_list =[];
	plant_list =[$('#plant-dropdown').attr('data-k')];
	product_list =[$('#product-dropdown').attr('data-k')];
	var parameter1 =[$('#parameter-dropdown').attr('data-k')];
	$(".date_li").each(function(){
		if(this.checked){year_list.push($(this).val());}
	});
	if(year_list.length==0){year_list = ['all'];}
	cpk_start_date=year_list[0]+'-01-01'
	cpk_end_data=year_list[(year_list.length)-1]+'-12-31'
	radio_option=$('#offspec-dropdown').attr('data-k');
	if(radio_option=='Including OffSpec'){radio_option1='on'}
	else{radio_option1='off'}
	radio_option='on'
	$.ajax({
	method: "GET",
	url: "/qualitypulse/cpk_graph/",
	data:{'product_list':product_list,'parameter_list':parameter1,'plant_list':plant_list,'radio_option':radio_option1,'cpk_start_date':cpk_start_date,'cpk_end_data':cpk_end_data},
		success: function(result1) {
			var Data = result1;
			Trend_Of_Parameter(Data,'#3d_bar_container1')
			Trend_Of_Parameter(Data,'#3d_bar_container2')
			$('.cpk_value').html(Data['cpk_value']);
			$('.cp_value').html(Data['cp_value']);
			$('.sd_value').html(Data['sd_value']);	
		}
	});
}

function cpk_values(parameter)
{
var parameter1 =[$('#parameter-dropdown').attr('data-k')];
//run_waitMe('#para_val_container','bounce');
plant_list =[$('#plant-dropdown').attr('data-k')];
product_list =[$('#product-dropdown').attr('data-k')];
	$.ajax({
	method: "GET",
	url: "/qualitypulse/cpk_values/",
	data:{'product_list':product_list,'parameter_list':parameter1,'plant_list':plant_list},
	success: function(result) {
		$('#cpk_inspec').html(result['CpK']['InOS']);
		$('#cpk_offspec').html(result['CpK']['ExOS']);
		$('#cp_inspec').html(result['Cp']['InOS']);
		$('#cp_offspec').html(result['Cp']['ExOS']);
		$('#sd_inspec').html(result['ProcessSD']['InOS']);
		$('#sd_offspec').html(result['ProcessSD']['ExOS']);
	}
	});
}



function cpk_graph1(parameter,time_scale,radio_option1)
{

var year_list =[];
plant_list =[$('#plant-dropdown').attr('data-k')];
product_list =[$('#product-dropdown').attr('data-k')];
$(".date_li").each(function(){
	if(this.checked){year_list.push($(this).val());}
});
if(year_list.length==0){year_list = ['all'];}
//console.log({'product_list':product_list,'parameter_list':parameter,'plant_list':plant_list,'year_list':year_list,'time_scale':time_scale,'radio_option':radio_option1})
	$.ajax({
	method: "GET",
	url: "/qualitypulse/cpk_graph1/",
	data:{'product_list':product_list,'parameter_list':parameter,'plant_list':plant_list,'year_list':year_list,'time_scale':time_scale,'radio_option':radio_option1},
	success: function(result1) {
		var Data = result1;
		Trend_Of_Parameter_graph1(Data,'#line_chart_container')
		Trend_Of_Parameter_graph1(Data,'#line_chart_container1')
	}
	});
}



var encodedUri3;
var encodedUri4;

function cpk_download_data(data)
{
var try_data
ele=''
	l=data.length
	/*for (i=0;i<l;i++)
	{
		if(data[i]['QSeg']=='A'){data[i]['QSeg']='A'}
		else if(data[i]['QSeg']=='B'){data[i]['QSeg']='B'}
		else if(data[i]['QSeg']=='C'){data[i]['QSeg']='C'}
		//if(data[i]['QSeg']=='P'){data[i]['QSeg']='D'}
		else{data[i]['QSeg']='D'}
	}*/
	if(l>=1)
	{
		for (i=0;i<l;i++)
		{
			
			if(data[i]['Cpk'] != '')
			{
				if((i%2)==0){background='#FFF'}
				else{background='#F7F6F6'}
			ele=ele+'<div class="col-lg-12 col-md-12 col-sm-12" style="height:30px;line-height:30px;border-bottom: 1px solid #EFEFEF; padding:0px;">'+
				'<div class="col-lg-3 col-md-3 col-sm-2 " style="text-align:center;height:30px;line-height:30px;padding: 0px;background:'+background+'"><a href="#" style="text-decoration:none;"><span style="color: rgba(127, 119, 119, 0.87);text-align:center;" >'+data[i]['MaterialNumber']+'</span></a></div>'+
				'<div class="col-lg-2 col-md-3 col-sm-2" style="text-align:center;height:30px;line-height:30px;padding: 0px;background:'+background+'"><span style="color: rgba(127, 119, 119, 0.87) ;text-align:center;" >'+data[i]['QSeg']+'</span></div>'+
				'<div class="col-lg-2 col-md-3 col-sm-2" style="text-align:center;height:30px;line-height:30px;padding: 0px;background:'+background+'"><span style="color: rgba(127, 119, 119, 0.87) ;text-align:center;" >'+data[i]['Count']+'</span></div>'+
				'<div class="col-lg-3 col-md-3 col-sm-3" style="text-align:center;height:30px;line-height:30px;padding: 0px;background:'+background+'"><span style="color: rgba(127, 119, 119, 0.87);text-align:center;" >'+data[i]['Par']+'</span></div>'+
				'<div class="col-lg-2 col-md-3 col-sm-3" style="text-align:center;height:30px;line-height:30px;padding: 0px;background:'+background+'"><span style="color: rgba(127, 119, 119, 0.87);text-align:center;" >'+data[i]['Cpk']+'</span></div>'+
				'</div>'
			}
		

		}
	}
	else
	{
	      ele='<div class="col-lg-12 col-md-12 col-sm-12" style="height:35px;line-height:35px;border-top: 1px solid #EFEFEF;">'+
			'<span>No Data To dispaly </span>'+
			'</div>'
	}
			

	total=[]
	first=[]
		for (i=0;i<l;i++)
		{
			if(data[i]['Cpk'] != '')
			{
			first.push(data[i]['MaterialNumber'])
			first.push(data[i]['QSeg'])
			first.push(data[i]['Count'])
			first.push(data[i]['Par'])
			first.push(data[i]['Cpk'])
			total.push(first)		
				first=[]			
			}
		
				
		}
		
	details_list1=total
	//var header1 = [['MaterialNumber','Segment','Count','Parameter','Cpk_value']];
	var header1 = "MaterialNumber,Segment,Count,Parameter,Cpk_value";
	var header2 = ['MaterialNumber','Segment','Count','Parameter','Cpk_value'];
	for(var i=0;i<details_list1.length;i++){
		header1+='\n';
		for(var k=0;k<details_list1[i].length;k++){
			header1+='"'+details_list1[i][k]+'",';
		}
	}
	encodedUri3 = header1;
	var header3='';
	dataString = ''
	dataString = header2.join(",");
	header3 +=  dataString+ "\n";
	details_list1.forEach(function(infoArray, index){
	   dataString = infoArray.join(",");
	   header3 += index < details_list1.length ? dataString+ "\n" : dataString;
	});
	encodedUri4 = header3;
	
	/*var header1 = [['MaterialNumber','Segment','Count','Parameter','Cpk_value']];
	var csvContent = "data:text/csv;charset=utf-8,";
	header1.forEach(function(infoArray, index){
	   dataString = infoArray.join(",");
	   csvContent += index < header1.length ? dataString+ "\n" : dataString;
	});
	details_list1.forEach(function(infoArray, index){
	   dataString = infoArray.join(",");
	   csvContent += index < details_list1.length ? dataString+ "\n" : dataString;
	});
	var encodedUri = encodeURI(csvContent);	*/	
	/*$('#download_link2').attr('href',encodedUri)
	$('#download_link2').attr("download", "Report_cpk.csv");*/
	$('#pos_modal_container1').waitMe('hide');
	$('#pos_modal_container1').html(ele);
}
function get_browser_info(){
	var ua=navigator.userAgent,tem,M=ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
	if(/trident/i.test(M[1])){
		tem=/\brv[ :]+(\d+)/g.exec(ua) || [];
		return {name:'IE ',version:(tem[1]||'')};
		}  
	if(M[1]==='Chrome'){
		tem=ua.match(/\bOPR\/(\d+)/)
		if(tem!=null)   {return {name:'Opera', version:tem[1]};}
		}  
	M=M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
	if((tem=ua.match(/version\/(\d+)/i))!=null) {M.splice(1,1,tem[1]);}
	return {
	  name: M[0],
	  version: M[1]
	};
}

var browserInformation = get_browser_info().name;
$('#download_link2').click(function(){
	var browserInformation = get_browser_info().name;	
	if(browserInformation == 'Chrome'){
		var filename = 'Report_cpk.csv';
		var outputCSV = encodedUri3;
		var blobby = new Blob([outputCSV], {type: 'text/csv'});

		$('#download_link2').attr({
			'download' : filename,
			'href': window.URL.createObjectURL(blobby),
			'target': '_blank'
		});			
	}
	if(browserInformation == 'safari'){
		var csvContent=encodedUri4;
		var blob = new Blob([csvContent],{
			type: "text/csv;charset=utf-8;"
		});
		navigator.msSaveBlob(blob, "Report_cpk.csv");			
	}
	if(browserInformation == 'IE '){						/* IE takes space, don't remove space */
		var csvContent=encodedUri4;
		var blob = new Blob([csvContent],{
			type: "text/csv;charset=utf-8;"
		});
		navigator.msSaveBlob(blob, "Report_cpk.csv");			
	}
});


$('#more_pos1').on('click',function(){
	$('#more_pos_modal1').modal('show');
	run_waitMe('#pos_modal_container1','bounce')
	<!-- get_top_pos_data("total") -->
	var try_data
	plant_list =[$('#plant-dropdown').attr('data-k')];
	product_list =[$('#product-dropdown').attr('data-k')];
		$.ajax({
			method : "GET",
			url: "/qualitypulse/cpk_download/",
			data:{'plant_list':plant_list,'product_list':product_list},
			success: function(result1) {
				try_data=result1
				cpk_download_data(result1)
			}
		});	
});
$('.expand_modal_close2').click(function(){
	$('#quality_segment_modal').modal('hide');

});

//**********************************parameter window********************************************//

function parameter_window_data(segment){
	$('#quality_segment_modal').modal('show');
	/*if(segment=='B'){
		segment1='B'
		}
	if(segment=='A'){
	segment1='A'
	}
	if(segment=='D'){
	segment1='D'
	}
	if(segment=='C'){
	segment1='C'
	}*/
	$('#cpk_modal_title').html(segment);
	plant_list =[$('#plant-dropdown').attr('data-k')];
	product_list =[$('#product-dropdown').attr('data-k')];
	$.ajax({
	method: "GET",
	url: "/qualitypulse/cpk_onclick_parameter/",
	data:{'product_list':product_list,'segment_list':[segment],'plant_list':plant_list},
	success: function(result) {
		l=result['parameter_value'].length
		if (l>0)
		{
		value=''
		var val='<div class="col-lg-12 col-md-12 col-sm-12" style="height:30px;line-height:30px;border-bottom: 1px solid #EFEFEF;background:#F7F6F6;">'+
					'<div class="col-lg-8 col-md-8 col-sm-8" style="height:25px;line-height:25px;padding: 3px; "><span style="color: rgba(127, 119, 119, 0.87) ;font-size:12px;padding-left:10px; text-transform:capitalize;" ><b>Parameter</b></span></div>'+
					'<div class="col-lg-4 col-md-4 col-sm-4" style="height:25px;line-height:25px;padding: 3px;"><span style="color: rgba(127, 119, 119, 0.87);font-size:12px; text-transform:capitalize;" ><b>Cpk Value</b></span></div>'+
					'</div>';
		for (i=0;i<result['parameter_list'].length;i++)
		{
				if((i%2)==0){background='#FFF'}
				else{background='#F7F6F6'}
		
		value=value+'<div class="col-lg-12 col-md-12 col-sm-12" style="height:30px;line-height:30px;border-bottom: 1px solid #EFEFEF;background:'+background+' " ">'+
				'<div class="col-lg-8 col-md-8 col-sm-8" style="height:25px;line-height:25px;padding: 3px; "><span style="color: rgba(127, 119, 119, 0.87) ;font-size:12px;padding-left:10px; text-transform:capitalize;" >'+result['parameter_list'][i]+'</span></div>'+
				'<div class="col-lg-4 col-md-4 col-sm-4" style="height:25px;line-height:25px;padding: 3px;"><a href="#" style="text-decoration:none;"><span style="color: rgba(127, 119, 119, 0.87);font-size:12px; text-transform:capitalize;" >'+result['parameter_value'][i]+'</span></a></div>'+
				
				'</div>'
		}
		
		$('#quality_modal_container').html(val+value);
		}
		else{
			value='<div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:10px;text-align:center;"><span ><b>No data available</b></span></div>'
			$('#quality_modal_container').html(value);
		}
        
	}
	});/*
	$('.parameter_heading').html(segment);/*
	product_list=[$('.product').val()]
	plant_list=[$('.plant').val()]
	$.ajax({
	method: "GET",
	url: "/qualitypulse/cpk_onclick_parameter/",
	data:{'product_list':product_list,'segment_list':[segment1],'plant_list':plant_list},
	success: function(result) {
		l=result['parameter_value'].length
		if (l>0)
		{
		value=''
		
		for (i=0;i<result['parameter_list'].length;i++)
		{
				if((i%2)==0){background='#FFF'}
				else{background='#F7F6F6'}
		
		value=value+'<div class="col-lg-12 col-md-12 col-sm-12" style="height:30px;line-height:30px;border-bottom: 1px solid #EFEFEF;background:'+background+' " ">'+
				'<div class="col-lg-8 col-md-8 col-sm-8" style="height:25px;line-height:25px;padding: 3px; "><span style="color: rgba(127, 119, 119, 0.87) ;font-size:12px;padding-left:10px; text-transform:capitalize;" >'+result['parameter_list'][i]+'</span></div>'+
				'<div class="col-lg-4 col-md-4 col-sm-4" style="height:25px;line-height:25px;padding: 3px;"><a href="#" style="text-decoration:none;"><span style="color: rgba(127, 119, 119, 0.87);font-size:12px; text-transform:capitalize;" >'+result['parameter_value'][i]+'</span></a></div>'+
				
				'</div>'
		}
		
		$('#para_val_container').html(value);
		}
		else{
		value='<div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:10px;text-align:center;"><span ><b>No data available</b></span></div>'
		$('#para_val_container').html(value);
		}
        
	}
	});*/

}

function overall_quality_cpk()
{
plant_list =[$('#plant-dropdown').attr('data-k')];
product_list =[$('#product-dropdown').attr('data-k')];

$.ajax({
	method: "GET",
	url: "/qualitypulse/Overall_Quality_cpk/",
	data:{'plant_list':plant_list,'product_list':product_list},
	success: function(result1) {
		var Data = result1;
		total=0
		quality=0;
		avg_val=0;
		bad_pos=0;
		poor_pos=0;
		for (i=0;i<Data.length;i++)
		{
			total=total+Data[i]['y']
			if(Data[i]['name']=='A'|Data[i]['name']=='B' )
			{
				quality=quality+Data[i]['y']
			}
			if(Data[i]['name']=='D')
			{
				poor_pos=Data[i]['y']
			}
			if(Data[i]['name']=='C')
			{
				bad_pos=Data[i]['y']
			}
		}
		overall_quality1(Data,'#3d_donut_container1')
		quality_percentage=quality*100/(total+rej_cnt)	
		mature_qualityval=(quality-com_cnt-rej_cnt)*100/(total+rej_cnt)
		$('.mature_percent').html(''+mature_qualityval.toFixed(1))		
		$('.po_count_bad').html(bad_pos)
		$('.po_count_poor').html(poor_pos)
		$('.quality_value').html(''+quality_percentage.toFixed(1))
	}
	});

}




function customer_complaints_cpk()
{
com_cnt=0
plant =$('#plant-dropdown').attr('data-k');
product =$('#product-dropdown').attr('data-k');

	$.ajax({
	method: "GET",
	url: "/qualitypulse/customer_complaints_cpk/",
	data:{'plant_list':plant,'product_list':product},
	success: function(result1) {
		$('.complaints_count').html(result1)
		rejected_count()
	}
	});
}




</script>
{% endblock %}