{% extends "qualitypulse/theme.html" %}

	{% block filters-container %}
					
	{% endblock %}

{% block main-container1 %}
{% load staticfiles %}
<!------------------------------------------kpi-container ------------------------>	
<div class=" col-sm-12 col-md-12 col-lg-12 " style="padding:0px 0px 0px 0px;background-color:#ECF0F5">

	<h3>Acess Forbidden</h3>

</div>
<script>$('.filters-container').css('dispaly','none')</script>

{% endblock %}