<html>
	<head>
	{% load staticfiles %}
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src='{% static "qualitypulse/js/jquery2.js" %}'></script>
	<script src='{% static "qualitypulse/js/bootstrap.min.js" %}'></script>
	<link rel="stylesheet" href='{% static "qualitypulse/css/font-awesome-4.5.0/css/font-awesome-min.css" %}' />	

		<style>
			#form-top-right{
				height:14.2%;
				padding:3%;
				padding-left:10%;
			}
			#form-bottom{
				padding:2%;
				<!-- border:1px solid silver;  -->
			}
			#pp{height:15%;}
			#form-top{
				text-align:center;
				padding:2%;
			}
			#topbar{padding:3%;text-align:center;}
			#form-username{width:100%;}
			#form{background-color:white;border-radius:5px;padding-left:0px;padding-right:0px;height:445px;}
			#forgot{padding:5%;padding-left:3%;}
			#sign{text-align:center;padding-top:2%;}
			#signin{width:90%;background-color:#009EB3;color:white;}
			#fgtbtn{border:none;background-color:white;}
			#usrnm{display:none;color:red;padding-left:12%;}
			#passwd{display:none;color:red;padding-left:12%;}
			#usr_psw{display:none;color:red;padding-left:5%;}
			body{background-size:100%;background-repeat:no-repeat;overflow:hidden;}
			#form-top{background-color:#009EB3;color:white;text-align:center;}
			#input-group1{padding-left:3%;padding-right:3%;padding-top:8%;}
			#input-group{padding-left:3%;padding-right:3%;padding-top:6%;}
			#icon1_bg{background-color:#009EB3;color:white;}
			#icon2_bg{background-color:#009EB3;color:white;}
			#top_head{color:red;}
		</style>
	</head>
	<body style='background-image:url("/static/qualitypulse/img/login.jpg")'>
		<!-- <div class="inner-bg"> -->
<!--                 <div class="container"> -->
                    <div class="row" id="topbar">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="top_head">
                      
                        </div>
                    </div>
					<!-- <div style="padding:5%;"> -->
						<div class="col-lg-5 col-md-5 col-sm-3 col-xs-4"></div>
                        <div class="col-lg-3 col-md-3 col-sm-7 col-xs-3" id="form">
							<!-- <div id="outerform" style="border:1px solid"> -->
								<div id="form-top" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									
									<img src='/static/qualitypulse/img/Lock-48.png' style="padding: 10px 0px 0px 0px;"/>
									<p style="padding-top:2px;">LOGIN</p>
								</div>
								<div id="form-bottom" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<form action="http://henkelpilot.westeurope.cloudapp.azure.com:80/qualitypulse/" method="post" class="login-form">
									<div class="input-group" id="input-group1" style='padding: 50px 30px 10px 30px'>
										<span class="input-group-addon" id="icon1_bg"><i class="glyphicon glyphicon-user"></i></span>
										<input id="form-username" type="text" class="form-control" name="user" placeholder="Username" style="border: 1px solid #F1E8E8">                                        
									</div>				
									<div id="usrnm">Username Required</div>

									<div class="input-group" id="input-group" style='padding: 20px 30px 10px 30px'>
										<span class="input-group-addon" id="icon1_bg"><i class="glyphicon glyphicon-lock"></i></span>
										<input id="form-password" type="password" class="form-control" name="password" placeholder="Password" style="border: 1px solid #F1E8E8">
									</div>
									<div id="passwd">Password Required</div>
									<div id="forgot" style="padding: 20px 30px 10px 30px"><button id="fgtbtn"><a style="font-size:12px;color: #A9A4A4;">Forgot Password?</a></button></div>
				
										<div id="sign" style="padding: 20px 20px 28px 20px;"><input type='submit' id="signin" value='SIGNIN' ></input></div><hr style="border-top:1px solid #EFEFEF">
										<div id="usr_psw">Username or Password incorrect</div>
										
									</form>
								</div>
							<!-- </div> -->
                        </div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
                    <!-- </div> -->
		<script>
			$(document).ready(function() {

			});
			$("form").submit(function(){
				var us=$("#form-username").val();
				var psw=$("#form-password").val();
				console.log(us);
				console.log(psw);
				pass_dict={'user1':'pass1','user2':'pass2','user3':'pass3','user4':'pass4','user5':'pass5'}
				var user=Object.keys(pass_dict);
				var index;
				var flag;
				var pos;
				if ((us=='') || (psw=='')){
					if (us==''){
						$("#usrnm").show();
						$("#form-username").css("border","1px solid red");
						<!-- flag=1; -->
					}
					if (psw==''){
						$("#passwd").show();
						$("#form-password").css("border","1px solid red");
					}
					return false;
				}
				else{
					for	(index = 0; index < user.length; index++){
						if (us==user[index]){
								pos=user[index];
						
								
							}
						}
					if (psw==pass_dict[pos]){
						flag=1;
					}
					if (flag!=1){
						$("#usr_psw").show();
						return false;
					}
					<!-- else{alert("login successfully");}	 -->
				}
				
			});
			$("#form-password").click(function(){
				$("#passwd").hide();
				$("#form-password").css("border","1px solid gray");
			});
			$("#form-username").click(function(){
				$("#usrnm").hide();
				$("#form-username").css("border","1px solid gray");
			});
			
		</script>			
	</body>
</html>