{% extends "qualitypulse/theme.html" %}

	{% block filters-container %}
					<div class=" col-sm-12 col-md-12 col-lg-12 pad_5px margin_left_14px " style="">
						<div class=" col-sm-12 col-md-12 col-lg-12 padzero">
								
									<div class="col-sm-4 col-md-3 col-lg-3 filter_css">
										<div class=" col-sm-4 col-md-5 col-lg-5 filter_label ">
												<span class='font_color' >Plant:</span>
										</div>
										<div class="col-sm-8 col-md-7 col-lg-7" style="padding:0px">
											<select multiple="multiple" placeholder="--ALL--"class='plant'>
												{% if plant_list %}
												{% for plant in plant_list %}
												 <option value="{{plant}}">{{plant}}</option> 
												{% endfor %}
												{% else %}
												<option value="all">No Lines To choose</option> 
												{% endif %} 
											</select>
										</div>
									</div>
									<div class="col-sm-4 col-md-3 col-lg-3 filter_css">
										<div class="col-sm-4 col-md-5 col-lg-5 filter_label" >
												<span class='font_color' >SBU:</span>
										</div>
										<div class="col-sm-8 col-md-7 col-lg-7"style="padding:0px">
											<select  multiple="multiple" placeholder="--All--"class='sbu'>
												{% if sbu_list %}
												{% for sbu in sbu_list %}
												 <option value="{{sbu}}">{{sbu}}</option> 
												{% endfor %}
												{% else %}
												<option value="all">No SBU To choose</option> 
												{% endif %} 
											</select>
										</div>
									</div>
									<div class="col-sm-4 col-md-3 col-lg-3 filter_css">
										<div class="col-sm-4 col-md-5 col-lg-5 filter_label" >
												<span class='font_color' >Technology:</span>
										</div>
										<div class="col-sm-8 col-md-7 col-lg-7"style="padding:0px">
											<select  multiple="multiple" placeholder="--All--"class='technology'>
												{% if technology_list %}
												{% for technology in technology_list %}
												 <option value="{{technology}}">{{technology}}</option> 
												{% endfor %}
												{% else %}
												<option value="all">No Lines To choose</option> 
												{% endif %} 
											</select>
										</div>
									</div>	
									
									
								<div class="col-sm-4 col-md-3 col-lg-3 filter_css">
									<div class="col-sm-4 col-md-5 col-lg-5 filter_label" >
											<span class='font_color'>Raw Material:</span>
									</div>
									<div class="col-sm-8 col-md-7 col-lg-7"style="padding:0px">
										<select  multiple="multiple"placeholder="--All--"class='rawmaterial'>
											{% if product_list %}
											{% for product in product_list %}
											 <option value="{{product}}">{{product}}</option> 
											{% endfor %}
											{% else %}
											<option value="all">No product To choose</option> 
											{% endif %} 
										</select>
									</div>
								</div>	
									
								<div class="col-sm-4 col-md-3 col-lg-3 filter_css">
									<div class="col-sm-4 col-md-5 col-lg-5 filter_label" >
											<span class='font_color' >Vendor:</span>
									</div>
									<div class="col-sm-8 col-md-7 col-lg-7"style="padding:0px">
										<select  multiple="multiple" placeholder="--ALL--"class='vendor'>
											{% if vendor_list %}
											{% for vendor in vendor_list %}
											 <option value="{{vendor}}">{{vendor}}</option> 
											{% endfor %}
											{% else %}
											<option value="all">No Vendor To choose</option> 
											{% endif %} 
										</select>
									</div>
								</div>

								<div class="col-sm-4 col-md-3 col-lg-3 filter_css">
									<div class="col-sm-4 col-md-5 col-lg-5 filter_label" >
											<span class='font_color' >Segment:</span>
									</div>
									<div class="col-sm-8 col-md-7 col-lg-7"style="padding:0px">
										<select  multiple="multiple" class='grid_segment'>
											<option value='E'>A</option>
											<option value='G'>B</option>
											<option value='B'>C</option>
											<option value='P'>D</option>
										</select>
									</div>
								</div>	
								<div class="col-sm-4 col-md-3 col-lg-3 filter_css">
									<div class="col-sm-4 col-md-5 col-lg-5 filter_label" >
											<span class='font_color' >Batch Number:</span>
									</div>
									<div class="col-sm-8 col-md-7 col-lg-7"style="padding: 10px 0px 0px 5px">
											<input type="text" style="width:95px;" class="batchnumber_text">
									</div>
								</div>	
						<div class=" col-sm-4 col-md-3 col-lg-3 filter_css " style="padding:5px 0px 0px 0px ">
							<div class=" col-sm-10 col-md-10 col-lg-10" style="padding:0px" >
								<div id="reportrange" class="col-sm-12 col-md-12 col-lg-12" style="background: #fff; cursor: pointer; padding: 3px 10px; border: 1px solid #ccc; ">
									<i class="glyphicon glyphicon-calendar fa fa-calendar" style='top:0px !important;'></i>&nbsp;
									<span style='font-size:12px;'></span>
								</div>						
							</div>
							
							<div class="  col-sm-2 col-md-2 col-lg-2 " style="padding:0px 0px 0px 0px; margin:0px 0px 0px -4px">
									<button type="button" class="btn btn-primary" id='apply' style='float :right'>Apply</button>
							</div>								
						</div>	
						</div>
					</div>	
						
						
{% endblock %}				
		{% block main-container1 %}		
		{% load staticfiles %}
						<div class="col-lg-12 col-md-12 col-sm-12 " id='table_div'     data-step="1" data-intro="Grid view provides a handy option to view and download the batch level information for detailed analysis . " data-position="top"        style="padding:0px 0px 0px 0px">

						</div>
						
						

<script>

	if($($('.finishedgood_li ').find('i')[0]).hasClass('fa-caret-down') ){$($('.menu_ul')[0]).slideToggle(''); $($('.finishedgood_li ').find('i')[0]).removeClass('fa-caret-down') ;$($('.finishedgood_li ').find('i')[0]).addClass('fa-caret-up');}
	if($($('.rawmaterial_li ').find('i')[0]).hasClass('fa-caret-up') ){ $($('.rawmaterial_li ').find('i')[0]).removeClass('fa-caret-up') ;$($('.rawmaterial_li ').find('i')[0]).addClass('fa-caret-down'); }
	else{ $($('.rawmaterial_li ').find('i')[0]).removeClass('fa-caret-down') ;$($('.rawmaterial_li ').find('i')[0]).addClass('fa-caret-up'); }

	$($('.menu_ul')[1]).slideToggle('');
	page_index=$('.rawmaterial_li li')[4]
	$(page_index).addClass("clicked_li")
	$('.plant').SumoSelect({selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true}).sumo.selectAll();
	$('.vendor').SumoSelect({selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true }).sumo.selectAll();
	$('.rawmaterial').SumoSelect({selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true }).sumo.selectAll();
	$('.sbu').SumoSelect({selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true }).sumo.selectAll();
	$('.technology').SumoSelect({selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true }).sumo.selectAll();
	$('.grid_segment').SumoSelect({selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true }).sumo.selectItem(0);
	
	function grid_view_data( )
	{
	run_waitMe('#table_div','bounce')
		$("#table_div").height(10+$(".main-container").height()-$(".filters-container").height());
		Data=filter_data()
		Data['segment_list']=$('.grid_segment').val()
		Data['type_list']=['total']
		if($('.batchnumber_text').val()==''){Data['batchnumber']='all'}
		else{Data['batchnumber']=$('.batchnumber_text').val()}
		Data['page_view']=[window.location.pathname.split('/')[2]]
		$.ajax({
		method: "POST",
		url: "/qualitypulse/RM_get_top_pos/",
		data:Data,
		success: function(result) {
		details_list=result[0]['download_list']
		element=''
		$('tbody').empty()
		
		
		var ele1='<table id="Grid_Table" class="table responsive table-striped table-bordered"  align="center">'+
										  '<thead class="">'+
											'<tr>'+
											'<th class="tablecss">Segment</th>'+
											'<th class="tablecss" >Plant</th>'+
											'<th class="tablecss">Sbu</th>'+
											'<th class="tablecss">Technology</th>'+
											'<th class="tablecss">RawMaterial</th>'+
											'<th class="tablecss">Vendor</th>'+
											'<th class="tablecss">BatchNumber</th>'+
											'<th class="tablecss">ProcessOrder</th>'+
											'<th class="tablecss">Avg QualityScore</th>'+
											'<th class="tablecss">Production Date</th>'+
											' </tr>'+
										  '</thead>'+
											'<tbody id="tbid">'+
											'</tbody>'+
										'</table>';
					$('#table_div').html(ele1);
					$('#table_div').append('<a href="" class="btn btn-primary" id="download_btn" style="">Download</a>')
		
		
		
		for(i=0;i<details_list.length;i++)
		{
		element=element+  '<tr style="background-color:"#FFF">'+
						  '<td class="tablecss">'+details_list[i][0]+'</td>'+
						  '<td class="tablecss">'+details_list[i][1]+'</td>'+
						  '<td class="tablecss">'+details_list[i][2]+'</td>'+
						  '<td class="tablecss">'+details_list[i][3]+'</td>'+
						  '<td class="tablecss">'+details_list[i][4]+'</td>'+
						  '<td class="tablecss">'+details_list[i][7]+'</td>'+
						  '<td class="tablecss">'+details_list[i][6]+'</td>'+
						  '<td class="tablecss">'+details_list[i][5]+'</td>'+
						  '<td class="tablecss">'+details_list[i][8]+'</td>'+
						  '<td class="tablecss">'+details_list[i][9]+'</td>'+
						  '</tr>';	
					  
		}
		$('tbody').html(element);
		
		$('#Grid_Table').DataTable({responsive: true,columnDefs: [{ responsivePriority: 1, targets: 0 },{ responsivePriority: 2, targets: -1 }]} );
		$("#Grid_Table_length label").html('')
		$("#Grid_Table_filter").html('')
		$('#Grid_Table_length').css("height",'0px')
		$("#Grid_Table").trigger('update'); 
		var header = [['Segment','SiteID','SBU','Technology','MaterialNumber','LineID','Resources','Operators','BatchNumber','ProcessOrder','AvgQualityScore']];
		var csvContent = "data:text/csv;charset=utf-8,";
		header.forEach(function(infoArray, index){
		   dataString = infoArray.join(",");
		   csvContent += index < header.length ? dataString+ "\n" : dataString;
		});
		details_list.forEach(function(infoArray, index){
		   dataString = infoArray.join(",");
		   csvContent += index < details_list.length ? dataString+ "\n" : dataString;
		});
		var encodedUri = encodeURI(csvContent);	
		$('#download_btn').attr('href',encodedUri)
		$('#download_btn').attr("download", "Report.csv");
		}
		});
	}
</script>

{% endblock %}