{% extends "qualitypulse/theme.html" %}
	{% block filters-container %}
					<div class=" col-sm-12 col-md-12 col-lg-12 pad_5px margin_left_14px " style="">
						<div class=" col-sm-12 col-md-12 col-lg-10 padzero">
								<div class=" col-sm-12 col-md-12 col-lg-12 padzero">
									<div class="col-sm-3 col-md-3 col-lg-3 filter_css" >
										<div class=" col-sm-4 col-md-4 col-lg-4 filter_label ">
												<span class='font_color' >Plant:</span>
										</div>
										<div class="col-sm-8 col-md-8 col-lg-8" style="padding:0px">
											<select  placeholder="--ALL--"class='plant_config'>
												{% if plant_list %}
												{% for plant in plant_list %}
												 <option value="{{plant}}">{{plant}}</option> 
												{% endfor %}
												{% else %}
												<option value="all">No Plant To choose</option> 
												{% endif %} 
											</select>
										</div>
									</div>		
									<div class="col-sm-3 col-md-3 col-lg-3 filter_css" >
										<div class=" col-sm-4 col-md-4 col-lg-4 filter_label ">
												<span class='font_color' >Raw Material:</span>
										</div>
										<div class="col-sm-8 col-md-8 col-lg-8" style="padding:0px">
											<select multiple='multiple'  placeholder="--ALL--"class='product_config'>
												{% if product_list %}
												{% for product in product_list %}
												 <option value="{{product}}">{{product}}</option> 
												{% endfor %}
												{% else %}
												<option value="all">No Product To choose</option> 
												{% endif %} 
											</select>
										</div>
									</div>										
								</div>						
						</div>
					</div>	
						
	{% endblock %}
{% block main-container1 %}
{% load staticfiles %}
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<ul class="nav nav-tabs" role="tablist" id='test'>
			<li role="presentation" class="active"><a href="#threshold" aria-controls="threshold" role="tab" data-toggle="tab">Threshold</a></li>
			<li role="presentation"><a href="#weight" aria-controls="weight" role="tab" data-toggle="tab">Weight</a></li>
		</ul>
		<div class="tab-content" >
			<div role="tabpanel" class="tab-pane active" id="threshold" style="padding:4px 0px 0px 0px">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="cpp_head"><span style="color:#7AA3DB;font-size:18px;">Bulk</span> <span style="float:right "><span style="color:red">*</span><span style="font-size:12px">Note:</span><span style="font-size:10px; padding-left:5px;">LowerThreshold Should Be Greater than Previous Value,Upper Threshold Should Be Less Than Previous Value .</span> </span></div>
					<div id="bulk_table" style="font-size:12px;font-family:sans-serif;">
						<table id="bulk_tble" class="table table-striped table-bordered " style="font-size:12px;font-family:sans-serif;">
							<thead>
								<th>Product</th><th>Quality Parameter</th><th>Lower Threshhold</th><th>Upper Threshhold</th><th>Benchmark Value</th><th>Last Updated Date</th><th>Last Updated By</th>
							</thead>
							<tbody id='threshold_tbody'>
							</tbody>
						</table>
						<button type="button" class=" threshold_btn btn btn-primary btn-xs" id="threshold_bulk_but" style=" float:right; padding:0 1rem !important">SAVE</button>
						<!-- <button type="button" class="btn btn-primary btn-xs" id="threshold_bulk_but1" style="margin-left:3%;">CANCEL</button> -->
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="weight" style="padding:4px 0px 0px 0px">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="cpp_head"><span style="color:#7AA3DB;font-size:18px ">Bulk</span> <span style="float:right "><span style="color:red">*</span><span style="font-size:12px">Note:</span><span style="font-size:10px; padding-left:5px;">Weight Should Be Either Zero Or One .</span> </span></div>
					<div id="bulk_table"  style="font-size:12px;font-family:sans-serif;">
						<table id="bulk_tble" class="table table-striped table-bordered"  style="font-size:12px;font-family:sans-serif;">
							<thead><th>Product</th><th>Quality Parameter</th><th>Weight Percentage</th><th>Last Updated Date</th><th>Last Updated By</th></thead>
							<tbody id="weight_tbody">
							</tbody>
							</table>
						<button type="button" class="weight_btn btn btn-primary btn-xs" id="weight_bulk_btn" style="float:right; padding:0 1rem !important">SAVE</button>
						<!-- <button type="button" class="btn btn-primary btn-xs" id="weight_bulk_but1" style="margin-left:3%;">CANCEL</button> -->
					</div>
				</div>
			</div>
		</div>
	</div>	
	<script>
	if($($('.finishedgood_li ').find('i')[0]).hasClass('fa-caret-down') ){$($('.menu_ul')[0]).slideToggle(''); $($('.finishedgood_li ').find('i')[0]).removeClass('fa-caret-down') ;$($('.finishedgood_li ').find('i')[0]).addClass('fa-caret-up');}
	if($($('.rawmaterial_li ').find('i')[0]).hasClass('fa-caret-up') ){ $($('.rawmaterial_li ').find('i')[0]).removeClass('fa-caret-up') ;$($('.rawmaterial_li ').find('i')[0]).addClass('fa-caret-down'); }
	else{ $($('.rawmaterial_li ').find('i')[0]).removeClass('fa-caret-down') ;$($('.rawmaterial_li ').find('i')[0]).addClass('fa-caret-up'); }
	$($('.menu_ul')[1]).slideToggle('');
	page_index=$('.rawmaterial_li li')[5]
	$(page_index).addClass("clicked_li")
	$('#test a').click(function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	})

	$('.plant_config').SumoSelect({selectAll:false,selectAlltext : 'All'}); 
	$('.product_config').SumoSelect({selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true}).sumo.selectItem(0);
	
	
	
	$('.plant_config').change(function(){
		$('.product_config').SumoSelect().sumo.disable()
		$.ajax({
		method: "GET",
		url: "/qualitypulse/RM_get_filter_data_config/",
		data:{plant:$('.plant_config').val()},
		success: function(result_data) {			
			filter_render_config('.product_config',result_data)			
		}
		});				
	});
	function filter_render_config(classname,data)
	{
		$('.product_config').empty()
		for (i=0;i<data.length;i++)
		{
		$('.product_config').append('<option  value="'+data[i]+'">'+data[i]+'</option>')	
		}
		if(data.length<1)
		{
		$('.product_config').append('<option  value="all">No options</option>')
		}

		$('.product_config').SumoSelect().sumo.reload()
		$('.product_config').SumoSelect().sumo.enable()	
		$('.product_config').SumoSelect({selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true}).sumo.selectItem(0);
		$('.select_search_class').remove()
		add_search()
		table_render_threshold();
		table_render_weight()
	}
	function table_render_threshold()
	{
	$('#weight_bulk_btn').prop("disabled", false);
		$.ajax({
		method: "GET",
		url: "/qualitypulse/RM_get_threshold_data/",
		data:{plant:$('.plant_config').val(),product_list:$('.product_config').val()},
		success: function(result_data) {			
			console.log(result_data)
			tbdy=''
			element_index=0
			for (i=0;i<result_data.length;i++)
			{
			

			
				plant_id=result_data[i]["SiteID"];plant_name=result_data[i]["SiteName"];product_no=result_data[i]["MaterialNumber"];otput_dict=result_data[i]["RMLimits"];updated_date=result_data[i]["UpdatedDate"];
				for(key in Object.keys(otput_dict)){
				
					if((element_index%2)==0){bgclr="#F9F9F9"}
					else{bgclr="#FFF"}
					
					if(otput_dict[Object.keys(otput_dict)[key]]["UpperLimit"]==0 && otput_dict[Object.keys(otput_dict)[key]]["LowerLimit"]==0 && otput_dict[Object.keys(otput_dict)[key]]["Benchmark"]==0 )
					{
						tbdy=tbdy+'<tr data-plant_name="'+plant_name+'"  data-plant_id='+plant_id+' data-product_name="'+product_no+'" data-ouput_name="'+Object.keys(otput_dict)[key]+'"   >'+ '<td>'+product_no+'</td>'+ '<td>'+Object.keys(otput_dict)[key]+'</td>'+ '<td><input disabled style="background-color:'+bgclr+'" type="text" class="LT" data-lt_value='+otput_dict[Object.keys(otput_dict)[key]]["LowerLimit"]+'  data-index_value='+element_index+' value='+otput_dict[Object.keys(otput_dict)[key]]["LowerLimit"] +'></td>'+
						'<td><input  style="background-color:'+bgclr+'" type="text"  disabled class="UT" data-ut_value='+otput_dict[Object.keys(otput_dict)[key]]["UpperLimit"]+'  data-index_value='+element_index+' value='+otput_dict[Object.keys(otput_dict)[key]]["UpperLimit"] +'></td>'+'<td><input  disabled style="background-color:'+bgclr+'"   type="text" class="bench_val"  data-index_value='+element_index+' value='+otput_dict[Object.keys(otput_dict)[key]]["Benchmark"] +'>'+'</td>'+'<td>'+updated_date+'</td>'+'<td>'+'System'+'</td>'+'</tr>'
				
					
					}
					
					else
					{
						tbdy=tbdy+'<tr data-plant_name="'+plant_name+'"  data-plant_id='+plant_id+' data-product_name="'+product_no+'" data-ouput_name="'+Object.keys(otput_dict)[key]+'"   >'+ '<td>'+product_no+'</td>'+ '<td>'+Object.keys(otput_dict)[key]+'</td>'+ '<td><input  style="background-color:'+bgclr+'" type="text" class="LT" data-lt_value='+otput_dict[Object.keys(otput_dict)[key]]["LowerLimit"]+'  data-index_value='+element_index+' value='+otput_dict[Object.keys(otput_dict)[key]]["LowerLimit"] +'></td>'+
						'<td><input  style="background-color:'+bgclr+'" type="text" class="UT" data-ut_value='+otput_dict[Object.keys(otput_dict)[key]]["UpperLimit"]+'  data-index_value='+element_index+' value='+otput_dict[Object.keys(otput_dict)[key]]["UpperLimit"] +'></td>'+'<td><input  style="background-color:'+bgclr+'"   type="text" class="bench_val"  data-index_value='+element_index+' value='+otput_dict[Object.keys(otput_dict)[key]]["Benchmark"] +'>'+'</td>'+'<td>'+updated_date+'</td>'+'<td>'+'System'+'</td>'+'</tr>'
			
					
					}
					
					//tbdy=tbdy+'<tr data-plant_name="'+plant_name+'"  data-plant_id='+plant_id+' data-product_name="'+product_no+'" data-ouput_name="'+Object.keys(otput_dict)[key]+'"   >'+ '<td>'+updated_date+'</td>'+'<td>'+'System'+'</td>'+ '<td>'+product_no+'</td>'+ '<td>'+Object.keys(otput_dict)[key]+'</td>'+ '<td><input  style="background-color:'+bgclr+'" type="text" class="LT" data-lt_value='+otput_dict[Object.keys(otput_dict)[key]]["LowerLimit"]+'  data-index_value='+element_index+' value='+otput_dict[Object.keys(otput_dict)[key]]["LowerLimit"] +'></td>'+
					//	'<td><input  style="background-color:'+bgclr+'" type="text" class="UT" data-ut_value='+otput_dict[Object.keys(otput_dict)[key]]["UpperLimit"]+'  data-index_value='+element_index+' value='+otput_dict[Object.keys(otput_dict)[key]]["UpperLimit"] +'></td>'+'<td><input  style="background-color:'+bgclr+'"   type="text" class="bench_val"  data-index_value='+element_index+' value='+otput_dict[Object.keys(otput_dict)[key]]["Benchmark"] +'>'+'</td>'+'</tr>'
					element_index=element_index+1
				}
				$('#threshold_tbody').html(tbdy)				
				$('.LT').focusout(function(){
				if($(this).val()<$(this).data('lt_value')){alert("value should be greater than"+$(this).data('lt_value'));$(this).val($(this).data('lt_value'));ind=$(this).data('index_value'); $('.bench_val:eq('+ind+')').val((Number($('.LT:eq('+ind+')').val())+ Number($('.UT:eq('+ind+')').val()))/2 ) }
				else{ ind=$(this).data('index_value'); $('.bench_val:eq('+ind+')').val((Number($('.LT:eq('+ind+')').val())+ Number($('.UT:eq('+ind+')').val()))/2 )}				
				});
				$('.UT').focusout(function(){
				if($(this).val()>$(this).data('ut_value')){alert("value should be less than"+$(this).data('ut_value'));$(this).val($(this).data('ut_value'));ind=$(this).data('index_value'); $('.bench_val:eq('+ind+')').val((Number($('.LT:eq('+ind+')').val())+ Number($('.UT:eq('+ind+')').val()))/2 )}
				else{ ind=$(this).data('index_value'); $('.bench_val:eq('+ind+')').val((Number($('.LT:eq('+ind+')').val())+ Number($('.UT:eq('+ind+')').val()))/2 )}	
				});
				$('.bench_val').focusout(function(){
				ind=$(this).data('index_value');
				if($(this).val()<Number($('.LT:eq('+ind+')').val())|$(this).val()>Number($('.UT:eq('+ind+')').val()) ){alert('Benchmark Should be Between LowerThreshold and UpperThreshold');$('.bench_val:eq('+ind+')').val((Number($('.LT:eq('+ind+')').val())+ Number($('.UT:eq('+ind+')').val()))/2 )}
				});
			}
		}
		});	
	}
	
	function table_render_weight()
	{
	$('#weight_bulk_btn').prop("disabled", false);
		count=0;
		$.ajax({
		method: "GET",
		url: "/qualitypulse/RM_get_weight_data/",
		data:{plant:$('.plant_config').val(),product_list:$('.product_config').val()},
		success: function(result_data) {			
			tbdy=''
			row_index=0;
			loop_index=0;
			for (i=0;i<result_data.length;i++)
			{

				
				plant_id=result_data[i]["SiteID"];plant_name=result_data[i]["SiteName"];product_no=result_data[i]["MaterialNumber"];OPWeights=result_data[i]["RMWeights"];UpdatedDate=result_data[i]["UpdatedDate"];
				weights_count=Object.keys(OPWeights).length;
				weight_index=0
				
				for(key in Object.keys(OPWeights)){
				
				if((row_index%2)==0){bgclr="#F9F9F9"}
				else{bgclr="#FFF"}
				if((OPWeights[Object.keys(OPWeights)[key]]*100)==0){tbdy=tbdy+'<tr data-row_index='+row_index+' data-weight_index='+weight_index+' data-plant_id='+plant_id+'  data-plant_name='+plant_name+' data-product_no='+product_no+' data-parameter_name="'+Object.keys(OPWeights)[key]+'">'+'<td>' +product_no+'</td>' + '<td>'+Object.keys(OPWeights)[key]+'</td>' +'<td><input  disabled   style="background-color:'+bgclr+'" type="text"  class="weight" data-wt_value='+(OPWeights[Object.keys(OPWeights)[key]]*100)+'  value='+(OPWeights[Object.keys(OPWeights)[key]]*100)+'  data-weights_count='+weights_count+'  data-loop_index='+loop_index+'  data-weight_index='+weight_index+'  data-row_index='+row_index+'   /></td>'+'</td>'+'<td>'+UpdatedDate+'</td>'+'<td>'+'System'+'</td>'+'</tr>'}
				else{tbdy=tbdy+'<tr data-row_index='+row_index+' data-weight_index='+weight_index+' data-plant_id='+plant_id+'  data-plant_name='+plant_name+' data-product_no='+product_no+' data-parameter_name="'+Object.keys(OPWeights)[key]+'">'+'<td>' +product_no+'</td>' + '<td>'+Object.keys(OPWeights)[key]+'</td>' +'<td><input    style="background-color:'+bgclr+'" type="text"  class="weight" data-wt_value='+(OPWeights[Object.keys(OPWeights)[key]]*100)+'  value='+(OPWeights[Object.keys(OPWeights)[key]]*100)+'  data-weights_count='+weights_count+'  data-loop_index='+loop_index+'  data-weight_index='+weight_index+'  data-row_index='+row_index+'   /></td>'+'</td>'+'<td>'+UpdatedDate+'</td>'+'<td>'+'System'+'</td>'+'</tr>'}
				//tbdy=tbdy+'<tr data-row_index='+row_index+' data-weight_index='+weight_index+' data-plant_id='+plant_id+'  data-plant_name='+plant_name+' data-product_no='+product_no+' data-parameter_name="'+Object.keys(OPWeights)[key]+'">'+'<td>'+UpdatedDate+'</td>'+'<td>'+'System'+'</td>'+'<td>' +product_no+'</td>' + '<td>'+Object.keys(OPWeights)[key]+'</td>' +'<td><input  disabled='+disable_val+'   style="background-color:'+bgclr+'" type="text"  class="weight" data-wt_value='+(OPWeights[Object.keys(OPWeights)[key]]*100)+'  value='+(OPWeights[Object.keys(OPWeights)[key]]*100)+'  data-weights_count='+weights_count+'  data-loop_index='+loop_index+'  data-weight_index='+weight_index+'  data-row_index='+row_index+'   /></td>'+'</td>'+'</tr>'
				row_index=row_index+1
				weight_index=weight_index+1
				}
				tbdy=tbdy+'<tr data-row_index='+row_index+' data-weight_index='+weight_index+' data-plant_id='+plant_id+'  data-plant_name='+plant_name+' data-product_no='+product_no+' data-parameter_name=" " style="background:#FFF"><td colspan="5"><span  class="span_status"  style="color:green">100% completed</span></td></tr>'
				row_index=row_index+1
				loop_index=loop_index+1
			}
			$('#weight_tbody').html(tbdy);
			
			$('.weight').focusout(function(){
				var row_index= Number($(this).data("row_index"));var weight_index=Number($(this).data("weight_index"));var loop_index=$(this).data("loop_index")  ;var weights_count=Number($(this).data("weights_count")) ; 				
				var start_index=row_index-weight_index-loop_index; var end_index=start_index+weights_count-1;var span_index=row_index-weight_index+weights_count;
				var total=0;
				console.log(row_index);console.log(weight_index);console.log($(this).data("weights_count"));console.log(start_index);console.log(end_index);
				for(i=start_index;i<=end_index;i++){wt_val=$('.weight:eq('+i+')').val();$('.weight:eq('+i+')').val(  Math.round(Number(wt_val)) );total=total+  Math.round(Number(wt_val))  }
				console.log(total)
				if(total>100){span_text=" "+(total-100)+"% More than 100  "; $("#weight_tbody tr:eq("+(span_index)+")").each(function(){$("span",this).text(span_text);  $("span",this).css("color",'red'); });}
				else if(total<100){span_text="Remaning Percentage:"+(100-total)+"%";$("#weight_tbody tr:eq("+span_index+")").each(function(){$("span",this).text(span_text);     $("span",this).css("color",'yellow');   }); }
				else{ span_text="100% completed";$("#weight_tbody tr:eq("+span_index+")").each(function(){$("span",this).text(span_text);    $("span",this).css("color",'green');   });   }
				
				$('.span_status ').each(function(){if($(this).css('color')!="rgb(0, 128, 0)") {  $('#weight_bulk_btn').prop("disabled", true); return false; }else{  $('#weight_bulk_btn').prop("disabled", false);}    });
				
				
			});
		}
		});	
	}
	$('.product_config').change(function(){
		table_render_threshold();	
		table_render_weight();		
	});	
	$('.threshold_btn').click(function(){
			data_dict={}
		$('#threshold_tbody tr').each(function(){
				SiteID=$(this).data('plant_id');SiteName=$(this).data('plant_name');MaterialNumber=$(this).data('product_name');ouput_name=$(this).data('ouput_name');dict_key=SiteID+'_'+MaterialNumber;threshold_dict={};loop_index=0;
				$('input',this).each(function(){if(loop_index==0){threshold_dict['LowerLimit']=$(this).val()};if(loop_index==1){threshold_dict['UpperLimit']=$(this).val()};if(loop_index==2){threshold_dict['Benchmark']=$(this).val()};loop_index=loop_index+1;});
				if(dict_key in data_dict){ data_dict[dict_key]['RMLimits'][ouput_name]=threshold_dict}
				else{ouput_dict={};ouput_dict[ouput_name]=threshold_dict;data_dict[dict_key]={'SiteID':SiteID,'SiteName':SiteName,'MaterialNumber':MaterialNumber,'RMLimits':ouput_dict } }		
		});
		$.ajax({ method: "GET", url: "/qualitypulse/RM_threshold_update/", data:{chk:JSON.stringify(data_dict)}, success: function(result_data) {console.log(result_data)	}});
	});
	
	$('.weight_btn').click(function(){
		data_dict={}
		$('#weight_tbody tr').each(function(){
			var ouput_val=0;
			SiteID=$(this).data('plant_id');SiteName=$(this).data('plant_name'); MaterialNumber=$(this).data("product_no");ouput_name=$(this).data("parameter_name");dict_key=SiteID+'_'+MaterialNumber;
			$('input',this ).each(function(){ouput_val=($(this).val()/100 ) }); 
				console.log(ouput_val)
			if(ouput_name!=' '){
				if(dict_key in data_dict){ data_dict[dict_key]['RMWeights'][ouput_name]=ouput_val}
				else{RMWeights={};RMWeights[ouput_name]=(ouput_val);data_dict[dict_key]={'SiteID':SiteID,'SiteName':SiteName,'MaterialNumber':MaterialNumber,'RMWeights':RMWeights } }		
			}
			
		}); 
		console.log(data_dict)
		$.ajax({ method: "GET", url: "/qualitypulse/RM_weight_update/", data:{chk:JSON.stringify(data_dict)}, success: function(result_data) {console.log(result_data)	}});
	});
	
	</script>
{% endblock %}