{% extends "qualitypulse/theme.html" %}
{% block filters-container %}
					<div class=" col-sm-12 col-md-12 col-lg-12 pad_5px margin_left_14px " style="">
						<div class=" col-sm-12 col-md-12 col-lg-10 padzero">
								<div class=" col-sm-12 col-md-12 col-lg-6 padzero">
									<div class="col-sm-4 col-md-4 col-lg-4 filter_css" >
										<div class=" col-sm-4 col-md-4 col-lg-4 filter_label ">
												<span class='font_color' >Plant:</span>
										</div>
										<div class="col-sm-8 col-md-8 col-lg-8" style="padding:0px;margin-top:7px">
										<input type="text" style="width:100%;" data-k = "" class="selected-value" id="plant-dropdown">
											<i class="fa fa-caret-down o-dropdown" aria-hidden="true" style="position: absolute;right: 0.6em;font-size: 16px;top: 1px;"></i>
											<div class="col-sm-12 col-md-12 col-lg-12 uniselect filter-data" style="padding:0px;margin-top: 14px;" id="plantbar">
												{% if plant_dict %}
													<p style="margin-bottom: 0px;"><input id="plantbar-search" placeholder="Enter here." class="SearchTextBox" style="position:fixed;width: 9.2em;border-radius: 0;top:5.5em;" type="text"></p>
													{% for key, value in plant_dict.items %}
														<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px;" class="uni-val-label" data-key="{{key}}" title="{{value}}">{{value}}</label>
													{% endfor %}
												
												{% endif %}
											</div>
											<!-- <select placeholder="--Select--"class='plant'> -->
												<!-- {% if plant_dict %} -->
												<!-- {% for key, value in plant_dict.items %} -->

												 <!-- <option value="{{key}}">{{value}}</option>  -->
												<!-- {% endfor %} -->
												<!-- {% else %} -->
												<!-- <option value="all">No Plant To choose</option>  -->
												<!-- {% endif %}  -->
											<!-- </select> -->
										</div>
									</div>
									<div class="col-sm-4 col-md-4 col-lg-4 filter_css" >
										<div class="col-sm-4 col-md-4 col-lg-4 filter_label" >
												<span class='font_color' >SBU:</span>
										</div>
										<div class="col-sm-8 col-md-8 col-lg-8"style="padding:0px;margin-top:7px">
										<input type="text" style="width:100%;" class="selected-count" id="sbu-dropdown">
											<i class="fa fa-caret-down o-dropdown" aria-hidden="true" style="position: absolute;right: 0.6em;font-size: 16px;top: 1px;"></i>
										
											<div class="col-sm-12 col-md-12 col-lg-12 multiselect filter-data" style="padding:0px;margin-top: 14px;" id="sbubar">
												{% if sbu_dict %}
													<p style="margin-bottom: 0px;"><input id="sbubar-search" placeholder="Enter here." class="SearchTextBox" style="position:fixed;width: 9.2em;border-radius: 0;top:5.5em;" type="text"></p>
													<label for="zeros" style="padding-top: 0.5em;" class="Select-All-Label"> <input class="Select-All" id="sbu_li" data-all="All" checked type="checkbox" >SelectAll</label>
													
													{% for key, value in sbu_dict.items %}
														<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" class="i-checkbox-label" title="{{value}}"><input class="sbu_li i-checkbox" checked type="checkbox" value="{{key}}">{{value}}</label>
													{% endfor %}
													<input class="sbu" style="position:fixed;width: 9.2em;border-radius: 0;top: 27.2em;width: 16.09%;border: 1px solid #afacac;margin-left: -1px;background: #fbfbfb;" value="OK" type="button">
												{% endif %}
												
											</div>
											<!-- <select  multiple="multiple" placeholder="--Select--"class='sbu'> -->
												<!-- {% if sbu_dict %} -->
												<!-- {% for key, value in sbu_dict.items %} -->

												 <!-- <option value="{{key}}">{{value}}</option>  -->
												<!-- {% endfor %} -->
												<!-- {% else %} -->
												<!-- <option value="all">No SBU To choose</option>  -->
												<!-- {% endif %}  -->
											<!-- </select> -->
										</div>
									</div>
									<div class="col-sm-4 col-md-4 col-lg-4 filter_css" >
										<div class="col-sm-4 col-md-4 col-lg-5 filter_label" >
												<span class='font_color' >Technology:</span>
										</div>
										<div class="col-sm-8 col-md-8 col-lg-7"style="padding:0px;margin-top:7px">
										<input type="text" style="width:100%;" class="selected-count" id="technology-dropdown">
											<i class="fa fa-caret-down o-dropdown" aria-hidden="true" style="position: absolute;right: 0.6em;font-size: 16px;top: 1px;"></i>
										
											<div class="col-sm-12 col-md-12 col-lg-12 multiselect filter-data" style="padding:0px;margin-top: 14px;" id="technologybar">
												{% if technology_dict %}
													<p style="margin-bottom: 0px;"><input id="technologybar-search" placeholder="Enter here." class="SearchTextBox" style="position:fixed;width: 9.2em;border-radius: 0;top:5.5em;" type="text"></p>
													<label for="zeros" style="padding-top: 0.5em;" class="Select-All-Label"> <input class="Select-All" id="technology_li" data-all="All" checked type="checkbox" >SelectAll</label>
													
													{% for key, value in technology_dict.items %}
														<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" class="i-checkbox-label" title="{{value}}"><input class="technology_li i-checkbox" checked type="checkbox" value="{{key}}">{{value}}</label>
													{% endfor %}
													<input class="technology" style="position:fixed;width: 9.2em;border-radius: 0;top: 27.2em;width: 16.09%;border: 1px solid #afacac;margin-left: -1px;background: #fbfbfb;" value="OK" type="button">
												{% endif %}
												
											</div>
											<!-- <select  multiple="multiple" placeholder="--Select--"class='technology'> -->
												<!-- {% if technology_dict %} -->
												<!-- {% for key, value in technology_dict.items %} -->
												 <!-- <option value="{{key}}">{{value}}</option>  -->
												<!-- {% endfor %} -->
												<!-- {% else %} -->
												<!-- <option value="all">No Technology To choose</option>  -->
												<!-- {% endif %}  -->
											<!-- </select> -->
										</div>
									</div>	
									
								</div>
							
							<div class=" col-sm-12 col-md-12 col-lg-6 padzero">
								<div class="col-sm-4 col-md-4 col-lg-4 filter_css">
									<div class="col-sm-4 col-md-4 col-lg-4 filter_label" >
											<span class='font_color'>Product:</span>
									</div>
									<div class="col-sm-8 col-md-8 col-lg-8"style="padding:0px;margin-top:7px">
									<input type="text" style="width:100%;" class="selected-count" id="product-dropdown">
										<i class="fa fa-caret-down o-dropdown" aria-hidden="true" style="position: absolute;right: 0.6em;font-size: 16px;top: 1px;"></i>
									
										<div class="col-sm-12 col-md-12 col-lg-12 multiselect filter-data" style="padding:0px;margin-top: 14px;" id="productbar">
											{% if product_dict %}
												<p style="margin-bottom: 0px;"><input id="productbar-search" placeholder="Enter here." class="SearchTextBox" style="position:fixed;width: 9.2em;border-radius: 0;top:5.5em;" type="text"></p>
												<label for="zeros" style="padding-top: 0.5em;" class="Select-All-Label"> <input class="Select-All" id="product_li" data-all="All" checked type="checkbox" >SelectAll</label>
												
												{% for key, value in product_dict.items %}
													<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" class="i-checkbox-label" title="{{value}}"><input class="product_li i-checkbox" checked type="checkbox" value="{{key}}">{{value}}</label>
												{% endfor %}
												<input class="product" style="position:fixed;width: 9.2em;border-radius: 0;top: 27.2em;width: 16.09%;border: 1px solid #afacac;margin-left: -1px;background: #fbfbfb;" value="OK" type="button">
											{% endif %}
										</div>
										<!-- <select  multiple="multiple"placeholder="--Select--"class='product'> -->
											<!-- {% if product_dict %} -->
											<!-- {% for key, value in product_dict.items %} -->

											 <!-- <option value="{{key}}">{{value}}</option>  -->
											<!-- {% endfor %} -->
											<!-- {% else %} -->
											<!-- <option value="all">No Product To choose</option>  -->
											<!-- {% endif %}  -->
										<!-- </select> -->
									</div>
								</div>	
								<div class="  col-sm-4 col-md-4 col-lg-4 filter_css">
									<div class="col-sm-4 col-md-4 col-lg-4 filter_label" >
											<span class='font_color' >Line:</span>
									</div>
									<div class=" col-sm-8 col-md-8 col-lg-8 "style="padding:0px;margin-top:7px">
									<input type="text" style="width:100%;" data-k = "" class="selected-value" id="line-dropdown">
										<i class="fa fa-caret-down o-dropdown" aria-hidden="true" style="position: absolute;right: 0.6em;font-size: 16px;top: 1px;"></i>
										<div class="col-sm-12 col-md-12 col-lg-12 uniselect filter-data" style="padding:0px;margin-top: 14px;" id="linebar">
											{% if line_dict %}
												<p style="margin-bottom: 0px;"><input id="linebar-search" placeholder="Enter here." class="SearchTextBox" style="position:fixed;width: 9.2em;border-radius: 0;top:5.5em;" type="text"></p>
												{% for key, value in line_dict.items %}
													<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px;" class="uni-val-label" data-key="{{key}}" title="{{value}}">{{value}}</label>
												{% endfor %}
											
											{% endif %}
										</div>
										<!-- <select placeholder="--Select--"class='line'> -->
											<!-- {% if line_dict %} -->
											<!-- {% for key, value in line_dict.items %} -->

											 <!-- <option value="{{key}}">{{value}}</option>  -->
											<!-- {% endfor %} -->
											<!-- {% else %} -->
											<!-- <option value="all">No Product To choose</option>  -->
											<!-- {% endif %}   -->
										<!-- </select> -->
									</div>
								</div>
								<div class="col-sm-4 col-md-4 col-lg-4 filter_css" >
									<div class="col-sm-4 col-md-4 col-lg-4 filter_label" >
											<span class='font_color' >Resource:</span>
									</div>
									<div class="col-sm-8 col-md-8 col-lg-8"style="padding:0px;margin-top:7px">
									<input type="text" style="width:100%;" data-k = "" class="selected-value" id="resource-dropdown">
										<i class="fa fa-caret-down o-dropdown" aria-hidden="true" style="position: absolute;right: 0.6em;font-size: 16px;top: 1px;"></i>
										<div class="col-sm-12 col-md-12 col-lg-12 uniselect filter-data" style="padding:0px;margin-top: 14px;" id="resourcebar">
											{% if resource_dict %}
												<p style="margin-bottom: 0px;"><input id="resourcebar-search" placeholder="Enter here." class="SearchTextBox" style="position:fixed;width: 9.2em;border-radius: 0;top:5.5em;" type="text"></p>
												{% for key, value in resource_dict.items %}
													<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px;" class="uni-val-label" data-key="{{key}}" title="{{value}}">{{value}}</label>
												{% endfor %}
											
											{% endif %}
										</div>
										<!-- <select   placeholder="--Select--"class='resource'> -->
											<!-- {% if resource_dict %} -->
											<!-- {% for key, value in resource_dict.items %} -->

											 <!-- <option value="{{key}}">{{value}}</option>  -->
											<!-- {% endfor %} -->
											<!-- {% else %} -->
											<!-- <option value="all">No Resource To choose</option>  -->
											<!-- {% endif %}  -->
										  <!-- resource_list -->
										  
										<!-- </select> -->
									</div>
								</div>				
							</div>					
						</div>
						<div class="  col-sm-12  col-md-12 col-lg-2 " style="padding:5px 0px 0px 0px ">
							<div class=" col-sm-9 col-sm-push-1  col-md-9 col-md-push-1 col-lg-10" style="padding:0px 0px 4px 0px" >
								<div id="reportrange" class="pull-left col-sm-12 col-md-11 col-lg-10" style="background: #fff; cursor: pointer; padding: 3px 3px; border: 1px solid #ccc; ">
									<i class="glyphicon glyphicon-calendar fa fa-calendar" style='top:0px !important;'></i>&nbsp;
									<span style='font-size:12px;'></span>
								</div>						
							</div>
							
							<div class="  col-sm-2 col-md-2 col-lg-2 " style="padding:0px 0px 0px 0px; margin:0px 0px 0px 0px">
									<button type="button" class="btn btn-primary" id='apply' style='float :right'>Apply</button>
							</div>								
						</div>	
					</div>	
						
	{% endblock %}


{% block main-container1 %}
{% load staticfiles %}
<!------------------------------------------kpi-container ------------------------>	
<div class=" col-sm-12 col-md-12 col-lg-12  kpi-container" style="padding:0px 0px 0px 0px;background-color:#ECF0F5">
	
		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-6 padzero'>
			<div class="col-sm-6 col-md-6 col-lg-6 " data-step="1" data-intro="Quality Maturity score for the selected filter. This provides a overall view of how the Quality of the Bulk Produced Is After Penalizing for Customer Complaints And OffSpec Batch's. " data-position="bottom" style="padding: 5px 5px 5px 0px;">		
					<div class='col-sm-12 col-md-12 col-lg-12 kpis_min_height kpi1_background'>
						<div class=" col-sm-12 col-md-12 col-lg-12 pad_20px" ><span class='mature_percent kpi_span_val'> </span></div>
						<div class=" col-sm-12 col-md-12 col-lg-12 pad_10px" ><span class="kpis_heading" >Quality Maturity Score(%)</span></div>
					</div>
			</div>	
			<div class="col-sm-6 col-md-6 col-lg-6 kpis_min_height" data-step="2" data-intro="Overall quality score for the selected filter. This provides a overall view of how the Quality of the Bulk Produced." data-position="bottom"  style="padding: 5px 5px 5px 0px;">				
				<div class="col-sm-12 col-md-12 col-lg-12 kpis_min_height kpi2_background">
					<div class=" col-sm-12 col-md-12 col-lg-12 pad_20px" ><span class='quality_value kpi_span_val'></span></div>
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_10px" ><span class="kpis_heading" >Quality Score (%)</span></div>
				</div>
			</div>
		</div>
		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-6 padzero'>
			<div class="col-sm-6 col-md-3 col-lg-3 kpis_min_height" data-step="3" data-intro="Number of process orders which has been identified As Bad(QualitySegment:C) based on the quality segments. " data-position="bottom" style="padding: 5px 5px 5px 0px;">					
				<div class=" col-sm-12 col-md-12 col-lg-12  kpis_min_height kpi5_background">
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_20px" ><span class='po_count_bad kpi_span_val'> </span></div>
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_10px" ><span class="kpis_heading" >#'C' Batches</span></div>
					
				</div>
			</div>
	
			<div class="col-sm-6 col-md-3 col-lg-3 kpis_min_height " data-step="4" data-intro="Number of process orders which has been identified as Poor(QualitySegment:D) based on the quality segments. " data-position="bottom" style="padding: 5px 5px 5px 0px;">				
				<div class=" col-sm-12 col-md-12 col-lg-12  kpis_min_height kpi3_background" >
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_20px" ><span class='po_count_poor kpi_span_val'></span></div>
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_10px" ><span class="kpis_heading" ># 'D' Batches</span></div>	
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-lg-3 kpis_min_height  off_spec" data-step="5" data-intro="Number of process orders which has been Identified as Off Spec By Quality Test Results. " data-position="bottom" style="padding: 5px 2px 5px 0px;">				
				<div class=" col-sm-12 col-md-12 col-lg-12  kpis_min_height kpi4_background" >
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_20px" ><span class='off_spec_val kpi_span_val'></span><i class="fa fa-expand info_icon" title="Click Here To Expand" id="chart_off_spec_expand" style="float:left;cursor:pointer; color: yellow; float: right; position: relative; right: -20px;"></i></div>
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_10px" ><span class="kpis_heading" ># Off Specs</span></div>	
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-lg-3 kpis_min_height" data-step="6" data-intro="Total count of Bulk Batch's for the selected filter and the time range Which Received Customer Complaints. " data-position="bottom" style="padding: 5px 5px 5px 0px;">				
				<div class=" col-sm-12 col-md-12 col-lg-12  kpis_min_height kpi6_background">
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_20px" ><span class='complaints_count kpi_span_val'> </span></div>
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_10px" ><span class="kpis_heading" ># Complaints</span></div>
					
				</div>
			</div>	
		</div>
	</div>
<!------------------------------------------main-container-top ------------------------>				
	<div class="col-sm-12 col-md-12 col-lg-12 main-container-top" style="background-color:#ECF0F5; padding:0px 0px 2px 0px;">
		<div class=" col-sm-12 col-md-3 col-lg-3 div_shadow" data-step="7" data-intro="Quality Segment break up of the process orders  based on their Bulk PO quality score." data-position="bottom"   style="padding:2px 2px 2px 0px;">
			<div class="col-sm-12 col-md-12 col-lg-12" style="min-height:230px;padding:0px;background-color:#FFF; border-radius:4px;">
				<div class="col-sm-12 col-md-12 col-lg-12 tile_title_bar border_bottom" >
					<div class="col-sm-11 col-md-11 col-lg-11 padzero" >
						<span class="charts_heading">Quality Segment (%)</span>
					</div>
					<div class="col-sm-1 col-md-1 col-lg-1 padzero ">
						<i class="fa fa-info-circle info_icon chart1_info" style='float:left'></i>
					</div>
					
				</div>
				<div class="col-sm-12 col-md-12 col-lg-12 " id="3d_donut_container" style="min-height:200px;padding:0px;"></div>
			</div>
		</div>
		<div class="col-sm-12 col-md-5 col-lg-5 div_shadow" data-step="8" data-intro="This component gives the trend of the quality based on quality segment and the time range selected by the user." data-position="bottom" style="padding:2px 2px 2px 2px; ">
			<div class="col-sm-12 col-md-12 col-lg-12 tile_css" style="min-height:230px;padding:0px;background-color:#FFF; border-radius:4px;">
				<div class="col-sm-12 col-md-12 col-lg-12 tile_title_bar border_bottom">
					<div class="col-sm-5 col-md-5 col-lg-5" style='padding:0px;'>
						<span class="charts_heading"> Trend Of Quality Segment (%)</span>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-6"; style='padding:4px 0px 0px 0px'>
						<label class="radio-inline radio_heading">
						  <input type="radio"  name="time_radio"  value="day">Day
						</label>
						<label class="radio-inline radio_heading">
						  <input type="radio" name="time_radio"  value="week">Week
						</label>
						<label class="radio-inline radio_heading">
						  <input type="radio" checked name="time_radio"  value="month">Month
						</label>
					</div>	
					<div class="col-sm-1 col-md-1 col-lg-1 padzero ">
						<i class="fa fa-expand info_icon" title='Click Here To Expand' style="cursor:pointer;float:left" id='chart2_expand' ></i>
						<i class="fa fa-info-circle info_icon chart2_info"></i>
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-12" id="3d_bar_container" style="min-height:200px;padding:0px 0px 0px 0px ;"></div>
				
			</div>
		</div>
		<div class="col-sm-12 col-md-4 col-lg-4 div_shadow" data-step="9" data-intro="The process orders in each quality segments are ranked based on their PO quality score. The user will be able to viewthe Ranked process orders in each segment and will be able to download the excel report of the same(A&B Batch's Are Sorted in Excellent To Good where as C&D are Sorted In Poor To Bad). "  data-position="bottom" style="padding:2px 0px 2px 2px;">
			<div class="col-sm-12 col-md-12 col-lg-12" style="min-height:230px;padding:0px;background-color:#FFF; border-radius:4px;">
				<div class="col-sm-12 col-md-12 col-lg-12 border_bottom">
					<div class="col-sm-6 col-md-6 col-lg-6 tile_title_bar">
						<span class="charts_heading" > Ranked Batch's</span>
					</div>
					
					<div class="col-sm-5 col-md-5 col-lg-5 filter_css" style="padding-top:8px;">
						<input type="text" style="width:100%;" data-k = "" class="selected-value" id="quality_span-dropdown">
						<i class="fa fa-caret-down o-dropdown" aria-hidden="true" style="position: absolute;right: 0.6em;font-size: 16px;top: 10px;"></i>
						<div class="col-sm-12 col-md-12 col-lg-12 uniselect filter-data" style="padding:0px;margin-top: 14px;width:180px;" id="quality_spanbar">
						<p style="margin-bottom: 0px;"><input id="quality_spanbar-search" placeholder="Enter here." class="SearchTextBox" style="position:fixed;width: 12.5em;border-radius: 0;top:14.4em;" type="text"></p>
						<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px;" class="uni-val-label" data-key="A" title="A">A</label>
						<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px;" class="uni-val-label" data-key="B" title="B">B</label>
						<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px;" class="uni-val-label" data-key="C" title="C">C</label>
						<label style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px;" class="uni-val-label" data-key="D" title="D">D</label>
						</div>
					</div>
					<!-- <div class="col-sm-5 col-md-5 col-lg-5 "> -->
						<!-- <select class="quality_span"> -->
						<!-- <option value='A'>A</option> -->
						<!-- <option value='B'>B</option> -->
						<!-- <option value='C'>C</option> -->
						<!-- <option value='D'>D</option> -->
						<!-- </select> -->
					<!-- </div> -->
					<div class="col-sm-1 col-md-1 col-lg-1 pad_5px" >
						<i class="fa fa-info-circle info_icon top_po_info"></i>
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-12" id="top_pos_container" style="height:200px;padding:0px;">
				</div>
			</div>
		</div>
	</div>
			<!------------------------------------------main-container-bottom ------------------------>
	<div class="col-sm-12 col-md-12 col-lg-12 main-container-bottom" style="background-color:#ECF0F5; padding:0px 0px 2px 0px;">


		<div class="col-sm-12 col-md-3 col-lg-3 div_shadow"  style="padding:2px 2px 4px 0px; " data-step="10" data-intro="This chart gives the Breakdown Of CustomerComplaints by defect type And Indicates Where It Falls Under Quality Segment" data-position="top">
			<div class="col-sm-12 col-md-12 col-lg-12" style="min-height:225px;padding:0px;background-color:#FFF; border-radius:4px;">
				<div class="col-sm-12 col-md-12 col-lg-12 tile_title_bar border_bottom"   >
					<div class="col-sm-11 col-md-11 col-lg-11 padzero" >
						<span class="charts_heading"> Customer Complaints By Defect Type</span>
					</div>
					<div class="col-sm-1 col-md-1 col-lg-1 padzero ">
						<i class="fa fa-info-circle info_icon  chart3_info " style='float:left'></i>
					</div>
					
				</div>
				<div class="col-sm-12 col-md-12 col-lg-12 watermark" id='3d_bar_container2' style="height:200px;padding:0px;"></div>
			</div>
		</div>	

		<div class=" col-sm-12 col-md-9 col-lg-9 div_shadow"  data-step="11" data-intro="Process Orders Spread component gives the process order split up based on the dimension that the user has selected. It also gives a quality score across that dimension as an overlay.Quality Segment Spread component gives the split up of the process orders into quality segments based on the  dimension that the user selects." data-position="top"  style="padding:2px 0px 4px 2px;">
			<div class="col-sm-12 col-md-12 col-lg-12" style="min-height:225px;padding:0px; border-radius:4px;">
			
			<div class="col-sm-12 col-md-12 col-lg-12" style="min-height:35px;padding:10px 0px 0px 10px; border-bottom:1px solid #EBEAEA ;background:#FFF;border-radius:4px;">
				<div class="col-sm-2 col-md-2 col-lg-2 padzero " >
						<span>Trend By:</span>
				</div>
				<div class="col-sm-8 col-md-9 col-lg-8 padzero" >
					<label class="radio-inline radio_heading">
					  <input type="radio" name="inlineRadioOptions" id="radio4" value="$SBU">SBU
					</label>
					<label class="radio-inline radio_heading">
					  <input type="radio" name="inlineRadioOptions" id="radio4" value="$Technology">Technology
					</label>
					<label class="radio-inline radio_heading">
					  <input type="radio" checked name="inlineRadioOptions" id="radio4" value="$MaterialNumber">Product
					</label>
					<label class="radio-inline radio_heading">
					  <input type="radio" name="inlineRadioOptions" id="radio4" value="$Operators">Operator
					</label>
				</div>			
				<div class="col-sm-2 col-md-1 col-lg-1 col-lg-push-1 padzero" >
						<i class="fa fa-expand info_icon" title='Click Here To Expand' id="chart4_expand" style="float:left;cursor:pointer;position: relative;
    right: -50%;"></i>
						<i class="fa fa-info-circle info_icon chart4_info"></i>
				</div>
			</div>
				<div class='col-lg-12 col-sm-12 col-md-12' style='padding:0px;' >
					<div class="col-sm-12 col-md-6 col-lg-6" style='padding:0px 1px 0px 0px ;'>
						<div class="col-sm-12 col-md-12 col-lg-12" id="bar_chart_container" style="height:200px;padding:0px 1px 0px 0px;background:#FFF;" ></div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-6" style='padding:0px 1px 0px 1px ;' >
						<div class="col-sm-12 col-md-12 col-lg-12" id="3d_bar_container1" style="height:200px;padding:0px 1px 0px 1px ; background:#FFF;" ></div>
					</div>
				</div>
			</div>
		</div>


	</div>

<!--------------------------end of main-container-bottom--------------------------->	
</div>
</div>
<script>
//if($($('.rawmaterial_li ').find('i')[0]).hasClass('fa-caret-down') ){$($('.menu_ul')[1]).slideToggle(''); $($('.rawmaterial_li ').find('i')[0]).removeClass('fa-caret-down') ;$($('.rawmaterial_li ').find('i')[0]).addClass('fa-caret-up'); }
	
	if($($('.rawmaterial_li ').find('i')[0]).hasClass('fa-caret-down')) {
		$($('.menu_ul')[1]).slideToggle('');
		$($('.rawmaterial_li ').find('i')[0]).removeClass('fa-caret-down');
		$($('.rawmaterial_li ').find('i')[0]).addClass('fa-caret-up'); 
	}
	if($($('.admin_li ').find('i')[0]).hasClass('fa-caret-down')) {
		$($('.menu_ul')[1]).slideToggle('');
		$($('.admin_li ').find('i')[0]).removeClass('fa-caret-down');
		$($('.admin_li ').find('i')[0]).addClass('fa-caret-up'); 
	}
	if($($('.finishedgood_li').find('i')[0]).hasClass('fa-caret-up')) {
		$($('.menu_ul')[1]).slideToggle('');
		$($('.finishedgood_li').find('i')[0]).removeClass('fa-caret-up');
		$($('.finishedgood_li').find('i')[0]).addClass('fa-caret-down'); 
		$('.rawmaterial_li').find('ul').css('display','none');		
		$('.admin_li').find('ul').css('display','none');
		$('.rawmaterial_li').find('ul').css('display','none');		
		$('.finishedgood_li').find('ul').css('display','block');
	}
	
	page_index=$(".not_mobile")[3]
	$(page_index).addClass("clicked_li")
	
	<!-- $('.plant').SumoSelect({search: true, searchText: 'Enter here.',selectAll:false,selectAlltext : 'All'}); -->
	<!-- $('.line').SumoSelect({search: true, searchText: 'Enter here.',selectAll: false,selectAlltext : 'All'}); -->
	<!-- $('.resource').SumoSelect({search: true, searchText: 'Enter here.',selectAll:false,selectAlltext : 'All' }); -->
	<!-- $('.product').SumoSelect({search: true, searchText: 'Enter here.',selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true }).sumo.selectAll(); -->
	<!-- $('.sbu').SumoSelect({search: true, searchText: 'Enter here.',selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true }).sumo.selectAll(); -->
	<!-- $('.technology').SumoSelect({search: true, searchText: 'Enter here.',selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true }).sumo.selectAll(); -->
	<!-- $('.quality_span').SumoSelect({search: true, searchText: 'Enter here.',}); -->
</script>

{% endblock %}