{% extends "qualitypulse/theme.html" %}

{% block filters-container %}
					<div class=" col-sm-12 col-md-12 col-lg-12 pad_5px margin_left_14px " style="">
						<div class=" col-sm-12 col-md-12 col-lg-10 padzero">
								<div class=" col-sm-12 col-md-12 col-lg-12 padzero">
									<div class="col-sm-3 col-md-3 col-lg-3 filter_css" >
										<div class=" col-sm-4 col-md-4 col-lg-4 filter_label ">
												<span class='font_color' >Plant:</span>
										</div>
										<div class="col-sm-8 col-md-8 col-lg-8" style="padding:0px">
											<select  placeholder="--ALL--"class='plant'>
												{% if plant_list %}
												{% for plant in plant_list %}
												 <option value="{{plant}}">{{plant}}</option> 
												{% endfor %}
												{% else %}
												<option value="all">No Plant To choose</option> 
												{% endif %} 
											</select>
										</div>
									</div>		
									<div class="col-sm-3 col-md-3 col-lg-3 filter_css" >
										<div class=" col-sm-4 col-md-4 col-lg-4 filter_label ">
												<span class='font_color' >Raw Material:</span>
										</div>
										<div class="col-sm-8 col-md-8 col-lg-8" style="padding:0px">
											<select   placeholder="--ALL--"class='product'>
												{% if product_list %}
												{% for product in product_list %}
												 <option value="{{product}}">{{product}}</option> 
												{% endfor %}
												{% else %}
												<option value="all">No Product To choose</option> 
												{% endif %} 
											</select>
										</div>
									</div>		

									<div class="  col-sm-2  col-md-2 col-lg-2 " style="padding:5px 0px 0px 0px ">
										<div class="  col-sm-12 col-md-12 col-lg-12 " style="padding:0px 0px 0px 0px; margin:0px 0px 0px -4px">
												<button type="button" class="btn btn-primary" id='apply1' style='float :right'>Apply</button>
										</div>															
									</div>	
									
								</div>						
						</div>
					</div>	

						
	{% endblock %}
{% block main-container1 %}
{% load staticfiles %}
<!------------------------------------------kpi-container ------------------------>	
	<div class=" col-sm-12 col-md-12 col-lg-12  kpi-container" style="padding:0px 0px 0px 0px;background-color:#ECF0F5">
	
		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-6 padzero'>
			<div class="col-sm-6 col-md-6 col-lg-6 " data-step="1" data-intro="Quality Maturity score for the selected filter. This provides a overall view of how the Quality of the Bulk Produced Is After Penalizing for Customer Complaints And OffSpec Batch's. " data-position="bottom" style="padding: 5px 5px 5px 0px;">		
					<div class='col-sm-12 col-md-12 col-lg-12 kpis_min_height kpi1_background'>
						<div class=" col-sm-12 col-md-12 col-lg-12 pad_20px" ><span class='mature_percent kpi_span_val'> </span></div>
						<div class=" col-sm-12 col-md-12 col-lg-12 pad_10px" ><span class="kpis_heading" >Quality Maturity Score(%)</span></div>
					</div>
			</div>	
			<div class="col-sm-6 col-md-6 col-lg-6 kpis_min_height" data-step="2" data-intro="Overall quality score for the selected filter. This provides a overall view of how the Quality of the Bulk Produced." data-position="bottom"  style="padding: 5px 5px 5px 0px;">				
				<div class="col-sm-12 col-md-12 col-lg-12 kpis_min_height kpi2_background">
					<div class=" col-sm-12 col-md-12 col-lg-12 pad_20px" ><span class='quality_value kpi_span_val'></span></div>
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_10px" ><span class="kpis_heading" >Quality Score (%)</span></div>
				</div>
			</div>
		</div>
		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-6 padzero'>
			<div class="col-sm-6 col-md-3 col-lg-3 kpis_min_height" data-step="3" data-intro="Number of process orders which has been identified As Bad(QualitySegment:C) based on the quality segments. " data-position="bottom" style="padding: 5px 5px 5px 0px;">					
				<div class=" col-sm-12 col-md-12 col-lg-12  kpis_min_height kpi5_background">
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_20px" ><span class='po_count_bad kpi_span_val'> </span></div>
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_10px" ><span class="kpis_heading" >#'C' Batches</span></div>
					
				</div>
			</div>
	
			<div class="col-sm-6 col-md-3 col-lg-3 kpis_min_height " data-step="4" data-intro="Number of process orders which has been identified as Poor(QualitySegment:D) based on the quality segments. " data-position="bottom" style="padding: 5px 5px 5px 0px;">				
				<div class=" col-sm-12 col-md-12 col-lg-12  kpis_min_height kpi3_background" >
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_20px" ><span class='po_count_poor kpi_span_val'></span></div>
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_10px" ><span class="kpis_heading" ># 'D' Batches</span></div>	
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-lg-3 kpis_min_height  off_spec" data-step="5" data-intro="Number of process orders which has been Identified as Off Spec By Quality Test Results. " data-position="bottom" style="padding: 5px 2px 5px 0px;">				
				<div class=" col-sm-12 col-md-12 col-lg-12  kpis_min_height kpi4_background" >
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_20px" ><span class='off_spec_val kpi_span_val'></span></div>
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_10px" ><span class="kpis_heading" ># Off Specs</span></div>	
				</div>
			</div>
				<div class="col-sm-6 col-md-3 col-lg-3 kpis_min_height" data-step="6" data-intro="Total count of Bulk Batch's for the selected filter and the time range Which Received Customer Complaints. " data-position="bottom" style="padding: 5px 5px 5px 0px;">				
				<div class=" col-sm-12 col-md-12 col-lg-12  kpis_min_height kpi6_background">
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_20px" ><span class='complaints_count kpi_span_val'> </span></div>
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_10px" ><span class="kpis_heading" ># Complaints</span></div>
					
				</div>
			</div>	
		</div>
	</div>
					
			<!------------------------------------------main-container-left ------------------------>				
		<div class="col-sm-12 col-md-3 col-lg-3 main-container-top" style="background-color:#ECF0F5; padding:0px 0px 0px 0px;min-height:500px">
		<div class=" col-sm-12 col-md-12 col-lg-12" style="padding:0px 2px 0px 0px;">
			<div class="col-sm-12 col-md-12 col-lg-12" style="min-height:450px;padding:0px;background-color:#FFF; ">
					<div class="col-sm-12 col-md-12 col-lg-12 tile_title_bar border_bottom" style="min-height:44px;" >
						<div class="col-sm-10 col-md-10 col-lg-10 padzero" >
							<span class="charts_heading1">  Quality Segment (%)</span>
						</div>
						 <div class="col-sm-1 col-md-1 col-lg-1 padzero" style="padding-top:5px;">
						<!-- <i class="fa fa-expand info_icon chart1_info" style="float:left;"></i> -->
							
						</div> 
						<div class="col-sm-1 col-md-1 col-lg-1 padzero" style="padding-top:5px;">
						<i class="fa fa-info-circle info_icon cpk_chart1_info" style="float:left;"></i>
						</div>
					</div>
				<div class="col-sm-12 col-md-12 col-lg-12" id="3d_donut_container1" data-step="7" data-intro="It shows the trend of the quality based on quality segment ." data-position="bottom"  style="min-height:240px;padding:0px;"></div>
				<div class="col-sm-12 col-md-12 col-lg-12" style="min-height:200px;padding:0px;background-color:#FFF; margin-top:10px;">
					<div class="col-sm-12 col-md-12 col-lg-12" style="min-height:30px;padding:0px;background-color: rgb(243, 240, 240)">
						<div class="col-sm-10 col-md-10 col-lg-10" style="padding-top: 4px;"><span class="charts_heading"> Cpk Parameters for  </span>
						<span class="parameter_heading"></span>	</div>
						<div class="col-sm-2 col-md-2 col-lg-2" id="more_pos1" style="padding-top: 4px;"><span  title="click here for more details" style="cursor:pointer;"onclick=""> <i class="fa fa-arrow-circle-o-right" style="color:rgba(127, 119, 119, 0.87);font-size:20px;float:right"></i> </span></div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12" id="para_val_container" style="min-height:172px;padding:0px;margin-top:5px;">
				
					</div>
					
				
				</div>
			</div>
		</div>
		<!--<div class="col-sm-12 col-md-8 col-lg-8" style="padding:2px 2px 4px 2px; ">
			
		</div>-->
	</div>
			<!------------------------------------------main-container-right ------------------------>
	<div class="col-sm-12 col-md-9 col-lg-9 main-container-bottom" style="padding:0px; min-height:500px;background-color:#FFF; ">
		<div class="col-sm-12 col-md-12 col-lg-12" style="min-height:30px;padding:0px; border-bottom:1px solid #EBEAEA">
		
		
		
				<div class="col-sm-6 col-md-5 col-lg-3 padzero pad_top_5px" style='margin-top: 0px;height:32px; padding:5px 0px 0px 0px !important'>
						<div class="col-sm-2 col-md-2 col-lg-2" style="padding: 8px 0px 0px 0px;">
											<span class='font_color'>Date:</span>
						</div>
						<div class="col-sm-5 col-md-5 col-lg-5" style="padding:0px;height:35px;">
								<select multiple='multiple' placeholder="--All--" class='date_list' >
											{% if date_list %}
											{% for date in date_list %}
											 <option value={{date }} >{{date }}</option> 
											{% endfor %}
											{% else %}
											<!--<option value="all">No parameter To choose</option> -->
											{% endif %} 
								</select>
						</div>
						
						<div class="col-sm-5 col-md-5 col-lg-5" style="padding:0px;height:35px;">
								<select  placeholder="--All--" class='date_segment_list' >
									<option value='Year'>Yearly</option>	
									<option value='Half'>Half Yearly</option>		
									<option value='Quarter'>Quarter</option>	
									<option value='Month'>Month</option>										
								</select>
						</div>
						
				</div>
		
		
		
		
				<div class="col-sm-6 col-md-6 col-lg-4 padzero pad_top_5px" style='margin-top: 0px;height:32px;line-height:17px; padding:5px 0px 0px 20px;'>
				
					<div class="col-sm-6 col-md-6 col-lg-6 padzero" >
							<div class="col-sm-4 col-md-4 col-lg-4" style="padding: 8px 0px 0px 0px;">
												<span class='font_color'>Parameter:</span>
							</div>
							<div class="col-sm-8 col-md-8 col-lg-8" style="padding:0px;height:35px;">
									<select  placeholder="--All--" class='parameter' >
												{% if parameter_list %}
												{% for parameter in parameter_list %}
												 <option value="{{parameter}}" >{{parameter}}</option> 
												{% endfor %}
												{% else %}
												<!--<option value="all">No parameter To choose</option> -->
												{% endif %} 
									</select>
							</div>
							
					</div>		
						
						
					<div class="col-sm-5 col-md-6 col-lg-6 padzero" style="padding:0px 0px 0px 10px" >
							<div class="col-sm-4 col-md-4 col-lg-4" style="padding: 8px 0px 0px 0px;">
												<span class='font_color'>OffSpec:</span>
							</div>
							<div class="col-sm-8 col-md-8 col-lg-8" style="padding:0px;height:35px;">
									<select  placeholder="--All--" class='OffSpec_select' >
										<option value='Including OffSpec'>Including OffSpec</option>	
										<option value='Excluding OffSpec'>Excluding OffSpec</option>									
									</select>
							</div>
					</div>
				</div>

								
				<div class="col-sm-4 col-md-4 col-lg-3 padzero pad_top_5px" style='margin-top: 4px;min-height:25px;line-height:20px;margin-left:0px;border-radius:4px; padding: 5px 0px 0px 30px;'>
					<div class="col-sm-4 col-md-4 col-lg-3 padzero" style="border-right:1px solid #EFEFEF" >
							<div class="col-sm-6 col-md-6  col-lg-6" style="padding: 4px 0px 0px 0px;"><span class='font_color' style="padding-right:3px;"> Cpk:</span></div>
							<div class="col-sm-6 col-md-6  col-lg-6" style="padding: 4px 0px 0px 0px;"><span class='font_color cpk_value' style="float:left;"></span></div>
					</div>
					<div class="col-sm-4 col-md-4 col-lg-3 padzero" style="border-right:1px solid #EFEFEF" >
							<div class="col-sm-6 col-md-6  col-lg-6" style="padding: 4px 0px 0px 0px;"><span class='font_color'  style="padding-right:3px;"> Cp:</span></div>
							<div class="col-sm-6 col-md-6  col-lg-6" style="padding: 4px 0px 0px 0px;"><span class='font_color cp_value'  style="float:left;"></span> </div>
					</div>
					<div class="col-sm-4 col-md-4 col-lg-6 padzero" >
							<div class="col-sm-6 col-md-6  col-lg-6" style="padding: 4px 0px 0px 0px;"><span class='font_color'  style="padding-right:3px;"> SD:</span></div>
							<div class="col-sm-6 col-md-6  col-lg-6" style="padding: 4px 0px 0px 0px;"><span class='font_color sd_value'  style="float:left;"></span></div>
					</div>
				</div>
				
				<div class="col-sm-1 col-md-1 col-lg-1" style='margin-top: 0px;min-height:43px;line-height:43px;padding:12px 0px 0px 0px;float:right; '>
						
					<i class="fa fa-expand info_icon " title="click here to expand the graphs"id="more_pos2"style="float:left;cursor:pointer;" ></i>
					<i class="fa fa-info-circle info_icon cpk_chart2_info" style=''></i>
				</div>				
				
				
				
		</div>
			<div class="col-sm-12 col-md-12 col-lg-12" id="line_chart_container" data-step="8" data-intro="It shows trend of Cpk and Standard Deviation of the selected Quality Parameter " data-position="bottom"  style="min-height:220px;padding:0px 0px 0px 0px;;"></div>
			<div class="col-sm-12 col-md-12 col-lg-12" id="3d_bar_container1" data-step="9" data-intro="It shows Control chart of the selected Quality Parameter " data-position="bottom"  style="min-height:222px;padding:0px 0px 0px 0px;"></div>
			

		
	</div>
<!------------------------modal window for donut chart------------------------------------------------>	
	<div id="more_pos_modal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				  <div class="modal-header">
				  		<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="col-lg-11 col-md-11 col-sm-11" ></div>
							<div class="col-md-1 col-sm-1 col-lg-1" style='padding-top:15px;'><button type="button" class="close modal_close3"  aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
						</div>
				  </div>
				  <div class="modal-body"  style='background:#FFF; min-height:400px;max-height:400px; padding:0px;'>
						<div class="col-sm-12 col-md-12 col-lg-12" id="3d_bar_container2" style="min-height:222px;padding:0px 0px 0px 0px;"></div>
						<div class="col-sm-12 col-md-12 col-lg-12" id="line_chart_container1" style="min-height:222px;padding:0px 0px 0px 0px;"></div>	
				  </div>
				  <!-- <div class="modal-footer">
					
				  </div> -->
			</div>
	  </div>
	</div>
	
	<!------------------------modal window for cpk charts------------------------------------------------>	
		<div id="more_pos_modal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				  <div class="modal-header">
				  		<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="col-md-11 col-sm-10 col-lg-11"><h4 class="modal-title" id="gridSystemModalLabel">Cpk parameters values</h4></div>
							<div class="col-md-1 col-sm-2 col-lg-1" style='padding-top:15px;'>
							<a href='' title="download" id='download_link1'><i class="fa fa-download"></i></a>
							<button type="button"  title="close" class="close modal_close2"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
							</div>
							<!-- <div class="col-md-1 col-sm-1 col-lg-1" style='padding-top:15px;'></div> -->
						</div>
				  </div>
				  <div class="modal-body"  style='background:#FFF; min-height:400px;max-height:400px; padding:0px;'>
						<div class="col-lg-12 col-md-12 col-sm-12" style="height:30px;line-height:30px;border-top: 1px solid #EFEFEF;padding:0px; background:#FFF ;border-bottom:1px solid #EFEFEF">
						<div class="col-lg-3 col-md-3 col-sm-3" style="height:30px;line-height:30px;padding:0px;text-align:center;"><span style="color: rgba(127, 119, 119, 0.87);" >Product</span></div>
						<div class="col-lg-3 col-md-3 col-sm-3" style="height:30px;line-height:30px;padding:0px;text-align:center;"><span style="color: rgba(127, 119, 119, 0.87);" >Segment</span></div>
						<div class="col-lg-3 col-md-3 col-sm-3" style="height:30px;line-height:30px;padding:0px;text-align:center;"><span style="color: rgba(127, 119, 119, 0.87);" >Parameter</span></div>
						<div class="col-lg-3 col-md-3 col-sm-3" style="height:30px;line-height:30px;padding:0px;text-align:center;"><span style="color: rgba(127, 119, 119, 0.87);" >Cpk value</span></div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12"id='pos_modal_container1' style="padding:0px;min-height:360px;max-height:375px; overflow: scroll;">
						</div>
				  </div>
				  <div class="modal-footer">
					
				  </div>
			</div>
	  </div>
	</div>
	
<script>
	if($($('.finishedgood_li ').find('i')[0]).hasClass('fa-caret-down') ){$($('.menu_ul')[0]).slideToggle(''); $($('.finishedgood_li ').find('i')[0]).removeClass('fa-caret-down') ;$($('.finishedgood_li ').find('i')[0]).addClass('fa-caret-up');}
	if($($('.rawmaterial_li ').find('i')[0]).hasClass('fa-caret-up') ){ $($('.rawmaterial_li ').find('i')[0]).removeClass('fa-caret-up') ;$($('.rawmaterial_li ').find('i')[0]).addClass('fa-caret-down'); }
	else{ $($('.rawmaterial_li ').find('i')[0]).removeClass('fa-caret-down') ;$($('.rawmaterial_li ').find('i')[0]).addClass('fa-caret-up'); }
	$($('.menu_ul')[1]).slideToggle('');
	page_index=$('.rawmaterial_li li')[3]
	$(page_index).addClass("clicked_li")
	$('.plant').SumoSelect({selectAll:false,selectAlltext : 'All'});
	$('.product').SumoSelect({selectAll:false,selectAlltext : 'All' });
	$('.date_list').SumoSelect({selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true }).sumo.selectAll();	
    $('.date_segment_list').SumoSelect()
	$('.OffSpec_select').SumoSelect()
	
	
	
$('.date_list').change(function(){ if ($('.date_list').val().length<=1) { $('.date_segment_list').SumoSelect().sumo.disableItem(0); }  else{ $('.date_segment_list').SumoSelect().sumo.enableItem(0); $('.date_segment_list').SumoSelect().sumo.selectItem(0); }  var parameter = [$('.parameter').val()]; cpk_graph1(parameter); cpk_graph(parameter); });	

$('.OffSpec_select').change(function(){ var parameter = [$('.parameter').val()]; cpk_graph1(parameter); cpk_graph(parameter); });

$('.date_segment_list').change(function(){ var parameter = [$('.parameter').val()]; cpk_graph1(parameter); cpk_graph(parameter); });

$('.parameter').change(function(){ var parameter = [$(this).val()]; cpk_graph1(parameter); cpk_graph(parameter); });
		
$('#apply1').click(function(){ customer_complaints_cpk(); cpk_parameter(); parameter_window_data('B');  });

$('#more_pos2').on('click',function(){ $('#3d_bar_container2').html(''); $('#line_chart_container1').html('');$('#more_pos_modal2').modal('show'); cpk_parameter(); });

$('.modal_close3').click(function(){ $('#more_pos_modal2').modal('hide'); $('#pos_modal_container1').html(''); });


	$('.plant_cpk_rm').change(function(){
		$('.product_cpk_rm').SumoSelect().sumo.disable()
		$.ajax({
		method: "GET",
		url: "/qualitypulse/RM_get_filter_data_config/",
		data:{plant:$('.plant_cpk_rm').val()},
		success: function(result_data) {			
			filter_render_config('.product_cpk_rm',result_data)			
		}
		});				
	});
	function filter_render_config(classname,data)
	{
		$('.product_cpk_rm').empty()
		for (i=0;i<data.length;i++)
		{
		$('.product_cpk_rm').append('<option  value="'+data[i]+'">'+data[i]+'</option>')	
		}
		if(data.length<1)
		{
		$('.product_cpk_rm').append('<option  value="all">No options</option>')
		}

		$('.product_cpk_rm').SumoSelect().sumo.reload()
		$('.product_cpk_rm').SumoSelect().sumo.enable()	
		$('.product_cpk_rm').SumoSelect({selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true}).sumo.selectItem(0);
		$('.select_search_class').remove()
		add_search()
		table_render_threshold();
		table_render_weight()
	}





$('.cpk_chart1_info').popover({
  container: 'body',
  content: function() {
    var $el = $('<div id="#my-popover-div"></div>');
    $el.append('<div style="min-height:20px;padding:4px; border-bottom:1px solid #EFEFEF"><span style="padding:5px ;font-size:12px;"><svg width="15" height="15" style="padding-top:4px;"><rect width="15" height="15" style="fill:#00B050;stroke-width:0;stroke:rgb(0,0,0) ;"></svg> :A(Excellent)</span><span style="padding:5px ;font-size:12px;"><svg width="15" height="15" style="padding-top:4px;"><rect width="15" height="15" style="fill:#FFFF00;stroke-width:0;stroke:rgb(0,0,0)"></svg> :B(Good)</span><span style="padding:5px ;font-size:12px; "><svg width="15" height="15" style="padding-top:4px;"><rect width="15" height="15" style="fill:#F8963F;stroke-width:0;stroke:rgb(0,0,0)"></svg> :C(Bad)</span> <span style="padding:5px ;font-size:12px;"><svg width="15" height="15" style="padding-top:4px;"><rect width="15" height="15" style="fill:#FF0000;stroke-width:0;stroke:rgb(0,0,0)"></svg> :D(Poor)</span></div>'	);
    $el.append('<span style="font-size:12px; text-align:justify">This component gives the trend of the quality based on quality segment.</span>');
	return $el;
  },
  placement: 'left',
  html: true,
trigger: "hover"
});

$('.cpk_chart2_info').popover({
  container: 'body',
  content: function() {
    var $el = $('<div id="#my-popover-div"></div>');
    $el.append('<span style="font-size:12px; text-align:justify">Control chart of the Quality Parameter and Trend of Cpk and Standard Deviation of the selected Quality Parameter </span>');
	return $el;
  },
  placement: 'left',
  html: true,
trigger: "hover"
});





function cpk_parameter()
{
product_list=[$('.product').val()]
plant_list=[$('.plant').val()]
	$.ajax({
	method: "POST",
	url: "/qualitypulse/RM_cpk_parameter_data/",
	data:{'product_list':product_list,'plant_list':plant_list},
	success: function(result1) {
		var Data = result1;
		console.log(Data)
		parameter_list=Data['parameter_list'];
		filter_render('.parameter',parameter_list)	
		var parameter = [$('.parameter').val()];
		cpk_graph(parameter)
		cpk_graph1(parameter)			
	}
	});		
}


function cpk_graph(parameter)
{
product_list=[$('.product').val()]
plant_list=[$('.plant').val()]
year_list=$('.date_list').val()
cpk_start_date=year_list[0]+'-01-01'
cpk_end_data=year_list[(year_list.length)-1]+'-12-31'
radio_option=$('.OffSpec_select').val()
if(radio_option=='Including OffSpec'){radio_option1='on'}
else{radio_option1='off'}
radio_option='on'
console.log(product_list)
console.log(parameter);
	$.ajax({
	method: "GET",
	url: "/qualitypulse/RM_cpk_graph/",
	data:{'product_list':product_list,'parameter_list':parameter,'plant_list':plant_list,'radio_option':radio_option1,'cpk_start_date':cpk_start_date,'cpk_end_data':cpk_end_data},
	success: function(result1) {
		var Data = result1;
		console.log(result1)
		Trend_Of_Parameter(Data,'#3d_bar_container1')
		Trend_Of_Parameter(Data,'#3d_bar_container2')
		$('.cpk_value').html(Data['cpk_value']);
		$('.cp_value').html(Data['cp_value']);
		$('.sd_value').html(Data['sd_value']);	
	}
	});
}

function cpk_graph1(parameter)
{

product_list=[$('.product').val()]
plant_list=[$('.plant').val()]
year_list=$('.date_list').val()
radio_option=$('.OffSpec_select').val()
time_scale=[$('.date_segment_list').val()]
if(radio_option=='Including OffSpec'){radio_option1='on'}
else{radio_option1='off'}
console.log(product_list)
	$.ajax({
	method: "GET",
	url: "/qualitypulse/RM_cpk_graph1/",
	data:{'product_list':product_list,'parameter_list':parameter,'plant_list':plant_list,'year_list':year_list,'time_scale':time_scale,'radio_option':radio_option1},
	success: function(result1) {
		var Data = result1;
		console.log(result1)
		Trend_Of_Parameter_graph1(Data,'#line_chart_container')
		Trend_Of_Parameter_graph1(Data,'#line_chart_container1')
	}
	});
}




function cpk_download_data(data)
{
var try_data
ele=''
	l=data.length
	for (i=0;i<l;i++)
	{
		if(data[i]['QSeg']=='E'){data[i]['QSeg']='A'}
		else if(data[i]['QSeg']=='G'){data[i]['QSeg']='B'}
		else if(data[i]['QSeg']=='B'){data[i]['QSeg']='C'}
		//if(data[i]['QSeg']=='P'){data[i]['QSeg']='D'}
		else{data[i]['QSeg']='D'}
	}
	console.log(data)
	if(l>=1)
	{
		for (i=0;i<l;i++)
		{
			
			if(data[i]['Cpk'] != '')
			{
				if((i%2)==0){background='#FFF'}
				else{background='#F7F6F6'}
			ele=ele+'<div class="col-lg-12 col-md-12 col-sm-12" style="height:30px;line-height:30px;border-bottom: 1px solid #EFEFEF; padding:0px;">'+
				'<div class="col-lg-3 col-md-3 col-sm-3 " style="text-align:center;height:30px;line-height:30px;padding: 0px;background:'+background+'"><a href="#" style="text-decoration:none;"><span style="color: rgba(127, 119, 119, 0.87);text-align:center;" >'+data[i]['MaterialNumber']+'</span></a></div>'+
				'<div class="col-lg-3 col-md-3 col-sm-3" style="text-align:center;height:30px;line-height:30px;padding: 0px;background:'+background+'"><span style="color: rgba(127, 119, 119, 0.87) ;text-align:center;" >'+data[i]['QSeg']+'</span></div>'+
				'<div class="col-lg-3 col-md-3 col-sm-3" style="text-align:center;height:30px;line-height:30px;padding: 0px;background:'+background+'"><span style="color: rgba(127, 119, 119, 0.87);text-align:center;" >'+data[i]['Par']+'</span></div>'+
				'<div class="col-lg-3 col-md-3 col-sm-3" style="text-align:center;height:30px;line-height:30px;padding: 0px;background:'+background+'"><span style="color: rgba(127, 119, 119, 0.87);text-align:center;" >'+data[i]['Cpk']+'</span></div>'+
				'</div>'
			}
		

		}
	}
	else
	{
	      ele='<div class="col-lg-12 col-md-12 col-sm-12" style="height:35px;line-height:35px;border-top: 1px solid #EFEFEF;">'+
			'<span>No Data To dispaly </span>'+
			'</div>'
	}
			

	total=[]
	first=[]
		for (i=0;i<l;i++)
		{
			if(data[i]['Cpk'] != '')
			{
			first.push(data[i]['MaterialNumber'])
			first.push(data[i]['QSeg'])
			first.push(data[i]['Par'])
			first.push(data[i]['Cpk'])
			total.push(first)		
				first=[]			
			}
		
				
		}
		
	details_list1=total
		var header1 = [['MaterialNumber','Segment','Parameter','Cpk_value']];
		var csvContent = "data:text/csv;charset=utf-8,";
		header1.forEach(function(infoArray, index){
		   dataString = infoArray.join(",");
		   csvContent += index < header1.length ? dataString+ "\n" : dataString;
		});
		details_list1.forEach(function(infoArray, index){
		   dataString = infoArray.join(",");
		   csvContent += index < details_list1.length ? dataString+ "\n" : dataString;
		});
		var encodedUri = encodeURI(csvContent);		
		$('#download_link1').attr('href',encodedUri)
		$('#download_link1').attr("download", "Report_cpk.csv");
		
		$('#pos_modal_container1').waitMe('hide');
		$('#pos_modal_container1').html(ele);
			$('#more_pos_modal1').modal('show')

}



$('#more_pos1').on('click',function(){

<!-- get_top_pos_data("total") -->
var try_data
product_list=[$('.product').val()]
plant_list=[$('.plant').val()]
	$.ajax({
	method : "GET",
	url: "/qualitypulse/RM_cpk_download/",
	data:{'plant_list':plant_list,'product_list':product_list},
	success: function(result1) {
	   console.log('***download data cpk***')
		try_data=result1
		console.log(try_data.length)
		cpk_download_data(result1)
	}
	
	});
	
	
});


//**********************************parameter window********************************************//

function parameter_window_data(segment){
	if(segment=='B'){
		segment1='G'
		}
	if(segment=='A'){
	segment1='E'
	}
	if(segment=='D'){
	segment1='P'
	}
	if(segment=='C'){
	segment1='B'
	}
	$('.parameter_heading').html(segment);
	product_list=[$('.product').val()]
	plant_list=[$('.plant').val()]
	$.ajax({
	method: "GET",
	url: "/qualitypulse/RM_cpk_onclick_parameter/",
	data:{'product_list':product_list,'segment_list':[segment1],'plant_list':plant_list},
	success: function(result) {
		l=result['parameter_value'].length
		if (l>0)
		{
		value=''
		
		for (i=0;i<result['parameter_list'].length;i++)
		{
				if((i%2)==0){background='#FFF'}
				else{background='#F7F6F6'}
		
		value=value+'<div class="col-lg-12 col-md-12 col-sm-12" style="height:30px;line-height:30px;border-bottom: 1px solid #EFEFEF;background:'+background+' " ">'+
				'<div class="col-lg-8 col-md-8 col-sm-8" style="height:25px;line-height:25px;padding: 3px; "><span style="color: rgba(127, 119, 119, 0.87) ;font-size:12px;padding-left:10px; text-transform:capitalize;" >'+result['parameter_list'][i]+'</span></div>'+
				'<div class="col-lg-4 col-md-4 col-sm-4" style="height:25px;line-height:25px;padding: 3px;"><a href="#" style="text-decoration:none;"><span style="color: rgba(127, 119, 119, 0.87);font-size:12px; text-transform:capitalize;" >'+result['parameter_value'][i]+'</span></a></div>'+
				
				'</div>'
		}
		
		$('#para_val_container').html(value);
		}
		else{
		value='<div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:10px;text-align:center;"><span ><b>No data available</b></span></div>'
		$('#para_val_container').html(value);
		}
        
	}
	});

}

//overall_quality_cpk()
function overall_quality_cpk()
{
product_list=[$('.product').val()]
plant_list=[$('.plant').val()]

$.ajax({
	method: "GET",
	url: "/qualitypulse/RM_Overall_Quality_cpk/",
	data:{'plant_list':plant_list,'product_list':product_list},
	success: function(result1) {
		var Data = result1;
		total=0
		quality=0
		avg_val=0
		bad_pos=0
		for (i=0;i<Data.length;i++)
		{
			total=total+Data[i]['y']
			if(Data[i]['name']=='A'|Data[i]['name']=='B' )
			{
				quality=quality+Data[i]['y']
			}
			if(Data[i]['name']=='D')
			{
				poor_pos=Data[i]['y']
			}
			if(Data[i]['name']=='C')
			{
				bad_pos=Data[i]['y']
			}
		}
		overall_quality1(Data,'#3d_donut_container1')
		quality_percentage=quality*100/(total+rej_cnt)	
		mature_qualityval=(quality-com_cnt-rej_cnt)*100/(total+rej_cnt)
		$('.mature_percent').html(''+mature_qualityval.toFixed(1))		
		$('.po_count_bad').html(bad_pos)
		$('.po_count_poor').html(poor_pos)
		$('.quality_value').html(''+quality_percentage.toFixed(1))
	}
	});

}




function customer_complaints_cpk()
{
com_cnt=0
product=$('.product').val()
plant=$('.plant').val()
	$.ajax({
	method: "GET",
	url: "/qualitypulse/RM_customer_complaints_cpk/",
	data:{'plant_list':plant,'product_list':product},
	success: function(result1) {
		$('.complaints_count').html(result1)
		console.log(com_cnt)
		rejected_count()
	}
	});
}




</script>
{% endblock %}