{% extends "qualitypulse/theme.html" %}

{% block filters-container %}


					<div class=" col-sm-12 col-md-12 col-lg-12 padzero" style="padding:0px;">
						<div class="col-sm-6 col-md-2 col-lg-2 " style="min-height:40px; padding: 0px 0px 0px 5px;">
							<div class=" col-sm-4 col-md-3 col-lg-3 " style="padding:8px 0px 0px 8px;">
									<span class='font_color' >Plant:</span>
							</div>
							<div class="col-sm-8 col-md-9 col-lg-9" style="padding:0px">
								<select placeholder="--ALL--"  class='plant'>
									{% if plant_list %}
									{% for plant in plant_list %}
									 <option value="{{plant}}">{{plant}}</option> 
									{% endfor %}
									{% else %}
									<option value="0">No Lines To choose</option> 
									{% endif %} 
								</select>
							</div>
						</div>
						<div class="  col-sm-6 col-md-2 col-lg-2 " style="min-height:40px; padding: 0px 0px 0px 5px;">
							<div class="col-sm-4 col-md-3 col-lg-3" style="padding:8px 0px 0px 8px;">
									<span class='font_color' >Line:</span>
							</div>
							<div class=" col-sm-8 col-md-9 col-lg-9 "style="padding:0px">
								<select   placeholder="--ALL--"class='line'>
									{% if line_list %}
									{% for line in line_list %}
									 <option value="{{line}}">{{line}}</option> 
									{% endfor %}
									{% else %}
									<option value="0">No Lines To choose</option> 
									{% endif %} 
								</select>
							</div>
						</div>
						<div class="col-sm-6 col-md-2 col-lg-2" style="min-height:40px; padding: 0px 0px 0px 5px;">
							<div class="col-sm-4 col-md-3 col-lg-3" style="padding:8px 0px 0px 8px;">
									<span class='font_color' >Resource:</span>
							</div>
							<div class="col-sm-8 col-md-9 col-lg-9"style="padding:0px">
								<select   placeholder="--All--"class='resource'>
									{% if resource_list %}
									{% for resource in resource_list %}
									 <option value="{{resource}}">{{resource}}</option> 
									{% endfor %}
									{% else %}
									<option value="0">No Lines To choose</option> 
									{% endif %} 
								  resource_list
								  
								</select>
							</div>
						</div>
						
						<div class="col-sm-6 col-md-2 col-lg-2" style="min-height:40px; padding: 0px 0px 0px 5px;">
							<div class="col-sm-4 col-md-3 col-lg-3" style="padding:8px 0px 0px 8px;">
									<span class='font_color'>Product:</span>
							</div>
							<div class="col-sm-8 col-md-9 col-lg-9"style="padding:0px">
								<select  placeholder="--All--"class='product'>
									{% if product_list %}
									{% for product in product_list %}
									 <option value="{{product}}">{{product}}</option> 
									{% endfor %}
									{% else %}
									<option value="0">No product To choose</option> 
									{% endif %} 
								</select>
							</div>
						</div>
						<div class="  col-sm-6 col-md-3 col-lg-3 " style="padding:5px 0px 0px 0px ">
							<div class="  col-sm-12 col-md-12 col-lg-12 "  >
								<div class="input-field col l2" style="margin-top: 0rem !important;">
									<input placeholder="Enter PO Number:" id="first_name" type="text" class="po_number" style="height: 2rem !important;">
								</div>					
							</div>
						</div>		
						<div class="  col-sm-6 col-md-1 col-lg-1 " style="padding:5px 0px 0px 0px ">
								<button type="button" class="btn btn-primary" id='apply1' >Apply</button>
						</div>								
						
					</div>


{% endblock %}

{% block main-container1 %}
{% load staticfiles %}
	<!---			<div class="col-sm-12 col-md-12 col-lg-12 main-container-lside" style="padding:0px 12px 0px 12px; overflow-y:hidden;overflow-x:hidden;background-color:#FFF"> -->
				
				      <div  class="col-sm-12 col-md-4 col-lg-2 main-container-lside" style="background-color:#FFFFFF;height:100%;position: relative; right: 6px;top:5px;bottom:5px; padding:1px 1px 2px 1px;">
							<div class="col-sm-12 col-md-12 col-lg-12" style="font-color: grey;font-size: 11px;padding: 9px 18px; border-bottom: 1px solid grey;">
								<span > 	OUTPUT 	CHARACTERISTICS		</span>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-12" >
							<div class="col-sm-12 col-md-12 col-lg-5"  style="font-color: grey;font-size: 10px;padding: 9px 0px; ">
							<span >PRODUCT :</span>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-7" id="id20" style="display:none; font-color: grey;font-size: 10px;padding: 9px 8px; ">
							<span >1275726</span>
							</div>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-12" >
							<div class="col-sm-12 col-md-12 col-lg-3"  style="font-color: grey;font-size: 10px;padding: 9px 0px;">
							<span >PO # :</span>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-9" id="id21" style="display:none; font-color: grey;font-size: 10px;padding: 9px 8px;">
							<span >001000295886</span>
							</div>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-12" >
							<div class="col-sm-12 col-md-12 col-lg-7"  style="font-color: grey;font-size: 10px;padding: 9px 0px; ">
							<span >DATE OF MANUF :</span>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-5" id="id22" style="display:none; font-color: grey;font-size: 10px;padding: 9px 8px; ">
							<span >2014-10-09</span>
							</div>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-12" >
							<div class="col-sm-12 col-md-12 col-lg-6"  style="font-color: grey;font-size: 10px;padding: 9px 0px; ">
							<span >DEFINED QTY :</span>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-6" id="id23" style="display:none; font-color: grey;font-size: 10px;padding: 9px 8px; ">
							<span >3500</span>
							</div>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-12" >
							<div class="col-sm-12 col-md-12 col-lg-6"  style="font-color: grey;font-size: 10px;padding: 9px 0px; ">
							<span >ACTUAL QTY :</span>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-6" id="id24" style="display:none; font-color: grey;font-size: 10px;padding: 9px 8px; ">
							<span >3550</span>
							</div>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-12" >
							<div class="col-sm-12 col-md-12 col-lg-7"  style="font-color: grey;font-size: 10px;padding: 9px 0px;">
							<span >QUALITY SCORE :</span>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-5" id="id25" style="display:none; font-color: grey;font-size: 10px;padding: 9px 8px;">
							<span >0.18</span>
							</div>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-12" >
							<div class="col-sm-12 col-md-12 col-lg-8"  style="font-color: grey;font-size: 10px;padding: 9px 0px; ">
							<span >BENCHMARK SCORE :</span>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-4" id="id26" style="display:none; font-color: grey;font-size: 10px;padding: 9px 8px; ">
							<span >1.0</span>
							</div>
							</div>
							
					  </div>
					  <div  class="col-sm-12 col-md-8 col-lg-10 main-container-rside" id="root_rside" style="background-color:#FFFFFF;height:100%;position: relative;top:5px;bottom:5px;padding:10px;">
							
								<div class="col-sm-6 col-md-6 col-lg-2" ><div style=" background-color:#F8F6F3;height:40px;text-align:center;font-color: grey;font-size: 10px;padding: 11px 18px;"><span><b>RAW MATERIALS</b></span></div> </div>
								<div class="col-sm-6 col-md-6 col-lg-2" style="margin-left:20px;"><div style=" background-color:#F8F6F3;text-align:center;height:40px;font-color: grey;font-size: 10px;padding: 11px 18px;"><span><b>DELAYS</b></span></div> </div>
								<div class="col-sm-6 col-md-6 col-lg-2" style="margin-left:20px;" ><div style=" background-color:#F8F6F3;height:40px;text-align:center;font-color: grey;font-size: 10px;padding: 11px 18px;"><span><b>CCP's</b></span></div> </div>
								<div class="col-sm-6 col-md-6 col-lg-2" style="margin-left:20px;" ><div style=" background-color:#F8F6F3;height:40px;text-align:center;font-color: grey;font-size: 10px;padding: 11px 18px;"><span><b>MACHINE</b></span></div> </div>
								<div class="col-sm-6 col-md-6 col-lg-2" style="margin-left:20px;"><div style=" background-color:#F8F6F3;height:40px;text-align:center;font-color: grey;font-size: 10px;padding: 11px 18px;"><span><b>EXTERNAL FACTORS</b></span></div> </div>
							

				       			<div class="col-sm-12 col-md-12 col-lg-12" >
								<div class="col-sm-6 col-md-6 col-lg-2" ><div style=" background-color:#FFFFFF;height:40px;font-color: grey;text-align:center;font-size: 8px;padding: 18px 18px;"><span>ARE WE USING THE RIGHT QUALITY RM</span></div> </div>
								<div class="col-sm-6 col-md-6 col-lg-2" style="margin-left:20px;"><div style=" background-color:#FFFFFF;height:40px;text-align:center;font-color: grey;font-size: 8px;padding: 18px 18px;"><span>ARE THERE ANY UNWANTED DELAYS BEEN OCCURRED </span></div> </div>
								<div class="col-sm-6 col-md-6 col-lg-2" style="margin-left:20px;" ><div style=" background-color:#FFFFFF;height:40px;text-align:center;font-color: grey;font-size: 8px;padding: 18px 18px;"><span>ARE THE CRITICAL CONTROL PARAMETERS BEING ACHIEVED</span></div> </div>
								<div class="col-sm-6 col-md-6 col-lg-2" style="margin-left:20px;" ><div style=" background-color:#FFFFFF;height:40px;text-align:center;font-color: grey;font-size: 8px;padding: 18px 18px;"><span>DID WE OBSERVE ANYT MACHINE RELATED ISSUES</span></div> </div>
								<div class="col-sm-6 col-md-6 col-lg-2" style="margin-left:20px;"><div style=" background-color:#FFFFFF;height:40px;text-align:center;font-color: grey;font-size: 8px;padding: 18px 18px;"><span>EXTERNAL FACTORS IMPACTING MY QUALITY</span></div> </div>
							    </div>
								
							<!--	<div class="col-sm-12 col-md-12 col-lg-12" >
								<div class="col-sm-6 col-md-6 col-lg-2" ><div id="id1"  style="display:none; background-color:#F3778B;height:70px;font-color:#FFFFFF !important;text-align:center;font-size: 10px;margin-top: 30px;padding: 15px 18px;"><span>3 PRODUCTS ISSUES</span></div> </div>
								<div class="col-sm-6 col-md-6 col-lg-2" style="margin-left:20px;"><div id="id2"  style="display:none; background-color:#F3778B;height:70px;text-align:center;font-color: BLACK;margin-top: 30px;font-size: 10px;padding: 15px 18px;"><span>2 PHASES DELAYED  </span></div> </div>
								<div class="col-sm-6 col-md-6 col-lg-2" style="margin-left:20px;" ><div id="id3"  style="display:none; background-color:#3ACAB1;height:70px;text-align:center;font-color: grey;margin-top: 30px;font-size: 10px;padding: 15px 18px;"><span>NO NON COMPLIANCE</span></div> </div>
								<div class="col-sm-6 col-md-6 col-lg-2" style="margin-left:20px;" ><div id="id4"  style="display:none; background-color:#3ACAB1;height:70px;text-align:center;font-color: grey;margin-top: 30px;font-size: 10px;padding: 15px 18px;"><span>RESOURCE UTILIZED IN RIGHT PATTERN</span></div> </div>
								<div class="col-sm-6 col-md-6 col-lg-2" style="margin-left:20px;"><div id="id5"  style="display:none; background-color:#3ACAB1;height:70px;text-align:center;font-color: grey;margin-top: 30px;font-size: 10px;padding: 15px 18px;"><span>NO EXTERNAL FACTORS OBSERVED</span></div> </div>
							    </div> -->
								
							<!--	<div class="col-sm-6 col-md-6 col-lg-2">
								<div class="col-sm-12 col-md-12 col-lg-12" >
								<div id="id1"  style=" background-color:#FFFFFF;height:70px;border-color:grey solid 0px 1px 0px 0px;font-color:#FFFFFF !important;text-align:center;font-size: 10px;margin-top: 30px;padding: 15px 18px;"><span>933929:viscosity 1370</span></div> 
								</div>
								<div class="col-sm-12 col-md-12 col-lg-12" >
								</div>
								<div class="col-sm-12 col-md-12 col-lg-12" >
								</div>
								</div> -->
								
								</div>
					  
					  
								
					
					
<script>
	page_index=$(".not_mobile")[4]
	$(page_index).addClass("clicked_li")
	$('.plant').SumoSelect({selectAll:false,selectAlltext : 'All'});
	$('.line').SumoSelect({selectAll:false ,selectAlltext : 'All'});
	$('.resource').SumoSelect({selectAll:false,selectAlltext : 'All' });
	$('.product').SumoSelect({selectAll:false,selectAlltext : 'All' });
	$('.po_number').SumoSelect({selectAll:false,selectAlltext : 'All' });



$('#apply1').click(function(){
<!--root_get_values()-->
<!--root_lside_values()-->
root_rside_values()
<!--root_dropdowm()
});



function root_rside_values(){
var issuesArr = ["<div id='for1' style='display : none;'> Issue for 1</div>" , "<div id='for2' style='display : none;'> Issue for 2</div>" , "<div id='for3' style='display : none;'> Issue for 3</div>"];
var arr =[0,2,0,0,0];
		if(arr[0] > 0)
		{
		block1='<div class="col-sm-12 col-md-12 col-lg-12" id="root_errors">'+
		          '<div class="col-sm-6 col-md-6 col-lg-2" >'+
				  '<button id="id1"  style=" background-color:#F3778B;height:70px;font-color:#FFFFFF !important;text-align:center;font-size: 10px;margin-top: 30px;padding: 23px 18px;">'+
				  '<span>'+arr[0]+' PRODUCTS ISSUES</span></button> </div>' + issuesArr[0];
				  
				  
		}
		else
		{
		block1='<div class="col-sm-12 col-md-12 col-lg-12" >'+
		          '<div class="col-sm-6 col-md-6 col-lg-2" >'+
				  '<button id="id1" type="button" style=" background-color:#3ACAB1;height:70px;font-color:#FFFFFF !important;text-align:center;font-size: 10px;margin-top: 30px;padding: 23px 18px;">'+
				  '<span>NO PRODUCT ISSUE</span></button> </div>';
			
		}
		if(arr[1]>0)
		{
		block2= '<div class="col-sm-6 col-md-6 col-lg-2" style="margin-left:20px;">'+
				'<button id="id2" type="button" style=" background-color:#F3778B;height:70px;text-align:center;font-color: BLACK;margin-top: 30px;font-size: 10px;padding: 15px 18px;">'+
				'<span>'+arr[1]+' PHASES DELAYED  </span></button> ' + issuesArr[1] + '</div>';
		}
		else
		{
		block2= '<div class="col-sm-6 col-md-6 col-lg-2" style="margin-left:20px;">'+
				'<button id="id2" type="button" style=" background-color:#3ACAB1;height:70px;text-align:center;font-color: BLACK;margin-top: 30px;font-size: 10px;padding: 15px 18px;">'+
				'<span>NO DELAYS OBSERVED </span></button> </div>';
		}
		
		if(arr[2]>0)
		{
		block3='<div class="col-sm-6 col-md-6 col-lg-2" style="margin-left:20px;" >'+
				'<button id="id3" type="button"  style=" background-color:#F3778B;height:70px;text-align:center;font-color: grey;margin-top: 30px;font-size: 10px;padding: 15px 18px;">'+
				'<span>'+arr[2]+' NON COMPLIANCE</span></button> </div>' + + issuesArr[2];
		}
		else
		{
		block3='<div class="col-sm-6 col-md-6 col-lg-2" style="margin-left:20px;" >'+
				'<button id="id3" type="button" style="background-color:#3ACAB1;height:70px;text-align:center;font-color: grey;margin-top: 30px;font-size: 10px;padding: 15px 18px;">'+
				'<span>NO NON COMPLIANCE</span></button> </div>';
		}
		
		if(arr[3]>0)
		{
		block4='<div class="col-sm-6 col-md-6 col-lg-2" style="margin-left:20px;" >'+
				'<button id="id4" type="button" style="background-color:#F3778B;height:70px;text-align:center;font-color: grey;margin-top: 30px;font-size: 10px;padding: 15px 18px;">'+
				'<span>'+arr[3]+' MACHINE ISSUES</span></button> </div>';
		}
		else
		{
		block4='<div class="col-sm-6 col-md-6 col-lg-2" style="margin-left:20px;" >'+
				'<button id="id4" type="button" style="background-color:#3ACAB1;height:70px;text-align:center;font-color: grey;margin-top: 30px;font-size: 10px;padding: 15px 18px;">'+
				'<span>RESOURCE UTILIZED IN RIGHT PATTERN</span></button> </div>';
		}
		
		if(arr[4]>0)
		{
		block5='<div class="col-sm-6 col-md-6 col-lg-2" style="margin-left:20px;">'+
				'<button id="id5" type="button" style=" background-color:#F3778B;height:70px;text-align:center;font-color: grey;margin-top: 30px;font-size: 10px;padding: 15px 18px;">'+
				'<span>'+arr[4]+' EXTERNAL FACTOR ISSUES</span></button> </div>';
								
		}
		else
		{
		block5='<div class="col-sm-6 col-md-6 col-lg-2" style="margin-left:20px;">'+
				'<button id="id5" type="button"  style=" background-color:#3ACAB1;height:70px;text-align:center;font-color: grey;margin-top: 30px;font-size: 10px;padding: 15px 18px;">'+
				'<span>NO EXTERNAL FACTOR ISSUES</span></button> </div>';
		}
		
		block=block1+block2+block3+block4+block5+'</div>';
		$('#root_rside').append(block);
}

$('body').on('click' , '#id2' , function() {
	$('#for2').css("display" , "block");
});

</script>

{% endblock %}
