<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>Henkel- Quality pulse</title>
	{% load staticfiles %}
	 <link rel="stylesheet" href='{% static "qualitypulse/css/bootstrap.min.css" %}' /> 
	<link rel="stylesheet" href='{% static "qualitypulse/css/style.css" %}' />
	<script src='{% static "qualitypulse/js/jquery2.js" %}'></script>
	<script src='{% static "qualitypulse/js/bootstrap.min.js" %}'></script>
	<link rel="stylesheet" href='{% static "qualitypulse/multiselect/sumoselect.css" %}' />
	<script src='{% static "qualitypulse/multiselect/jquery-sumoselect-min.js" %}'></script>




</head>
<body style="overflow-y:hidden;font-family: 'Roboto', sans-serif; font-size:13px ! important;">
<div style='float:left;padding-left:100px;'>
<select  multiple='multiple' class='trying_search' style='top:50px'>
<option value='v1'>123</option>
<option value='v2'>1245</option>
<option value='v3'>1234</option>
<option value='v4'>12345</option>
<option value='v5'>1452</option>
<option value='v6'>123465</option>

</select>
</div>

</body>	
	
	
<script src='{% static "qualitypulse/js/henkel_charts.js" %}'></script>	
	<script>
	var start_date;
	var end_date;
		$(document).ready(function() {
			$('.trying_search').SumoSelect({selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true});
		});
		function set_layout(){

			$(".main-container").height($(window).height()-60);
			$(".main-container1").height(30+$(".main-container").height()-$(".filters-container").height());
			$(".main-container-sidebar").height( $(".main-container1").height()+$(".filters-container").height()+2);
		}
		
		$(window).resize(function(){
			set_layout();
		});
		set_layout();


</script>
  </body>
</html>
