{% extends "qualitypulse/theme.html" %}

	{% block filters-container %}
					<div class=" col-sm-12 col-md-12 col-lg-12 pad_5px margin_left_14px " style="">
						<div class=" col-sm-12 col-md-12 col-lg-12 padzero">
								<div class=" col-sm-12 col-md-12 col-lg-6 padzero">
									<div class="col-sm-4 col-md-4 col-lg-4 filter_css" >
										<div class=" col-sm-4 col-md-4 col-lg-4 filter_label ">
												<span class='font_color' >Plant:</span>
										</div>
										<div class="col-sm-8 col-md-8 col-lg-8" style="padding:0px">
											<select multiple="multiple" placeholder="--ALL--"class='plant'>
												{% if plant_list %}
												{% for plant in plant_list %}
												 <option value="{{plant}}">{{plant}}</option> 
												{% endfor %}
												{% else %}
												<option value="all">No Lines To choose</option> 
												{% endif %} 
											</select>
										</div>
									</div>
									<div class="col-sm-4 col-md-4 col-lg-4 filter_css" >
										<div class="col-sm-4 col-md-4 col-lg-4 filter_label" >
												<span class='font_color' >SBU:</span>
										</div>
										<div class="col-sm-8 col-md-8 col-lg-8"style="padding:0px">
											<select  multiple="multiple" placeholder="--All--"class='sbu'>
												{% if sbu_list %}
												{% for sbu in sbu_list %}
												 <option value="{{sbu}}">{{sbu}}</option> 
												{% endfor %}
												{% else %}
												<option value="all">No SBU To choose</option> 
												{% endif %} 
											</select>
										</div>
									</div>
									<div class="col-sm-4 col-md-4 col-lg-4 filter_css" >
										<div class="col-sm-4 col-md-4 col-lg-5 filter_label" >
												<span class='font_color' >Technology:</span>
										</div>
										<div class="col-sm-8 col-md-8 col-lg-7"style="padding:0px">
											<select  multiple="multiple" placeholder="--All--"class='technology'>
												{% if technology_list %}
												{% for technology in technology_list %}
												 <option value="{{technology}}">{{technology}}</option> 
												{% endfor %}
												{% else %}
												<option value="all">No Lines To choose</option> 
												{% endif %} 
											</select>
										</div>
									</div>	
									
								</div>
							
							<div class=" col-sm-12 col-md-12 col-lg-6 padzero">
								<div class="col-sm-4 col-md-4 col-lg-4 filter_css">
									<div class="col-sm-4 col-md-4 col-lg-4 filter_label" >
											<span class='font_color'>RawMaterial:</span>
									</div>
									<div class="col-sm-8 col-md-8 col-lg-8"style="padding:0px">
										<select  multiple="multiple"placeholder="--All--"class='rawmaterial'>
											{% if product_list %}
											{% for product in product_list %}
											 <option value="{{product}}">{{product}}</option> 
											{% endfor %}
											{% else %}
											<option value="all">No product To choose</option> 
											{% endif %} 
										</select>
									</div>
								</div>	
								<div class="  col-sm-4 col-md-4 col-lg-4 filter_css" style="padding:0px;">
									<div class="col-sm-4 col-md-4 col-lg-4 filter_label" >
											<span class='font_color' >Vendor:</span>
									</div>
									<div class=" col-sm-8 col-md-8 col-lg-8 "style="padding:0px">
										<select   placeholder="--ALL--"class='vendor'>
											{% if vendor_list %}
											{% for vendor in vendor_list %}
											 <option value="{{vendor}}">{{vendor}}</option> 
											{% endfor %}
											{% else %}
											<option value="all">No Vendors To choose</option> 
											{% endif %} 
										</select>
									</div>
								</div>
								<div class="col-sm-4 col-md-4 col-lg-4 filter_css" style="padding:0px;" >
									<div class=" col-sm-9 col-sm-push-1  col-md-9 col-md-push-1 col-lg-10" style="padding:0px 0px 4px 0px" >
										<div id="reportrange" class="pull-left col-sm-12 col-md-11 col-lg-10" style="background: #fff; cursor: pointer; padding: 3px 3px; border: 1px solid #ccc; ">
											<i class="glyphicon glyphicon-calendar fa fa-calendar" style='top:0px !important;'></i>&nbsp;
											<span style='font-size:12px;'></span>
										</div>						
									</div>
									
									<div class="  col-sm-2 col-md-2 col-lg-2 " style="padding:0px 0px 0px 0px; margin:0px 0px 0px 0px">
											<button type="button" class="btn btn-primary" id='apply' style='float :right'>Apply</button>
									</div>	
								</div>
								
							</div>
						
						
						</div>
					</div>	
						
	{% endblock %}

{% block main-container1 %}
{% load staticfiles %}
<!------------------------------------------kpi-container ------------------------>	
<div class=" col-sm-12 col-md-12 col-lg-12  kpi-container" style="padding:0px 0px 0px 0px;background-color:#ECF0F5">
	
		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-6 padzero'>
			<div class="col-sm-6 col-md-6 col-lg-6 " data-step="1" data-intro="Quality Maturity score for the selected filter. This provides a overall view of how the Quality of the Raw Material Batch Produced Is After Penalizing for Rejected Batch's. " data-position="bottom" style="padding: 5px 5px 5px 0px;">		
					<div class='col-sm-12 col-md-12 col-lg-12 kpis_min_height kpi1_background'>
						<div class=" col-sm-12 col-md-12 col-lg-12 pad_20px" ><span class='mature_percent kpi_span_val'> </span></div>
						<div class=" col-sm-12 col-md-12 col-lg-12 pad_10px" ><span class="kpis_heading" >Quality Maturity Score(%)</span></div>
					</div>
			</div>	
			<div class="col-sm-6 col-md-6 col-lg-6 kpis_min_height" data-step="2" data-intro="Overall quality score for the selected filter. This provides a overall view of how the Quality of the Raw Material Batch Produced." data-position="bottom"  style="padding: 5px 5px 5px 0px;">				
				<div class="col-sm-12 col-md-12 col-lg-12 kpis_min_height kpi2_background">
					<div class=" col-sm-12 col-md-12 col-lg-12 pad_20px" ><span class='quality_value kpi_span_val'></span></div>
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_10px" ><span class="kpis_heading" >Quality Score (%)</span></div>
				</div>
			</div>
		</div>
		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-6 padzero'>
			<div class="col-sm-6 col-md-4 col-lg-4 kpis_min_height" data-step="3" data-intro="Number of Raw Material Batches which has been identified As Bad(QualitySegment:C) based on the quality segments. " data-position="bottom" style="padding: 5px 5px 5px 0px;">					
				<div class=" col-sm-12 col-md-12 col-lg-12  kpis_min_height kpi5_background">
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_20px" ><span class='po_count_bad kpi_span_val'> </span></div>
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_10px" ><span class="kpis_heading" >#'C' Batches</span></div>
					
				</div>
			</div>
	
			<div class="col-sm-6 col-md-4 col-lg-4 kpis_min_height " data-step="4" data-intro="Number of Raw Material Batches  which has been identified as Poor(QualitySegment:D) based on the quality segments. " data-position="bottom" style="padding: 5px 5px 5px 0px;">				
				<div class=" col-sm-12 col-md-12 col-lg-12  kpis_min_height kpi3_background" >
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_20px" ><span class='po_count_poor kpi_span_val'></span></div>
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_10px" ><span class="kpis_heading" ># 'D' Batches</span></div>	
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-4 kpis_min_height  off_spec" data-step="5" data-intro="Number of Raw Material Batches  which has been Identified as Rejected By Quality Test Results. " data-position="bottom" style="padding: 5px 2px 5px 0px;">				
				<div class=" col-sm-12 col-md-12 col-lg-12  kpis_min_height kpi4_background" >
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_20px" ><span class='off_spec_val kpi_span_val'></span></div>
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_10px" ><span class="kpis_heading" ># Rejected Batches</span></div>	
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-lg-3 kpis_min_height" data-step="6" data-intro="Total count of Bulk Batch's for the selected filter and the time range Which Received Customer Complaints. " data-position="bottom" style="padding: 5px 5px 5px 0px;display:none;">				
				<div class=" col-sm-12 col-md-12 col-lg-12  kpis_min_height kpi6_background">
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_20px" ><span class='complaints_count kpi_span_val'> </span></div>
					<div class=" col-sm-12 col-md-12 col-lg-12  pad_10px" ><span class="kpis_heading" ># Complaints</span></div>
					
				</div>
			</div>	
		</div>
	</div>
<!------------------------------------------main-container-top ------------------------>				
	<div class="col-sm-12 col-md-12 col-lg-12 main-container-top" style="background-color:#ECF0F5; padding:0px 0px 2px 0px;">
		<div class=" col-sm-12 col-md-3 col-lg-3 div_shadow" data-step="6" data-intro="Quality Segment break up of the Raw Material Batches  based on their  quality score." data-position="bottom"   style="padding:2px 2px 2px 0px;">
			<div class="col-sm-12 col-md-12 col-lg-12" style="min-height:230px;padding:0px;background-color:#FFF; border-radius:4px;">
				<div class="col-sm-12 col-md-12 col-lg-12 tile_title_bar border_bottom" >
					<div class="col-sm-11 col-md-11 col-lg-11 padzero" >
						<span class="charts_heading">Quality Segment (%)</span>
					</div>
					<div class="col-sm-1 col-md-1 col-lg-1 padzero ">
						<i class="fa fa-info-circle info_icon chart1_info" style='float:left'></i>
					</div>
					
				</div>
				<div class="col-sm-12 col-md-12 col-lg-12 " id="3d_donut_container" style="min-height:200px;padding:0px;"></div>
			</div>
		</div>
		<div class="col-sm-12 col-md-5 col-lg-5 div_shadow" data-step="7" data-intro="This component gives the trend of the quality based on quality segment and the time range selected by the user." data-position="bottom" style="padding:2px 2px 2px 2px; ">
			<div class="col-sm-12 col-md-12 col-lg-12 tile_css" style="min-height:230px;padding:0px;background-color:#FFF; border-radius:4px;">
				<div class="col-sm-12 col-md-12 col-lg-12 tile_title_bar border_bottom">
					<div class="col-sm-5 col-md-5 col-lg-5" style='padding:0px;'>
						<span class="charts_heading"> Trend Of Quality Segment (%)</span>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-6"; style='padding:4px 0px 0px 0px'>
						<label class="radio-inline radio_heading">
						  <input type="radio"  name="time_radio"  value="day">Day
						</label>
						<label class="radio-inline radio_heading">
						  <input type="radio" checked name="time_radio"  value="week">Week
						</label>
						<label class="radio-inline radio_heading">
						  <input type="radio"  name="time_radio"  value="month">Month
						</label>
					</div>	
					<div class="col-sm-1 col-md-1 col-lg-1 padzero ">
						<i class="fa fa-expand info_icon" title='Click Here To Expand' style="cursor:pointer;float:left" id='chart2_expand' ></i>
						<i class="fa fa-info-circle info_icon chart2_info"></i>
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-12" id="3d_bar_container" style="min-height:200px;padding:0px 0px 0px 0px ;"></div>
				
			</div>
		</div>
		<div class="col-sm-12 col-md-4 col-lg-4 div_shadow" data-step="8" data-intro="The Raw Material Batches  in each quality segments are ranked based on their quality score. The user will be able to view the Ranked Raw Material Batches  in each segment and will be able to download the excel report of the same(A&B Batch's Are Sorted in Excellent To Good where as C&D are Sorted In Poor To Bad). "  data-position="bottom" style="padding:2px 0px 2px 2px;">
			<div class="col-sm-12 col-md-12 col-lg-12" style="min-height:230px;padding:0px;background-color:#FFF; border-radius:4px;">
				<div class="col-sm-12 col-md-12 col-lg-12 border_bottom">
					<div class="col-sm-6 col-md-6 col-lg-6 tile_title_bar">
						<span class="charts_heading" > Ranked Batch's</span>
					</div>
					<div class="col-sm-5 col-md-5 col-lg-5 ">
						<select class="quality_span">
						<option value='E'>A</option>
						<option value='G'>B</option>
						<option value='B'>C</option>
						<option value='P'>D</option>
						</select>
					</div>
					<div class="col-sm-1 col-md-1 col-lg-1 pad_5px" >
						<i class="fa fa-info-circle info_icon top_po_info"></i>
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-12" id="top_pos_container" style="height:200px;padding:0px;">
				</div>
			</div>
		</div>
	</div>
			<!------------------------------------------main-container-bottom ------------------------>
	<div class="col-sm-12 col-md-12 col-lg-12 main-container-bottom" style="background-color:#ECF0F5; padding:0px 0px 2px 0px;">


		<div class="col-sm-12 col-md-3 col-lg-3 div_shadow"  style="padding:2px 2px 4px 0px; " data-step="9" data-intro="Quality Segment break up of the Finished Good Batches  based on their  quality score." data-position="top">
			<div class="col-sm-12 col-md-12 col-lg-12" style="min-height:225px;padding:0px;background-color:#FFF; border-radius:4px;">
				<div class="col-sm-12 col-md-12 col-lg-12 tile_title_bar border_bottom"   >
					<div class="col-sm-11 col-md-11 col-lg-11 padzero" >
						<span class="charts_heading">Quality Sement (%): Finished Goods</span>
					</div>
					<div class="col-sm-1 col-md-1 col-lg-1 padzero ">
						<i class="fa fa-info-circle info_icon  chart3_info " style='float:left'></i>
					</div>
					
				</div>
				<div class="col-sm-12 col-md-12 col-lg-12 watermark" id='3d_bar_container2' style="height:200px;padding:0px;"></div>
			</div>
		</div>	

		<div class=" col-sm-12 col-md-9 col-lg-9 div_shadow"  data-step="10" data-intro="Raw Material Batches  Spread component gives the Raw Material Batch  split up based on the dimension that the user has selected. It also gives a quality score across that dimension as an overlay.Quality Segment Spread component gives the split up of the Raw Material Batches  into quality segments based on the  dimension that the user selects." data-position="top"  style="padding:2px 0px 4px 2px;">
			<div class="col-sm-12 col-md-12 col-lg-12" style="min-height:225px;padding:0px; border-radius:4px;">
			
				<div class="col-sm-12 col-md-12 col-lg-12" style="min-height:35px;padding:10px 0px 0px 10px; border-bottom:1px solid #EBEAEA ;background:#FFF;border-radius:4px;">
					<div class="col-sm-2 col-md-2 col-lg-2 padzero " >
							<span>Trend By:</span>
					</div>
					<div class="col-sm-8 col-md-9 col-lg-8 padzero" >
						<label class="radio-inline radio_heading">
						  <input type="radio" checked  name="inlineRadioOptions" id="radio1" value="$SiteName"> Plant
						</label>
						<label class="radio-inline radio_heading">
						  <input type="radio" name="inlineRadioOptions" id="radio4" value="$SBU">SBU
						</label>
						<label class="radio-inline radio_heading">
						  <input type="radio" name="inlineRadioOptions" id="radio4" value="$Technology">Technology
						</label>
						<label class="radio-inline radio_heading">
						  <input type="radio" name="inlineRadioOptions" id="radio4" value="$MaterialNumber">RawMaterial
						</label>
					</div>			
					<div class="col-sm-2 col-md-1 col-lg-1 col-lg-push-1 padzero" >
							<i class="fa fa-expand info_icon" title='Click Here To Expand' id="chart4_expand" style="float:left;cursor:pointer"></i>
							<i class="fa fa-info-circle info_icon chart4_info"></i>
					</div>
				</div>
				<div class='col-lg-12 col-sm-12 col-md-12' style='padding:0px;'>
					<div class="col-sm-12 col-md-6 col-lg-6" style='padding:0px 1px 0px 0px ;'>
						<div class="col-sm-12 col-md-12 col-lg-12" id="bar_chart_container" style="height:200px;padding:0px 1px 0px 0px;background:#FFF;" ></div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-6" style='padding:0px 1px 0px 1px ;' >
						<div class="col-sm-12 col-md-12 col-lg-12" id="3d_bar_container1" style="height:200px;padding:0px 1px 0px 1px ; background:#FFF;" ></div>
					</div>
				</div>
			</div>
		</div>


	</div>

	
</div>
</div>
<script>
	if($($('.finishedgood_li ').find('i')[0]).hasClass('fa-caret-down') ){$($('.menu_ul')[0]).slideToggle(''); $($('.finishedgood_li ').find('i')[0]).removeClass('fa-caret-down') ;$($('.finishedgood_li ').find('i')[0]).addClass('fa-caret-up');}
	if($($('.rawmaterial_li ').find('i')[0]).hasClass('fa-caret-up') ){ $($('.rawmaterial_li ').find('i')[0]).removeClass('fa-caret-up') ;$($('.rawmaterial_li ').find('i')[0]).addClass('fa-caret-down'); }
	else{ $($('.rawmaterial_li ').find('i')[0]).removeClass('fa-caret-down') ;$($('.rawmaterial_li ').find('i')[0]).addClass('fa-caret-up'); }

	
	$($('.menu_ul')[1]).slideToggle('');
	page_index=$('.rawmaterial_li li')[2]
	$(page_index).addClass("clicked_li")
	$('.plant').SumoSelect({selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true});
	$('.sbu').SumoSelect({selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true });
	$('.technology').SumoSelect({selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true });
	$('.rawmaterial').SumoSelect({selectAll:true,selectAlltext : 'All',okCancelInMulti: true,triggerChangeCombined: true });
	$('.vendor').SumoSelect({selectAll:false,selectAlltext : 'All' });

	$('.quality_span').SumoSelect({});
	$('.plant').SumoSelect().sumo.selectAll()
	$('.sbu').SumoSelect().sumo.selectAll()
	$('.technology').SumoSelect().sumo.selectAll()
	$('.rawmaterial').SumoSelect().sumo.selectAll()
	$('.vendor').SumoSelect({})
</script>

{% endblock %}